
<button
  *ngIf="makeRevision"
  class="button neutral"
  (activate)="openCreateRevisionModal()"
  aria-label="Create a Revision">
  Create a Revision
</button>

<button
  *ngIf="makeEdits"
  class="button neutral"
  (activate)="editLearningObject()"
  aria-label="Edit Learning Object">
  {{revisedLearningObject ? 'Edit Revision' : 'Edit Submission'}}
</button>

<button
  *ngIf="notPermitted"
  class="button neutral disabled"
  aria-label="Released Learning Objects cannot be Revised">
  Edits and Revisions not Permitted
</button>

<button
  *ngIf="assignEvaluators"
  class="button neutral"
  aria-label="Assign Evaluators"
  (activate)="toggleAddEvaluatorModal(true)">
  Assign Evaluators
</button>

<clark-popup *ngIf="openRevisionModal" (closed)="closeRevisionModal()">
  <div #popupInner style="max-width: 600px;">
    <clark-revision-notice-popup (createRevision)="createRevision()" (close)="closeRevisionModal()"></clark-revision-notice-popup>
  </div>
</clark-popup>

<clark-popup *ngIf="showAddEvaluator" (closed)="toggleAddEvaluatorModal(false)">
  <div class="modal-container" #popupInner>
    <clark-add-evaluator (close)="toggleAddEvaluatorModal(false)" [learningObject]="learningObject"></clark-add-evaluator>
  </div>
</clark-popup>