<div class="queue-container">
  <div class="header">
    <div>
      Queued Uploads
    </div>
    <div class="button clean" (click)="collapsed = !collapsed">
      <span *ngIf="!collapsed">
        <i class="far fa-minus"></i>
      </span>
      <span *ngIf="collapsed">
        <i class="fal fa-bars"></i>
      </span>
    </div>
  </div>
  <div class="queue-body" [ngClass]="{collapsed: collapsed}">
    <div class="folder" *ngFor="let folder of folders">
      <div class="inline-flex">
        <div>
          <i class="fas fa-folder icon"></i>
          {{ folder.name }}
          <span class="item-count">({{ folder.contents.length }} items)</span>
        </div>
        <div *ngIf="!uploading$.getValue();" (click)="remove(folder)">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
    </div>
    <div class="file" *ngFor="let file of files">
      <div class="inline-flex">
        <div>
          <i class="fas {{ getIcon(file.extension) }} icon"></i>
          {{ file.name }} {{ file.status }}
        </div>
        <div *ngIf="!uploading$.getValue();" (click)="remove(file)">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
    </div>
    <button type="button" (click)="triggerUpload()" class="button good stretch upload" [disabled]="uploading$.getValue()">
      <span *ngIf="uploading$.getValue(); else uploadText">Uploading
        <i class="far fa-spinner fa-spin"></i>
      </span>
      <ng-template #uploadText>Upload</ng-template>
    </button>
  </div>
</div>