
@import '~_vars.scss';
.counter-wrapper {
  background: #FFF;
  border-radius: 2px;
  padding: 10px 15px;

  .title {
    font-size: $normal;
    color: #333;
    margin-bottom: 6px;
  }

  .number {
    font-weight: 600;
    font-size: $largest;
  }
}

@media print {
  .counter-wrapper {
    padding: 0;

    .title {
      margin-bottom: 0;
    }

    .number {
      font-size: $larger;
    }
  }
}
