@import '~_vars.scss';

.collection-name {
  color: $bright-blue;
}

.users {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  min-height: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.user-cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, minmax(10%, 300px)); 
}

.user-cards > *:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.loading-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    color: rgba(red($dark-text), green($dark-text), blue($dark-text), 0.6);
    font-size: 20px;
    padding: 20px;
  
    .svg-inline--fa {
      color: $bright-blue;
      font-size: 30px;
      margin-bottom: 20px;
    }
}


button {
  font-size: 14px;
  border: 0;
  padding: 10px 20px 10px 25px;

  &.good {
    color: white;
    background: $bright-blue;
    border-color: $bright-blue;
  }
}

.reviewer-search {
  width: 550px;
  margin-top: 5px;
  z-index: 1;
  position: absolute;
  top: 70px;
  right: 30px;
}

@media (max-width: 1600px) {
  .user-cards {
    grid-template-columns: repeat(5, 20%);
  }
}

@media (max-width: 1350px) {
  .user-cards {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 1150px) {
  .user-cards {
    grid-template-columns: repeat(3, 33%);
  }
}


  