@import '~_vars.scss';

.users {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  min-height: 500px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.user-cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.user-cards > *:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.user-cards__card {
  flex: 0 1 calc(33.3% - 32px);
}

.loading-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    color: rgba(red($dark-text), green($dark-text), blue($dark-text), 0.6);
    font-size: 20px;
    padding: 20px;
  
    .svg-inline--fa {
      color: $bright-blue;
      font-size: 30px;
      margin-bottom: 20px;
    }
}


  