<clark-admin-content-wrapper>
  <div page-title>{{ activeCollection && activeCollection.length > 0 ? 'Reviewers' : 'Users' }}</div>
  <clark-admin-search-bar search 
    *ngIf="!activeCollection"
    [placeholder]="searchBarPlaceholder"
    (userInput)="getUsers($event)"
  ></clark-admin-search-bar>

  <div class="users" main>
    <div *ngIf="!loading; else loadingTemplate">
      <virtual-scroller #scroll [style.height]="'800px'" [items]="reviewers" > 
        <div *ngIf="reviewers?.length; else emptyTemplate" class="user-cards" #container>
          <div *ngFor="let r of scroll.viewPortItems">
            <clark-admin-user-card class="user-cards__card"
              [user]="r"
              (navigateToUserObjects)="navigateToUserObjects($event)"
              [reviewer]="activeCollection.length > 0 && activeCollection"
            ></clark-admin-user-card>
          </div>
        </div>
      </virtual-scroller>    
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-template">
      <i class="far fa-spinner-third fa-spin"></i>
      Loading Users...
    </div>
  </ng-template>
</clark-admin-content-wrapper>