@import 'vars.scss';

.top-wrapper {
  & p {
    font-family: sans-serif;
    font-size: $larger;
    color: black;
    margin: 20px 0 15px 0;
  }
}

.urls__list {
  display: flex;
  flex-direction: column;
  gap: 0 .5rem;
}

.urls__link-item {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  border-bottom: 1px solid $light-grey;
  padding-top: .7rem;
  padding-bottom: .7rem;

  &:last-of-type {
    margin-bottom: 1rem;
    border-bottom: 0px solid transparent;
  }
}

p {
    margin: 0;
    color: $dark-grey;
}
