<section class="urls">
  @if (urls.length > 0) {
    <div class="top-wrapper">
      <p>Links ({{ urls.length }})</p>
    </div>
  }
  <div class="urls__list">
    @for (url of urls; track url) {
      <a
        [attr.aria-label]="url.title"
        href="{{ url.url }}"
        class="urls__link-item"
        target="_blank"
        rel="noopener noreferrer"
        >
        <i class="fas fa-link link-icon"></i> {{ url.title }}
      </a>
    }
  </div>
  @if (!urls.length) {
    <p tab-index="0">
      This Learning Object does not have any links
    </p>
  }
</section>
