@import 'vars.scss';

.urls {
    h1 {
      font-size: 19.5pt;
      margin: 15px 0 15px 0;
    }
}

.urls__list {
  display: flex;
  flex-direction: column;
  gap: 0 .5rem;
}

.urls__link-item {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  border-bottom: 1px solid $light-grey;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

p {
    margin: 0;
    color: $dark-grey;
}
