<div class="typeahead">
    <div class="input">
      <div #verbElement *ngIf="verb" class="verb" (activate)="goodVerb && toggleMenu(true, $event)">
        {{ verb | titlecase }}
      </div>
      <input [ngClass]="{'withVerb': verb}" placeholder="Outcome text" type="text"  [value]="text" />
    </div>
  </div>

  <!-- 

    // little arrow thing
    <span *ngIf="goodVerb">
      <i class="fas fa-angle-down"></i>
    </span>

    // Drop down verb menu
    <div *ngIf="menu" class="menu" (activate)="$event.stopPropagation()">
      <ul>
        <li *ngFor="let v of verbsInSelectedCategory" (activate)="setVerb(v)" [ngClass]="{'selected': verb === v}">
          {{ v | titlecase }}
        </li>
      </ul>
    </div>

   -->
