<mat-card class="row">
  <!-- Status -->
  <div class="status" data-label="Status" tabindex="0"
    [attr.aria-label]="'Learning Object Status: ' + learningObject.status + '. ' + statusDescription"
    [ngClass]="learningObject.status">
    @if (learningObject.status === 'unreleased') {
      <span><i class="fas fa-eye-slash"></i></span>
    }
    @if (learningObject.status === 'waiting') {
      <span><i class="fas fa-hourglass"></i></span>
    }
    @if (learningObject.status === 'review') {
      <span><i class="fas fa-sync"></i></span>
    }
    @if (learningObject.status === 'proofing') {
      <span><i class="fas fa-shield"></i></span>
    }
    @if (learningObject.status === 'released') {
      <span><i class="fas fa-eye"></i></span>
    }
    @if (learningObject.status === 'rejected') {
      <span><i class="fas fa-ban"></i></span>
    }
    @if (learningObject.status === 'accepted_minor') {
      <span><i class="fas fa-check-double"></i></span>
    }
    @if (learningObject.status === 'accepted_major') {
      <span><i class="fas fa-check"></i></span>
    }
  </div>

  <!-- Length -->
  <div class="info" data-label="Length">
    <clark-details-splash-length [length]="learningObject.length"></clark-details-splash-length>
  </div>

  <!-- Name -->
  <div class="info name" data-label="Name">
    {{ learningObject.name }}
  </div>

  <!-- Last Updated -->
  <div class="info date" data-label="Last Updated">
    {{ learningObject.date | date:'MM/dd/yyyy' }}
  </div>

  <!-- Downloads (only if released) -->
  <div class="info" data-label="Downloads">
    @if (learningObject.status === 'released') {
      <span>
        {{ learningObject.metrics.downloads }}
      </span>
    }
  </div>

  <!-- Rating (only if released) -->
  <div class="info" data-label="Rating">
    @if (learningObject.status === 'released') {
      <clark-rating-stars
        [rating]="learningObject.averageRating ? learningObject.averageRating : 0" color="gold">
      </clark-rating-stars>
    }
  </div>

  <!-- Actions -->
  <div class="info" data-label="Actions">
    <a [routerLink]="['/details', learningObject.author.username, learningObject.cuid]" class="details-link">
      View Details &gt;
    </a>
  </div>
</mat-card>