<mat-card class="row">
    <!-- Status -->
    <div
        class="status"
        data-label="Status"
        tabindex="0"
        [attr.aria-label]="
            'Learning Object Status: ' +
            statusLabel +
            '. ' +
            statusDescription
        "
        [ngClass]="learningObject.status">
        <span><i class="fas" [ngClass]="statusIcon"></i></span>
    </div>

    <!-- Length -->
    <div class="info" data-label="Length">
        <clark-details-splash-length
            [length]="learningObject.length"></clark-details-splash-length>
    </div>

    <!-- Name -->
    <div class="info name" data-label="Name">
        {{ learningObject.name }}
    </div>

    <!-- Last Updated -->
    <div class="info date" data-label="Last Updated">
        {{ learningObject.date | date: "MM/dd/yyyy" }}
    </div>

    <!-- Downloads (only if released) -->
    <div class="info" data-label="Downloads">
        <span *ngIf="learningObject.status === 'released'">
            {{ learningObject.metrics.downloads }}
        </span>
    </div>

    <!-- Rating (only if released) -->
    <div class="info" data-label="Rating">
        <clark-rating-stars
            *ngIf="learningObject.status === 'released'"
            [rating]="
                learningObject.averageRating ? learningObject.averageRating : 0
            "
            color="gold">
        </clark-rating-stars>
    </div>

    <!-- Actions -->
    <div class="info" data-label="Actions">
        <a
            [routerLink]="[
                '/details',
                learningObject.author.username,
                learningObject.cuid,
            ]"
            class="details-link">
            View Details &gt;
        </a>
    </div>
</mat-card>
