<div class="background">
  <section class="hero">
      <div class="inner">
        <div class="logos" [ngClass]="{'long': collection?.abvName === 'ncyte' || collection?.abvName === 'cae_community' || collection?.abvName === 'nice' || collection?.abvName === 'deterlab' || collection?.abvName === '502_project' || collection?.abvName === 'ncc' || collection?.abvName === 'cyberskills2work'}">
          <img *ngIf="pictureLocation" src="{{ pictureLocation }}" alt="collection logo" (error)="resetPictureLocation()">
          <div *ngIf="!pictureLocation" class="title__icon">
            <i class="far fa-cubes"></i>
          </div>
        </div>
        <h1 class="header">{{ collection?.name }}</h1>
        <clark-collection-action-panel [showContribute]=showContribute [collectionAbv]=collection?.abvName [collectionName]=collection?.name></clark-collection-action-panel>
      </div>
  </section>
  <section class="collection-container">
    <div *ngIf="collection?.description" class="description">
      <div class="heading">Description</div>
      <p [innerHtml]="collection?.description"></p>
    </div>
    <div class="featured--header">
      <div class="recently-released">Featured</div>
      <a *ngIf="collection?.abvName !== 'plan c'" id="view-all" class="view-all" [routerLink]="['/browse']"
        [queryParams]="{ collection: collection?.abvName }">{{ COPY.VIEWALL }}
        <i class="far fa-angle-right"></i>
      </a>
      <a *ngIf="collection?.abvName === 'plan c'" id="view-all" class="view-all" [routerLink]="['/browse']"
        [queryParams]="{ fileTypes: 'video' }">{{ COPY.VIEWALL }}
        <i class="far fa-angle-right"></i>
      </a>
    </div>
    <cube-featured [collection]="key"></cube-featured>
    <div class="faq-section" *ngIf="collection?.faq">
      <div class="header">Frequently Asked Questions</div>
      <clark-faq-section [faq]="collection?.faq"></clark-faq-section>
    </div>
  </section>
</div>
