@import '~_vars.scss';

.changelog-list {
  margin-top: 30px;
  position: relative;

  & > * {
    display: block;
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &:last-child {
      // set the background to white here to perfectly obscure the timeline line that runs down the side of the list items
      background: white;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    z-index: 0;
    width: 2px;
    background: $light-grey;
  }
}
