@import '_vars.scss';
$light-blue-gradient: linear-gradient(
  45deg,
  saturate(darken($light-blue, 10), 10),
  saturate(lighten($light-blue, 10), 10)
);

.reviewer-search__container {
  margin-top: 13px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.container__user-dropdown {
  position: relative;
}

.container__prompt {
  text-align: center;
  margin: 10px;
}

.container__prompt__loading {
  margin-top: 10px;
  text-align: center;
  font-size: $small;
}

.prompt__icon {
  color: $light-blue;
  font-size: $largest;
}

.prompt__text {
  color: $placeholder;
  font-size: $large;
  margin-top: 5px;
}

.user-dropdown__search {
  border: 1px solid $placeholder;
  border-radius: 5px;
  padding: 5px;
  font-size: $normal;
  margin-right: 8px;
  margin-left: 8px;
}

.user-dropdown__search:focus-within {
  border-color: $light-blue;
}

.search__input {
  width: 90%;
  border: none;
  outline: none;
  padding: 5px;
}

.search__input::placeholder {
  color: $placeholder;
}

.search__icon {
  color: $placeholder;
  margin-left: 17px;
}

.user-dropdown__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
  width: 100%;
  background: white;

  virtual-scroller {
    max-height: 300px;
    min-height: 100px;
  }
}

.user-dropdown__list-item {
  height: 40px;
  background: white;
  color: $dark-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 25px;
  padding-left: 10px;
  transition: background 0.2s ease;

  &:hover {
    background: #f4f4f4;

    .user-dropdown__action {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.user-dropdown__action {
  border-radius: 3px;
  color: white;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-blue-gradient;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.2s ease;

  &.user-dropdown__action--reversed {
    background: $error-red;
  }

  &.user-dropdown__action--visible {
    opacity: 1;
    transform: scale(1);
  }
}

.user-dropdown__navbar-gravatar {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.05);
}

.user-dropdown__message {
  padding: 10px;
  text-align: center;
  color: $dark-grey;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
