<div class="admin__sidebar">
  <div class="sidebar__top">
    <a (activate)="historySnapshot.rewind()">
      <i class="far fa-arrow-left"></i> Back
    </a>
  </div>
  <div class="sidebar__bottom">
    <div *ngIf="initialized" class="sidebar__menu">
      <ng-container *ngTemplateOutlet="!editorMode ? collectionMenu : sidebarMenu"></ng-container>
    </div>
  </div>
</div>

<ng-template #sidebarMenu>
  <div id="access-sidebar">
    <ul>
      <a routerLink="./learning-objects" routerLinkActive="sidebar__menu--active"><li><i class="far fa-archive"></i>Objects</li></a>
      <a [routerLink]="editorMode ? './users' : './reviewers'" routerLinkActive="sidebar__menu--active"><li><i class="far fa-users"></i>{{ editorMode ? 'Users' : 'Reviewers' }}</li></a>
      <a *ngIf="environment.experimental === 'true'" routerLink="./featured/learning-objects" routerLinkActive="sidebar__menu--active"><li><i class="far fa-star"></i>Featured</li></a>
    </ul>
  </div>
</ng-template>

<ng-template #collectionMenu>
  <div  class="curator-menu" [ngClass]="{ 'curator-menu--active': activeCollection === collection.abvName }" *ngFor="let collection of collections">
    <a routerLink="../{{ collection.abvName }}">
      <div class="curator-menu__title">
        {{ collection.name }}
        <i class="fas fa-chevron-right"></i>
      </div>
    </a>
    <div [@sidebar] class="curator-menu__items" *ngIf="activeCollection === collection.abvName">
      <ng-container *ngTemplateOutlet="sidebarMenu"></ng-container>
    </div>
  </div>
</ng-template>
