<div class="admin__sidebar">
  <div class="sidebar__top">
    <a (click)="navigateBack()">
      <i class="far fa-arrow-left"></i> Back
    </a>
  </div>
  <div class="sidebar__bottom">
    <div class="sidebar__menu">
      <ng-container *ngTemplateOutlet="sidebarMenu"></ng-container>
    </div>
  </div>
</div>

<ng-template #sidebarMenu>
  <ul>
    <a routerLink="./analytics" routerLinkActive="sidebar__menu--active"><li><i class="far fa-chart-line"></i>Analytics</li></a>
    <a routerLink="./learning-objects" routerLinkActive="sidebar__menu--active"><li><i class="far fa-archive"></i>Objects</li></a>
    <a [routerLink]="editorMode ? './users' : './reviewers'" routerLinkActive="sidebar__menu--active"><li><i class="far fa-users"></i>{{ editorMode ? 'Users' : 'Reviewers' }}</li></a>
  </ul>
</ng-template>