@import 'vars.scss';

.item-wrapper {
    background-color: $primary-white;
    border: solid 1px $secondary-white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;

    img {
        margin-top: 20px;
        height: 8vh;
    }
}