@import 'vars.scss';

.item-wrapper {
    background-color: $primary-white;
    border: solid 1px $secondary-white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 25vh;
    min-width: 400px;

    img {
        height: 10vh;
    }
}

@media screen and (max-width: 1024px) {
    .item-wrapper {
        width: 60vw;
        max-width: 400px;
        min-width: none;
        img {
            height: 10vh;
            margin-top: 20px;
        }
    }
}