<div class="title">{{ auth.name }}</div>
<div class="info">
    <div class="organization">
        {{ auth.user.organization }}
    </div>
</div>

<div class="section-title">Learning Objects</div>
<div class="learning-objects">
    <ng-container *ngIf="objects && objects.length > 0">
        <div *ngFor="let l of objects">
            <learning-object-component routerLink="/details/{{ l.author.username }}/{{l.name}}" [learningObject]="l" [owned]="true">
            </learning-object-component>
        </div>
    </ng-container>
</div>