<div class="container">
  <h1 class="title">CyberSkills2Work Collection Statistics Dashboard</h1>

  <clark-ncyte-stats [collectionName]="'cyberskills2work'"></clark-ncyte-stats>

  <div class="downloads-header">
    <h2>All Learning Objects</h2>

    <div class="buttons desktop-buttons">
      <button id="status" class="button neutral">
        Status <i class="fa fa-caret-down"></i>
      </button>
      <button id="length" class="button neutral">
        Length <i class="fa fa-caret-down"></i>
      </button>
      <button class="button good" (click)="onDownload()">
        Download a CSV of All Learning Objects
      </button>
    </div>

    <!-- Mobile View -->
    <div class="dropdown-wrapper mobile-only">
      <button class="options-button" (click)="toggleOptionsMenu()">
        <i class="fa fa-bars"></i> Options
      </button>

      <div class="dropdown-content" *ngIf="showOptions">
        <button id="status" class="button neutral">
          Status <i class="fa fa-caret-down"></i>
        </button>
        <button id="length" class="button neutral">
          Length <i class="fa fa-caret-down"></i>
        </button>
        <button class="button good" (click)="onDownload()">
          Download a CSV of All Learning Objects
        </button>
      </div>
    </div>
  </div>

  <div class="learning-object-table">
    <div class="header">
      <span>Status</span>
      <span>Length</span>
      <span>Name</span>
      <span>Last Updated <i class="fa fa-caret-down"></i></span>
      <span>Downloads</span>
      <span>Rating <i class="fa fa-caret-down"></i></span>
      <span></span>
    </div>

    <clark-cyberskills-card *ngFor="let learningObject of learningObjects" [learningObject]="learningObject"
      [statusDescription]="statusDescription">
    </clark-cyberskills-card>

  </div>

  <clark-pagination [lastPageNumber]="lastPage" [currentPageNumber]="currPage"
    (newPageNumberClicked)='handlePaginationAndLoadItems($event)'></clark-pagination>

  <!-- <h2 class="downloads-header">Individual Learning Object Report</h2>
    <div class="downloads-body">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <br>
      <button (click)="onDownload()">Download a CSV of All Individual Learning Objects</button>
    </div> -->
</div>
<cube-footer></cube-footer>