<div class="container">
  <h1 class="title">CyberSkills2Work Collection Statistics Dashboard</h1>

  <clark-ncyte-stats [collectionName]="'cyberskills2work'"></clark-ncyte-stats>

  <div class="downloads-header">
    <h2>All Learning Objects</h2>

    <div class="buttons desktop-buttons">
      <!--
        When filterQuery is emitted, we will always load the first page
        because the contents are bound to change and there's no guarantee
        that the currPage will have any content to serve.

        We do the same for clearAll once filterQuery is empty.
      -->
      <clark-cyberskills-filters class="buttons" (filterQuery)="handlePaginationAndLoadItems(1, $event)"
        (clearAll)="handlePaginationAndLoadItems(1, {})"></clark-cyberskills-filters>
      <button class="button good" (click)="onDownload()">Download a CSV of All Learning Objects</button>
    </div>

    <clark-cyberskills-filter-dropdown class="mobile-only" (filterQuery)="handlePaginationAndLoadItems(1, $event)"
      (clearAll)="handlePaginationAndLoadItems(1, {})">
    </clark-cyberskills-filter-dropdown>

  </div>

  <div class="learning-object-table">
    <div class="header">
      <span>Status</span>
      <span>Length</span>
      <span>Name</span>
      <span>Last Updated <i class="fa fa-caret-down"></i></span>
      <span>Downloads</span>
      <span>Rating <i class="fa fa-caret-down"></i></span>
      <span></span>
    </div>

    <clark-cyberskills-card *ngFor="let learningObject of learningObjects" [learningObject]="learningObject"
      [statusDescription]="statusDescription">
    </clark-cyberskills-card>

  </div>

  <clark-pagination [lastPageNumber]="lastPage" [currentPageNumber]="currPage"
    (newPageNumberClicked)='handlePaginationAndLoadItems($event)'></clark-pagination>
  <cube-footer></cube-footer>
</div>
