<div class="section section-featured-learning">
    <section class = "section-accent">
        <div class="accent-content">
            <i class="fa-3x far fa-cube icon"></i>
             <h2 class="featured-learning-title">
                 FEATURED LEARNING OBJECTS
             </h2>
             <p>
                 Packaged cybersecurity learning objects
                  designed to help your students learn skills 
                  that employers are seeking
             </p>
        </div>
    </section>
    <clark-collection-learning-object-list [collectionName] = "'ncyte'"class = "object-list">

    </clark-collection-learning-object-list>
</div>
