<!--
  TODO:
    * Break into container components on inner-wrapper class (meta, description, outcomes)
    * break outcomes into each as their own container
-->
<div>
  <div class="inner">
    <!-- Back Button -->
    <div class="back" routerLink="/onion/dashboard">
      <div>
        <i class="far fa-arrow-to-left"></i>
        Back to Learning Objects
      </div>
    </div>
    
    <form #form="ngForm" (ngSubmit)="form.valid ? save(false) : showFormErrors()">
      <onion-learning-object-metadata [isNew]="true" [learningObject]="learningObject"></onion-learning-object-metadata>
      <onion-learning-object-description [learningObject]="learningObject"></onion-learning-object-description>
      
      <div class="inner-wrapper">
        <div class="section">
          <div class="title sticky">Learning Outcomes
            <span tip="A learning outcome is a precise statement of student outcomes of the Learning Object based on the Bloom's taxonomy">
              <i class="fas fa-question-circle"></i>
            </span>
          </div>
          <div class="outcomes list" [ngClass]="{'empty-section': learningObject.outcomes.length == 0}">
            <ng-container *ngIf="learningObject.outcomes.length > 0">
              <div class="outcome-list" dnd-sortable-container [sortableData]="learningObject.outcomes" [attr.style]="'cursor: default !important;'">
                <div *ngFor="let outcome of learningObject.outcomes; let i = index">
                  <onion-learning-outcome-component [submitted]="submitted" [outcome]="outcome" [index]="i" (deleteIndex)="deleteOutcome(i)"></onion-learning-outcome-component>
                </div>
              </div>
            </ng-container>
            <div class="text" *ngIf="learningObject.outcomes.length == 0">You don't have any Learning Outcomes yet!</div>
            <div class="btn-group to-right">
              <div (click)="newOutcome()" class="button good">Add Learning Outcome
                <i class="far fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group to-right final">
        <button type="submit" class="button good">Save
          <i class="far fa-check"></i>
        </button>
        <div class="button neutral" (click)="form.valid ? save(true) : showFormErrors()">Upload Materials
          <i class="far fa-upload"></i>
        </div>
        <div class="button bad" routerLink="/onion/dashboard">Cancel
          <i class="far fa-times"></i>
        </div>
      </div>
    </form>
  </div>
</div>
