<onion-sidebar 
  [outcomeCount]="learningObject.outcomes.length"
  [learningObjectName]="learningObject.name">
</onion-sidebar>
<div>
  <div class="inner">
    <!-- Back Button -->
    <div class="back" routerLink="/onion/dashboard">
      <div>
        <i class="far fa-arrow-to-left"></i>
        Back to Learning Objects
      </div>
    </div>
    
    <form #form="ngForm" (ngSubmit)="form.valid ? save(false) : showFormErrors()">
      <onion-learning-object-info-page *ngIf="activePage === PAGES.INFO" [learningObject]="learningObject"></onion-learning-object-info-page>
      <onion-learning-object-outcome-container
        *ngIf="activePage === PAGES.OUTCOMES"
        [learningObject]="learningObject"
        [submitted]="submitted"
        [outcomeIndex]="outcomeIndex"
        (deleteOutcomeRequest)="deleteOutcome($event)">
      </onion-learning-object-outcome-container>
      
      <div class="btn-group to-right final">
        <button class="button good" *ngIf="(outcomeIndex !== undefined && outcomeIndex < learningObject.outcomes.length-1) || outcomeIndex === undefined && learningObject.outcomes.length > 0" (click)="advanceSection()">Next
          <i class="far fa-arrow-right"></i>
        </button>
        <button *ngIf="outcomeIndex === learningObject.outcomes.length-1 || (activePage === PAGES.INFO && learningObject.outcomes.length === 0)" class="button good" (click)="newOutcome()">Add Learning Outcome
          <i class="far fa-arrow-right"></i>
        </button>
        <button class="button good save-button" type="submit">Save
          <i class="far fa-check"></i>
        </button>
        <div class="button bad" routerLink="/onion/dashboard">Cancel
          <i class="far fa-times"></i>
        </div>
      </div>

    </form>
  </div>
</div>
