@import "_vars.scss";

.service-indicator {
    position: fixed;
    right: 25px;
    bottom: 0;
    opacity: 0;
    padding: 8px 10px;
    text-align: left;
    color: var(--theme-action-on-primary);
    min-width: 200px;
    background: var(--theme-action-primary);
    border-radius: 4px;
    z-index: 2;

    .svg-inline--fa,
    .icon {
        font-size: $small;
        margin-right: 10px;
    }

    &.service-indicator--error {
        background: var(--theme-status-error);
        color: var(--theme-action-on-status);
    }
}

.popup-inner {
    .modal-title {
        color: var(--theme-link) !important;
    }
}
