<div class="top-wrapper">
  <clark-file-breadcrumb [paths$]="currentPath$"></clark-file-breadcrumb>
  <div class="view-switcher inline-flex right">
    <div class="inline-flex">
      <div *ngIf="canManage && ((currentNode$| async)?.children.length || (currentNode$| async)?.files.length)" id="new-file" (click)="emitNewOptionClick($event)" class="button new">
        Upload <i class="fas fa-upload"></i>
      </div>
      <!-- <span *ngIf="view==='list'" (click)="view='grid'" class="button clean">
        <i class="fas fa-th icon-clean"></i>
      </span>
      <span *ngIf="view==='grid'" (click)="view='list'" class="button clean">
        <i class="fas fa-list icon-clean"></i>
      </span> -->
    </div>
  </div>

</div>
<div (click)="emitContainerClick($event)" class="flex-wrapper" [ngClass]="{empty: !(currentNode$| async)?.children.length && !(currentNode$| async)?.files.length}">
  <div *ngIf="canManage && !(currentNode$| async)?.children.length && !(currentNode$| async)?.files.length" class="dropzone-message">
    <i class="fal fa-cloud-upload"></i>
    <div class="empty-title">No materials here!</div>
    <div class="button" (click)="emitNewOptionClick($event)">Click here to upload</div>
    <span>or drag and drop files and folders here</span>
  </div>
  <clark-file-list-view *ngIf="((currentNode$| async)?.children.length || (currentNode$| async)?.files.length)"
    class="full-width" [node$]="currentNode$" [canManage]="canManage" (emitPath)="openFolder($event)" (emitDesc)="emitDesc($event)">
  </clark-file-list-view>
</div>