@import '~_vars.scss';

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 5px;
}

.button {
  text-align: center;
  margin: 0 5px;
  background: linear-gradient(45deg, darken($bright-blue, 10), lighten($bright-blue, 5));
  color: white;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: normal;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-clean {
  margin: 0;
}

.flex-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 10px 0;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.empty {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.file-breadcrumb {

  .link {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
    padding: 0;
    border-radius: 4px;
  }

  &:not(:first-child) > * {
    margin: 5px;
    padding: 0 7px;
  }

  &:hover {
    cursor: pointer;
    background: #e9e9e9;
  }
}

.full-width {
  width: 100%;
}

.context-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .description-input {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 0 10px;
  }

  .buttons {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

.context-item.stacked {
  flex-direction: column;
}

.context-item.bad {
  color: #cf4739;
}

.button.slim {
  padding: 1px 15px;
}

.inline-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inline-flex.right {
  flex: 1;
  justify-content: flex-end;
}

.icon-left {
  margin: 0;
  margin-right: 10px;
}

.context-item {

  .option {
    font-size: 18px;
  }
}

.icon.light {
  color: #808e9b;
}

.help {
  text-align: center;
  margin-bottom: 10px;
}

div.dropzone-message {
  margin: auto;
  align-self: center;
  font-weight: 200;
  font-size: 20px;
  // color: desaturate(lighten($bright-blue, 15), 30);
  color: lighten($dark-text, 20);

  & > .svg-inline--fa {
    font-size: 60px;
    // color: $bright-blue;
    margin-bottom: 10px;
    color: inherit;
  }

  .empty-title {
    font-size: 30px;
    margin-bottom: 15px;
    // font-weight: normal;
  }

  .button {
    margin-bottom: 15px;
  }
}
