@import '~_globals.scss';

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  h1 {
    margin-top: 5px;
    margin-right: 20px;
  }
  .clear-button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $blue-accent;
  }
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  learning-object-component {
    width: 250px;
    height: 350px;
    margin-right: 25px;
    margin-top: 15px;
  }
}