<section class='materials'>
  <div class='materials__tab-menu-container'>
    <clark-tab-menu [currentSelection]='currentSelection' (select)=setSelection($event)></clark-tab-menu>
  </div>
  <clark-carousel [action$]="action$">
    <ng-template>
      <div class='materials__file-browser-container'>
        <clark-file-browser *ngIf='materials?.files.length || materials?.folderDescriptions.length' [files$]="files$" [folderMeta$]="folderMeta$"></clark-file-browser>
        <p tab-index='0' class='materials__file-browser-container__empty-message' *ngIf='!materials?.files.length && !materials?.folderDescriptions.length'>This Learning Object does not have any files or folders</p>
      </div>
    </ng-template>
    <ng-template>
      <div class='materials__file-browser-container'>
        <clark-urls [urls]='materials.urls'></clark-urls>
      </div>
    </ng-template>
    <ng-template>
      <div class='materials__file-browser-container'>
        <clark-notes [notes]='materials.notes'></clark-notes>
      </div>
    </ng-template>
  </clark-carousel>  
</section>
