@import 'vars.scss';

.materials {
    height: 500px;
}

.materials__tab-menu-container {
    margin-top: 55px;
}

.materials__file-browser-container {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.1);
    padding: 0 20px 0 20px;
    max-height: 450px;
    overflow: scroll;
}

.materials__file-browser-container__empty-message {
    padding: 20px;
    margin: 0;
    color: $dark-grey;
}