<section class='materials'>

  <!-- NOTE(andreas): Don't remove this. -->
  <!-- <div class='materials__tab-menu-container'>
  <clark-tab-menu [currentSelection]='currentSelection' (select)=setSelection($event)></clark-tab-menu>
</div> -->

<!-- NOTE(andreas): Don't remove this. -->
<!-- <clark-carousel [action$]="action$"> -->
<!-- </clark-carousel> -->

<div>
  @if (((!materials.files || materials.files?.length === 0) && materials.notes?.length === 0 && materials.urls?.length === 0)) {
    <div
      class="materials__review-materials__empty-banner">
      <i class="fas fa-exclamation icon" style="font-size: 1.2rem;"></i>
      <p>This Learning Object has no materials attached.</p>
    </div>
  }

  @if (materials.files && materials.files?.length > 0) {
    <div class='materials__file-browser-container'>
      @if (materials?.files.length || materials.folderDescriptions?.length) {
        <clark-file-browser [files$]="files$"
        [folderMeta$]="folderMeta$"></clark-file-browser>
      }
      @if (!materials?.files.length && !materials.folderDescriptions?.length) {
        <p tab-index='0' class='materials__file-browser-container__empty-message'
          >This Learning Object does not have any
        files or folders</p>
      }
    </div>
  }

  @if (materials.urls?.length > 0) {
    <div class='materials__file-browser-container'>
      <clark-urls [urls]='materials.urls'></clark-urls>
    </div>
  }


  @if (materials.notes?.length > 0) {
    <div class='materials__file-browser-container'>
      <clark-notes [notes]='materials.notes'></clark-notes>
    </div>
  }
</div>
</section>

<div class='materials__help-link'>
  <p>If you are having issues accessing materials please email us at <a
  href="mailto:info@secured.team?subject=CLARK Materials Help">info&#64;secured.team</a></p>
</div>
