<div class="timeline-container">

  <div class="title-container">
    <h1>CLARK Through The Years</h1>
  </div>

  @for (e of events; track e) {
    <div class="content-container">
      <div class="left-container" >
        <div class="event-container" >
          <div class="line-container">
            <hr class= "connector">
          </div>
          <div class="text-container">
            <div class="text-box">
              <div class="date-container">
                <h2>{{e.date}}</h2>
              </div>
              <div class="about-container">
                <p>{{e.description}}</p>
              </div>
            </div>
            <div class="image-box">
              @if (e.image) {
                <img  class="timeline-img" src="{{ e.image }}" alt="Img left left-side">
              }
              @if (e.icon) {
                <div class="icon-box">
                  <i class="{{ e.icon }}"></i>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
