@import '~_globals.scss';
ul {
  list-style-type: none;
}

.cells {
  justify-content: flex-start !important;
  .cell {
    width: 20% !important;
    @include vert-center;
  }
}

.faux-table .row.columns {
  color: $dark-text;
}

.wrapper {
  background: aliceblue;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  border-radius: 0;
}

.row:not(.columns) {
    padding: 8px;
  padding-left: 14px;
  margin-bottom: 2px;
}