@import '~_globals.scss';
ul {
    list-style-type: none;
}

.faux-table {
    $border-color: lighten($blue-accent, 40);
    border: 1px solid $border-color;
    max-height: 50000px;
    transition: max-height 1.6s ease;


    .row {
        padding: 0px !important;
        border-radius: 0px;

        .cell:not(:last-child) {
            border-right: 1px solid $border-color;
        }

         &:not(.columns) {
            margin-bottom: 0px;
            transform: scale(1);
            opacity: 1;
            transition: all 0.2s ease;
            display: flex !important;
            max-height: 1000px;

            &.hide {

                .cell, .placeholder {

                    .button {
                        background: $error-red !important;
                        border-color: $error-red !important;

                        .svg-inline--fa {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid $border-color;
            }

        }

        &.columns {
            border-bottom: 2px solid $border-color;
        }

       ::ng-deep .placeholder {
            width: 60px;
            display: flex;
            padding-right: 10px;
            justify-content: flex-end;

            .button {
                @include vert-center;
            }
        }

    }

    .cell {
        width: 100% !important;
        padding: 10px;
        box-sizing: border-box;

        &:not(:last-child) {
            max-width: 120px;
        } 
    }
}

::ng-deep {
    .filter-container {

        select {
            min-width: 180px;
        }
    }

    label {
        @include vert-center;
    }
}

::ng-deep .empty {
    opacity: 0.6;
    padding: 10px 0px 30px;
}

::ng-deep .sub-sub-title {
    color: $blue-accent;
}

.wrapper {
  background: lighten($blue-accent, 55);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  .center {
    text-align: center;
  }
}

onion-mappings-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.paginationCtrl {
    margin-top: 40px;
    margin-bottom: 30px;

    ul {
        margin: 0; padding: 0;
        display:flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 10px;
            color: $blue-accent;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            list-style-type: none;
            min-width: 45px;
            text-align: center;
            transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
            opacity: 1;
            justify-content: center !important;

            &.gone {
                opacity: 0.4 !important;
                cursor: default !important;
            }

            &:not(.active):hover {
                opacity: 0.6;
                cursor: pointer;
            }

            &.active {
                background: $blue-accent;
                color: white;
            }

            &:first-child {
                border-radius: 3px 0px 0px 3px;
                padding: 13px 10px;
            }

            &:last-child {
                border-radius: 0px 3px 3px 0px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                padding: 13px 10px;
            }
        }
    }
}