@import 'vars.scss';

.wrapper {
  height: 100%;
  width: 100%;
  font-size: $normal;

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}
.icon {
  color: $medium-grey;
  font-size: 20px;
  margin-right: 5px;
}
.grid-row {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 1fr 1fr 25px;
  grid-column-gap: 20px;
  align-items: center;
  width: 100%;
  background: white;
  padding: 0 0 8px;
  justify-self: center;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 8px;
}

.text-contained {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: $small;

  .svg-inline--fa {
    margin-right: 13px;
    width: 20px;
  }

  input {
    display: none;
  }

  &.hover-react {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.inline-flex {
  display: flex;
  align-items: center;
}

.description {
  color: $dark-grey;
}

.meatballs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 30px;
  outline: 0;

  & > div,
  &:before,
  &:after {
    content: '';
    background: $light-blue;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    flex: 0 0 auto;
  }
}

input {
  width: 100%;
  padding: 5px 10px;
}


@media screen and (max-width: 600px) {
  .grid-row {
    display: block;
  }
  .text-contained {
    font-size: $small;
    text-align: left;

    &.timestamp {
      padding-left: 25px;
    }
  
    &.description {
      padding-left: 25px;

    }
    .svg-inline--fa {
      margin-right: 3px;
    }
  }
}