@import '~_vars.scss';

.children-detail-view {
  
  h1 {
    color: $darker-grey;
    font-size: $larger;
    padding-left: 10px;
    font-weight: normal;
  }

  learning-object-component:not(:last-child) {
    display: block;
    margin-bottom: 10px;
  }
}