<div class="header-info">
    <div class="header-container">
        <div class="about slanty" >
            <p>Fostering a safe, inclusive, online learning community focused on Cybersecurity, connecting
                high school students with their peers, education programs, and a diverse group of Cybersecurity
                mentors.
            </p>
        </div>
        <div class="join slanty">
            <p>Join The 502 Community now as an online mentor, CyberCamp presenter, professional or academic partner, 
                or program sponsor!</p>
            <a class="survey" href = "https://usf.az1.qualtrics.com/jfe/form/SV_bxCW0543jNVXWuy" target="_blank" rel="noopener noreferrer">
                <h2>GET INVOLVED</h2>
            </a>
        </div>
      
    </div>

 <div class="more">
     <p>For more information, visit our <a href="https://clark.center/collections/502-project#about">About</a> Section</p>
    <button (click)="navigate()">Wowo</button>
</div> 
</div>
