@import '_vars.scss';
@import '../../../../../collection-globals.scss';
.header-info {
    background-color: var(--background-color);
    z-index: 0;
    overflow: hidden;
}
.header-container{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: stretch;
}
.about{
    width: 400px;
    align-items: center;
    padding: 42px 75px;
    z-index: 2;
    &::after{
        background-color: $darkPurple_502; 
    }
    p {
        color: white;
        font-size: $larger;
        text-align: center;
    }

}
.join {
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 30px 75px;
    z-index: 2;
    &::after{
        background-color: $blue_502;
    }
    p{
        font-size: $larger;
        text-align: center;
        color: #32363F;
    }
}
.slanty {
    position: relative;
    &::after{
        content: "";
        position: absolute;
        transform: skewX(-15deg);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
.survey{
    background-color: $darkPurple_502;
    padding: 10px 50px;
    height: fit-content;
    h2{
        color: white;
        font-size: $larger;
        margin: 0;
    }

}
.more{
    text-align: center;
    font-size: $large;
    color: var(--primary-text);
}

@media screen and (max-width: 1270px){
    .header-container{
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }
    .about{
        box-sizing: border-box;
        width: 100%;
        padding: 25px 30px;
        background-color: $darkPurple_502;    
    }
    .join {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 30px 50px 30px;
        background-color: $blue_502;
    }
    .more{
        visibility: hidden;
    }
    .slanty::after{
        transform: skewX(0deg);
    }
}
    