<div class="wrapper">
  <div class="content-box" [ngClass]="{'failed': loginFailure}">
    <div class="top">
      <div aria-live="assertive" class="error" > {{ loginFailure || '' }} </div>
      <div class="title_wrapper" routerLink="/home">
        <div class="auth-title">CLARK</div>
        <div class="auth-title light">Cybersecurity Digital Library</div>
      </div>
      <button id="focus" class="focus-button"></button>
      <form>
        <div class="input username" [ngClass]="{'active': authInfo.username !== ''}">
          <input name="username" type="text" placeholder="Username" aria-label="Username" [(ngModel)]="authInfo.username" [autofocus]/>
          <i class="far fa-user"></i>
        </div>
        <div class="input password" [ngClass]="{'active': authInfo.password !== ''}">
          <input name="password" type="password" placeholder="Password" aria-label="Password" [(ngModel)]="authInfo.password" />
          <i class="far fa-key"></i>
        </div>
        <a class="forgot" routerLink="../forgot-password">Forgot password?</a><span class="space"></span>
        <a class="forgot" href="mailto:info@secured.team?subject=CLARK Username Recovery">Forgot username?</a>
        <button [attr.disabled]="checkCookieAgreement()? null: 'disabled'" type="submit" id="auth-button" class="auth-button" (activate)="submit()">
          <div class="mask"></div>
          <div class="text" *ngIf = "!loading">Login</div>
          <span *ngIf="loading"><i class="far fa-spinner-third fa-spin"></i>
          </span>
        </button>
      </form>
    </div>
    <button class="bottom-link" routerLink="../register">
      Don't have an account yet?
      <span id="bottom-login-link">Register!</span>
    </button>
  </div>
</div>
