@import '~_vars.scss';

.content-box {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    & > div {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 40px;
    }

    .top {
        padding-top: 50px;
    }

}


form {
    margin: auto;
    margin-top: 40px;
    width: 100%;

    .forgot {
        color: $blue-accent;
        margin-top: 10px;
        cursor: pointer;
        outline: 0;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.title_wrapper {
    cursor:pointer;

    &:hover {
        text-decoration:underline;
    }
}
