<div class="wrapper">
  <div class="content-box" [ngClass]="{'failed': loginFailure}">
    <div class="top">
      <div class="error" > {{ loginFailure || '' }} </div>
      <div class="title">C.L.A.R.K.</div>
      <div class="title light">Cybersecurity Labs and Resource Knowledge-base</div>
      <form (ngSubmit)="submit()">
        <div class="input username" [ngClass]="{'active': authInfo.username !== ''}">
          <input name="username" type="text" placeholder="Username" [(ngModel)]="authInfo.username" />
          <i class="far fa-user"></i>
        </div>
        <div class="input password" [ngClass]="{'active': authInfo.password !== ''}">
          <input name="password" type="password" placeholder="Password" [(ngModel)]="authInfo.password" />
          <i class="far fa-key"></i>
        </div>
        <div class="forgot" routerLink="../forgot-password">Forgot password?</div>
        <button type="type" class="auth-button">
          <div class="text" *ngIf = "!loading">Login</div>
          <div class="mask"></div>
          <span *ngIf = "loading">
            Loading
            <i class="far fa-spinner fa-pulse"></i>
          </span>
        </button>
      </form>
    </div>
    <div class="bottom-link" routerLink="../register">
      Don't have an account yet?
      <span>Register!</span>
    </div>
  </div>
</div>