@import '~_vars.scss';

.content-box {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;

    & > div {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 40px;
    }

    .top {
        padding-top: 50px;
    }

}


form {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    text-align: left;

    .forgot {
        color: $light-blue;
        margin-top: 10px;
        cursor: pointer;
        outline: 0;
        
        
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.title_wrapper {
    cursor:pointer;

    &:hover, &:focus{
        text-decoration:underline;
        color: $light-blue;
    }
}
