<div class="top-wrapper">
  <clark-file-breadcrumb [paths]="currentPath" (pathChanged)="handlePathChanged($event)"></clark-file-breadcrumb>
  <div class="view-switcher inline-flex right">
    <div class="inline-flex">
      @if (canManage && !(currentNode$ | async)?.isEmpty()) {
        <button id="new-file" (activate)="emitNewOptionClick($event)" class="button good">
          New Upload <i class="fas fa-upload"></i>
        </button>
      }
    </div>
  </div>

</div>
<div (activate)="emitContainerClick($event)" [ngClass]="{'flex-wrapper': canManage, 'empty': (currentNode$| async)?.isEmpty()}">
  @if (canManage && (currentNode$| async)?.isEmpty()) {
    <div class="dropzone-message">
      <i class="fal fa-cloud-upload"></i>
      <div tabindex="0" class="empty-title">No materials here!</div>
      <button class="button good" id="new-file" (activate)="emitNewOptionClick($event)">Click here to upload</button>
      @if (dragAndDropSupported) {
        <span>or drag and drop files and folders here</span>
      }
    </div>
  }
  @if (!(currentNode$ | async)?.isEmpty()) {
    <clark-file-list-view
      class="full-width"
      [node$]="currentNode$"
      [canManage]="canManage"
      (emitPath)="openFolder($event)"
      (emitDesc)="emitDesc($event)"
      (emitContextOpen)="meatballClick.emit($event)"
      (emitBundle)="packageableToggled.emit($event)"
      [inBuilder]="inBuilder"
      >
    </clark-file-list-view>
  }
</div>
@if (canManage && !(currentNode$ | async)?.isEmpty()) {
  <clark-skip-link  title="Go to New Upload" skipLocation="new-file"></clark-skip-link>
}
