@import '~_vars.scss';

.wrapper {
  height: 100%;
  width: 100%;
  font-size: 15px;
}
.icon {
  color: #485460;
  font-size: 20px;
  margin-right: 5px;
}
.grid-row {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 25px;
  grid-column-gap: 20px;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 0 0 8px 0;
  justify-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 8px;
}

.text-contained {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;

  .svg-inline--fa {
    margin-right: 13px;
    width: 20px;
  }

  input {
    display: none;
  }

  &.hover-react {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.description {
  color: #555555;
}

.inline-flex {
  display: flex;
  align-items: center;
}

.meatballs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 30px;

  & > div,
  &:before,
  &:after {
    content: '';
    background: $bright-blue;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    flex: 0 0 auto;
  }
}

.external-link-icon {
  color: $bright-blue;
  font-size: 10px;
  margin-left: 5px;
}

input {
  width: 100%;
  padding: 5px 10px;
}
