@import '~_vars.scss';

.dashboard-item {
  border-top: 1px solid $light-grey;
  transition: background 0.1s ease;
  grid-template-columns: inherit;
  padding: 20px;

  .row-item {
    display: grid;
    grid-template-columns: inherit;
    grid-gap: 0 20px;
    align-items: center;
    &.clickable {
      cursor: pointer;
    }
  }

  &:not(.disabled):hover {
    background: $light-grey;
  }

  &.disabled {
    pointer-events: none;
  }

  &.shrink {
    padding-left: 50px;
    padding-right: 50px;
  }

  .name {
    font-size: $small;
  }

  .hierarchy-parents,
  .hierarchy-children {
    color: $light-blue;
    font-size: $small;
    margin-left: 10px;
    font-style: bold;
  }
}

.status {
  width: 32px;
  height: 32px;
  color: white;
  font-size: $normal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $status_unreleased;
  transition: all 0.2s ease;
  box-shadow: none;

  &.waiting {
    background: $status_waiting;
  }

  &.review {
    background: $status_review;
  }

  &.proofing {
    background: $status_proofing;
  }

  &.released {
    background: $status_released;
  }

  &.denied {
    background: $status_rejected;
  }

  &:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.08);
  }
}

// meatball styles from this point downward
.meatball {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 16px 0;

  .icon {
    font-size: $large;
    transform: rotate(-90deg);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 25px;
    width: 12px;
    opacity: 0;
    color: white;
    transition: all 0.2s ease;
  }

  .orb:before {
    content: '';
    margin-left: -10px;
  }

  .orb:after {
    content: '';
    margin-left: 10px;
  }

  .orb,
  .orb:after,
  .orb:before {
    position: absolute;
    width: 5px;
    height: 5px;
    background: $dark-grey;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.2s ease;
  }

  .orb {
    left: 0;
    right: 0;
    margin: auto;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.1s ease;
  }

  &:hover {
    .orb,
    .orb:before,
    .orb:after,
    .icon {
      background: $light-blue;
    }

    &:after {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.open {
    .orb,
    .orb:before,
    .orb:after {
      opacity: 0;
      color: white;
    }

    .icon {
      color: white;
      transform: rotate(0);
      opacity: 1;
    }

    &:after {
      opacity: 1;
      transform: scale(1);
      background: $light-blue-gradient;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
