<div class="dashboard-item">
  <div class="row-item">
    <div>
      <clark-checkbox [setValue]="selected" (action)="toggleSelect($event)"></clark-checkbox>
    </div>
    <div>
      <div class="status" [ngClass]="learningObject.status" tip="{{ states.get(learningObject.status)?.tip }}" tipDisabled="{{ !states.get(learningObject.status)?.tip }}" tipLocation="above">
        <i class="fas {{ states.get(learningObject.status)?.icon || 'fa-eye-slash' }}"></i>
      </div>
    </div>
    <div>{{ learningObject.name }}</div>
    <div>{{ learningObject.length }}</div>
    <div>{{ learningObject.date | date:'medium' }}</div>
    <div>
      <div class="meatball" [ngClass]="{'open': meatballOpen}" (click)="this.toggleContextMenu($event)">
        <div class="icon">
          <i class="far fa-times"></i>
        </div>
        <div class="orb"></div>
      </div>
    </div>
  </div>
</div>

<clark-context-menu (id)="itemMenu = $event" (close)="meatballOpen = false">
  <div #contextMenu>
    <ul (click)="toggleContextMenu($event)">
      <li [routerLink]="['/onion/learning-object-builder', learningObject.name]"><i class="far fa-pencil"></i>Edit</li>
      <li *ngIf="learningObject.length !== 'nanomodule'"><i class="far fa-project-diagram"></i>Edit Children</li>
      <li [routerLink]="['/onion/content/upload', learningObject.name]"><i class="far fa-upload"></i>Manage Materials</li>
      <li><i class="far fa-eye"></i>Submit for Review</li>
      <li *ngIf="learningObject.status === 'published'" [routerLink]="['/details', learningObject.author.username, learningObject.name]"><i class="far fa-cube"></i>View in CUBE</li>
      <li class="bad" (click)="delete.emit()"><i class="far fa-trash-alt"></i>Delete</li>
    </ul>
  </div>
</clark-context-menu>
