
@import '~_vars.scss';
@import "../../../../globals.scss";

.huge {
  font-size: 60px;
}

.not-found-logo {
  width: 180px;
  display: block;
  margin: 0 auto;
}
.not-found.top {
  padding-top: 500px;
}

.auth-button {
  -moz-transition-duration: .2s;
  transition-duration: .2s;
  overflow: hidden;
  text-align: center;
  font-size: $normal;
  margin-bottom: 10px;
  position: relative;
  background-color: $blue-accent;
  color: white;
  border: none;
  padding: 10px;
  width: 400px;
  border-radius: 4px;

  &:hover {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    opacity: .9;
  }
}

