
@import '~_vars.scss';
$sidebar-width: 350px;
$content-width: calc(#{$max-width} - #{$sidebar-width});

.hero {
    height: 500px;
    background: url('/assets/images/clouds.jpg');
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .title__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
            background: #deecfb;
            color: #4290ea;
            width: 100px;
            height: 100px;
            border-radius: 50px;

            svg {
                width: 60px;
                height: 60px;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: linear-gradient(45deg, darken($blue-accent, 10), lighten($blue-accent, 10));
        opacity: 0.1;
        z-index: 1;
    }

    .logos {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > *:first-child {
            margin-right: 0px;
        }
    }

    .header {
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    }

    .description {
        color: white;
        font-size: 18px;
        text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
        font-weight: normal;
    }
}

.collections__grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-gap: 50px;
    margin: 40px auto;
    padding: 0px 10px;
}

.collection-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: white;
  
    &:hover:not(:active) {
      transform: scale(1.02);
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    }
  
    &:active {
      transition-duration: 0.1s;
    }

    img {
        height: 130px;
    }
}

.card__name {
    color: #55595e;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

@media(max-width: 1000px) {
    .hero {
        padding: 0px 10px;
    }

    .collections__grid {
        grid-template-columns: repeat(2, minmax(170px, 1fr));
        grid-gap: 20px;
        
        .collection-card {
            img {
                height: 100px;
            }
        }
    }
}

@media(max-width: 500px) {
    .collections__grid {
        grid-template-columns: repeat(2, minmax(140px, 1fr));
        grid-gap: 10px;
        
        .collection-card {
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);

            img {
                height: 60px;
            }
        }
    }
}
