@import '~_vars.scss';
$dark-text: #545e64;
$light-blue-gradient: linear-gradient(
  45deg,
  darken($bright-blue, 10),
  lighten($bright-blue, 5)
);

// FIXME this can be removed when the new button styles are applied cross-application
button {
  font-size: 14px;
  border: 0;
  padding: 10px 20px 10px 25px;

  &.neutral {
    background-color: transparent;
    box-shadow: none;
    color: $dark-text;
    padding:10px 5px 10px 0px;
  }
}

.filters-button {
  span {
    padding-right: 10px;
    color: $error-red;
    cursor: pointer;
  }
}

$unpublished-color: rgba(
  red($dark-text),
  green($dark-text),
  blue($dark-text),
  0.36
);

.filter-collection__container {
  li {
    position: relative;
    color: $dark-text;
    text-indent: 15px;
    .indicator {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
      background: $dark-text;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .svg-inline--fa,
    .icon {
      margin-left: 10px;
    }

    &:hover {
      color: white;

      .indicator {
        background: white;
      }
    }

    &.waiting {
      color: #5ec9da;

      .indicator {
        background: #5ec9da;
      }

      &:hover {
        color: white;
        background: #5ec9da;

        .indicator {
          background: white;
        }
      }
    }

    &.review {
      color: #f5a623;

      .indicator {
        background: #f5a623;
      }

      &:hover {
        color: white;
        background: #f5a623;

        .indicator {
          background: white;
        }
      }
    }

    &.released {
      color: $green;

      .indicator {
        background: $green;
      }

      &:hover {
        color: white;
        background: $green;

        .indicator {
          background: white;
        }
      }
    }

    &.rejected {
      color: saturate($error-red, 15);

      .indicator {
        background: saturate($error-red, 15);
      }

      &:hover {
        color: white;
        background: saturate($error-red, 15);

        .indicator {
          background: white;
        }
      }
    }
  }
}

.filter-status__container {
  li {
    position: relative;
    color: $dark-text;

    .indicator {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
      background: $dark-text;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .svg-inline--fa,
    .icon {
      margin-left: 15px;
    }

    &:hover {
      color: white;
      background: $dark-text;

      .indicator {
        background: white;
      }
    }

    &.waiting {
      color: #5ec9da;

      .indicator {
        background: #5ec9da;
      }

      &:hover {
        color: white;
        background: #5ec9da;

        .indicator {
          background: white;
        }
      }
    }

    &.proofing {
      color: #bd5eda;
    

    .indicator {
        background: #bd5eda;
      }

    &:hover {
      color: white;
      background: #bd5eda;

      .indicator {
          background: white;
        }
      }
    }

    &.review {
      color: #f5a623;

      .indicator {
        background: #f5a623;
      }

      &:hover {
        color: white;
        background: #f5a623;

        .indicator {
          background: white;
        }
      }
    }

    &.released {
      color: $green;

      .indicator {
        background: $green;
      }

      &:hover {
        color: white;
        background: $green;

        .indicator {
          background: white;
        }
      }
    }

    &.rejected {
      color: saturate($error-red, 15);

      .indicator {
        background: saturate($error-red, 15);
      }

      &:hover {
        color: white;
        background: saturate($error-red, 15);

        .indicator {
          background: white;
        }
      }
    }
  }
}
