<div class="filter">
  <div class="filter__container">
    <div class="btn-group to-right">
      <ng-container *ngIf="adminOrEditor">
        <button
          #toggleCollectionMenuElement
          class="button neutral filters-button"
          (click)="toggleCollectionMenu(true)"
          [ngClass]="{ 'filters-button--down': collectionMenuDown }"
        >
          {{ selectedCollection ? selectedCollection.name : 'All Collections' }}
          <i class="fas fa-chevron-down"></i>
        </button>
        <clark-context-menu
          *ngIf="collectionMenuDown"
          class="filter-collection"
          [anchor]="toggleCollectionMenuElement"
          [offset]="{ top: 10, left: 10 }"
          (close)="toggleCollectionMenu()"
        >
          <div #contextMenu class="filter-collection__container">
            <ul>
              <li
                *ngFor="let collection of collections"
                [className]="collection.abvName"
                (click)="toggleCollectionFilter(collection.abvName)"
              >
                <div
                  *ngIf="collection.abvName === selectedCollection?.abvName"
                  class="indicator"
                ></div>
                {{ collection.name }}
              </li>
            </ul>
          </div>
        </clark-context-menu>
      </ng-container>
      <button
        #toggleFilterMenuElement
        class="button neutral filters-button"
        (click)="toggleFilterMenu(true)"
        [ngClass]="{ 'filters-button--down': filterMenuDown }"
      >
        <span class="filter-badge" *ngIf="filters.size">
          {{ filters.size }}
        </span>
        All Statuses <i class="fas fa-chevron-down"></i>
      </button>
      <a
        *ngIf="filters.size || selectedCollection"
        (click)="clearAllFilters()"
        class="filters-clear"
        >Clear filters</a
      >
    </div>
  </div>
</div>
<clark-context-menu
  *ngIf="filterMenuDown"
  class="filter-status"
  [anchor]="toggleFilterMenuElement"
  [offset]="{ top: 10, left: 10 }"
  (close)="toggleFilterMenu(undefined)"
>
  <div #contextMenu class="filter-status__container">
    <ul>
      <li *ngFor="let status of statuses" [ngClass]="status" (click)="toggleStatusFilter(status)">
        <div *ngIf="filters.has(status)" class="indicator"></div>
        <i [ngClass]="getStatusIcon(status)"></i> {{ status | titlecase }}
      </li>
    </ul>
  </div>
</clark-context-menu>
