@import '~_vars.scss';

.filters-button {

  span {
    padding-right: 10px;
    color: $error-red;
    cursor: pointer;
  }
}

.filter-collection__container {
  li {
    position: relative;
    color: $dark-grey;
    text-indent: 15px;
    .indicator {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
      background: $dark-grey;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .svg-inline--fa,
    .icon {
      margin-left: 10px;
    }

    &:hover {
      color: white;

      .indicator {
        background: white;
      }
    }

    &.waiting {
      color: $status_waiting;

      .indicator {
        background: $status_waiting;
      }

      &:hover {
        color: white;
        background: $status_waiting;

        .indicator {
          background: white;
        }
      }
    }

    &.review {
      color: $status_review;

      .indicator {
        background: $status_review;
      }

      &:hover {
        color: white;
        background: $status_review;

        .indicator {
          background: white;
        }
      }
    }

    &.released {
      color: $status_released;

      .indicator {
        background: $status_released;
      }

      &:hover {
        color: white;
        background: $status_released;

        .indicator {
          background: white;
        }
      }
    }

    &.rejected {
      color: $status_rejected;

      .indicator {
        background: $status_rejected;
      }

      &:hover {
        color: white;
        background: $status_rejected;

        .indicator {
          background: white;
        }
      }
    }
  }
}
