
  <div class="list">
    <div #listInner class="list-inner">
      <div class="list-top">
        <div class="wrapper">
          <div class="filter-wrapper">
            <div class="btn-group to-right">
                <button class="button neutral filters-button" (click)="toggleCollectionMenu($event)">
                  <span tip="{{'Clear filtering criteria'}}" tipLocation="{{'above'}}" *ngIf="filters.size" (click)="clearFilters(); $event.stopPropagation()">
                    <i class="far fa-times"></i>
                  </span> All Collections <i class="fas fa-chevron-down"></i>
                </button>
                <button class="button neutral filters-button" (click)="toggleFilterMenu($event)">
                  <span tip="{{'Clear filtering criteria'}}" tipLocation="{{'above'}}" *ngIf="filters.size" (click)="clearFilters(); $event.stopPropagation()">
                    <i class="far fa-times"></i>
                  </span> All Statuses <i class="fas fa-chevron-down"></i>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<clark-context-menu (id)="filterMenu = $event" (close)="toggleFilterMenu(undefined)">
    <div #contextMenu class="filter-menu">
      <ul *ngFor="let status of statuses">
        <li [ngClass]="status" (click)="toggleStatusFilter(status)">
          <div *ngIf="filters.get(status)" class="indicator"></div>
          <i [ngClass]="getStatusIcon(status)"></i> {{ status | titlecase }}
        </li>
      </ul>
    </div>
  </clark-context-menu>
  <clark-context-menu (id)="collectionMenu = $event" (close)="toggleCollectionMenu(undefined)">
    <div #contextMenu class="filter-collection">
      <ul>
        <li *ngFor="let collection of collections" [className]="collection.abvName" (click)="toggleCollectionFilter(collection.abvName)">
          <div *ngIf="filters.get(collection.abvName)" class="indicator"></div> {{ collection.name }}
        </li>
      </ul>
    </div>
  </clark-context-menu>
