@import '../../../../vars';

.skip-link {
    left: -300px;
    position: absolute;
    top: auto;
    width: 0;
    height: 0;
    z-index: -20;
    opacity: 0;
    
  }
  
  .skip-link:focus, .skip-link:active {
    color: #fff;
    background-color:$light-blue;
    left: auto;
    width: auto;
    height: auto;
    overflow:auto;
    margin: 10px;
    padding:5px;
    text-align:center;
    font-size:$normal;
    z-index:999;
    opacity: 1;
  }