<div class="learning-object" [ngClass]="learningObject.length">
    <div class="image">
        <div class="length">{{ learningObject.length.toUpperCase() }}</div>
    </div>
    <div class="learning-object-content">
        <div class="content__topbar">
            <div *ngIf="collection?.name !== undefined" class="card-collection">{{ collection.name }}</div>
        </div>
    </div>
    <div class="title">
        {{ (learningObject?.name.length>45) ? (learningObject?.name | slice:0:45)+'...' : learningObject?.name }}
    </div>
    <div class="details">
        <span class="author">
            {{ learningObject.author.name | titlecase }} |
            {{ learningObject.author.organization | titlecase}}
            {{ learningObject.contributors?.length
              ? ', and ' + learningObject.contributors.length + ' more'
              : ''
            }}
        </span>
        <div class="date">Updated {{ date | date: 'mediumDate' }}</div>
        <div class="description" [innerHtml]="learningObject.description"></div>
    </div>
</div>

