@if (link) {
  <a [routerLink]="['/users', user.username]">
    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </a>
}
@if (!link) {
  <ng-container *ngTemplateOutlet="cardContent"></ng-container>
}

<ng-template #cardContent>
  <div class="user-card">
    <div class="image" id="card-image">
      <img [src]="icon" class="img" alt="User gravatar">
      @if (gravatarInfo) {
        <span tip="What is this?" tipPosition="top" (activate)="showGravatarModal($event)">
          <i class="fas fa-info-circle"></i>
        </span>
      }
    </div>
    <div class="user-content">
      <div tabindex="0" class="title" id="card-title">{{user.name | titlecase}}</div>
      <div class="details">
        <div tabindex="0" class="username" id="card-username">
          Username: {{ user.username }}
        </div>
        <div tabindex="0" class="email" id="card-email">
          Email: {{user.email}}
        </div>
        @if (objects) {
          <div tabindex="0" class="learning-objects">
            Number of Learning Objects: {{objects.length}}
          </div>
        }
      </div>
    </div>
  </div>
</ng-template>