<div class="wrapper">
    <div class="learning-object-info">
        <h1>Modular self-contained cyber curricula</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="featured-object">
        <div class="featured-text">
            <p *ngIf="featuredObject?.levels" class="levels">
               <b>{{ displayFeaturedObjectLevels().toUpperCase() }}</b>
            </p>
            <h3 *ngIf="featuredObject?.author">
                <a [routerLink]="[
                '/details',
                featuredObject.author.username,
                featuredObject.cuid
                ]">
                {{ featuredObject?.name }}
                </a>
            </h3>
            <p *ngIf="featuredObject?.description" [innerHTML]="displayDescription()">
            </p>
            <p class="outcomeText">
                Students will be able to...
            </p>
            <ul>
                <li *ngFor="let outcome of featuredObject?.outcomes">
                    {{ outcome.verb | titlecase }} {{ outcome.text }}
                </li>
            </ul>
        </div>
        <div class="featured-contributors" *ngIf="featuredObject?.contributors[0].email">
            <!-- Displays only the first 3 contributors -->
            <div class="contributor-card" *ngFor="let contributor of featuredObject?.contributors | slice:0:getNumAuthorsToDisplay()">
                <clark-author-card [author]="contributor" [profileImageURL]="getGravatarImage(contributor.email)"></clark-author-card>
            </div>
            <!-- Any unmentioned contributors will be counted here -->
            <p *ngIf="featuredObject?.contributors.length > getNumAuthorsToDisplay()">+ {{ featuredObject?.contributors.length - getNumAuthorsToDisplay() }} more</p>
        </div>
    </div>

    <button class="learning-object-button" [routerLink]="'/browse'">BROWSE {{ numReleasedObjects | number }}+ LEARNING OBJECTS</button>
</div>
