@import "_vars.scss";

.side-panel-content {
    color: var(--theme-text);
}

.side-panel-content__header-container {
    background: var(--theme-action-primary);
    margin: -20px -20px 20px -20px;
    padding: 20px;
}

.side-panel-content__header-container__text {
    color: var(--theme-action-on-primary);
    margin: 0;
}

.side-panel-content__parents-container__header-text {
    border-bottom: 1px solid var(--theme-border);
    padding-bottom: 10px;
}

.side-panel-content__parents-container__cards-container {
    margin-bottom: 10px;
}

.side-panel-content__children-container__header-text {
    border-bottom: 1px solid var(--theme-border);
    padding-bottom: 10px;
}

.side-panel-content__children-container__cards-container {
    margin-bottom: 10px;
}
