@import '~_vars.scss';
.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.file-breadcrumb {
  .link {
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
    padding: 0 7px;
    border-radius: 4px;
  }
  & :hover {
    cursor: pointer;
    background: #e9e9e9;
  }
}
.folder,
.file {
  font-size: 15px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}
.folder:hover {
  cursor: pointer;
}
.folder:active {
  opacity: 0.5;
}
.folder {
  color: $bright-blue;
}
.file {
  color: #333;
}
.icon {
  font-size: 25px;
}
