<div class="file-breadcrumb">
  <span *ngIf="currentPath.length" class="link" (click)="jumpTo(0, true)">Root</span>
  <ng-container *ngFor="let path of currentPath; let i=index;">
    <span>
      <i class="far fa-chevron-right arrow"></i>
    </span>
    <span class="link" (click)="jumpTo(i)">{{path}}</span>
  </ng-container>
</div>
<div (click)="openDropzone($event)" class="flex-wrapper dz-clickable" [ngClass]="{empty: !currentNode?.children.length && !currentNode?.files.length}">
  <div *ngIf="!currentNode?.children.length && !currentNode?.files.length" class="dropzone-message">
    <div class="file-icons">
      <i class="fal fa-image fa-2x"></i>
      <i class="fal fa-file-pdf fa-2x"></i>
      <i class="fal fa-file-word fa-2x"></i>
    </div>
    <span>Drop files and folders or click here</span>
  </div>
  <!-- Render Folders -->
  <div (click)="openFolder(folder.name)" class="folder" *ngFor="let folder of currentNode?.children" [contextMenu]="fileOptions"
    [contextMenuSubject]="folder" tip="{{folder.description}}" tipTitle={{folder.name}} tipLocation="above" tipDelay="500">
    <div>
      <i class="fas fa-folder icon"></i>
    </div>
    <div class="text-contained">
      {{ folder.name }}
    </div>
    <div></div>
  </div>
  <!-- Render Files -->
  <div class="file" *ngFor="let file of currentNode?.files" [contextMenu]="fileOptions" [contextMenuSubject]="file"
    tip="{{file.description}}" tipTitle={{file.name}} tipLocation="above" tipDelay="500">
    <div>
      <i class="fas {{ getIcon(file.extension) }} icon"></i>
    </div>
    <div class="text-contained">
      {{ file.name }}
    </div>
    <div></div>
  </div>
</div>

<context-menu (close)="editDescription=false" #fileOptions>
  <ng-template contextMenuItem passive="true">
    <div *ngIf="!editDescription" class="context-item" (click)="editDescription=true">
      <div>
        Edit description
      </div>
      <div>
        <i class="far fa-edit"></i>
      </div>
    </div>
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFile($event.item)">
    <div *ngIf="!editDescription" class="context-item bad">
      <div>
        Delete
      </div>
      <div>
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
  </ng-template>

  <ng-template let-item contextMenuItem passive="true">
    <div *ngIf="editDescription" class="context-item stacked">
      <form #decriptionInput="ngForm" (submit)="saveDescription(description.value, item); closeContextMenu()">
        <div class="description-input">
          <input #description name="description" ([ngModel])="item?.description" type="text" name="file-description" placeholder="Enter description" [value]="item?.description ? item?.description : ''"
          />
        </div>
        <div class="buttons">
          <button type="button" class="button bad slim" (click)="closeContextMenu()">
            Cancel
          </button>
          <button type="button" class="button good slim" (click)="saveDescription(description.value, item); closeContextMenu()">
            Save
          </button>
        </div>
      </form>
    </div>
  </ng-template>

</context-menu>
