@import '~_vars.scss';
.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 10px;
  min-height: 200px;
  cursor: pointer;
}
.empty {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.file-breadcrumb {
  .link {
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
    padding: 0 7px;
    border-radius: 4px;
  }
  & :hover {
    cursor: pointer;
    background: #e9e9e9;
  }
}
.folder {
  background: #fff;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.folder,
.file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 200px;
  width: calc(25% - 20px);
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.folder,
.file {
  font-size: 15px;
  margin: 5px;
}
.folder:hover {
  cursor: pointer;
}
.folder:active {
  opacity: 0.5;
}
.folder {
  .icon {
    color: #808e9b;
  }
}
.file {
  .icon {
    color: #485460;
  }
  background: none;
}
.icon {
  font-size: 25px;
  margin-right: 5px;
}
