<div class="file-breadcrumb">
  <span *ngIf="currentPath.length" class="link" (click)="jumpTo(0, true)">Root</span>
  <ng-container *ngFor="let path of currentPath; let i=index;">
    <span>
      <i class="far fa-chevron-right arrow"></i>
    </span>
    <span class="link" (click)="jumpTo(i)">{{path}}</span>
  </ng-container>
</div>
<div class="flex-wrapper">
  <div (click)="openFolder(folder.name)" class="folder" *ngFor="let folder of currentNode?.children">
    <div>
      <i class="fas fa-folder icon"></i>
    </div>
    <div>
      {{ folder.name }}
    </div>
  </div>
  <div class="file" *ngFor="let file of currentNode?.files">
    <div>
      <i class="fas fa-file icon"></i>
    </div>
    <div>
      {{ file.name }}
    </div>
  </div>
</div>
