<section class="info-banner">
  <div class="counter-wrapper">
    <div class="released stat-block">
      <div class="counter">{{ stats?.objects?.released }}</div>
      <div class="label">Learning Objects Released</div>
    </div>
    <div class="under-review stat-block">
      <div class="counter">{{ stats?.objects?.underReview }}</div>
      <div class="label">Learning Objects Under Review</div>
    </div>
    <div class="under-review stat-block">
      <div class="counter">{{ stats?.objects?.downloads}}</div>
      <div class="label">Learning Objects Downloaded</div>
    </div>
    <div class="under-review stat-block">
      <div class="counter">{{ stats?.users?.organizations }}</div>
      <div class="label">Organizations</div>
    </div>
  </div>
  <div class="charts-wrapper collapsed" [ngClass]="{'expanded': viewAllStats}">
    <cube-distribution-chart *ngIf="viewAllStats" class="chart" [chart]="outcomeDistributionChart"></cube-distribution-chart>
    <cube-distribution-chart *ngIf="viewAllStats" class="chart" [chart]="lengthDistributionChart"></cube-distribution-chart>
  </div>
  <div class="view-more" [ngClass]="{padded: viewAllStats}">
    <button type="button" class="button clear" (click)="toggleMoreStats()">
      <div class="icon" *ngIf="viewAllStats"><i class="fal fa-chevron-up"></i></div>
      <div class="text">
        <span>{{viewAllStats ? 'See Less': 'View More'}}</span>
      </div>
      <div class="icon" *ngIf="!viewAllStats"><i class="fal fa-chevron-down"></i></div>
    </button>
  </div>
</section>
