@import '_vars.scss';

.hide-overflow {
    overflow: hidden;
}

.heading {
    font-weight: 700;
    font-size: 19.5pt;
    white-space: nowrap;
    color: #535d69;
}

#centered {
    text-align: center;
}

#blue-1 {
    background: #06348B;
}

#blue-2 {
    background: #305498;
}

#blue-3 {
    background: #4A70B7;
}

#purple {
    background: #56359D;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
}

.desktop {

    .collection-container {
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 100px;
    }

    .description-container {
        padding: 20px;
        color: #535d69;
    }

    .matrix-container {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .matrix-table table {
        margin-top: 30px;
        margin-bottom: 30px;
        border-spacing: 0;
    }

    .table-heading {
        font-size: 18px;
        font-weight: 400;
        padding: 12px 20px;
        color: #454545;
        text-align: center;
        vertical-align: baseline;
        background-color: #F8F8F8;

        border-radius: 7px 7px 0 0; 
        border: 1px solid #D9D9D9;
    }

    .module-name {
        text-align: right;
        color: #454545;
        font-size: 18px;
        padding: 10px 15px;
        margin-top: 2px;
        white-space: nowrap;
    }

    .tab {
        text-align: right;
        color: #454545;
        font-size: 18px;
        padding: 10px 15px;
        margin-top: 2px;
        white-space: nowrap;
    }

    .table-cell {
        border-right: 1px solid #D9D9D9;
        border-left: 1px solid #D9D9D9;
        padding: 7px 10px;
        margin: 0px;
        vertical-align: baseline;
        white-space: nowrap;
    }

    .table-cell.bottom {
        border-bottom: 1px solid #D9D9D9;
    }

    .single-cell {
        padding: 10px 10px;
        vertical-align: middle;
    }

    #single-cell-left {
        border-left: 1px solid #D9D9D9;
    }

    mat-card {
        display: inline-block;
        padding: 4px 12px;
        margin: 2px;
        text-align: center;
        flex: 1 1 auto;
    }

    .cards-container {
        padding: 20px;
        margin-bottom: 40px;
    }

    .cards table {
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        text-align: center;
        block-size: fit-content;
        border-spacing: 0px;
    }

    .other-cards {
        margin: 3px 3px;
        padding: 4px 15px;
    }

    @media (max-width: 1175px) {
        .table-cell {
            white-space: normal;
            padding-left: 10px;
            padding: 7px 20px;
        }
        
        .matrix-table {
            margin: 0px;
        
            mat-card {
            display: block;
            margin-bottom: 5px;
            white-space: nowrap;
            max-width: 115px;
            margin-left: auto;
            margin-right: auto;
            }

            a {
                font-size: 15px;
            }
        }
        
        table {
            margin-left: auto;
            margin-right: auto;
        }

        .other-cards {
            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;
            margin: 3px 2px;
        }

        .single-cell mat-card {
            margin-bottom: 0px;
            white-space: normal;
        }

        #single-cell-left {
            max-width: 60px;
            border-left: 2px solid #D9D9D9;
        }

        .module-name {
            border-radius: 7px 0px 0px 7px; 
            border: 1px solid #D9D9D9;  
            background-color: #F8F8F8;
            text-align: center;
            white-space: normal;
            max-width: 100px;
        }

        .tab {
            text-align: center;
            white-space: normal;
            max-width: 100px;
            color: #454545;
            white-space: nowrap;
            font-size: 18px;
            padding: 10px 15px;
            margin-top: 2px;
        }
    }
}

.mobile {

    .collection-container {
        padding: 40px;
    }

    .description-container {
        padding: 10px;
        margin-bottom: 10px;
        color: #535d69;
    }

    .content-container {
        margin-bottom: 10px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .panels {
        margin-top: 15px;
    }

    .mat-expansion-panel {
        box-shadow: none;
        border: 1px solid #D9D9D9;
        margin-top: 5px;
        margin-bottom: 5px;

        mat-expansion-panel-header {
            background-color: #F8F8F8;
        }

        .nowrap {
            padding-left: 20px;
        }

        mat-panel-title {
            justify-content: center;
            font-size: 16px;
            color: #454545;
            white-space: nowrap;
            margin-right: 0px;
        }
        
        mat-expansion-panel-body {
            padding: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            color: #454545;
            text-align: center;
        }
    }

    mat-card {
        display: block;
        padding: 4px 12px;
        margin: 2px;
        text-align: center;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }

    .table-heading {
        margin-top: 30px;
        font-size: 16px;
        padding: 12px 20px;
        color: #454545;
        text-align: center;
        vertical-align: baseline;
        background-color: #F8F8F8;

        border-radius: 7px 7px 0 0; 
        border: 1px solid #D9D9D9;
    }

    .table-cell {
        border-right: 1px solid #D9D9D9;
        border-left: 1px solid #D9D9D9;
        padding: 15px 30px;
        margin-bottom: 15px;
        vertical-align: baseline;
        white-space: normal;
    }

    .table-cell.bottom {
        border-bottom: 1px solid #D9D9D9;
        border-radius: 0px 0px 7px 7px;
    }

    .other-cards {
        justify-self: center;
        width: inherit;
    }

    .long {
        width: 180px;
        margin-top: 15px;
    }
}