<div class="background-wrapper">
    <clark-secinj-header [collectionAbv]="abvCollection"></clark-secinj-header>
    <div class="collection-container">
        <div class="description-container">
            <div class="heading">Description</div>
            <p [innerHTML]="collection.description"></p>
        </div>
        <div class="matrix-container">
            <div class="heading">Secure Coding Modules</div>
            <div class="matrix-table">
                <table>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="table-heading" title="An introductory course to target CS majors with little or no background in programming">CS0</th>
                        <th class="table-heading" title="The first course to formally teach programming fundamentals">CS1</th>
                        <th class="table-heading" title="The second course to formally teach programming fundamentals">CS2</th>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Integer Error</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Integer_Error-CS0_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Integer_Error-CS0_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="pseudo-button" href="https://security-injections.clark.center/Integer_Error-CS0_Pseudocode.html" target="_blank">Pseudocode</a>
                                </mat-card-content>
                            </mat-card>      
                        </td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Integer_Error-CS1_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Integer_Error-CS1_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Integer_Error-CS2_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Integer_Error-CS2_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Input Validation</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Input_Validation-CS0_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Input_Validation-CS0_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="python-button" href="https://security-injections.clark.center/Input_Validation-CS0_Python.html" target="_blank">Python</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="pseudo-button" href="https://security-injections.clark.center/Input_Validation-CS0_Pseudocode.html" target="_blank">Pseudocode</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Input_Validation-CS1_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Input_Validation-CS1_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="python-button" href="https://security-injections.clark.center/Input_Validation-CS1_Python.html" target="_blank">Python</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Input_Validation-CS2_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Input_Validation-CS2_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Buffer Overflow</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Buffer_Overflow-CS0_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Buffer_Overflow-CS0_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="python-button" href="https://security-injections.clark.center/Buffer_Overflow-CS0_Python.html" target="_blank">Python</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="pseudo-button" href="https://security-injections.clark.center/Buffer_Overflow-CS0_Pseudocode.html" target="_blank">Pseudocode</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Buffer_Overflow-CS1_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Buffer_Overflow-CS1_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="python-button" href="https://security-injections.clark.center/Buffer_Overflow-CS1_Python.html" target="_blank">Python</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Buffer_Overflow-CS2_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Buffer_Overflow-CS2_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Software Development Life Cycle</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Software_Development_Lifecycle-CS0_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Software_Development_Lifecycle-CS0_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="python-button" href="https://security-injections.clark.center/Software_Development_Lifecycle-CS0_Python.html" target="_blank">Python</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Best Practives for Secure Variables</td>
                        <td>&nbsp;</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Best_Practices_for_Secure_Variables-CS1_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Encapsulation</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Encapsulation-CS2_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Encapsulation-CS2_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Data Hiding</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Data_Hiding-CS0_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Data_Hiding-CS2_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Data_Hiding-CS2_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="python-button" href="https://security-injections.clark.center/Data_Hiding-CS2_Python.html" target="_blank">Python</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                    </tr>
                    <tr>
                        <td class="vertical-menu">Exception Handling</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <mat-card>
                                <mat-card-content>
                                    <a class="c-button" href="https://security-injections.clark.center/Exception_Handling-CS2_C++.html" target="_blank">C++</a>
                                </mat-card-content>
                            </mat-card>
                            <mat-card>
                                <mat-card-content>
                                    <a class="java-button" href="https://security-injections.clark.center/Exception_Handling-CS2_Java.html" target="_blank">Java</a>
                                </mat-card-content>
                            </mat-card>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>  
</div>