@import '~_vars.scss';
@import './global-details';

.details {
  background: white;
}

.section-title {
  margin-bottom: 20px;
}

section:not(.details__splash) {
  margin-top: 70px;
}

.details__splash-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.details__content-container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: auto;
  margin-left:10%;
}

.details__content-container__action-pad-container {
  grid-column-start: 2;
  grid-row-start: 10;
}

.details__content-container__version-card-container {
  grid-column-start: 2;
  grid-row-start: 15;
}

.details__content-container__description-container {
  grid-column-start: 1;
  grid-row-start: 15;
}

.details__content-container__learning-outcomes-container {
  grid-column-start: 1;
  grid-row-start: 20;
}

.details__content-container__academic-levels-container {
  grid-column-start: 1;
  grid-row-start: 25;
}

.content-container__academic-levels-container__card-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px [col-start]);
}

.details__content-container__materials-container {
  grid-column-start: 1;
  grid-row-start: 30;
}

.details__content-container__ratings-container {
  grid-column-start: 1;
  grid-row-start: 35;
}