@import '~_vars.scss';
@import './global-details';

.details-background {
  background-color: white;
}

.details {
  background: white;
  max-width: $max-width;
  margin: auto;
  padding-left: 20px;
}

.section-title {
  margin-bottom: 20px;
}

section:not(.details__splash) {
  margin-top: 70px;
}

.details__splash-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.details__content-container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: auto;
  width: 100%;
  grid-gap: 10px;
}

.details__content-container__splash-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.details__content-container__action-pad-container {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
}

.details__content-container__right-side-container {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: end;
}

.content-container__profile-cards-container-profile-card {
  margin-bottom: 15px;
}

.details__content-container__version-card-container {
  margin-top: 70px;
}

.details__content-container__description-container {
  grid-column-start: 1;
  grid-row-start: 2;
}

.details__content-container__learning-outcomes-container {
  grid-column-start: 1;
  grid-row-start: 3;
  align-self: start;
}

.details__content-container__academic-levels-container {
  grid-column-start: 1;
  grid-row-start: 4;
}

.content-container__academic-levels-container__card-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px [col-start]);
}

.details__content-container__materials-container {
  grid-column-start: 1;
  grid-row-start: 5;
}

.details__content-container__ratings-container {
  grid-column-start: 1;
  grid-row-start: 6;
  margin-bottom: 20px;
}

.details__content-container__ratings-container__header-container {
  display: grid;
  grid-template-columns: 80% auto;
}

.content-container__ratings-container__button-container {
  height: 40px;
}

.new-rating-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: $dark-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    .new-rating {
      transition-delay: 0.1s;
      transform: scale(1);
    }
  }

  .new-rating {
    transition-delay: 0s;
    transition: inherit;
    transform: scale(0.9);
    background: white;
    padding: 15px;
    min-width: 350px;
    max-width: 600px;
    width: 100%;
    height: 400px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .close-new-rating {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: $larger;
      cursor: pointer;
      color: $medium-grey;
    }

    .title {
      font-size: $larger;
      text-align: center;
      color: $darker-grey;
      margin-bottom: 15px;
    }
  }
}