<div *ngIf="learningObject" class="details-wrapper" [ngClass]="learningObject.length">
  <cube-details-splash [learningObject]="learningObject"></cube-details-splash>
  <div class="flex">
    <div class="content">
      <div class="description">
        <div class="title">Description</div>
        <p [innerHtml]="learningObject.goals[0].text"></p>
      </div>
      <cube-outcomes-detail-view [outcomes]="learningObject.outcomes"></cube-outcomes-detail-view>
      <cube-children-detail-view *ngIf="learningObject.children?.length > 0" [length]="learningObject.length" [children]="learningObject.children"></cube-children-detail-view>
      <div class="materials">
        <onion-file-details [length]="learningObject.length" [materials]="learningObject.materials"></onion-file-details>
      </div>
    </div>
    <div class="sidebar">
      <cube-details-action-panel [learningObject]="learningObject"></cube-details-action-panel>
      <cube-details-included-in [learningObject]="learningObject"></cube-details-included-in>
    </div>
  </div>
</div>
