@import 'vars.scss';

.blogs-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $secondary-white;

    .first-view {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        padding: 15px;

        .left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            p {
                font-size: 16px;
            }

            .fa-2x {
                margin: 10px;
            }
        }

        .side-by-side {
            display: flex;
            flex-direction: row;

            .dismiss {
                color: $homepage-gray;
                border: 1px $secondary-white;
                background: $primary-white;
                margin-right: 18px;
                border-radius: 4px;
                border-radius: 4px;
                cursor: pointer;
                padding: 12px 36px;
            }

            button:hover {
                opacity: 80%;
            }

            button:active {
                opacity: 100%;
            }

            .dismissOnce {
                background-color: $homepage-light-blue;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                padding: 12px 18px;
                margin: 0 25px;
                box-shadow: 0px 6px 12px -6px $homepage-light-blue;
                border-radius: 4px;
            }

            button:hover {
                opacity: 80%;
            }

            button:active {
                opacity: 100%;
            }
        }
    }


}

@media (max-width: 1090px) {
    .blogs-component {
        flex-direction: column;

        .first-view {
            flex-direction: column;

            .left {
                justify-content: center;
            }

            .side-by-side {
                justify-content: center;
            }
        }
    }
}