<div class="card">
  <div class="name">
    <i class="{{ icon }}"></i>
    <div>{{ issue.name | uppercase }}</div>
  </div>
  <div class="info">
    <p>{{ issue.discovered | date:'mediumDate' }} to {{ issue.resolved | date:'mediumDate' }}</p>
    <p *ngFor="let i of issue.issues">{{ i }}</p>
  </div>
  <div class="status">
    <i class="fas fa-exclamation-triangle" [ngClass]="{ 'warning': true, 'error': issue.accessGroups.length === 4 }"></i>
    <p>{{ issue.accessGroups.length !== 4 ? 'Warning' : 'Error' }}</p>
  </div>
</div>