@import '~_vars.scss';

.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 2px solid $light-blue;
    color: $darker-grey;

    &:first-child {
        .name {
            border-top-left-radius: 5px;
        }
    }

    &:last-child {
        border-bottom-left-radius: 5px;

        .name {
            border-bottom-left-radius: 4px;
        }
    }

    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $light-blue;
        color: whitesmoke;
        padding: 30px;
        font-size: $large;

        svg {
            font-size: 30px;
            margin-bottom: 10px;
        }
    }

    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        width: 15%;
        min-width: 130px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        width: 100%;
    }

    .status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        svg {
            margin-bottom: 10px;
            font-size: 40px;
    
            &.warning {
                color: $orange;
            }
    
            &.error {
                color: $error-red;
            }
        }
    }

    p {
        margin: 5px 0;
    }
}
