@import '_vars.scss';

.checkbox {
  background: transparent;
  border: 1px solid $medium-grey;
  position: relative;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  margin: auto;
  padding: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    background: $light-blue;
    border-radius: 2px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $light-blue;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    transition: inherit;
  }

  .svg-inline--fa {
    font-size: 10px;
    color: white;
    position: relative;
    z-index: 1;
    transform: scale(0.5);
    visibility: hidden;
    opacity: 0;
    transition: inherit;
  }

  &.active {
    border-color: $light-blue;

    &:after, .svg-inline--fa {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }

    &.animating {

      &:before {
        animation: burst 0.3s ease;
      }
    }
  }

  &.disabled {
    border-color: $light-grey;
    cursor: default;
  }
}

@keyframes burst {
  0% {
    transform: scale(0);
    opacity: 0;
  } 50% {
    opacity: 0.3;
  } 100% {
    transform: scale(2.3);
    opacity: 0;
  }
}