<div *ngIf="open" class="mappings-popup">
  <div class="popup-content">
    <div class="top">
        <div class="title">
          Standard Outcomes
          <div>Search Learning Objects by their mapped standard outcomes</div>
        </div>
        <div class="source">
          <div class="mappings-spinner" *ngIf="mappingsQueryInProgress"><i class="far fa-spinner-third"></i></div>
          <div class="button neutral" (click)="showSources($event)">{{(mappingsFilters.author && mappingsFilters.author !== '') ? mappingsFilters.author : '- Source -'}} <i class="far fa-sort"></i></div>
          <div class="button good" (click)="showSources($event)" (click)="close()">Done <i class="far fa-check"></i></div>
        </div>
    </div>
    <div class="mappings">
      <div class="text-filter">
        <input type="text" id="mappingsFilter" [(ngModel)]="mappingsFilters.filterText" placeholder="Outcome text includes...">
        <div class="selected-mappings">
          <div class="pill" *ngFor="let m of standardOutcomes" (click)="removeOutcome(m)">
            {{ m.source + ' - ' + m.name }} <i class="far fa-times"></i>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="none" *ngIf="queriedMappings.length === 0">
          <div class="empty-source" *ngIf="mappingsFilters.author === ''">Select a source from the dropdown list to get started!</div>
          <div class="no-query" *ngIf="mappingsFilters.author !== '' && mappingsFilters.filterText === ''">Now enter some text into the above text box that your standard outcome should include!</div>
          <div class="bad-query" *ngIf="mappingsQueryError && mappingsFilters.author !== '' && mappingsFilters.filterText !== ''">Whoops! We couldn't find any standard outcomes matching that query!</div>
        </div>
        <virtual-scroll *ngIf="queriedMappings.length > 0" [items]="queriedMappings" (update)="viewportItems = $event">
          <div class="map" *ngFor="let m of viewportItems">
            <div class="mapping-top">
              <div class="mapping-name">{{ m.author.toUpperCase() + ' - ' + m.name }}</div>
              <div class="date">{{ m.date }}</div>
            </div>
            <div class="mapping-content">
                <div class="mapping-text">{{ outcomeText(m.outcome, 80) }}</div>
                <checkbox [checked]="checkOutcomes(m)" (checkboxChecked)="addOutcome(m)" (checkboxUnchecked)="removeOutcome(m)"></checkbox>
            </div>
          </div>
        </virtual-scroll>
      </div>
    </div>
  </div>
</div>