<div class="banner">
</div>
<img [src]="gravatarImage" class="img">
<div class="container">
  <div class="container-inner">
    <div class="edit" *ngIf="!editContent && self" (activate)="editContent = !editContent">
      <i class="far fa-pencil"></i>
      <span id="edit-profile">{{ copy.EDIT }}</span>
    </div>
    <div *ngIf="!editContent">
      <app-user-information [user]="user" [self]="self"></app-user-information>
    </div>
    <div *ngIf="editContent">
      <cube-app-user-edit-information [user]="user" [self]="self" (close)="closeEdit($event)"></cube-app-user-edit-information>
    </div>
  </div>
</div>