@import 'vars.scss';

.details-loading {
    text-align: center;
    color: $dark-grey;
    padding-top: 200px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: $large;
  
    .svg-inline--fa {
      display: block;
      color: $light-blue;
      font-size: 30px;
      margin-bottom: 10px;
    }
  }