@import 'vars.scss';

.header { 
    background: white; 
}

.bold {
    font-weight: bold;
  }

.banner {
    background: $blue-gradient;
    border-radius: 0px;
    height: 300px;
    position: relative;
    box-shadow: none;

    &:after {
        content: '';
        background: white;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        opacity: 0.03;
        mask: $cube-pattern repeat;
    }
}

.img {
    display: block; 
    max-width: 180px;
    width: 100%;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
    background: url(/assets/images/user.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: -180px;
    z-index: 2;

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.container { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
    margin-top: -120px;
    margin-bottom: 50px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
    position: relative;

    .container-inner { 
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding-top: 120px; 
        margin-bottom: 0px;

        .edit {
            position: absolute;
            top: 20px;
            right: 20px;
            color: $blue-accent;
            font-size: $normal;

            .svg-inline--fa {
                font-size: $normal;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
                border-bottom: 1px solid $blue-accent;
            }
        }

        .gravatar {
            position: absolute;
            top: 20px;
            right: 20px;
            color: $blue-accent;
            font-size: $large;

            .svg-inline--fa {
                font-size: $larger;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
                border-bottom: 1px solid $blue-accent;
            }
        }
    }
}

@media (max-width: 750px) {

    .img {
        max-width: 140px !important;
        margin-top: -100px !important;
    }

    .banner {
        height: 150px;
    }

    .container {
        width: calc(100% - 20px);
        margin-top: -80px;

        .container-inner {
            padding-top: 80px !important;
        }
        
        .edit {
            font-size: $small;
            right: 0px !important;

            & > *:not(.svg-inline--fa) {
                display: none !important;
            }

            .svg-inline--fa {
                margin-right: 0px !important;
                text-decoration: none !important;
            }
        }
    }
}
