
<div class="banner">
  <particles [params]="particleParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</div>
<img [src]="getGravatarImage()" class = "img">
<div class="container">
  <div class="container-inner">
    <div class="edit" *ngIf="!editContent && self" (click)="editContent = !editContent" ><i class="far fa-pencil"></i> Edit Profile</div>
    <div *ngIf="!editContent">
      <app-user-information [user]="user" [self]="self"></app-user-information>
    </div>
    <div *ngIf="editContent">
      <app-user-edit-information [user]="user" [self]="self" (close)="closeEdit($event)"></app-user-edit-information>
    </div>
</div>
</div>






























<!--To be implemented-->
<!-- <section *ngIf="objectsDownloaded.length > 0" class="cart-items">
      <h3>{{name.split(' ')[0]}} has created {{objectsCreated.length}} learning objects:</h3>
      <learning-object-component *ngFor="let learningObject of objectsDownloaded" [learningObject]="learningObject">{{ learningObject.name }}</learning-object-component>
    </section> -->

<!--To be implemented-->
<!-- <section *ngIf="objectsDownloaded.length > 0" class="cart-items">
    <h3>{{name.split(' ')[0]}} has downloaded {{objectsDownloaded.length}} learning objects:</h3>
    <learning-object-component *ngFor="let learningObject of objectsDownloaded" [learningObject]="learningObject">{{ learningObject.name }}</learning-object-component>
  </section> -->



    
    <!--<div>
      <button id="margin-between"  *ngIf="editContent !== 1" (click)="editContent=1">Edit User Information</button>
      <button id="margin-between"  *ngIf="editContent === 1" (click)="editContent=0">Save Changes</button>
      <button id="bottom-margin" *ngIf="editContent === 1" (click)="editContent=0">Cancel</button>
    </div>-->
    <!--<button id="margin-between" (click)="showContent=1">View Created Modules </button>
    <button id="bottom-margin" (click)="showContent=2">View Downloaded Modules</button>-->







   <!-- <div *ngIf="showContent === 1">
      <h3>
        <strong>Modules Created:</strong> {{modulesCreated}}
      </h3>
      <h4 *ngIf="modulesCreated === 0">{{name.split(' ')[0]}} hasn't created any learning objects yet!</h4>
      <section *ngIf="modulesCreated > 0" class="cart-items">
        <h3>{{name.split(' ')[0]}} has created {{modulesCreated}} learning objects:</h3>
        <learning-object-component *ngFor="let learningObject of objectsDownloaded" [learningObject]="learningObject">{{ learningObject.name }}</learning-object-component>
      </section> 
    </div>
    <div *ngIf="showContent === 2">
      <h3>
        <strong>Modules Downloaded:</strong> {{obj}}
      </h3>
      <h4 *ngIf="modulesDownloaded === 0">{{name.split(' ')[0]}} hasn't downloaded any learning objects yet!</h4>
      <section *ngIf="modulesCreated > 0" class="cart-items">-->
        <!--<h3>{{name.split(' ')[0]}} has created {{modulesDownloaded}} learning objects:</h3>-->
       <!-- <learning-object-component *ngFor="let learningObject of " [learningObject]="learningObject">{{ learningObject.name }}</learning-object-component> 
      </section> -->
