<div class="row-item">
    <div class="left">
        <div
            tabindex="0"
            class="status"
            [attr.aria-label]="
                'Learning Object Status: ' +
                statusLabel +
                '. ' +
                statusDescription
            "
            [ngClass]="learningObject.status"
            [tip]="statusDescription"
            [tipDisabled]="!statusDescription"
            tipPosition="top">
            <span><i class="fas" [ngClass]="statusIcon"></i></span>
        </div>
        <div>
            {{
                learningObject.name.length > 40
                    ? (learningObject.name | slice: 0 : 40) + "..."
                    : learningObject.name
            }}
        </div>
    </div>
    <div class="right">
        <div>{{ learningObject.length | titlecase }}</div>
        <div>
            {{
                learningObject.assigned
                    ? learningObject.assigned.length
                    : (0 | titlecase)
            }}
            Evaluator<span
                *ngIf="
                    learningObject.assigned &&
                    learningObject.assigned.length !== 1
                "
                >s</span
            >
        </div>
    </div>
</div>
