<div class="wrapper">
    <div class="first">
        <h1>
            Teach Cyber Today... <br />
            Secure Tomorrow
        </h1>
        <p>
            CLARK is the largest platform that provides <strong>FREE</strong> cybersecurity curriculum. It is home to high-value, high-impact 
            cyber curriculum created by top educators and reviewed for relevance and quality. Whether you’re looking to teach something new tomorrow, 
            align with curriculum guidelines and standards, or refine your current course, CLARK has free resources ready for you to use!
        </p>
        <button id="pageContent" (click)="this.googleTagService.triggerGoogleTagEvent('browse_learning_objects', 'homepageRedirect', 'splashBrowse')" [routerLink]="'/browse'">BROWSE {{ numReleasedObjects | number }}+ LEARNING OBJECTS</button>
        <a href="https://caeresource.directory/" target="_blank"><button id="pageContent" class="card" (click)="leavingSite()" [tip]="'You will be redirected to the CAE Resource Directory'">BROWSE {{ resourceCount | number }}+ RESOURCES</button></a>
    </div>
    <div class="second">
        <iframe 
        src="https://www.youtube.com/embed/wXlZZjq0lDo" 
        title="What is CLARK?" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
        >
        </iframe>
    </div>
</div>

