
<div class="header">
  <div class="title">
    Learning Object Topics
  </div>
</div>

<ng-template [ngIf]="topics && topics.length > 0" class="learning-object-topics scroll-wrapper">
  <div class="pills" >
    <div *ngFor="let t of topics; let i = index" class="pill" role="button" [ngClass]="{'pill-selected': store.topics.includes(t._id)}" (activate)="toggleTopics(t)"> 
      <span >{{ t.name }}</span>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="loading">
  <div class="loading-template">
    <i class="fal fa-spinner-third fa-spin"></i>
    Loading...
  </div>
</ng-template>
  
<ng-template [ngIf]="topics?.length === 0">
  <div class= "no-children">
    No topics were found!  
  </div>
</ng-template>
