
<div class="header">
    <div class="title">
      Learning Object Topics
    </div>
</div>
<ng-template [ngIf]="topics && topics.length > 0" class="learning-object-topics">
  <div class="pills" >
    <div *ngFor="let t of topics; let i = index" class="pill"> 
      <span (activate)="toggleTopics(t)" [ngClass]="{'tagged': tagged}">{{ t }}</span>
      <!-- <div class = "info">
        <div class = "top-row">
          <div class = "child-title" [tip]="c.name" tipPosition="top">{{c.name}}</div>
        </div>
        <div class = "bottom-row">
        <div [ngClass]="c.length" class="child-length" >{{c.length | titlecase}}</div>
          <div class = "child-last-updated">{{c.date |  date:'shortDate'}}</div>
        </div>
      </div>
      <div tabindex="0" attr.aria-label="Move {{ c.name }}" [ngStyle]="{display: editContent ? 'none' : 'block'}" class="hamburger-handle" cdkDragHandle>
        <i class="fas fa-bars"></i>
      </div>
      <button attr.aria-label="Delete {{ c.name }}" [ngStyle]="{display: editContent ? 'block' : 'none'}" class="delete" (activate)="deleteButton(i)">
        <i class="far fa-trash-alt"></i>
      </button> -->
    </div>
  </div>
</ng-template>

  <ng-template [ngIf]="loading">
    <div class="loading-template">
      <i class="fal fa-spinner-third fa-spin"></i>
      Loading...
    </div>
  </ng-template>
  
  <ng-template [ngIf]="topics?.length == 0">
    <div class= "no-children">
      No topics were found!  
    </div>
  </ng-template>
