<div class="splash">
  <div class="inner">
    <div class="header">
      <div class="name">{{ learningObject.name }}</div>
      <div class="author">Created by
        <span [routerLink]="['/users', learningObject.author.username]" class="link" id="author-link">{{learningObject.author.name | titlecase}}</span> - 
        <span [routerLink]="['/organization', learningObject.author.organization]" class="link">{{learningObject.author.organization | titlecase}}</span>
        , updated {{ learningObject.date | date:'shortDate' }}</div>
        <div *ngIf="learningObject.contributors?.length" class="author">Contributors:
          <span *ngFor="let contributor of learningObject.contributors; let i = index;">
              <span class="link" [routerLink]="['/users', contributor.username]">{{ contributor.name | titlecase }}</span>
            - <span [routerLink]="['/organization', contributor.organization]" class="link">{{contributor.organization | titlecase}}</span>
            <span *ngIf="i !== learningObject.contributors.length -1">, </span>
          </span>
        </div>
        <div class="header-bottom">
          <div class="rating">
            <clark-rating-stars [rating]="averageRating" [reviewsCount]="ratings?.length"></clark-rating-stars>
            <a *ngIf="canRate"  id="write-review" (click)="showRatingPopup()">Write a review</a>
            <span class="emailNotVerified" *ngIf="!canRate && !owned" tip="Please log in and verify your email to rate this learning object.">
              <i class="far fa-question-circle"></i>
            </span>
          </div>
          <div [ngClass]="learningObject.length" class="type">{{ learningObject.length }}</div>
        </div>
        <span [class.collection-link]="learningObject.collection === 'c5' || learningObject.collection === 'nccp'" routerLink="/c/{{learningObject.collection}}">
          <div class="collection">
            <div class="collection-image" [ngStyle]="{'background-image': 'url(/assets/images/collections/' + collectionImage + ')'}"></div>
            <div class="collection-name">{{ collections.get(learningObject.collection)}}</div>
          </div>
        </span>
    </div>
  </div>
</div>