<div class="splash">
  <div class="inner">
    <div class="header">
      <div class="name">{{ learningObject.name }}</div>
      <div class="author">Created by
        <span [routerLink]="['/users', learningObject.author.username]" class="link">{{learningObject.author.name + " - " + learningObject.author.organization | titlecase}}</span>, updated {{ learningObject.date
        | date:'shortDate' }}</div>
        <div *ngIf="learningObject.contributors" class="author">Contributors:
          <span *ngFor="let contributor of learningObject.contributors; let i = index;" class="link" [routerLink]="['/users', contributor._username]">{{ contributor._name + " - " + contributor._organization | titlecase }}
            <span *ngIf="i !== learningObject.contributors.length -1">, </span>
          </span>
        </div>
      <div [ngClass]="learningObject.length" class="type">{{ learningObject.length }}</div>
    </div>
  </div>
</div>