

.container{
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: repeat(3, auto);
    column-gap: 100px;
}
@media (max-width: 800px){
    .container{
        grid-template-columns: auto;
    }
}
