<div *ngIf="learningObject" class="details-wrapper" [ngClass]="learningObject.length">
  <div class="splash">
    <div class="inner">
      <div class="header">
        <div class="name">{{ learningObject.name }}</div>
        <div class="author">Created by
          <span [routerLink]="['/users', learningObject.author.username]" class="link">{{learningObject.author.name | titlecase}}</span> - 
          <span [routerLink]="['/organization', learningObject.author.organization]" class="link">{{learningObject.author.organization | titlecase}}</span>
          , updated {{ learningObject.date | date:'shortDate' }}</div>
        <div *ngIf="learningObject.contributors" class="author">Contributors:
          <span *ngFor="let contributor of contributorsList; let i = index;">
             <span class="link" [routerLink]="['/users', contributor.username]">{{ contributor.name | titlecase }}</span>
            - <span [routerLink]="['/organization', contributor.organization]" class="link">{{contributor.organization | titlecase}}</span>
            <span *ngIf="i !== contributorsList.length -1">, </span>
          </span> 
        </div>
        <div class="header-bottom">
          <div class="rating">
            <clark-rating-stars [rating]="averageRating" [reviewsCount]="ratings?.length" (click)="scrollToRatings()"></clark-rating-stars>
            <a (click)="showAddRating = true;">Write a review</a>
          </div>
          <div class="type">{{ learningObject.length }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="content">
      <div class="description">
        <div class="title">Description</div>
        <p [innerHtml]="learningObject.goals[0].text"></p>
      </div>
      <cube-outcomes-detail-view [outcomes]="learningObject.outcomes"></cube-outcomes-detail-view>
      <div class="materials">
        <onion-file-details [length]="learningObject.length" [materials]="learningObject.materials"></onion-file-details>
      </div>
      <div #ratingsWrapper class="ratings">
        <button *ngIf="!isMobile" class="button good" (click)="showAddRating = true">{{ userRating.date ? 'Edit your' : 'Write a'}} review <i class="far fa-pencil"></i></button>
        <clark-learning-object-ratings [ratings]="ratings" [averageRating]="averageRating" (editRating)="showAddRating = true;" (deleteRating)="deleteRating($event)"></clark-learning-object-ratings>
      </div>
    </div>
    <div class="sidebar">
      <div class="inner">
        <div *ngIf="!canDownload" class="download-warning" tip="This learning object is pending review by the NCCP Review Team and may be downloaded when the review is complete." tipLocation="top">
          <i class="fas fa-exclamation"></i>Review Pending
        </div>
        <div class="btn-group vertical" [ngClass]="{'no-download': !canDownload}">
          <div tip="{{ tips.DOWNLOAD_NOW }}" tipLocation="top" tipDisabled="{{canDownload}}" [ngClass]="{'disabled': !auth.user || !canDownload || downloading}"
            class="button good" (click)="addToCart(true)">
            <span *ngIf="canDownload">{{!downloading ? 'Download Now' : 'Downloading'}}
              <span *ngIf="downloading">
                <i class="fal fa-spinner-third fa-spin"></i>
              </span>
            </span>
            <span *ngIf="!canDownload">Not available for download</span>
          </div>
          <div [ngClass]="{'disabled': !auth.user, 'saved': saved}" class="button neutral on-white" (click)="addToCart()">
            {{ saved ? 'Saved to your library!' : 'Save to Library' }}
            <span *ngIf="addingToLibrary">
              <i class="fal fa-spinner-third fa-spin"></i>
            </span>
          </div>
        </div>
        <ng-container *ngIf="!auth.user">
          <div class="login-msg">Please
            <a [routerLink]="['/auth/login']">log in</a> to add this Learning Object to your library.</div>
        </ng-container>
        <div class="details-metrics">
          <div>
            <i class="far fa-save"></i>
            <span #savesRef>{{ learningObject?.metrics.saves }}</span> save{{ (learningObject?.metrics.saves) !== 1 ? 's' : '' }}
          </div>
          <div>
            <i class="far fa-download"></i>
            <span>{{ learningObject?.metrics.downloads }}</span> download{{ (learningObject?.metrics.downloads) !== 1 ? 's' : '' }}
          </div>
        </div>
        <div class="details-share">
          <div class="share-title"></div>
          <div class="share-icons">
            <button (click)="shareButton($event, 'facebook')" class="facebook"><i class="fab fa-facebook"></i></button>
            <button (click)="shareButton($event, 'twitter')" class="twitter"><i class="fab fa-twitter"></i></button>
            <button (click)="shareButton($event, 'linkedin')" class="linkedin"><i class="fab fa-linkedin"></i></button>
            <button (click)="shareButton($event, 'email')" class="email"><i class="fas fa-envelope"></i></button>
            <button (click)="shareButton($event, 'copyLink')" class="copylink"><i class="fas fa-clipboard"></i></button>
            <textarea #objectLinkElement readonly="true" value="{{url}}" style="position: fixed; opacity: 0; width: 0; height: 0;"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [id]="iframeParent"></div>
</div>
<div class="new-rating-wrapper" [ngClass]="{'active': showAddRating}" (click)="showAddRating = false;">
  <div class="new-rating" (click)="$event.stopPropagation()">
    <div class="close-new-rating" (click)="showAddRating = false;"><i class="far fa-times"></i></div>
    <div class="title">Rate this Learning Object</div>
    <clark-new-rating [rating]="userRating.number" [comment]="userRating.comment" [editing]="userRating.date ? true : false" (setRating)="submitNewRating($event)" (cancelRating)="showAddRating = false;"></clark-new-rating>
  </div>
</div>
