@import '~_vars.scss';

.details-wrapper {
  width: 100%;
  padding-bottom: 20px;

  $sidebar-width: 350px;
  $content-width: calc(#{$max-width} - #{$sidebar-width});

  &.nanomodule {
    .type {
      background: $nanomodule-color;
    }
  }

  &.micromodule {
    .type {
      background: $micromodule-color;
    }
  }

  &.module {
    .type {
      background: $module-color;
    }
  }

  &.unit {
    .type {
      background: $unit-color;
    }
  }

  &.course {
    .type {
      background: $course-color;
    }
  }

  .splash {
    background: $blue-gradient;
    padding: 50px 0px;
    position: relative;

    &:after {
      content: '';
      background: white;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      opacity: 0.03;
      mask: $cube-pattern repeat;
    }

    .inner {
      max-width: $max-width;
      margin: auto;
      padding: 20px;
      box-sizing: border-box;
      z-index: 1;

      .header {
        max-width: $content-width;
        padding-right: 20px;
      }

      .name {
        font-size: 40px;
        color: white;
        text-shadow: 0px 0px rgba(0, 0, 0, 0.2);
      }

      .author,
      .downloads {
        color: white;
        font-size: 18px;
        font-weight: 300;
      }

      .type {
        margin-top: 5px;
        padding: 3px 8px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        color: white;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 300;

        &:before {
          content: '';
          border-radius: 50%;
          width: 10px;
          height: 10px;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
        }
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    max-width: $max-width;
    margin: auto;

    .content {
      max-width: $content-width;
      padding: 20px;
      flex-shrink: 1;
      flex-grow: 1;
      height: auto;

      .description,
      .outcomes {
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 20px;
        border-radius: 2px;
        padding: 20px;
        color: $dark-text;
        margin-bottom: 40px;

        .title {
          color: black;
          font-size: 22px;
          margin-bottom: 20px;
        }

        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        li {
          font-size: 18px;
          width: 45%;
          margin-bottom: 10px;

          .svg-inline--fa {
            margin-top: 3px;
            margin-right: 15px;
          }
        }
      }
      .description {
        background: #fff;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
      }

      .outcomes {
        background: desaturate(lighten($blue-accent, 55), 20);
      }
    }

    .sidebar {
      max-width: $sidebar-width;
      padding: 20px;
      flex-shrink: 0;
      flex-grow: 1;
      margin-top: -100px;
      z-index: 2;

      .inner {
        background: white;
        border-radius: 2px;
        box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
        padding: 20px;

        .button {
          overflow: hidden;
          text-align: center;
          font-size: 16px;
          margin-bottom: 10px;
          position: relative;

          &.disabled {
            cursor: default !important;
            opacity: 0.4 !important;
            border-color: $dark-text !important;
            pointer-events: none;

            &.good {
              background: $dark-text !important;
            }

            &.neutral {
              color: $dark-text !important;
            }
          }

          &.saved {
            cursor: default !important;
            pointer-events: none;
            border-color: transparent;
            color: $green;
            box-shadow: none;
          }
        }

        .login-msg {
          margin-top: 20px;
          font-size: 16px;
          color: $dark-text;

          span {
            color: $blue-accent;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .details-metrics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: lighten($dark-text, 20);
        margin-top: 30px;

        & > * {
          
          span {
            position: relative;

            &.animate {
              animation: newSaveOrDownload 0.8s ease;
            }
          }

          &:first-child {
            margin-right: 20px;
          }
        }

        .svg-inline--fa {
          margin-right: 5px;
        }
      }

      .details-share {
        margin-top: 30px;

        .share-title {
          position: relative;
          
          &:before {
            content: 'Share';
            color: $dark-text;
            text-align: center;
            padding: 0px 10px;
            background: white;
            position: absolute;
            z-index: 2;
            left: 30%; right: 30%;
            text-align: center;
            bottom: -7px;
          }

          &:after {
            content: '';
            position: absolute;
            height: 1px;
            background: lighten($dark-text, 40);
            width: 100%;
            left: 0;
            bottom: 0;
          }
        }

        .share-icons {
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          button {
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: 0;
          }

          a {
            color: white !important;
            text-decoration: none !important;
          }

          & > button {
            display: block;
            min-width: 30px;
            height: 30px;

            background: $blue-accent;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white !important;
            font-size: 18px;
            transition: all 0.2s ease;
            transform: scale(1);
            cursor: pointer;
            flex-shrink: 0;
            flex-grow: 0;

            &:hover:not(.animated) {
              transform: scale(1.1);
            }

            &:active:hover {
              transform: scale(0.95);
            }

            &.animated {
              animation: jiggle 0.4s linear;
            }

            &.facebook {
              background: #3b5998;
            }

            &.twitter {
              background: #1da1f2;
            }

            &.linkedin {
              background: #0077B5;
            }

            &.email {
              background: $error-red;
            }

            &.copylink {
              background: $green;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .flex {
    flex-direction: column-reverse !important;

    .sidebar {
      margin: auto;
      margin-top: 0px !important;
    }
  }
}

.author {
  .link {
    color: #fff;
    opacity: 1;
    font-weight: 400;
  }
  .link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@keyframes newSaveOrDownload {
  0% {
    bottom: 0;
    opacity: 1;
  } 50% {
    bottom: 10px;
    opacity: 0;
  } 51% {
    bottom: -10px;
    opacity: 0;
    color: $green;
  } 100% {
    bottom: 0;
    opacity: 1;
    color: inherit;
  }
}

@keyframes jiggle {
  0% {
    transform: scale(1);
  } 25% {
    transform: scale(0.95);
  } 50% {
    transform: scale(1.1);
  } 75% {
    transform: scale(0.95);
  } 100% {
    transform: scale(1);
  }
}