<div *ngIf="learningObject" class="details-wrapper" [ngClass]="learningObject.length">
  <div class="splash">
    <particles [params]="particleParams" [style]="myStyle" [width]="width" [height]="height"></particles>
    <div class="inner">
      <div class="header">
        <div class="name">{{ learningObject.name }}</div>
        <div class="author">Created by {{learningObject.author.name}}, updated {{ date | date:'shortDate' }}</div>
        <div class="type">{{ learningObject.length }}</div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="content">
      <div class="goals">
        <div class="title">Description</div>
        <p [innerHtml]="learningObject.goals[0].text"></p> 
      </div>
      <cube-outcomes-detail-view [outcomes]="learningObject.outcomes"></cube-outcomes-detail-view>
      
      <onion-file-details [materials]="learningObject.materials"></onion-file-details>
    </div>
    <div class="sidebar">
      <div class="inner">
        <div [ngClass]="{'disabled': !auth.user}" class="button good" (click)="addToCart(true)">Download Now</div>
        <div [ngClass]="{'disabled': !auth.user, 'saved': saved}" class="button neutral on-white" (click)="addToCart()">{{ saved ? 'Saved to your library!' : 'Add to Library' }}</div>
        <ng-container *ngIf="!auth.user">
          <div class="login-msg">Please
            <span [routerLink]="['/auth/login']">log in</span> to add this Learning Object to your library.</div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
