@import '~_vars.scss';

.details-wrapper {
  width: 100%;
  padding-bottom: 20px;

  $sidebar-width: 350px;
  $content-width: calc(#{$max-width} - #{$sidebar-width});

  &.nanomodule {
    .type {
      background: $nanomodule-color;
    }
  }

  &.micromodule {
    .type {
      background: $micromodule-color;
    }
  }

  &.module {
    .type {
      background: $module-color;
    }
  }

  &.unit {
    .type {
      background: $unit-color;
    }
  }

  &.course {
    .type {
      background: $course-color;
    }
  }

  .splash {
    background: linear-gradient(
      45deg,
      desaturate(darken($blue-accent, 20), 15),
      $blue-accent
    );
    padding: 50px 0px;
    position: relative;

    ::ng-deep .particles-container {
      opacity: 0.3;
    }

    .inner {
      max-width: $max-width;
      margin: auto;
      padding: 20px;
      box-sizing: border-box;

      .header {
        max-width: $content-width;
        padding-right: 20px;
      }

      .name {
        font-size: 40px;
        color: white;
        text-shadow: 0px 0px rgba(0, 0, 0, 0.2);
      }

      .author,
      .downloads {
        color: white;
        font-size: 18px;
        font-weight: 300;
      }

      .type {
        margin-top: 5px;
        padding: 3px;
        border-radius: 1px;
        display: inline-block;
        position: relative;
        color: white;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 300;

        &:before {
          content: '';
          border-radius: 50%;
          width: 10px;
          height: 10px;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
        }
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    max-width: $max-width;
    margin: auto;

    .content {
      max-width: $content-width;
      padding: 20px;
      flex-shrink: 1;
      flex-grow: 1;
      height: auto;

      .goals,
      .outcomes {
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 20px;
        border-radius: 2px;
        padding: 20px;
        background: desaturate(lighten($blue-accent, 55), 20);
        color: $dark-text;
        margin-bottom: 40px;

        .title {
          color: black;
          font-size: 22px;
          margin-bottom: 20px;
        }

        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        li {
          font-size: 18px;
          width: 45%;
          margin-bottom: 10px;

          .svg-inline--fa {
            margin-top: 3px;
            margin-right: 15px;
          }
        }
      }
    }

    .sidebar {
      max-width: $sidebar-width;
      padding: 20px;
      flex-shrink: 0;
      flex-grow: 1;
      margin-top: -100px;
      z-index: 2;

      .inner {
        background: white;
        border-radius: 2px;
        box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
        padding: 20px;

        .button {
          overflow: hidden;
          text-align: center;
          font-size: 16px;
          margin-bottom: 10px;
          position: relative;

          &.disabled {
            cursor: default !important;
            opacity: 0.4 !important;
            border-color: $dark-text !important;
            pointer-events: none;

            &.good {
              background: $dark-text !important;
            }

            &.neutral {
              color: $dark-text !important;
            }
          }

          &.saved {
            cursor: default !important;
            pointer-events: none;
            border-color: transparent;
            color: $green;
            box-shadow: none;
          }
        }

        .login-msg {
          margin-top: 20px;
          font-size: 16px;
          color: $dark-text;

          span {
            color: $blue-accent;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .flex {
    flex-direction: column-reverse !important;

    .sidebar {
      margin: auto;
      margin-top: 0px !important;
    }
  }
}

.author {
  .link {
    color: #fff;
    opacity: 1;
    font-weight: 400;
  }
  .link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
