<div class="collections">
    <div class="title-text">
      <div class="title__icon">
        <i class="fas fa-shield-check"></i>
      </div>
      Securing the nation through education
    </div>
    <div class="what__description">
      {{ copy.WHAT_BLURB }}
      <a routerLink="/about">Learn more</a>
    </div>
    <div class="what__actions">
        <div class="about__link">
            <div role=button class="play-button" (activate)="openModal()" aria-label="Play CLARK Video"><i class="fal fa-play-circle"></i><span class="button-text">Watch our video</span></div>
        </div>
    </div>
  </div>




  <!--Modal Content-->
  <clark-popup [floating]="true" *ngIf="openVideoModal" (closed)="closeModal()">
    <div #popupInner class="popup-inner">
      <iframe
        width="560"
        height="300"
        src="https://www.youtube.com/embed/ADbBWaqAsDs"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div> 
  </clark-popup>