<div class="collections">
    <div class="title-text">
      <div class="title__icon">
        <i class="fas fa-shield-check"></i>
      </div>
      Securing the nation through education
    </div>
    <div class="what__description">
      {{ copy.WHAT_BLURB }}
    </div>
    <div class="what__actions">
        <div class="about__link">
            <button class="button good">Watch Video</button>
            <a routerLink="/about">Learn more</a>
        </div>
        <p>bi</p>
    </div>
  </div>