@import '~_vars.scss';
@import '../../home';

.title-text {
    color: $light-blue;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title__icon {
    margin: auto;
    margin-bottom: 20px;
  }

  .what__description {
    max-width: 800px;
    margin: auto;
    font-size: $large;
    color: $dark-grey;
    text-align: center;

    a {
      color: $light-blue;
      font-size: $normal;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .what__actions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .about__link {
    margin-top: 20px;
    display: inline-block;

    .play-button {
      background: transparent;
      border: none;
      font-size: $larger;
      color: $light-blue;

    }

    .button-text {
      margin-left: 5px;
      color: $dark-grey;

      &:hover {
        text-decoration: underline;
      }
    }

  }