<div class="learning-object-ratings">
  <div class="title">
    Reviews
  </div>
  <div class="overall-rating">
    <clark-rating-stars [color]="'gold'" [size]="22"  [reviewsCount]="ratings?.length"></clark-rating-stars>
  </div>
  <div class="ratings-list">
    <div *ngFor="let rating of ratings; let i = index;" class="rating-list-element">
      <a [routerLink]="['/users', rating.user.username]">
        <div class="rating-user">
          <img [src]="userService.getGravatarImage(rating.user.email, 45)" class="user-image" /> 
          <div class="user-name">
            <span>{{ rating.user.username }}</span>
            <!-- TODO implement check for verified user here -->
            <div *ngIf="false" class="verified"><i class="far fa-check-circle"></i>verified user</div>
          </div>
        </div>
      </a>
      <div *ngIf="isAuthor(i)" id="auth-buttons">
        <button class="auth-button" id="edit" (click)="submitEditRating(i)"><i class="far fa-pencil"></i></button>
        <button class="auth-button" id="delete" (click)="submitDeleteRating(i)"><i class="far fa-times"></i></button>
      </div>
      <clark-rating-stars [rating]="rating.number" [color]="'gold'" [size]="18"></clark-rating-stars>
      <div class="rating-date">{{ getDate(rating.date) | date }}</div>
      <div class="rating-text">
        {{ rating.comment }}
      </div>
    </div>
  </div>
</div>
