<div class="wrapper">
    <div class="first">
        <h1>Securing the nation through education</h1>
        <p>
            CLARK, the Cybersecurity Labs and Resource Knowledge-base,
            is a platform for building and sharing free cybersecurity
            curricula. It includes a model for building curriculum, the
            digital library system, and distinct curriculum collections.
        </p>
        <p>
            CLARK fulfills a demonstrated need for a high-quality and
            high-availability repository for curricular resources for 
            the cybersecurity education community. It provides cybersecurity
            educators with the building blocks to train the next wave
            of researchers and better prepare the cybersecurity workforce.
        </p>
    </div>
    
    <div class="second">
        <div class="clark-quality">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-cloud fa-stack-1x"></i>
            </span>
            <h2>Easy In / Easy Out</h2>
            <p>
                Register today with a valid email address and you’re all set! All curriculum released on CLARK is free and can be easily found, 
                downloaded, reused and remixed under the 
                <a
                href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> 
                license. You can also easily build your own curriculum and develop learning outcomes using Bloom’s Taxonomy.
            </p>
        </div>
        
        <div class="clark-quality">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-star fa-stack-1x"></i>
            </span>
            <h2>Quality Curriculum</h2>
            <p>
                All curriculum available on CLARK has been reviewed for relevance and usability  in the modern cyber landscape. 
                Prior to being publicly available all materials are reviewed by a team of quality advocates who work with curriculum 
                authors to refine their materials. 
            </p>
        </div>
        
        <div class="clark-quality">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-history fa-stack-1x"></i>                
            </span>
            <h2>Relevant</h2>
            <p>
                All learning objects undergo a relevancy review on CLARK. This ensures that the curriculum is updated with the latest trends. 
                To learn more about our relevancy review process, check out our 
                <a 
                href="https://securedteam.notion.site/securedteam/Curriculum-Relevancy-on-CLARK-324ca3b482644068affe46c1ccbd28ff" 
                target="_blank"
                >
                blog.
                </a>
            </p>
        </div>
        
    </div>    
</div>
