<div class="wrapper">
    <div class="first">
        <h1>Securing the nation through education</h1>
        <p>
            CLARK, the Cybersecurity Labs and Resource Knowledge-base,
            is a platform for building and sharing free cybersecurity
            curricula. It includes a model for building cirriculum, the
            digital library system, and distinct curriculum collections.
        </p>
        <p>
            CLARK fulfills a demonstrated need for a high-quality and
            high-availability repository for curricular resources for 
            the cybersecurity education community. It provides cybersecurity
            educators with the building blocks to train the next wave
            of researchers and better prepare the cybersecurity workforce.
        </p>
    </div>
    
    <div class="second">
        <div class="clark-quality">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-cloud fa-stack-1x"></i>
            </span>
            <h2>Easy In / Easy Out</h2>
            <p>
                Register today with a valid email address and you’re all set! 
                You can easily build your curriculum and develop learning outcomes using Bloom’s Taxonomy. 
                All curriculum released on CLARK is free and can be easily found and 
                downloaded through the browse page.
            </p>
        </div>
        
        <div class="clark-quality">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-star fa-stack-1x"></i>
            </span>
            <h2>Quality Curriculum</h2>
            <p>
                All curricula undergo a review process determined by the collection each one is submitted to. 
                Each collection has active curators reviewing and releasing learning objects checking for 
                not only the relevance of the topic to cyber education, but also for grammar and spelling, 
                accessibility, and the overall format of your curriculum.
            </p>
        </div>
        
        <div class="clark-quality">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-history fa-stack-1x"></i>                
            </span>
            <h2>Relevant</h2>
            <p>
                All learning objects undergo a relevancy review on CLARK. 
                This ensures that the curriculum stays not only relevant to the cyber community, 
                but also keeps the curriculum updated with modern examples and solutions to uphold the integrity 
                of these free resources so that they can always be used as “off-the-shelf” lessons in the classroom. 
                To learn more about our relevancy review process, check out our 
                <a 
                href="https://securedteam.notion.site/securedteam/Curriculum-Relevancy-on-CLARK-324ca3b482644068affe46c1ccbd28ff" 
                target="_blank"
                >
                blog.
                </a>
            </p>
        </div>
        
    </div>    
</div>
