<clark-column-wrapper>
    <div left>
        <clark-scaffold
            *ngIf="learningObject?.length !== 'nanomodule'"
            [learningObject]="learningObject"></clark-scaffold>
    </div>
    <div main>
        <div
            *ngIf="learningObject; else loadingTemplate"
            class="content-wrapper">
            <form>
                <clark-info-page-metadata
                    [error]="validator.get('name') || undefined">
                    <div title class="field-label">
                        <i class="fa-solid fa-asterisk required-asterisk"></i>
                        {{ copy.NAME }}
                    </div>
                    <div data>
                        <input
                            #nameInput
                            class="name-field"
                            [class.name-field--error]="validator.get('name')"
                            name="name"
                            type="text"
                            placeholder="Learning Object Name"
                            [value]="learningObject.name"
                            (input)="onNameInput(nameInput.value)" />
                    </div>
                </clark-info-page-metadata>
                <hr />
                <clark-info-page-metadata
                    [error]="validator.get('contributors') || undefined">
                    <div id="contributor-title" title class="field-label">
                        <i class="fa-solid fa-asterisk required-asterisk"></i>
                        {{ copy.CONTRIBUTORS }}
                        <span
                            class="help-icon"
                            [tip]="copy.CONTRIBUTORSTIP"
                            tipPosition="right">
                            <i class="far fa-info-circle"></i>
                        </span>
                    </div>
                    <div data>
                        <clark-user-dropdown
                            [contributors]="learningObject.contributors"
                            (addAuthor)="toggleContributor($event)"
                            (removeAuthor)="
                                toggleContributor($event)
                            "></clark-user-dropdown>
                        <div
                            *ngIf="learningObject.contributors?.length"
                            class="contributors-list">
                            <span>
                                <i class="far fa-user-alt"></i>
                            </span>
                            <clark-contributor-pill
                                class="contributors-list__pill"
                                *ngFor="let c of learningObject.contributors"
                                [user]="c"
                                (removeContributor)="
                                    toggleContributor(c)
                                "></clark-contributor-pill>
                        </div>
                    </div>
                </clark-info-page-metadata>
                <div class="attribution-preview bottom">
                    <b>Attribution preview: </b>
                    <i>{{
                        learningObject.name
                            ? learningObject.name
                            : "Learning Object Name"
                    }}</i>
                    by <i>{{ getContributorAttribution() }}</i
                    >,
                    <span
                        class="attribution-preview__collection"
                        [tip]="copy.COLLECTIONTIP"
                        tipPosition="top"
                        >{{ getCollectionAttribution() }}</span
                    >
                    is licensed under CC BY-NC-SA 4.0.
                </div>
                <hr />
                <clark-info-page-metadata>
                    <div title class="field-label">
                        {{ copy.LENGTH }}
                    </div>
                    <div data>
                        <clark-dropdown-filter
                            [name]="''"
                            [isMultiSelect]="false"
                            [allowEmptySelection]="false"
                            [values]="lengthOptions"
                            [selectedValues]="[learningObject.length]"
                            (selectionChange)="updateLength($event)">
                        </clark-dropdown-filter>
                    </div>
                </clark-info-page-metadata>
                <hr />
                <clark-info-page-metadata
                    [error]="validator.get('levels')"
                    [warning]="!validator.submissionMode">
                    <div title class="field-label">
                        {{ copy.LEVELS }}
                    </div>
                    <div data>
                        <div
                            class="topic-pills-container"
                            attr.aria-label="{{ copy.LEVELS }}">
                            <clark-pill
                                *ngFor="let level of academicLevels"
                                [label]="formatLevelLabel(level)"
                                [active]="selectedLevels.includes(level)"
                                ariaLabel="{{
                                    formatLevelLabel(level)
                                }} Selected: {{
                                    selectedLevels.includes(level)
                                }}"
                                (selected)="toggleLevel(level)"></clark-pill>
                        </div>
                    </div>
                </clark-info-page-metadata>
                <hr />
                <clark-info-page-metadata
                    [error]="
                        descriptionTouched || validator.submissionMode
                            ? validator.get('description')
                            : undefined
                    "
                    [warning]="!validator.submissionMode">
                    <div title class="field-label">
                        <i class="fa-solid fa-asterisk required-asterisk"></i>
                        {{ copy.QUESTION }}
                    </div>
                    <div data attr.aria-label="{{ copy.QUESTION }}">
                        <onion-learning-object-description
                            [learningObject]="learningObject"
                            (textOutput)="
                                mutateLearningObject({ description: $event })
                            "
                            (touched)="
                                descriptionTouched = true; cd.detectChanges()
                            "></onion-learning-object-description>
                    </div>
                </clark-info-page-metadata>
            </form>
        </div>
        <clark-skip-link
            title="Go to edit Learning Object name"
            skipLocation="form"></clark-skip-link>
        <clark-skip-link
            title="Go to Edit Children"
            skipLocation="children"></clark-skip-link>
    </div>
</clark-column-wrapper>

<ng-template #loadingTemplate>
    <div class="loading-template">
        <i class="far fa-spinner-third fa-spin"></i>
        Loading...
    </div>
</ng-template>
