/*This is the stylesheet for the basic information wrapper*/
@import "~_vars.scss";

/*This wrapper is for all of the basic information content*/
.content-wrapper {
  max-width: 758px;
  max-height: 1093px;
  background-color: white;
  margin: auto;
  align-content: center;
  border-radius: 5px;
}

#basic-information-title {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  margin: 0px 0px 20px 25px;
  padding-top: 20px;
}

/*This is a line to separate the different areas in the basic information section*/
hr {
  border-bottom: 1px solid rgb(211, 208, 208);
  margin: 0px;
}

/*This is styling for the input field for the learning object name*/
input.name-field {
  margin-top: 15px;
  padding: 7px;
  color: #9f9f9f;
  font-size: 16px;
  border: none;
  width: 522px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #2c7cda;
}
#select {
  margin-top: 30px;
}

/*This is styling for the academic levels list*/
.level-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;

  .level {
    text-transform: none;
    cursor: pointer;
    margin-right: 10px;
    background: #fff;
    color: $blue-accent;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 2px;
    border: 3px solid transparent;
    margin-top: 10px;
  }
  .level.selected {
    background: $blue-accent;
    color: #fff;
    box-shadow: none;
  }
}
/*This is styling for the text area*/
textarea {
  padding: 10px 10px 0;
  resize: vertical;
  margin-top: 20px;
  width: 90%;
  height: 200px;
}
