@import '~_vars.scss';
ul {
  list-style-type: none;
}

.cells {
  justify-content: flex-start !important;
  .cell {
    width: 20% !important;
    @include vert-center;
  }
}

.faux-table .row.columns {
  color: $dark-text;
  padding-left: 8px;
  padding-right: 8px;

  .placeholder {
    width: 32px;
    height: 35px;
  }
}

.wrapper {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  border-radius: 0;
}
.faux-table .row:not(.columns) {
  padding: 8px;
  // padding-left: 14px;
  margin-bottom: 0px;
  border-bottom: 1px solid lighten($blue-accent, 5);
  border-radius: 0px !important;
}