<div>
      <h1 class="title">{{name}}</h1>
      <input type="text" *ngIf="editContent === 1" [(ngModel)]="name">
      <p class="title">{{email}}</p>
      <input type="text" *ngIf="editContent === 1" [(ngModel)]="email">
      <p class="title">{{employer}}</p>
      <input type="text" *ngIf="editContent === 1" [(ngModel)]="employer">
</div>

<div>
    <ul>
        <li>
          <a routerLink="this.http.get(USER_ROUTES.GET_MY_LEARNING_OBJECTS({{this.username}})">
            <p>{{modules}}</p>
          </a>
        </li>
      </ul>
</div>