<!-- TODO:
  * Evaluate all SRP/CCP groupings for components
  *
-->

<div class="container" [attr.valid]="validate()">
  <div class="toolbar-inner">
    <div class="left"></div>
    <div class="right">
      <div class="ctrl_buttons">
        <button class="button bad icon-only" (click)="deleteOutcome()">
          <i class="far fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="container-flexer">
    <!-- TODO: .outcome_bloom convert to component due to SRP/CCP -->
    <onion-blooms-selector [default]="outcome._bloom" (bloom)="registerBloomsLevel($event)"></onion-blooms-selector>
    <div class="outcome_input">
      <div class="vert-center">{{ copy.PREFIX }} </div>
      <div class="select-wrapper">
        <select style="display: inline" [(ngModel)]="outcome._verb">
          <option *ngFor="let v of classverbs[outcome._bloom]; let i = index" [attr.value]="v" [attr.selected]="i == 0 ? true : null">{{ v }}</option>
        </select>
      </div>
      <!-- TODO: .outcome-input should grow to fill flex row of .outcome_input && rename classes -->
      <input id="outcome-text" #outcomeInput class="outcome-input" type="text" placeholder="Outcome Text" #outcomeValidate="ngModel" (focus)="updateFocus(index);"
        [(ngModel)]="outcome._text" [ngClass]="{'bad': errorStore.error === 'outcometext'}" (blur)="updateSidebarText()" />
    </div>
  </div>
  <onion-standard-outcomes>
    <onion-mappings-list [mappings]="mappings"></onion-mappings-list>
    <onion-suggestion-component [outcome]="outcomeSuggestionText" [mappings]="mappings"></onion-suggestion-component>
    <clark-browse-by-mappings-component (closed)="modalService.closeAll()" [mappings]="mappings" [dimensions]="{h: 600}" [showMappedOutcomesTitle]="true"></clark-browse-by-mappings-component>
  </onion-standard-outcomes>
</div>
