<div class="primary-navbar">
    <div class="logo">
        <span class="logo-image"></span>
        <span tabindex="0" id="clark-logo" class="logo-link">CLARK</span>
    </div>
    <div class="mid-bar">
        <div class="level-picker" (click)="openAcademicLevels()">All Academic Levels
            <span *ngIf="!levelsDropdown">
                <i class="fa fa-chevron-down"></i>
            </span>
            <span *ngIf="levelsDropdown">
                <i class="fa fa-chevron-up"></i>
            </span>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
        </div>
        <div class="search-button">
            <button><i class="fas fa-search"></i></button>
        </div>
    </div>
</div>