@import '~_vars.scss';

.skip-link {
  left: -100px;
  position: absolute;
  top: auto;
  width: 0;
  height: 0;
  z-index: -1;
}

.skip-link:focus, .skip-link:active {
  color: #fff;
  background-color:$light-blue;
  left: auto;
  width: 25%;
  height: auto;
  overflow:auto;
  margin: 10px;
  padding:5px;
  text-align:center;
  font-size:$normal;
  z-index:999;
}

.clark-search-wrapper {
  max-width: 600px;
  margin: auto;
  background: white;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 46px;
  height: 100%;
  transition: all 0.45s ease-out;

  .clark-search-inner {
    position: relative;
  }

  &.down {
    overflow: hidden;
    padding: 10px 0;
    max-height: 200px !important;

    .close {
      bottom: -70px !important;
      opacity: 1 !important;
    }
  }

  &.mobile {
    position: fixed;
    overflow: visible;
    top: -200px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    padding: 20px;
    max-width: none !important;
    max-height: none !important;
    height: auto;

    &.down {
      top: 0;
      opacity: 1;
      visibility: visible;
      max-height: auto !important;
    }
  }
}

// fixed position nav bar
.topbar {
  position: relative;
  width: 100%;
  padding: 10px;
  background: white;
  z-index: 4;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.08);
  color: $dark-grey;
  box-sizing: border-box;

  .inner {
    max-width: $max-width;
    box-sizing: border-box;

    & > * {
      max-height: 46px;
      box-sizing: border-box;

      &:not(.clark-search-wrapper) {
        transition: all 0.2s ease;
        transition-delay: 0.15s;
        opacity: 1;

        &.noShow {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  .flex {
    display: flex;

    &.h {
      flex-direction: row;
    }

    &.left-right {
      justify-content: space-between;
    }

    &.end {
      justify-content: flex-end;
    }
  }

  .logo {
    cursor: pointer;
    position: relative;
    left: 0;

    & > div {
      align-self: center;
    }

    .logo-image {
      background: url('/assets/images/logo.png');
      width: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      flex-shrink: 0;
      height: 100%;
    }

    .logo-link {
      font-size: $larger;
      font-weight: bold;
      padding-right: 15px;
      position: relative;
      margin-left: 10px;
      color: $dark-grey;
    }

    .right {
      padding-left: 15px;
      font-size: $large;
    }
  }

  .user {
    display: flex;
    justify-content: flex-end;
    font-size: $normal;
    cursor: pointer;
    flex-shrink: 0;
    right: 0;
    position: relative;
    background: transparent;
    border: none;

    & > * {
      display: inline-flex;
      align-self: center;
      cursor: pointer;
      color: $dark-grey;
    }

    &.loggedin,
    &.mobile {

      & > * {

        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }

    &.mobile {

      .mobile-search-option {
        font-size: $larger;
        border: none;
        background: transparent;
      }

      .hamburger {
        width: 25px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.2s ease;
        position: relative;
        box-sizing: content-box;
        background: transparent;
        border: 0;
        appearance: none;

        .bar {
          background: $dark-grey;
          border-radius: 2px;
          width: 25px;
          height: 3px;
          box-sizing: border-box;
          transition: all 0.2s ease;
          transition-delay: 0.03s;

          &:first-child {
            transition-delay: 0s;
          }

          &:last-child {
            transition-delay: 0.09s;
          }
        }

        &.active {

          .bar {
            width: 0;
          }
        }
      }
    }

    .left {
      display: flex;
      flex-direction: row !important;
      background: transparent;
      border: none;

      & > * {
        @include vert-center;
      }
    }

    .contributor {
      color: $dark-grey;
      font-size: $normal;
      padding-left: 10px;
      justify-content: space-between;
      display: inline-flex;
      flex-direction: row !important;
      align-items: center;
      background: transparent;
      border: none;

      .svg-inline--fa {
        font-size: $smaller;
        @include vert-center;
        margin-left: 7px;
      }
    }

    .user-menu .svg-inline--fa {
      font-size: $smaller;
      background: transparent;
      border: none;
      @include vert-center;
      margin-left: 7px;
    }

    .navbar-gravatar {
      margin-left: 8px;
      margin-right: 8px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0  1px 6px 2px rgba(0, 0, 0, 0.05);
    }
  }

  .login,
  .register {
    flex-direction: row !important;
    padding: 0 15px;
    color: $dark-grey;

    &:not(:last-child) {
      border-right: 1px solid $light-grey;
    }

    .svg-inline--fa {
      margin-left: 10px;
      @include vert-center;
    }
  }

}

.slideout-underlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: darken($light-blue, 35);
  z-index: 5;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;

  &.active {
    opacity: 0.8;
    visibility: visible;
  }

  &.underNav {
    z-index: 3 !important;
  }
}

.slideout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -285px;
  background: white;
  box-sizing: border-box;
  max-width: 80%;
  width: 285px;
  box-shadow: -2px 0 6px 2px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  transition: all 0.5s cubic-bezier(0.55, 0.11, 0.26, 0.91);
  transform: translateZ(0);
  visibility: hidden;

  &.active {
    visibility: visible;
    right: 0;
  }

  .slideout-section {
    padding: 20px;
    box-sizing: border-box;

    &.user {
      background: $light-grey;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      .img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 20px;
        box-shadow: 0  1px 6px 2px rgba(0, 0, 0, 0.05);
      }

      .right {
        flex: 1;
      }

      .greeting {
        font-size: $larger;
        color: $dark-grey;
      }

      a {
        color: $light-blue;
      }
    }

    &.menu-items {

      ul {
        padding: 0;
        margin: 0;

        li {
          font-size: $normal;
          cursor: pointer;
          list-style-type: none;
          padding: 5px 0;
          color: $dark-grey;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

    &.auth {
      margin-top: 25px;
    }
  }
}

@media (max-width: 820px) {
  .logo {

    .right {
      display: none !important;
    }
  }
}

@media (max-width: 750px) {

  .topbar {
    padding: 10px 20px !important;

    .logo {
      padding-left: 0 !important;
      text-align: center !important;
      justify-content: flex-start;

      .logo-link {
        margin-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .nav-search-wrapper {
      display: none;
    }

    .version-label {
      bottom: -9px !important;
      right: 0 !important;
    }
  }
}