<div class="title">
  <!-- <a id="view-all" class="view-all" [routerLink]="['/browse']" [queryParams]="{ collection: this.query.collection }">{{ copy.VIEWALL }}
    <i class="far fa-angle-right"></i>
  </a> -->
</div>

<div *ngIf="learningObjects.length > 0; else noObjectsTemplate" class="card-container">
    <learning-object-component *ngFor="let l of learningObjects" [learningObject]="l" learningObjectCard [loading]="loading">
    </learning-object-component>
</div>

<ng-template #noObjectsTemplate>
  <div class="no-objects">
    There are no Learning Objects released for this collection.  Click <a routerLink="/browse">here</a> to browse all.
  </div>
</ng-template>
