<div class="title">
</div>

@if (learningObjects?.length > 0) {
  <div class="card-container">
    @for (l of learningObjects; track l) {
      <clark-learning-object-component [learningObject]="l" learningObjectCard
        [loading]="loading">
      </clark-learning-object-component>
    }
  </div>
} @else {
  @if (collectionName !== 'plan c') {
    <div class="no-objects">
      Click <a routerLink="/browse">here</a> to browse all.
    </div>
  }
  @if (collectionName === 'plan c') {
    <div class="no-objects">
      Click <a [routerLink]="['/browse']" [queryParams]="{ fileTypes: 'video' }">here</a> to browse Learning Objects with video content.
    </div>
  }
}

