<div class="wrapper">
  <div class="content-box" [ngClass]="{'failed': registerFailure }">
    <div class="top">
      <div class="error"> {{ registerFailure || '' }} </div>
      <div class="title">C.L.A.R.K.</div>
      <div class="title light">Cybersecurity Labs and Resource Knowledge-base</div>
      
      <form [formGroup]="regForm">

          <div *ngIf="this.page === 1">
            <clark-personal-info [group]="regForm"></clark-personal-info>
          </div>
          <div *ngIf="this.page === 2">
            <clark-profile-info [group]="regForm"></clark-profile-info>
          </div>
          <div *ngIf="this.page === 3">
            <clark-gravatar-info [group]="regForm"></clark-gravatar-info>
            <div ngRecaptcha key="{{siteKey}}" (captchaSuccess)="captureResponse($event)" formControlName="captcha"></div>
          </div>
      </form>
      <div>{{regInfo | json}}</div>

      <!--<div *ngIf="pageNumber == 2">
          <clark-profile-info></clark-profile-info>
      </div>
      <div *ngIf="pageNumber == 3">
          <clark-gravatar-info></clark-gravatar-info>
      </div>-->
  
      <!--<form [formGroup] = "regForm" (ngSubmit)="submit()">
        <div class="h-group">
          <div class="input firstname" [ngClass]="{'active': regInfo.firstname !== ''}">
            <input name="firstname" type="text" placeholder="First name" [(ngModel)]="regInfo.firstname" formControlName ="firstname" />
            <i class="far fa-id-card"></i>
          </div>
          <div class="input lastname" [ngClass]="{'active': regInfo.lastname !== ''}">
            <input name="lastname" type="text" placeholder="Last name" [(ngModel)]="regInfo.lastname" formControlName="lastname" />

            <i class="far fa-id-card"></i>
          </div>
        </div>
        <div class="gravatar-header">C.L.A.R.K. uses Gravatar</div>
        <div class="gravatar-text">Don't have an account?<a target="_blank" href="https://en.gravatar.com/"> Sign up with Gravatar</a></div>
        <div class="input email" [ngClass]="{'active': regInfo.email !== ''}">
          <input name="email" type="text" placeholder="Email address" [(ngModel)]="regInfo.email" formControlName ="email"/>
          <i class="far fa-at"></i>
        </div>
        <div class="title light">Profile Image Preview</div>
        <img [src]="getGravatarImage()" class = "img">
        <div class="input username" [ngClass]="{'active': regInfo.username !== ''}">
          <input name="username" type="text" placeholder="Username" [(ngModel)]="regInfo.username" formControlName ="username"/>
          <i class="far fa-user"></i>
        </div>
        <div class="input organization" [ngClass]="{'active': regInfo.organization !== ''}">
          <input name="organization" type="text" placeholder="Organization" [(ngModel)]="regInfo.organization" formControlName ="organization"/>
          <i class="far fa-building"></i>
        </div>
        <div class="line-spacer"></div>
        <div class="input password" [ngClass]="{'active': regInfo.password !== ''}">
          <input name="password" type="password" placeholder="Password" [(ngModel)]="regInfo.password" formControlName ="password"/>
          <i class="far fa-key"></i>
        </div>
        <div class="input password-verify" [ngClass]="{'active': passwordVerify !== ''}">
          <input name="password-verify" type="password" placeholder="Confirm password" [(ngModel)]="passwordVerify" formControlName ="verifypassword"/>
          <i class="far fa-key"></i>
        </div>
        <div ngRecaptcha key="{{siteKey}}" (captchaSuccess)="captureResponse($event)" formControlName="captcha"></div>
        <button type="type" class="auth-button">
          <div class="text" *ngIf = "!loading">Register</div>
          <div class="mask"></div>
          <span *ngIf = "loading">
            Loading
            <i class="far fa-spinner fa-pulse"></i>
          </span>
        </button>
      </form>
    </div>-->
    <div class="h-group">
        <div *ngIf="page !== 1">
            <button type="type" class="auth-button" (click)="back()">
                <div class="text" *ngIf = "!loading">Return to step {{ page }}</div>
                <div class="mask"></div>
                <span *ngIf = "loading">
                  Loading
                  <i class="far fa-spinner fa-pulse"></i>
                </span>
            </button>
          </div>

        <div *ngIf="page !== 3">
          <button type="type" class="auth-button" (click)="next()">
              <div class="text" *ngIf = "!loading">Continue to step {{ page + 1 }}</div>
              <div class="mask"></div>
              <span *ngIf = "loading">
               Loading
              <i class="far fa-spinner fa-pulse"></i>
            </span>
          </button>
        </div>

        <div *ngIf="page === 3">
          <button type="submit" class="auth-button" (click)="alert()">
              <div class="text">Finish</div>
              <div class="mask"></div>
              <span *ngIf = "loading">
                Loading
              <i class="far fa-spinner fa-pulse"></i>
            </span>
          </button>
        </div>
    </div>

    <div class="bottom-link" routerLink="../login">
      Already have an account? <span>Sign in!</span>
    </div>
  </div>
</div>
</div>