<div class="wrapper {{ orientation }}">
  <div class="content-box" [ngClass]="{'failed': registerFailure }">
    <div class="top">
      <div class="error"> {{ registerFailure || '' }} </div>
      <div class="title">C.L.A.R.K.</div>
      <div class="title light">Cybersecurity Labs and Resource Knowledge-base</div>
      <form [formGroup]="regForm">
        <div *ngIf="this.page === 1">
          <clark-personal-info [group]="regForm"></clark-personal-info>
        </div>
        <div *ngIf="this.page === 2">
          <clark-profile-info [group]="regForm"></clark-profile-info>
        </div>
        <div *ngIf="this.page === 3">
          <clark-gravatar-info [group]="regForm" [email]="this.regForm.controls['email'].value"></clark-gravatar-info>
          <div ngRecaptcha key="{{siteKey}}" (captchaSuccess)="captureResponse($event)" formControlName="captcha"></div>
        </div>
      </form>
      <!--<div>{{regInfo | json}}</div>-->
      <div *ngIf="page === 1">
        <button type="type" class="auth-button" (click)="next()">
          <div class="text">Continue to step 2</div>
          <div class="mask"></div>
        </button>
      </div>
      <div class="h-group">
        <div *ngIf="page !== 1">
          <button type="type" class="auth-button" (click)="back()">
            <div class="text">Return to step {{ page - 1 }}</div>
            <div class="mask"></div>
          </button>
        </div>
        <div *ngIf="page === 2">
          <button type="type" class="auth-button" (click)="next()">
            <div class="text">Continue to step 3</div>
            <div class="mask"></div>
          </button>
        </div>
        <div *ngIf="page === 3">
          <button type="submit" class="auth-button" (click)="submit()">
            <div class="text">Finish</div>
            <div class="mask"></div>
            <span *ngIf = "loading">
              Loading
              <i class="far fa-spinner fa-pulse"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="bottom-link" routerLink="../login">
        Already have an account? 
        <span>Sign in!</span>
      </div>
    </div>
  </div>
</div>