@import 'vars.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

form {
  margin: auto;
  margin-top: 15px;
  width: 100%;
  overflow-y: hidden;
}

.h-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;

  .input {
    width: 48%;
    margin-bottom: 0px;
  }
}

.input {
  margin-bottom: 15px;
}

.line-spacer {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  display: none;
}

::ng-deep .indicator {
  margin-top: 30px !important;
}

.reg-button {
    -webkit-appearance: nine;
    background: $blue-accent;
    color: white;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $larger;
    outline: 0;
    transition: all 0.2s ease;
    border: 2px solid $blue-accent;

  &:hover, &:focus {
    color: $blue-accent;
    background: transparent !important;
    transform: scale(1.05);
  }

  &.submit {
    background: $success-green;
    border-color: $success-green;

    &:hover, &:focus {
      color: $success-green;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .right {
    margin-left: auto;
  }
}

::ng-deep .email-error {
  color: $error-red;
}

.recaptcha {
  display: flex;
  justify-content: center;
}
