<div class="wrapper">
  <div class="content-box" [ngClass]="{'failed': registerFailure }">
    <div class="top">
      <div aria-live="assertive" id="error" class="error"> {{ registerFailure || '' }} </div>
      <div class="auth-title" id="registration-title">CLARK</div>
      <div class="auth-title light" id="registration-light-header">Cybersecurity Digital Library</div>
      <form [formGroup]="regForm" [@slideInRight]="slide" [@fallFromTop]="fall">
        <div *ngIf="this.page === 1">
          <clark-personal-info [group]="regForm" (hasResults)="setOrganizationStatus($event)"></clark-personal-info>
        </div>
        <div *ngIf="this.page === 2">
          <clark-profile-info [group]="regForm"></clark-profile-info>
        </div>
        <div *ngIf="this.page === 3">
          <clark-gravatar-info [group]="regForm"></clark-gravatar-info>
          <div autofocus class="recaptcha" id="recaptcha" ngRecaptcha key="{{siteKey}}" (captchaSuccess)="captureResponse($event)" formControlName="captcha">
          </div>
        </div>
      </form>
      <div class="buttons">
        <ng-container *ngIf="page !== 1">
          <button aria-label="Back" type="type" class="reg-button" id="button-back" [tip]="tipText[page - 1].left" tipPosition="top" (click)="back()">
            <i class="far fa-arrow-left"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="page !== elements.length; else submitTemplate">
          <button aria-label="Continue" type="type" class="reg-button right" id="button-next" tip="{{tipText[page - 1].right}}" tipPosition="top" (click)="next()">
            <i class="far fa-arrow-right"></i>
          </button>
        </ng-container>
        <ng-template #submitTemplate>
          <button aria-label="Submit" type="submit" class="reg-button right submit" id="button-submit" [tip]="tipText[page - 1].right" tipPosition="top" (click)="submit()">
            <span aria-live="assertive" aria-label="Submitted" *ngIf="!loading; else loadingIcon"><i class="far fa-check"></i></span>
            <ng-template #loadingIcon><i class="far fa-spinner-third fa-spin"></i></ng-template>
          </button>
        </ng-template>
      </div>
      <clark-indicator [active]="page - 1" [elements]="elements" (shouldChange)="navigate($event)"></clark-indicator>
    </div>
    <button class="bottom-link" routerLink="../login">
      Already have an account? 
      <span id="bottom-register-link">Sign in!</span>
    </button>
  </div>
</div>