@import 'vars.scss';

.wrapper {
    padding: 50px, 0;
    width: inherit;
    overflow-y: auto;

    &:before {
        content: '';
        background: linear-gradient(90deg, white, $light-blue, white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        z-index: 0;
        opacity: .15;
    }
    
    &:after {
        content: '';
        background: repeating-linear-gradient(white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .sso-section {
        width: 100%;
        
        .sso-img {
            width: 200px;
        }
    }

    .side-by-side {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .recaptcha {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    button {
        display: block;
        width: 100%;
        margin: 50px 0 20px;
    }

    .cookie {
        all: unset;
        cursor: pointer;
    }
    .org-dropdown_list {
        list-style: none;
        padding: 0;
        margin: 0;
        position: static;
        min-width: 200px;
        width: 100%;
        background: white;
        border-radius: 2px;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
        z-index: 3;

        virtual-scroller {
          margin: 0px;
          min-height: 40px;
          li {
            cursor: pointer;
            padding: 10px;
          }
          li:hover {
            background-color: color-gray(6);
          }
        }
      }

      .org-dropdown__message {
        padding: 10px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        display: block;
      }
}