@import '_vars.scss';
@import'globals.scss';

.card {
    width: 180px;
    height: 200px;
    background-color: white;
    padding: 50px 20px 30px 20px;
    border-radius: 3px;
    margin-left: 10px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;

    .icon {
        min-height: 70px;
        max-height: 90px;
    }

    .title {
        width: 180px;

        h4 {
            font-weight: normal !important;
            font-size: $normal;
            text-align: left;
        }
    }

    .link {
        color: $medium-grey;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 15px;
    }
}

