@import 'vars.scss';

.wrapper {
  position: relative;
  z-index: 4;
  padding: 10px;
  background: $blue-accent;
  color: white;

  .inner-wrapper {
    max-width: $max-width;
    margin: auto;
    font-size: $normal;
    font-weight: normal;
    text-align: center;

    .status-link {
      color: white;
      margin-left: 5px;
      text-decoration: underline;
    }

    a:hover, a:focus{
      cursor: pointer;
    }
  }

  &.bad {
    background: $error-red;
    color: white;
  }

  &.good {
    background: $success-green;
    color: white;
  }

  &.warning {
    background: #0B78CB;
    color: white;
  }
}

.status-link {
  display: block;
}