@import 'vars.scss';

.identification-pill {
    margin-top: 5px;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: $smaller;
}

// Themes
.default {
    background-color: $light-blue;
}

.proofing {
    background-color: $status_proofing;
}