@import '_vars.scss';

.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.btn-group {
  margin-top: 45px;
  margin-bottom: 20px;
}