<div class="changelog">
  <clark-text-editor editorPlaceholder="What changes were made to this Learning Object?" [(savedContent)]="changelog" (textOutput)="changelogChange.emit($event)" name="changelog"></clark-text-editor>
  <div class="button-bar">
    <div class="btn-group to-left">
      <button (activate)="back.emit()" class="button neutral">Back</button>
    </div>
    <div class="btn-group to-right">
      <button (activate)="confirm.emit()" class="button good">{{ changelog && changelog !== '' ? 'Confirm' : 'No changes' }}</button>
      <button (activate)="cancel.emit()" class="button neutral">Cancel</button>
    </div>
  </div>
</div>