<div class="learning-object">
  <div class="learning-object__row">
    <div tab-index="0" aria-label="Learning Object Name" tip="{{ learningObject?.name }}" tipDisabled="{{ !learningObject?.name || learningObject?.name.length <= 70 }}" tipLocation="bottom" class="learning-object__name">
      {{ (learningObject?.name | slice:0:69) + (learningObject?.name.length > 70 ? '...' : '') }}
    </div>
  </div>
  <div tab-index="0" class="learning-object__row learning-object__row--delim">
    <div tab-index="0" aria-label="Learning Object Length" [attr.class]="'learning-object__length ' + learningObject.length">{{ learningObject.length | titlecase }}</div>
    <div tab-index="0" aria-label="Learning Object Date" class="learning-object__date">{{ learningObject.date | date:'mediumDate' }}</div>
    <div tab-index="0" aria-label="Learning Object Collection" class="learning-object__collection">{{ learningObject.collection | collection | async }}</div>
  </div>
</div>