<div class="learning-object">
  <div class="learning-object__row">
    <div tip="{{ learningObject?.name }}" tipDisabled="{{ !learningObject?.name || learningObject?.name.length <= 70 }}" tipLocation="below" class="learning-object__name">
      {{ (learningObject?.name | slice:0:69) + (learningObject?.name.length > 70 ? '...' : '') }}
    </div>
  </div>
  <div class="learning-object__row">
    <div [attr.class]="'learning-object__length ' + learningObject.length">{{ learningObject.length | titlecase }} · </div>
    <div class="learning-object__date">Released on {{ learningObject.date | date:shortDate }}</div>
  </div>
</div>