<div class="root_502" [attr.data-theme]="currentTheme">
    <nav>
        <div class="theme-switch-wrapper">
          <mat-slide-toggle >{{currentTheme === 'light' ? 'Dark Mode' : 'Light Mode'}}</mat-slide-toggle><mat-icon>{{currentTheme === 'light' ? 'bedtime' : 'sunny'}}</mat-icon>
        </div>
      </nav>
    <clark-502-header></clark-502-header>
    <clark-collection-feature [collection]="'502_project'"  [learningObjects]="learningObjects"></clark-collection-feature>
    <clark-502-stats></clark-502-stats>
    <clark-502-about id="about"></clark-502-about>
    <clark-502-curators></clark-502-curators>
</div>
