<div class="clark-search">
  <div class="search-options">
    <div *ngIf="selected == 1" class="keyword-search input">
      <form (submit)="performSearch(searchInput)">
        <input #searchInput id="clark-search-input" type="search" placeholder="Search..." aria-label="Search" (focus)="didFocus.emit()" [value]="searchValue" />
        <button aria-label="Search" class="icon" (click)="performSearch(searchInput)"><i class="far fa-search"></i></button>
      </form>
    </div>
    <div *ngIf="selected == 2">
      <clark-mappings-filter [source]="selectedSource" [focus]="focusMappingsDropdown" [blur]="blurMappingsDropdown" [close]="closeMappingsDropdown" (add)="performOutcomeSearch($event.filter)" (toggleSource)="toggleMappingsFilterSource($event)" (didFocus)="didFocus.emit()"></clark-mappings-filter>
    </div>
  </div>
  <div tabindex="0" class="description" id='search-description'>
    {{
      (selected === 1) ? copy.KEYWORDSDESC :
      copy.OUTCOMESDESC
    }}
    <a href="http://about.clark.center/tutorial/#Searching" aria-label="Link to searching tutorial" target="blank"><i class="fas fa-question-circle"></i></a>
  </div>
  <div class="search-switch">
    <button attr.aria-label="{{ copy.OPT1 }}" #optionOneSwitch class="option option-one" [ngClass]="{'active': selected === 1}" (click)="toggle(1)">
      {{ copy.OPT1 }}
    </button>
    <button attr.aria-label="{{ copy.OPT2 }}" id="outcomes-option" #optionTwoSwitch class="option option-two" [ngClass]="{'active': selected === 2}" (click)="toggle(2)">
      {{ copy.OPT2 }}
    </button>
    <div class="highlight" [ngClass]="{'right': selected === 2}"></div>
  </div>
</div>
