@import "vars.scss";
.authentication-component {
    background: white;

    :host {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: $normal;
    }

    ::ng-deep .wrapper {
        display: block;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow-y: auto;

        h1 {
            color: $light-blue;
            font-weight: 400;
            text-align: center;
            margin-bottom: 50px;
            padding-bottom: 0;
        }

        p {
            color: $dark-grey;
        }

        form {
            width: 100%;
            text-align: center;

            img {
                width: 50px;
            }

            button {
                border: 2px solid $light-blue;
                border-radius: 5px;
                background-color: $light-blue;
                color: white;
                padding: 10px;
                font-size: $normal;

                &.white {
                    background-color: white;
                    color: $light-blue;
                }

                &.bottom {
                    margin-bottom: 0;
                }
            }
        }
        
        .content-box {
            background: white;
            border-radius: 2px;
            box-sizing: border-box;
            max-width: 520px;
            width: 100%;
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            transition: all 0.2s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
            z-index: 1;

            .top {
                padding-top: 50px;
              }

            .errBanner {
                background: $error-red;
                color: white;
                text-align: center;
                position: absolute;
                transition: all .2s ease;
                opacity: 0;
                left: 0;
                right: 0;
                top: -5px;
                padding: 8px;
                border-radius: 1px;
            }

            &.failed {
                animation: validate-failure 0.4s linear;
                border-top-color: $error-red;
            
                .errBanner {
                  top: 0px;
                  opacity: 1;
                }
            }
        }
    }
}