<div (mouseenter)="toggleCardMenu(true)" (mouseleave)="toggleCardMenu(false)" class="card">
  <div *ngIf="showMiddle" class="card__middle" [@menu]>
    <div class="card__middle__header">{{ (user?.name.length > 15)? (user?.name | slice:0:15)+'..':(user?.name) }}</div>
    <div *ngIf="!reviewer" (activate)="showUserObjects()" class="card__middle__objects"><i class="far fa-eye card__middle__icon"></i> View Objects</div>
    <div *ngIf="reviewer" (activate)="removeReviewer()" class="card__middle__objects"><i class="far fa-user card__middle__icon"></i> Remove Reviewer</div>
    <div *ngIf="canEditPrivilege" (activate)="editUserPrivileges()" class="card__middle__objects"><i class="far fa-users-cog card__middle__icon"></i> Edit Privileges</div>
    <div>
      <a href="mailto:{{ user?.email }}" class="card__middle__email"><i class="far fa-envelope card__middle__icon"></i> Send Email</a>
    </div>
  </div>
  <div class="card__image" [style.backgroundImage]="'url(' + getGravatar() + ')'">
  </div>
  <div class="card__body">
    <div class="card__body__heading">{{ (user?.name.length > 15)? (user?.name | slice:0:15)+'..':(user?.name) }}</div>
    <div class="card__body__organization">{{ (user?.organization.length > 20)? (user?.organization | slice:0:20)+'..':(user?.organization) }}</div>
    <div class="card__body__username"><i class="far fa-user"></i> {{ user?.username }}</div>
  </div>
</div>