<div class="card">
  <div class="card__middle">
      <div class="card__middle__header">{{ (user.name.length > 15)? (user.name | slice:0:15)+'..':(user.name) }}</div>
      <div (click)="showUserObjects()" class="card__middle__objects"><i class="far fa-eye card__middle__icon"></i> View Objects</div>
      <div (click)="editUserPrivileges()" class="card__middle__objects"><i class="far fa-users-cog card__middle__icon"></i> Edit Privileges</div>
      <a href="mailto:{{ user.email }}" class="card__middle__email"><i class="far fa-envelope card__middle__icon"></i> Send Email</a>
  </div>
  <img src="{{ getGravatar() }}" alt="" class="card__image">
  <div class="card__body">
    <div class="card__body__heading">{{ (user.name.length > 15)? (user.name | slice:0:15)+'..':(user.name) }}</div>
    <div class="card__body__organization">{{ (user.organization.length > 20)? (user.organization | slice:0:20)+'..':(user.organization) }}</div>
    <div class="card__body__username"><i class="far fa-user"></i> {{ user.username }}</div>
  </div>
</div>