@import '~_vars.scss';

.card {
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.05);
    width: 185px;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.1);
    color: $bright-blue;
} 

.card:hover .card__middle {
    opacity: 0.9;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.05);
};

.card__middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    background-image: $bright-blue-gradient;
    height: 230px;
    width: 185px;
    border-radius: 5px;
    overflow: visible;
    padding: 20px;
    padding-top: 50px;
}

.card__image {
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-radius: 5px 5px 0 0;
}

.card__body {
    background-color: white;
    height: 100%;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.card__body__heading {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.card__body__username {
    color: $placeholder;
}

.card__middle__header {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.card__middle__objects {
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
    cursor: pointer;
}

.card__middle__email {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.card__middle__icon {
    margin-right: 8px;
}

.card__body__organization {
    text-transform: capitalize;
}

