<div class="container1">
    <img class="visual1" src="../../../../../../assets/collections/ncyte/502/connections-color.png">
</div>
<div class="header">
    <div class="logo_wrapper">
        <img src="../assets/images/collections/502_project.png" class="logo" alt="502 Logo">
    </div>
    <div class="headbox-container">
        <div class="headbox">
            <h1><FONT COLOR = "672F90">Cyber</FONT> Learning through <FONT COLOR = "672F90">Secure</FONT> Community</h1>
            <a class="involved" href = "https://usf.az1.qualtrics.com/jfe/form/SV_bxCW0543jNVXWuy" target="_blank" rel="noopener noreferrer">
                <h2>GET INVOLVED</h2>
            </a>
        </div>
    </div>
</div>
<clark-header-502-info></clark-header-502-info>
<div class="container2">
    <img class="visual2" src="../../../../../../assets/collections/ncyte/502/connections-color.png">
</div>
