@import 'vars.scss';

.container1 {
    overflow: hidden;
    max-width: 600px;
    position: absolute;
    top: -170px;
    right: 0;
}
.container2 {
    overflow: hidden;
    position: absolute;
    top: 400px;
    left: -700px;
}
.visual1 {
    max-width: initial;
    z-index: 1;
    opacity: 0.3;
    margin-right: -180px;
}
.visual2 {
    max-width: initial;
    z-index: 1;
    opacity: 0.3;
    transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1)
}
.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 0;
}
.logo_wrapper {
    margin: 42px auto;
    max-width: 100%;
    z-index: 2;
}
.logo {
    order: 1;
    max-width: 400px;
    z-index: 2;
}

.headbox-container {
    order: 2;
    flex-basis: 60%;
    padding: 60px 0;
    align-self: stretch;
    overflow-x: hidden;
    z-index: 2;
}
.headbox {
    display: flex;
    background-color: #F7EC2F;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-size: $largest;
        padding-left: 5%;
        width: 400px;
        text-align: center;
        color: #535D69;
    }
    z-index: 2;
}
.involved {
    background-color: #672F90;
    padding: 10px 30px;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    h2 {
        color: white;
        font-size: $larger;
        margin: 0;
    }
    z-index: 2;
}

@media screen and (max-width: 1199px){
    .visual1 {
        display: none;
    }
    .visual2 {
        display: none;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .logo_wrapper {
        max-width: 100%;
        margin: 20px auto;
        align-items: center;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .headbox-container {
        order: 2;
        width: 100%;
        padding: 0px;
    }
    .headbox {
        flex-direction: column;
        padding: 25px 0px 50px 0px;
        align-items: center;
        h1 {
            font-size: $larger;
            padding: 0;
            width: 100%;
            text-align: center;
            color: #535D69;
        }
    }
}
