@import 'vars.scss';

$row-gap: 25px;

.top-downloads {
    color: $dark-grey;
    font-size: $normal;
    padding: 15px 20px 15px;

    .title {
      color: $darker-grey;
      font-size: $larger;
      font-weight: 500;
      margin-bottom: 15px;
    }
    
    .downloads-container {
      padding: 20px;
      width: 80%;

      .length {
        //Wrapper child 2
        color: white;
        font-size: $small;
        display: inline-block;
        position: relative;
        padding: 2px 6px;
        border-radius: 2px;
        height: fit-content;
        margin-right: 5px;
      
      
        &.nanomodule {
          background: $nanomodule-color;
        }
      
        &.micromodule {
          background: $micromodule-color;
        }
      
        &.module {
          background: $module-color;
        }
      
        &.unit {
          background: $unit-color;
        }
      
        &.course {
          background: $course-color;
        }
      }
      
      .name {
        color: $light-blue;
        display: inline-block;
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
  
      .count {
        margin-top: 1px;
        float: right;
      }

    }

  .loading {
    padding-top: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .top-downloads {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 450px) {
  .downloads-container {
    padding: 0;
    width: auto;

    .count {
      float: none;
      margin-bottom: 20px;
    }
  }
}