
<div class = "header">
  <div class = "icon">
    <div class = "far fa-project-diagram icon"></div>
  </div>
  <div class = "title">
    Children
  </div>
  <button class = "edit" (click)="toggle()">
    <div class = "far fa-pencil"></div>
  </button>
</div>
<div cdkDropList class="children-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let c of children" class="child-box" cdkDragLockAxis="y" cdkDragBoundary=".children-list" cdkDrag> 
    <div class = "info">
      <div class = "top-row">
        <div class = "child-title">{{c._name}}</div>
      </div>
      <div class = "bottom-row">
        <div [ngClass]="c._length" class="child-length" >{{c._length | titlecase}}</div>
        <div class = "child-last-updated">{{c._date |  date:'short'}}</div>
      </div>
  </div>
  <div [ngStyle]="{display: editContent ? 'block' : 'none'}" class="hamburger-handle" cdkDragHandle>
    <i class="fas fa-bars"></i>
  </div>
  </div>
</div>



