@import "~_vars.scss";

.header {
  display: flex;
  padding-top: 18px;
  padding-left: 20px;  

  .icon {
    color: #4290ea;
    font-size: 20px; 
    align-items: left;
    justify-content: left;
  }
  .title {
    color: #646464;
    text-align: left;
    font-size: 20px; 
    font-weight: 600;
    margin: 0 0 10px 10px; 
    align-items: left;
    justify-content: left;
  }

  .edit{
    color: #4290ea;
    background-color: white; 
    border: none; 
    font-size: 20px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer; 
  }
  .edit:focus{
    outline: 0; 
  }
  .edit:hover{
    opacity: 0.6; 
  }
}




