<div class = "header">
  <div class = "icon">
    <div class = "far fa-project-diagram icon"></div>
  </div>
  <div class = "title">
    Children
  </div>
  <div class = "edit">
    <button class = "far fa-pencil icon" onClick="edit()"></button>
  </div>
</div>
<div cdkDropList class="children-list" (cdkDropListDropped)="drop($event)">
  <div class="child-box" *ngFor="let child of children" cdkDragLockAxis="y" cdkDragBoundary=".children-list" cdkDrag> 
    <div class = "info">
      <div class = "top-row">
        <div class = "child-title">{{learningobject}</div>
      </div>
      <div class = "bottom-row">
        <div class = "child-length">{{learningobject.length}}</div>
        <div class = "child-last-updated">1/2/2003</div>
      </div>
    </div>
    <div class="hamburger-handle" cdkDragHandle>
      <i class="fas fa-bars"></i>
    </div>
  </div>
</div> 

