
<div class = "header">
  <div class = "icon">
    <div class = "far fa-project-diagram icon"></div>
  </div>
  <div class = "title">
    Children
  </div>
  <button class = "edit" (click)="toggle()">
    <div class = "far fa-pencil"></div>
  </button>
</div>
<div cdkDropList class="children-list" (cdkDropListDropped)="drop($event)">
    <clark-hierarchy 
      *ngFor="let c of learningObject?.children" 
      [editContent] = "editContent"
      [learningObject] = "c"
      >
    </clark-hierarchy>
</div>


