@import "~_vars.scss";
@media (min-width: 751px) {
  :host.card {
    min-height: 350px;
    height: auto;

    .user-card {
      height: 100%;
      flex-direction: column;
      align-items: stretch;

      .image {
        width: 100%;
        height: 150px;
      }
    }
  }
}

@media (max-width: 750px) {
  :host {

    &.card {
      width: 100% !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }

  .user-card {

    .image {
      min-height: 100%;
      max-height: 100% !important;

      .initials {
        font-size: 13px !important;
      }
    }
  }
}

:host a {
  text-decoration: none !important;
}

.user-card {
  padding:10px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  max-width: 400px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;

  .image {
    position: relative;
    
    .img {
      display: block;
      max-width: 100px;
      width: 100%;
      min-width: 100px;
      border-radius: 50%;
      border: 4px solid white;
      box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
      background: url(/assets/images/user.jpg);
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;
    }

    span {
      position: absolute;
      bottom: 0; right: 0;
      font-size: 30px;
      z-index: 3;
      color: $blue-accent;
      cursor: pointer;

      &:hover {
        color: $dark-grey;
      }
    }
  }

  .user-content {
    padding: 10px;

    .title {
      font-size: 18px;
      color: black;
    }

    .details {
      font-size: 14px;
      color: lighten($dark-grey, 10);
      margin-top: 5px;
    }
  }
}
