<div class="comment-wrapper">
    <clark-text-editor
        [savedContent]="response.comment"
        editorPlaceholder="Respond to this rating"
        (textOutput)="response.comment = $event"></clark-text-editor>
    <div class="btn-group to-right">
        <button
            class="button good"
            [ngClass]="{
                disabled: !response.comment || response.comment === '',
            }"
            (activate)="submitResponse()">
            Submit <i class="far fa-arrow-right"></i>
        </button>
        <button class="button bad" (activate)="cancelResponse()">
            Cancel <i class="far fa-ban"></i>
        </button>
    </div>
</div>
