@import "_vars.scss";

.text-area {
    resize: none;
    appearance: none;
    outline: 0;
    background: var(--theme-surface);
    color: var(--theme-text);
    border: 1px solid var(--theme-border);
    border-radius: 4px;
    padding: 10px;
    height: 150px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;

    &:focus {
        border-color: var(--theme-focus);
    }
}
