@import '~_vars.scss';

.status-options-wrapper {
  margin-top: 25px;
  min-width: 30vw;
}
.status-item {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
  box-shadow: 0 0 5px lighten($placeholder, 10);
  padding: 8px 24px;
  cursor: pointer;
  &.unfocused {
    opacity: .3;
  }
  &:hover {
    box-shadow: 0 0 5px lighten($bright-blue, 10);
  }
  .status-item__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
  }
}

.btn-group {
  margin-top: 25px;

  .button {
    padding: 8px 25px;
  }
  
  .good {
    background: $bright-blue;
    border-color: $bright-blue;
  }
}
