<clark-popup *ngIf="shouldShow" (closed)="closeModal()">
  <div class="popup-inner" #popupInner>
    <ng-container [ngTemplateOutlet]="page === 1 ? changeStatus : selectedStatus === 'accepted_major' || selectedStatus === 'accepted_minor'  || selectedStatus === 'rejected' ? requestChanges : updateChangelog"></ng-container>
  </div>
</clark-popup>

<ng-template #changeStatus>
  <div [@carousel]="direction">
    <p class="title">What would you like to do?</p>
    <div class="status-options-wrapper">
      <div *ngFor="let status of statuses" class="status-item" [ngClass]="{ 'unfocused': selectedStatus && selectedStatus !== status }" (activate)="selectedStatus = status">
        <clark-lo-status-indicator [status]="status"></clark-lo-status-indicator>
        <span class="status-item__text">{{ getStatusText(status) }}</span>
      </div>
    </div>
    <div class="btn-group to-right">
      <button *ngIf="selectedStatus && hasNextModalPage()" class="button good" (activate)="advance()">Next</button>
      <button *ngIf="selectedStatus && !hasNextModalPage()" class="button good" (activate)="updateStatus()">Confirm</button>
      <button class="button neutral" (activate)="closeModal()">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #updateChangelog>
  <div [@carousel]="direction">
    <p class="title">What changes were made?</p>
    <clark-edit-changelog [(changelog)]="changelog" (back)="regress()" (cancel)="closeModal()" (confirm)="updateStatus()"></clark-edit-changelog>
  </div>
</ng-template>

<ng-template #requestChanges>
  <div [@carousel]="direction">
    <p class="title">What changes would you like to request?</p>
    <clark-text-editor
      editorPlaceholder="What changes would you like the author(s) to make?"
      [(savedContent)]="reason"
      (textOutput)="reason = $event"
      name="reason">
    </clark-text-editor>
    <div class="btn-group to-right">
      <button class="button good" (activate)="updateStatus()">Confirm</button>
      <button class="button neutral" (activate)="closeModal()">Cancel</button>
    </div>
  </div>
</ng-template>