@import '~_vars.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$footer-height: 250px;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dropdown {
  @include vert-center;
}

.flex {
  display: flex;
  &.h {
    flex-direction: row;
  }
  &.v {
    flex-direction: column;
  }
  &.left-right {
    justify-content: space-between;
  }
  &.end {
    justify-content: flex-end;
  }
}

::ng-deep .breadcrumb {
  background: transparent !important;
  margin-bottom: 0px !important;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0px 0px 0px 20px;
  background: white;

  .content-switch-container {
    border-radius: 4px;
    color: rgba(26, 70, 107, 0.7);
    padding-left: 0px;

    .content-switch {
      margin-left: 0px !important;
    }
  }

  .search-bar {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    form {
      width: 100%;
    }

    input {
      padding: 8px 8px 8px 12px;
      border-radius: 5px 0px 0px 5px;
      font-size: 16px;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid transparent;
      border-right-width: 0px;
      outline: 0;
      background: lighten(desaturate($blue-accent, 40), 56);

      &:focus {
        border-color: $blue-accent;
      }
    }

    .icon {
      color: white;
      background: $blue-accent;
      padding: 9px 12px;
      font-size: 16px;
      border-radius: 0px 5px 5px 0px;
      cursor: pointer;
    }
  }

  .filter-options-button {
    @include vert-center;
    display: none;
    margin-right: 30px;
    transition: all 0.2s ease;

    .svg-inline--fa {
      transition: inherit;
    }

    &.active {
      background: transparent;
      color: $blue-accent;

      .svg-inline--fa {
        transform: rotate(180deg);
      }
    }
  }

  .filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .filter-button {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      line-height: 40px;
      padding-top: 20px;
      font-size: 16px;
      outline: none;
      svg {
        margin-top: 12px;
        font-size: 16px;
      }
    }
  }
}

// Global CLARK Style Overrides
.user {
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-direction: row !important;

    & > * {
      @include vert-center;
    }
  }

  .shopping-cart-container {
    margin-left: 50px;
    color: $placeholder;
  }
}

.inner-content {
  flex: 1 0 auto;
  margin-top: 0;

  .content-switch {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  padding: 0px;
  flex-flow: column nowrap;
  align-content: flex-start;
  .outlet {
    margin-top: 0px;
  }
}

@media (max-width: 1370px) {
  .filter-options-button {
    display: block !important;
  }

  .filter-options {
    position: absolute;
    top: 110px;
    right: 20px;
    flex-direction: column !important;
    background: white;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    &.active {
      top: 150px;
      opacity: 1;
      visibility: visible;
    }
  }
}
