@import 'vars.scss';

.side-panel {
  position: relative;
  cursor: default;
  min-height: 100vh;
}

.side-panel__card {
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  position: relative;

  .card__title {
    font-size: $large;
    color: $darker-grey;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .title__icon {
      margin-right: 8px;
      color: $light-blue;
  
      .svg-inline--fa {
        font-size: 23px;
      }
    }
  }
}

.side-panel__flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .flex__top {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .flex__bottom {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.side-panel__collection {
  color: $light-blue;
  display: flex;
  align-items: center;

  .svg-inline--fa {
    font-size: 20px;
    margin-right: 5px;
  }

  a {
    text-decoration: underline;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.side-panel__top-group {

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }

  .side-panel__name {
    font-size: $larger;
    color: $darker-grey;
    font-weight: 600;
  }

  .side-panel__date {
    color: $dark-grey;
  }
  
  .side-panel__length {
    color: white;
    border-radius: 3px;
    font-size: $smaller;
    padding: 5px;
    margin-right: 3px;
    display: inline-block;
    text-transform: capitalize;
  
    &.nanomodule {
      background: $nanomodule-color;
    }
  
    &.micromodule {
      background: $micromodule-color;
    }
  
    &.module {
      background: $module-color;
    }
  
    &.unit {
      background: $unit-color;
    }
  
    &.course {
      background: $course-color;
    }
  }

}

.side-panel__metrics {
  margin-top: 40px;
}

.side-panel__revision {
  padding: 20px;
  margin-top: 40px;
}

.side-panel__visit-button {
  appearance: none;
  width: 450px;
  background: $light-blue-gradient;
  color: white;
  padding: 18px;
  font-size: $small;
  border: 0;
  box-shadow: 0 -2px 12px 1px rgba(0, 0, 0, 0.08);
  margin: 0;
  transform-origin: left center;

  .svg-inline--fa {
    margin-left: 10px;
  }
}

.side-panel__loading {
  color: $light-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  color: $dark-grey;
  font-size: $large;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;

  .svg-inline--fa {
    color: $light-blue;
    font-size: 30px;
    margin-bottom: 15px;
  }
}
