<div class="side-panel">
  <ng-container *ngIf="loadingObject" [ngTemplateOutlet]="loadingObjectTemplate"></ng-container>
  <ng-container *ngIf="!loadingObject">
    <div [@sidePanelEnter] class="side-panel__flex">
      <div class="flex__top">
        <section [@translateDown] class="side-panel__collection">
          <i class="far fa-cubes"></i> Part of the <a routerLink="/c/{{releasedLearningObject.collection}}">{{ (releasedLearningObject.collection | collection) | async }}</a> collection
        </section>
        <section class="side-panel__top-group">
          <h1 [@translateDown] class="side-panel__name">{{ releasedLearningObject.name }}</h1>
          <div [@translateDown] class="side-panel__date">Released on {{ releasedLearningObject.date | date:'longDate' }}</div>
          <div [@translateDown]>
            <span [attr.class]="'side-panel__length ' + releasedLearningObject.length">{{ releasedLearningObject.length }}</span>
          </div>
        </section>
        <!-- <section class="side-panel__authors"></section> -->
        <section [@translateDown] class="side-panel__metrics side-panel__card">
          <h4 tab-index="0" class="card__title title">
            <div class="title__icon">
              <i class="far fa-chart-line"></i>
            </div>
            Metrics
          </h4>
          <clark-metrics [learningObject]="releasedLearningObject"></clark-metrics>
        </section>
        <section [@translateDown] class="side-panel__revision side-panel__card">
          <ng-container *ngIf="loadingRevision" [ngTemplateOutlet]="loadingRevisionTemplate"></ng-container>
          <h4 tab-index="0" class="card__title title">
            <div class="title__icon">
              <i class="far fa-pencil-alt"></i>
            </div>
            Revision
          </h4>
          <clark-revision
            [hasRevision]="hasRevision"
            [revision]="revisionLearningObject"
            (createRevision)="createRevisionHandler()"
            (submit)="submitRevisionHandler()"
            (cancelSubmission)="cancelSubmissionHandler()"
            (delete)="deleteRevisionHandler()"
          ></clark-revision>
        </section>
      </div>
      <div class="flex__bottom">
        <button [@buttonWipeRight] activate [routerLink]="['/details', learningObject.author.username, learningObject.cuid]" class="side-panel__visit-button">
          <div>VISIT RELEASED LEARNING OBJECT <i class="far fa-external-link"></i></div>
        </button>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loadingObjectTemplate>
  <div class="side-panel__loading">
    <i class="far fa-spinner-third fa-spin"></i> {{ loadingText || 'Loading "' + learningObject.name + '"' }}...
  </div>
</ng-template>

<ng-template #loadingRevisionTemplate>
  <div *ngIf="!loadingObject || true" class="side-panel__loading side-panel__loading--revision">
    <i class="far fa-spinner-third fa-spin"></i> Loading revision...
  </div>
</ng-template>