@import '~_vars.scss';

.side-panel {
  position: relative;

  .title {
    font-weight: 600;
    font-size: $larger;
    color: $darker-grey;
    margin-bottom: 15px;
  }
}

.side-panel__object {
  padding: 50px 20px;
  background: $light-blue-gradient;
  position: relative;
  align-content: center;

  .side-panel-object__details {
    position: absolute;
    bottom: -75px;
    z-index: 1;
    right: 20px;
    width: 90%;
  }
  & > * {
    display: block;
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mask: $cube-pattern;
    background: white;
    opacity: 0.04;
    z-index: 0;
  }

  .side-panel__button-bar {
    position: absolute;
    bottom: 40px;
    z-index: 1;
    right: 20px;

    button {
      opacity: 1 !important;
    }
  }
}

.side-panel__welcome-message {
  text-align: center;
  margin-top: 70px;
  padding: 20px;
  color: $darker-grey;

  &.title {
    font-size: $normal;
  }
  &.message {
    font-size: $normal;
  }
}

.side-panel__metrics {
  padding: 20px;
}

.side-panel__revision {
  display: flex;
  padding: 20px;
  margin-top: 50px;
  flex-direction: column;
  font-size: $normal;

}
