@import "_vars.scss";

.version-card {
    background: var(--theme-action-primary);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--theme-action-on-primary);
    height: 180px;
    text-align: center;
    width: 291px;
    padding: 30px;
}

.version-card__icon-container {
    margin-bottom: 5px;
}

.version-card__text-container {
    font-size: 20px;
    margin-bottom: 20px;
}

.button {
    font-size: 10px;
    height: 40px;
    width: 150px;
}

a {
    color: var(--theme-action-on-primary);
    text-decoration: underline;
}
