@import 'vars.scss';
.authentication-component {
  :host {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $normal;
  }

  ::ng-deep .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .background {
    z-index: 1;
    background: linear-gradient(180deg, #0d1928, #1e2e40);

    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $cube-pattern;
      opacity: 0.02;
      z-index: 1;
    }

    .image {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center bottom;
      background-image: url(/assets/images/background_mask_compressed.png);
      z-index: 3;
    }

    .pulse {
      position: fixed;
      background: transparent;
      animation: pulse 15s linear infinite;
      @include vert-center;
      background: radial-gradient(transparent, $light-blue);
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      z-index: 2;
      border-radius: 50%;
    }
  }

  ::ng-deep .wrapper {
    display: block;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    .content-box {
      background: white;
      border-radius: 2px;
      box-sizing: border-box;
      max-width: 520px;
      width: 100%;
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
      border-top: 7px solid $blue-accent;
      position: relative;
      overflow: hidden;
      transition: all 0.2s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      & > div {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 40px;
      }

      .top {
        padding-top: 50px;
      }

      .error {
        background: $error-red;
        color: white;
        text-align: center;
        opacity: 0;
        transition: all 0.2s ease;
        position: absolute;
        left: 0;
        right: 0;
        top: -5px;
        padding: 8px;
        border-radius: 1px;
      }

      &.failed {
        animation: validate-failure 0.4s linear;
        border-top-color: $error-red;

        .error {
          top: 0px;
          opacity: 1;
        }
      }

      .bottom-link {
        outline: 0;
        cursor: pointer;
        margin-top: 40px;
        text-align: center;
        background: $light-grey;
        color: $dark-grey;
        width: 100%;
        height: 40px;
        border: none;
        font-size: $normal;

        span {
          color: $blue-accent;
        }

        &:hover, &:focus {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }

  ::ng-deep .auth-title {
    font-size: $larger;
    color: $blue-accent;
    font-weight: bolder;
    text-align: center;

    &.light {
      font-weight: lighter;
      font-size: $large;
    }
  }

  ::ng-deep .auth-button {
    background: $blue-gradient;
    border-radius: 2px;
    color: white;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
    cursor: pointer !important;
    position: relative;
    font-size: $normal;
    outline: 0;
    border-width: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;

    .mask {
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
      background: white;
      z-index: 1;
      transition: all 0.2s ease;
      border-radius: 0;
      opacity: 0;
      border-radius: 1px;
    }

    .text {
      color: white;
      z-index: 2;
      position: relative;
      transition: all 0.2s ease;
    }

    &:hover, &:focus {
      .mask {
        opacity: 1;
      }

      .text {
        color: $blue-accent;
      }
    }
  }

  ::ng-deep .input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 1px solid $medium-grey;
    border-radius: 1px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      color: $blue-accent;
      flex-grow: 1;
      flex-shrink: 1;
      border: none;
      font-size: $normal;
      outline: 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: normal;
      padding: 12px;
      width: 100%;

      &:focus ~ .svg-inline--fa {
        color: $blue-accent;
      }
    }

    & > .svg-inline--fa {
      width: 15px;
      height: 15px;
      flex-grow: 0;
      flex-shrink: 0;
      @include vert-center;
      color: $medium-grey;
      padding-left: 14px;
      box-sizing: content-box;
    }
  
    &.active > .svg-inline--fa {
      color: $blue-accent;
    }

    .icon-right {
      position: absolute;
      right: 10px;
      @include vert-center;
    }
  }
}

@keyframes validate-failure {
  0% {
    margin-left: 0px;
  }
  20% {
    margin-left: 30px;
  }
  40% {
    margin-left: -30px;
  }
  60% {
    margin-left: 30px;
  }
  80% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}

::ng-deep .done {
  text-align: center;
  margin-top: 40px;
  color: $success-green;

  .svg-inline--fa {
    color: $success-green;
    font-size: 60px;
    display: block;
    margin: 0px auto 20px;
  }
}

@media (max-width: 640px) {
  ::ng-deep .content-box {
    //background: transparent !important;
    border-top-color: transparent !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
  }
}

@keyframes pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  30% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  40% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
    width: 150vw;
    height: 150vw;
  }
  51% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

clark-cookie-popup {
  z-index: 20;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
