<div class="report-rating">
  <div class="title">
    @if (page === 2) {
      <div (activate)="page = 1" class="icon"><i class="far fa-chevron-left"></i></div>
    }
    Report This {{ subject | titlecase }}
  </div>
  @if (page === 1) {
    <div class="type-list">
      <ul>
        @for (t of types; track t; let i = $index) {
          <li (activate)="selectType(i)" class="type">
            {{ t }}
            <i class="far fa-chevron-right"></i>
          </li>
        }
      </ul>
    </div>
  } @else {
    <div class="comment">
      <div class="comment-description">
        @if (type !== undefined && type <= 1) {
          You're reporting this {{ subject }} because <span>{{ types[type] | lowercase }}</span>.
        }
        Can you tell us more about why
        @if (type !== undefined && type === 2) {
          you're reporting this {{ subject }}
          }?
        </div>
        <textarea aria-label="report comment" [(ngModel)]="comment" placeholder="More information..."></textarea>
        <div class="btn-group center">
          <button class="button bad" (activate)="triggerReport()">Send Report<i class="fas fa-flag"></i></button>
          <button class="button neutral">Cancel<i class="far fa-ban"></i></button>
        </div>
      </div>
    }
  </div>
