<h2 class="text-center">Explore CUBE</h2>
<div class="container">
  <div class="row flexed">
    <div class="col-lg-2 col-md-2 cube-col-fixed">
      <a routerLink="/" class="cube side-1"><i class="fa fa-usd"></i>National Curriculum</a>
    </div>
    <div class="col-lg-4 col-md-4 cube-col">
      <a routerLink="/" class="cube side-2">Cybersecurity Topics</a>
      <a routerLink="/academics" class="cube side-3">Academics</a>
      <div class="row">
        <div class="col-lg-2 col-md-2 cube-col">
          <a class="cube side-4" routerLink="/mapping">Mapping</a>
        </div>
        <div class="col-lg-2 col-md-2 cube-col">
          <a routerLink="/modality" class="cube side-5">Modality</a>
        </div>
      </div>
      <a routerLink="/" class="cube side-6">National Cyber Academy</a>
    </div>
  </div>
