@import '../../../../collection-globals.scss';
.wrapper {
    background-color: white !important;
    padding: 50px;

    .inner {
        max-width: 1500px;
        text-align: center;
        margin: auto;
    }

    .header {
        color: $ncyte-blue;
        padding-bottom: 30px;
    }
}