<div class="collection-section-wrapper">

    <h1>Individually curated and peer-reviewed for quality</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="item-list">
        <clark-collection-item *ngFor="let d of data" [data]="d" class="item" [routerLink]="d.link"></clark-collection-item>
    </div>
        
    <button class="button good" [routerLink]="['/c']" >Browse All Collections</button>
</div>