@import '_vars.scss';
.collection-section-wrapper {
    background-color: white;
}

.item-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1500px;
    width: 100%;
    margin: 20px 20px 20px 0px;

    .item {
        cursor: pointer;
        margin: 25px;
        background-color: $primary-white;
        border: solid 1px $secondary-white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 250px;

        ::ng-deep .collection-card {
            padding: 40px;
            background-color: $primary-white;

            .card__name {
                height: 20px;
                color: black;
            }
        }
    }    
}
button{
    border: 0;
    padding: 11px 20px 11px 25px;
    border-radius: 4px;
    background: $new-button-blue;
    color: white;
    text-transform: uppercase;
    font-size: $small;
    cursor: pointer;
    position: relative;
    font-weight: normal;
}



@media screen and (max-width: 810px) {

    .collection-section-wrapper {
        text-align: center;
    }
    .item-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item {
        margin: 2vw;
        }
    }

    .collections-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}