@import 'vars.scss';

.item-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1500px;
    width: 100%;
    margin: 20px;

    .item {
        cursor: pointer;
        margin-right: 25px;
    }

}



@media screen and (max-width: 1024px) {
    .item-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item {
        margin-bottom: 2vw;
        margin-right: 0;
        }
    }

    .collections-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}