<div class="about-clark-container">
  <div class="vertical-container">
    
    <div class="first-section">
      <div class="fs-text-container">
        <p>CLARK is a platform for <span class="blue_text" >BUILDING</span> and sharing curricular resources in cybersecurity. It includes three components – the model for building curriculum, the digital library system, and the curriculum collections. It provides cybersecurity faculty the building blocks to train the <span class="blue_text">NEXT WAVE</span> of researchers and better prepare the cybersecurity workforce.</p>
      </div>
      <img class = "fs-img" src="../../../../../assets/images/collections/secinj.png" alt="Code Responsibly">
    </div>
      
    <div class="second-section">
      <img class = "ss-img" src="../../../../../assets/images/module.JPG" alt="Module Example">
      <div class="ss-text-container">
        <p>The CLARK collections include modular <span class="blue_text" >CYBERSECURITY</span> learning objects across a range of critical cyber topics contributed by academic faculty and other content creators. Instructors looking to teach new cybersecurity <span class="blue_text" >COURSES</span> or expand and improve their own instruction, can find ready-to-use modular content that can be used and modified under the Creative Commons license.</p>
      </div>
    </div>

    <div class="third-section">
      <div class="ts-text-container">
        <p>The CLARK system hosted at www.clark.center was created as a high-availability, relevant, and scalable repository for curricular resources in the cybersecurity education community. With several thousand users, CLARK is gaining traction within this community as the go-to source for free peer-reviewed cybersecurity curriculum. Designed based on lessons-learned from research on digital libraries and learning sciences, Clark is easy to use by both contributors and consumers.</p>
      </div>
    </div>

    <div class="fourth-section">
      <clark-usage [stats]="usageStats" [userStatsLoading] = "userStatsLoaded" [objectStatsLoading] = "objectStatsLoaded"></clark-usage>
    </div>

    <div class="fifth-section">
      <div class="ffs-text-container">
        <p>The CLARK curriculum development model is an innovative process for building quality and maintaining relevance in cybersecurity curriculum. It involves developing outcome-based curriculum based on standard templates. The content creators work in tandem with instructional designers, and the curriculum undergoes reviews by subject matter experts and the technical editing team at CLARK.</p>
      </div>
    </div>

  </div>
</div>