<div class="about-clark-container">
  <div class="vertical-container">
    
    <div class="first-section">
      <div class="fs-text-container">
        <p>CLARK is a platform for <span class="blue_text" >BUILDING</span> and sharing free cybersecurity curriculum. It includes three components – the model for building curriculum, the digital library system, and the curriculum collections. It provides cybersecurity faculty the building blocks to train the <span class="blue_text">NEXT WAVE</span> of researchers and better prepare the cybersecurity workforce.</p>
      </div>
      <img class = "fs-img" src="../../../../../assets/images/collections/secinj.png" alt="Code Responsibly">
    </div>
      
    <div class="second-section">
      <img class = "ss-img" src="../../../../../assets/images/module.JPG" alt="Module Example">
      <div class="ss-text-container">
        <p>CLARK hosts the largest compilation of high-value, high-impact <span class="blue_text">CYBERSECURITY</span> curriculum created by top researchers, peer-reviewed by instructional designers and subject matter experts. Instructors looking to teach new cybersecurity <span class="blue_text" >COURSES</span> or expand and improve their own instruction, can find ready-to-use modular content, including videos, labs, and slides that can be modified under the Creative Commons license.</p>
      </div>
    </div>

    <div class="third-section">
      <div class="ts-text-container">
        <p>The CLARK system, hosted at <a href="www.clark.center" aria-label="Clickable Home page link">www.clark.center</a> , was created as a high-availability, relevant, and scalable repository for curricular resources in the cybersecurity education community. With several thousand users, CLARK is gaining traction as the goto source for free peer-reviewed cybersecurity curriculum. Designed based on lessons-learned from research on digital libraries and learning sciences, CLARK is easy to use by both contributors and consumers.</p>
      </div>
    </div>

  </div>
</div>
<a href=""></a>