<div class="about-clark-container">
  <div class="vertical-container">
    
    <div class="first-section">
      <div class="fs-text-container">
        <p>
          CLARK hosts the largest compilation of free, high-value, high-impact <span class="blue_text">CYBERSECURITY</span> 
          curriculum. Educators looking to teach new cybersecurity <span class="blue_text" >COURSES</span> or 
          expand and improve their instruction can find ready-to-use modular content, including videos, 
          labs, and slides that can be reused and modified under Creative Commons 4.0.
        </p>
      </div>
      <img class = "fs-img" src="../../../../../assets/images/collections/secinj.png" alt="Code Responsibly">
    </div>
      
    <div class="second-section">
      <img class = "ss-img" src="../../../../../assets/images/module.JPG" alt="Module Example">
      <div class="ss-text-container">
        <p>
          CLARK supports the model for <span class="blue_text" >BUILDING</span>  
          modularized curriculum, the digital library system to <span class="blue_text" >BROWSE</span> 
          free curriculum, and unique <span class="blue_text" >COLLECTIONS</span>
          to categorize distinct groups of curriculum. CLARK provides cybersecurity educators with the tools needed
          to better prepare and equip the <span class="blue_text">NEXT WAVE</span> of cybersecurity professionals and researchers.
        </p>
      </div>
    </div>

    <div class="third-section">
      <div class="ts-text-container">
        <p>
          The CLARK system, hosted at <a href="https://www.clark.center" aria-label="Clickable Home page link">www.clark.center</a>, 
          was created as a high-availability, relevant, and scalable repository for free curricular resources in the cybersecurity 
          education community. With several thousand users and over 1000 modularized pieces of content, CLARK is establishing itself as 
          the go-to source for free peer-reviewed cybersecurity curricula. The system is built based on lessons learned from 
          research on digital libraries and learning sciences, making CLARK easy to use by both instructors wanting to share their
          curricula with the community and instructors needing ready-to-use lessons to teach their cyber classes tomorrow.
        </p>
      </div>
    </div>

  </div>
</div>