<div class="content-header">Learning Objects</div>
<div class="object-dropdown">
  <div class="input-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" aria-label="Find learning objects by their name." class="object-dropdown__search-input"
      placeholder="Search for Learning Objects" [(ngModel)]="query"
      (input)="objectSearchInput$.next($event.currentTarget.value)">
  </div>
  @if (showDropdown) {
    <ul class="object-dropdown__list">
      <ng-container
      *ngTemplateOutlet="loading && (searchResults && !searchResults.length) ? loadingTemplate : resultsTemplate"></ng-container>
    </ul>
  }

  @if (assignedObjects && assignedObjects.length) {
    <div class="object-details-container">
      @for (learningObject of assignedObjects; track learningObject) {
        <div class="pill">
          {{ (learningObject.name.length > 40) ? (learningObject.name | slice:0:40) + '...' : learningObject.name }}
          <button (click)="removeSelectedObject(learningObject)" class="pill-button"><i
          class="fa-solid fa-xmark"></i></button>
        </div>
      }
    </div>
  }
</div>

<ng-template #resultsTemplate>
  @if (searchResults && searchResults.length > 0) {
    <virtual-scroller #searchResultsScroller
      [style.height]="'calcVirtualScrollerHeight()'" [items]="searchResults">
      @for (learningObject of searchResultsScroller.viewPortItems; track learningObject) {
        <li class="object-dropdown__list-item"
          (activate)="addSelectedObject(learningObject)">
          <div tabindex="0" class="status"
            [attr.aria-label]="'Learning Object Status: ' + learningObject.status + '. ' + statusDescription"
            [ngClass]="learningObject.status" [tip]="statusDescription" [tipDisabled]="!statusDescription"
            tipPosition="top">
            @if (learningObject.status === 'unreleased') {
              <span><i class="fa-solid fa-eye-slash"></i></span>
            }
            @if (learningObject.status === 'waiting') {
              <span><i class="fa-regular fa-hourglass"></i></span>
            }
            @if (learningObject.status === 'review') {
              <span><i class="fa-solid fa-arrows-rotate"></i></span>
            }
            @if (learningObject.status === 'proofing') {
              <span><i class="fa-solid fa-shield"></i></span>
            }
            @if (learningObject.status === 'released') {
              <span><i class="fa-solid fa-eye"></i></span>
            }
            @if (learningObject.status === 'rejected') {
              <span><i class="fa-solid fa-ban"></i></span>
            }
            @if (learningObject.status === 'accepted_minor') {
              <span><i class="fa-solid fa-check-double"></i></span>
            }
            @if (learningObject.status === 'accepted_major') {
              <span><i class="fa-solid fa-check"></i></span>
            }
          </div>
          <div class="object-info">
            <div>{{ (learningObject.name.length > 40) ? (learningObject.name | slice:0:40) + '...' : learningObject.name }}
            </div>
            <div>{{ learningObject.length | titlecase }}</div>
            <div>{{ (learningObject.assigned) ? learningObject.assigned.length : 0 | titlecase }} Evaluator@if (learningObject.assigned && learningObject.assigned.length !== 1) {
              <span
              >s</span>
            }</div>
          </div>
        </li>
      }
    </virtual-scroller>
  } @else {
    <span class="object-dropdown__message">
      No results!
    </span>
  }
</ng-template>

<ng-template #loadingTemplate>
  <span class="object-dropdown__message">
    <i class="fa-solid fa-arrows-rotate fa-spin"></i>
  </span>
</ng-template>

