<div class="content-header">Learning Objects</div>
<div class="object-dropdown">
  <div class="input-container">
    <i class="fas fa-search"></i> 
    <input type="text" aria-label="Find learning objects by their name." class="object-dropdown__search-input" placeholder="Search for Learning Objects" [(ngModel)]="query" (input)="objectSearchInput$.next($event.currentTarget.value)">
  </div>
  <ul *ngIf="showDropdown" class="object-dropdown__list">
      <ng-container *ngTemplateOutlet="loading && (searchResults && !searchResults.length) ? loadingTemplate : resultsTemplate"></ng-container>
  </ul>

  <div *ngIf="assignedObjects && assignedObjects.length" class="object-details-container">
      <div class="pill" *ngFor="let learningObject of assignedObjects">
        {{ (learningObject.name.length > 40) ? (learningObject.name | slice:0:40) + '...' : learningObject.name }}
        <button (click)="removeSelectedObject(learningObject)" class="pill-button"><i class="fas fa-times"></i></button>
      </div>
  </div>
</div>

<ng-template #resultsTemplate>
  <virtual-scroller *ngIf="searchResults && searchResults.length > 0; else noResultsTemplate " #searchResultsScroller [style.height]="'calcVirtualScrollerHeight()'" [items]="searchResults">
    <li class="object-dropdown__list-item" *ngFor="let learningObject of searchResultsScroller.viewPortItems" (activate)="addSelectedObject(learningObject)">
      <div tabindex="0" class="status" [attr.aria-label]="'Learning Object Status: ' + learningObject.status + '. ' + statusDescription" [ngClass]="learningObject.status" [tip]="statusDescription" [tipDisabled]="!statusDescription" tipPosition="top">
        <span *ngIf="learningObject.status === 'unreleased'"><i class="fas fa-eye-slash"></i></span>
        <span *ngIf="learningObject.status === 'waiting'"><i class="fas fa-hourglass"></i></span>
        <span *ngIf="learningObject.status === 'review'"><i class="fas fa-sync"></i></span>
        <span *ngIf="learningObject.status === 'proofing'"><i class="fas fa-shield"></i></span>
        <span *ngIf="learningObject.status === 'released'"><i class="fas fa-eye"></i></span>
        <span *ngIf="learningObject.status === 'rejected'"><i class="fas fa-ban"></i></span>
        <span *ngIf="learningObject.status === 'accepted_minor'"><i class="fas fa-check-double"></i></span>
        <span *ngIf="learningObject.status === 'accepted_major'"><i class="fas fa-check"></i></span>
      </div>
      <div class="object-info">
        <div>{{ (learningObject.name.length > 40) ? (learningObject.name | slice:0:40) + '...' : learningObject.name }}</div>
        <div>{{ learningObject.length | titlecase }}</div>
        <div>{{ (learningObject.assigned) ? learningObject.assigned.length : 0 | titlecase }} Evaluator<span *ngIf="learningObject.assigned && learningObject.assigned.length !== 1">s</span></div>
      </div>
    </li>
  </virtual-scroller>
</ng-template>

<ng-template #loadingTemplate>
  <span class="object-dropdown__message">
    <i class="far fa-spinner-third fa-spin"></i>
  </span>
</ng-template>

<ng-template #noResultsTemplate>
  <span class="object-dropdown__message">
    No results!
  </span>
</ng-template>