
.title-text {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.title__icon {
  background: white;
  color: black;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.subtitle-text {
  font-size: 33px;
  font-weight: lighter;
}