@import 'vars.scss';

$background-blue: lighten($light-blue, 34);

.title-text {
  font-size: $largest;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.title__icon {
  background: $background-blue;
  color: $light-blue;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

.subtitle-text {
  font-size: $largest;
  font-weight: lighter;
}