<section class="top">
  <div class="img-viewport">
    <div class="search-viewport">
      <div class="search-contents">
        <div class="feature-text" id="home-title">Cybersecurity curriculum at your fingertips.</div>
        <form (keydown)="keyDownSearch($event)">
          <div>
            <input autofocus type="text" class="search-input" id="search-input" placeholder="Searching across {{ learningObjectService.totalLearningObjects }} learning objects" [(ngModel)]="query.text" name="query">
            <div class="browselink" routerLink="/browse">Browse All</div>
            <button type="button" class="button bad" id="search-button" (click)="search()" style="margin-top: 15px;">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="home-banner"></div> -->
</section>
<div class="whois">
  <div class="feature-text">What is C.L.A.R.K.?</div>
  <span>CLARK is a prototype curriculum management platform that will host a diverse cybersecurity learning objects. It was created because there is a demonstrated need for a high-quality and high-availability repository for curricular and ancillary resources in the cybersecurity education community.</span>
</div>
<div class="featured-viewport">
  <cube-featured></cube-featured>
    <div class="feature-text">Contribute your freely accessible cybersecurity material for others to use.</div>
    <div class="button bad" id="contribute-to-clark" (click)="goToContribute()">Contribute to CLARK</div>
</div>
