//remove after 5th birthday
.gradient {
    position: absolute; 
    height: 140px; 
    width: 100%; 
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0), white);
    z-index: 9;
}

@media(min-width: 405px) {
    .gradient{
        height: 90px;
    }
}
//remove after 5th birthday