@import '~_vars.scss';

$top-height: 500px;
$banner-height: 90px;

::ng-deep .feature-text {
  font-weight: 200;
  font-size: 33px;
  margin-bottom: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.whois {
  display: flex;
  flex-direction: column;
  background: $blue-gradient;
  padding: 100px 20px;
  justify-content: center;
  align-items: center;
  color: white !important;

  span {
    max-width: $max-width;
    font-size: 18px;
    text-align: center;
  }
}

.top {

  .img-viewport {
    background: url('/assets/images/servers.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    padding: 200px 20px;

    &:after {
      // color overlay to darken image slightly
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: darken($blue-accent, 35);
      opacity: 0.2;
      z-index: 1;
    }

    .search-viewport {
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: 100%;
      position: relative;
      z-index: 2;

      .search-contents {
        margin: auto;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .feature-text {
          color: white;
          text-align: center;
        }

        form {
          display: inline-block;
          text-align: right;
          // max-width: 500px;
            width: 100%;

          .search-input {
            padding: 12px;
            width: 100%;
            border-radius: 3px;
            -webit-appearance: none;
            border: 2px solid white;
            outline: none;
            font-size: 16px;
            box-shadow: 0 0 0 0 lighten($blue-accent, 20);
            transition: all 0.2s ease;

            &:focus {
              box-shadow: 0 0 12px 3px lighten($blue-accent, 20);
            }
          }
        }
      }
    }
  }

  .home-banner {
    background: $blue-gradient;
    height: $banner-height;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    color: white;
  }
}

.contribute-invitation {
  width: 100%;
  text-align: center;
  background: white;
  padding-top: 30px;

  p {
    font-size: 18px;
    margin-top: 30px;
  }

  button {
    margin-top: 30px;
    font-size: 20px;
  }
}

.search-results {
  position: relative;
}

.featured-viewport {
  padding: 100px 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  padding: 0 20px 25px;
  .collection-viewport {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // TODO: Set as variable shared between this and featured
    max-width: 1375px;
    // text stuff
    font-weight: 200;
    
    color: $dark-text;
    text-align: center;
    .title {
      width: 100%;
      text-align: left;
      padding-left: 12px;
      font-size: 33px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    }
    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 0;
      .featured-collections {
        margin-bottom: 25px;
        position: relative;
        width: 100%;
        text-align: left;
        .description {
          font-size: 16px;
        }
      }
      .card-container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 10px;
    
        .collection-card {
          background: white;
          border-radius: 3px;
          box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.05);
          padding: 16px;
          display: flex;
          flex-flow: column nowrap;
          margin: 0 40px;
          font-weight: normal;
          width: 200px;
          cursor: pointer;
          .collection-image {
            position: relative;
            width: 125px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: auto;
            &:after {
              content: '';
              display: block;
              padding-bottom: 100%;
            }
          }
          .collection-name {
            text-align: center;
            width: 100%;
            margin-top: 50px;
            color: black;
            font-size: 16px;
          }
        }
      }
    }
  }
}
.call-to-action {
  padding: 0 20px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .feature-text {
    padding-top: 45px;
    margin: 65px auto 30px;
    text-shadow: 0 2px transparent;
    color: $dark-text;
    text-align: center;
    position: relative;

    &:after {
        content: '';
        top: 0;
        height: 2px;
        background: black;
        opacity: 0.1;
        width: 50%;
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
    }
  }

  .button {
    margin: auto;
    font-size: 18px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }
}

.browselink {
  color: white;
  font-size: 18px;
  // width: 100px;
  cursor: pointer;
  @include vert-center;
  position: relative;
  left: -10px;
  flex-direction: row;
  justify-content: right;
  text-align: right;

  &:hover {
    text-decoration: underline;
    }
}

@media (max-width: 750px) {

  .img-viewport {
    padding-top: 60px !important;
    padding-bottom: 60px !important;

    &:after {
      opacity: 0.4 !important;
    }
  }

  .featured-viewport,
  .whois {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  ::ng-deep .feature-text {
    font-size: 26px !important;
  }
}