@import '~_vars.scss';

$dark-grey: #111;
$light-text: #fff;
$success-green: #389857;
$black: #000;
$red: #cf4739;
$blue: #3b608b;
$light: #fefefe;

:host {
  position: fixed;
  z-index: 9999999999999999999999999999999;
}

.tooltip {
  position: fixed;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $smaller;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal; //overflow-wrap: break-word;
  word-spacing: normal;
  word-wrap: break-word;
  white-space: normal;
  line-break: auto;
  opacity: 0.95;
  animation: fadein 0.25s;
  z-index: 9999999999999999999999999999999;

  &.dark {
    .tooltip-inner {
      color: $light-text;
      background-color: $black;
    }

    &.top .tooltip-arrow {
      border-top-color: $black;
    }

    &.right .tooltip-arrow {
      border-right-color: $black;
    }

    &.left .tooltip-arrow {
      border-left-color: $black;
    }

    &.bottom .tooltip-arrow {
      border-bottom-color: $black;
    }
  }

  &.light {
    .tooltip-inner {
      color: $dark-grey;
      background-color: $light;
      background: linear-gradient(-90deg, darken($light, 2), $light);
    }

    &.top .tooltip-arrow {
      border-top-color: $light;
    }

    &.right .tooltip-arrow {
      border-right-color: $light;
    }

    &.left .tooltip-arrow {
      border-left-color: $light;
    }

    &.bottom .tooltip-arrow {
      border-bottom-color: $light;
    }
  }

  &.good {
    .tooltip-inner {
      color: $light-text;
      background-color: $success-green;
    }

    &.top .tooltip-arrow {
      border-top-color: $success-green;
    }

    &.right .tooltip-arrow {
      border-right-color: $success-green;
    }

    &.left .tooltip-arrow {
      border-left-color: $success-green;
    }

    &.bottom .tooltip-arrow {
      border-bottom-color: $success-green;
    }
  }

  &.bad {
    .tooltip-inner {
      color: $light-text;
      background-color: $red;
    }

    &.top .tooltip-arrow {
      border-top-color: $red;
    }

    &.right .tooltip-arrow {
      border-right-color: $red;
    }

    &.left .tooltip-arrow {
      border-left-color: $red;
    }

    &.bottom .tooltip-arrow {
      border-bottom-color: $red;
    }
  }

  &.neutral {
    .tooltip-inner {
      color: $light-text;
      background-color: $blue;
    }

    &.top .tooltip-arrow {
      border-top-color: $blue;
    }

    &.right .tooltip-arrow {
      border-right-color: $blue;
    }

    &.left .tooltip-arrow {
      border-left-color: $blue;
    }

    &.bottom .tooltip-arrow {
      border-bottom-color: $blue;
    }
  }

  .tooltip-inner {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    opacity: 0.95;
  }

  &.top {
    padding: 5px 0;
    margin-top: -3px;

    .tooltip-inner {
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
    }

    &.tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
    }
  }

  &.right {
    padding: 0 5px;
    margin-left: 3px;

    &.tooltip-arrow {
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
    }
  }

  &.bottom {
    padding: 5px 0;
    margin-top: 3px;

    &.tooltip-arrow {
      top: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
    }
  }

  &.left {
    padding: 0 5px;
    margin-left: -3px;

    &.tooltip-arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
