<div class="wrapper warning" *ngIf="showBanner">
  <div class="inner-wrapper">
    <div aria-live = "assertive">Clark will be down for scheduled maintenance on Monday July 26th 2021 from 6AM EDT - 8AM EDT.</div>
    <br>
    <div aria-live="assertive">{{ message.message }} </div>
    <a *ngIf="!downtime" class="status-link" [routerLink]="['/onion/learning-object-builder/info']" aria-label="Create a learning object" target="_blank"> Create a Learning Object</a>
    <a *ngIf="downtime" class="status-link" [routerLink]="['/system/status']" aria-label="Clickable System Outages link" target="_blank"> View Status</a>
  </div>
</div>