@import '~_vars.scss';

.wrapper {
  position: relative;
  z-index: 4;
  padding: 10px;
  background: $blue-accent;
  color: white;

  .inner-wrapper {
    max-width: $max-width;
    margin: auto;
    font-size: $normal;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .icon {
      margin-right: 10px;
    }
  }

  // styles
  &.bad {
    background: $error-red;
    color: white;
  }

  &.good {
    background: $success-green;
    color: white;
  }

  &.warning {
    background: #0B78CB;
    color: white;
  }
}