<div class="dashboard-item">
    <div class="row-item">
        <div>
            <div
                class="status"
                [attr.aria-label]="
                    'Learning Object Status: ' + statusLabel
                "
                [ngClass]="learningObject.status">
                <span><i class="fas" [ngClass]="statusIcon"></i></span>
            </div>
        </div>
        <div>
            {{ learningObject.name }}
        </div>
        <div>
            {{ learningObject.author.name | titlecase }}
        </div>
        <div>{{ learningObject.length | titlecase }}</div>
        <div>{{ learningObject.date | date: "longDate" }}</div>
        <div>
            <div *ngIf="!disabled" class="handle-bar">
                <i class="far fa-bars"></i>
            </div>
            <div *ngIf="disabled" class="already-featured">
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</div>
