<div class="builder-template-columns">
  <div class="columns" [@columns]="3">
    <div *ngIf="leftCol?.nativeElement" class="left-column column">
      <div class="content">
        <ng-content select="[left]"></ng-content>
      </div>
    </div>
    <div *ngIf="mainCol?.nativeElement" class="main-column column">
      <div class="content">
        <ng-content select="[main]"></ng-content>
      </div>
    </div>
    <div *ngIf="rightCol?.nativeElement" class="right-column column">
      <div class="content">
        <ng-content select="[right]"></ng-content>
      </div>
    </div>
  </div>
</div>