@if (isDesktop && showNav) {
  <div class="secondary-navbar">
    <div class="item browse" #browseAnchor (click)="dropdowns.toggleBrowseDropdown()" tabindex="0">Browse
      @if (!browseDropdown) {
        <span>
          <i class="fa fa-chevron-down"></i>
        </span>
      }
      @if (browseDropdown) {
        <span>
          <i class="fa fa-chevron-up"></i>
        </span>
      }
    </div>
    @if (browseDropdown) {
      <clark-context-menu class="dropdown" [anchor]="browseAnchor"
        (close)="dropdowns.closeAll()">
        <div #contextMenu>
          <ul>
            <li [routerLink]="'/browse'">Browse Curriculum</li>
            <li (click)="utilityService.openCard()">Browse Resources</li>
          </ul>
        </div>
      </clark-context-menu>
    }
    <div class="item collections" id="collectionsAnchor" #collectionsAnchor
      (click)="dropdowns.toggleCollectionDropdown()" tabindex="0">Collections
      @if (!collectionsDropdown) {
        <span>
          <i class="fa fa-chevron-down"></i>
        </span>
      }
      @if (collectionsDropdown) {
        <span>
          <i class="fa fa-chevron-up"></i>
        </span>
      }
    </div>
    <div class="item topics" #topicsAnchor (click)="dropdowns.toggleTopicDropdown()" tabindex="0">Topics
      @if (!topicDropdown) {
        <span>
          <i class="fa fa-chevron-down"></i>
        </span>
      }
      @if (topicDropdown) {
        <span>
          <i class="fa fa-chevron-up"></i>
        </span>
      }
    </div>
    @if (topicDropdown) {
      <clark-context-menu [anchor]="topicsAnchor" (close)="dropdowns.closeAll()">
        <div #contextMenu>
          <ul>
            @for (t of topics; track t) {
              <li (click)="dropdowns.setTopic(t._id)">{{ t.name }}</li>
            }
          </ul>
        </div>
      </clark-context-menu>
    }
    <div class="item resources" #resourcesAnchor (click)="dropdowns.toggleResourcesDropdown()" tabindex="0">Other Resources
      @if (!resourcesDropdown) {
        <span>
          <i class="fa fa-chevron-down"></i>
        </span>
      }
      @if (resourcesDropdown) {
        <span>
          <i class="fa fa-chevron-up"></i>
        </span>
      }
    </div>
    @if (resourcesDropdown) {
      <clark-context-menu class="dropdown" [anchor]="resourcesAnchor"
        (close)="dropdowns.closeAll()">
        <div #contextMenu>
          <ul>
            @for (r of externalResources; track r) {
              <li (click)="dropdowns.linkOut(r.link)">{{ r.name }}</li>
            }
          </ul>
        </div>
      </clark-context-menu>
    }
  </div>
}

<div>
  @if (collectionsDropdown) {
    <clark-collections-dropdown (close)="dropdowns.closeAll()"></clark-collections-dropdown>
  }
</div>