<div class="secondary-navbar" *ngIf="isDesktop && showNav">
    <div class="item about-us" [routerLink]="['/about']">About Us</div>
    <div class="item collections" #collectionsAnchor (click)="dropdowns.toggleCollectionDropdown()">Collections
        <span *ngIf="!collectionsDropdown">
            <i class="fa fa-chevron-down"></i>
        </span>
        <span *ngIf="collectionsDropdown">
            <i class="fa fa-chevron-up"></i>
        </span>
    </div>
    <div class="item resources" #resourcesAnchor (click)="dropdowns.toggleResourcesDropdown()">Resources
        <span *ngIf="!resourcesDropdown">
            <i class="fa fa-chevron-down"></i>
        </span>
        <span *ngIf="resourcesDropdown">
            <i class="fa fa-chevron-up"></i>
        </span>
    </div>
    <clark-context-menu *ngIf="resourcesDropdown" [anchor]="resourcesAnchor" (close)="dropdowns.closeAll()">
        <div #contextMenu>
            <ul>
                <li *ngFor="let r of externalResources" (click)="dropdowns.linkOut(r.link)">{{ r.name }}</li>
            </ul>
        </div>
    </clark-context-menu>
    <div class="item topics" #topicsAnchor (click)="dropdowns.toggleTopicDropdown()">Topics
        <span *ngIf="!topicDropdown">
            <i class="fa fa-chevron-down"></i>
        </span>
        <span *ngIf="topicDropdown">
            <i class="fa fa-chevron-up"></i>
        </span>
    </div>
    <clark-context-menu *ngIf="topicDropdown" [anchor]="topicsAnchor" (close)="dropdowns.closeAll()">
        <div #contextMenu>
            <ul>
                <li *ngFor="let t of topics" (click)="dropdowns.setTopic(t._id)">{{ t.name | titlecase}}</li>
            </ul>
        </div>
    </clark-context-menu>
</div>

<clark-collections-dropdown *ngIf="collectionsDropdown" [anchor]="collectionsAnchor"></clark-collections-dropdown>