<div class="wrapper">
  <div class="component">
    <clark-header-ncyte></clark-header-ncyte>
  </div>
  <div class="component-with-top-margin">
    <clark-feature [collectionName] = "'ncyte'"></clark-feature>
  </div>
  <div class="component-with-top-margin">
    <clark-resource ></clark-resource>
  </div>
  <div class="component-with-top-margin">
    <clark-curators [collectionName] = "'ncyte'"></clark-curators>
  </div>
  <div class="component-with-top-margin">
    <clark-stats [collectionName] = "'ncyte'"></clark-stats>
  </div>
  <div class="component-with-top-margin">
    <clark-footer></clark-footer>
  </div>
<div>


