<div class="wrapper">
  <div class="resource-info-1">
    <img class = "logo-tech-ncyte" src="../../../../assets/images/collections/ncyte.png" alt="">
    <p class="desc-ncyte">
        The National Cybersecurity Training & Education (NCyTE) Center advances cybersecurity education in the U.S. 
        by investing in technological innovation, resources, professional development and tools to support faculty, 
        community colleges and the workforce pipeline of tomorrow.
        Details at: <a aria-label="Ncyte Center" href=" http://ncyte.net">www.ncyte.net</a>
     </p>
  </div>
  <div class = "resource-info-2">
    <p class="desc-whatcom">
        Located at Whatcom community college, 
        NCyTE is committed to improving the quantity and quality
        of existing cybersecurity resources and building upon these
        resources to develop effective training and teaching modules. 
        By concentrating on student development; professional development;
        and curriculum development, revision, and dissemination,
        NCyTE Center incorporates effective outreach efforts to 
        raise awareness and build viable partnerships among academia and industry.
    </p>
  </div>
<div>
<cube-footer></cube-footer>

