<div>
   <header class="header">
       <div class="ncyte-title">
           <img class = "logo" src="../../../../assets/images/collections/ncyte.png" alt="Ncyte Center">
           <h2 class = "logo-header">The National Cybersecurity Training
               & Education (NCyTE) Center Curricular Resources
           </h2>
       </div>
       <div class="section section-browse">
           <section class = "section-accent">
                   <span class = "fa-2x fas fa-user-graduate"></span>
                   <p class = "browse-desc">
                       Developing strong cybersecurity programs and faculty
                       is key to developing a stronger cybersecurity workforce
                   </p>
                   <button class = "btn"><span class="btn-name">Browse Curriculum</span>
                       <br>-></button>
           </section>
       </div>
   </header>
   <div class="section section-featured-learning">
       <section class = "section-accent">
           <span class="fa-2x fal fa-cube"></span>
            <h2 class = "featured-learning-title">
                FEATURED LEARNING OBJECTS
            </h2>
            <p class = "feature-desc">
                Packaged cybersecurity learning objects
                 designed to help your students learn skills 
                 that employers are seeking
            </p>
       </section>
       <section class = "section-objects">
    
           <!-- inline flex for these lists and flex direction still for ul row -->
            <ul class = "list1">
                <li class = "module">
    
                    <span>
                        Secure Scripting in Python
                    </span>  
                    <p class="module-desc">
                        C5colleges@wcc | C5, and 1 more
                        Updated Oct 13, 2018
                        This micromodule includes a prese...
                    </p>
                </li>
                <li class = "module">
                    <span>
                        Hash Functions
                    </span>  
                    <p class="module-desc">
                        C5colleges@wcc | C5, and 1 more
                        Updated Oct 13, 2018
                        This micromodule includes a prese...
                    </p>    
    
                </li>
                <li class = "module">
                    <span>
                        Data in Motion
                    </span>  
                    <p class="module-desc">
                        C5colleges@wcc | C5, and 1 more
                        Updated Oct 13, 2018
                        This micromodule includes a prese...
                    </p>     
                </li>
            </ul>
            <ul class = "list2">
                <li class = "module">
                    <span>
                        Input Validation
                    </span>  
                    <p class="module-desc">
                        C5colleges@wcc | C5, and 1 more
                        Updated Oct 13, 2018
                        This micromodule includes a prese...
                    </p>         
                </li>
                <li class = "module">
                    <span>
                        Cybersecurity and Society
                    </span>    
                    <p class="module-desc">
                        C5colleges@wcc | C5, and 1 more
                        Updated Oct 13, 2018
                        This micromodule includes a prese...
                    </p>       
                </li>
                <li class = "module">
                    <span>
                        The Software Development Life ...
                    </span>   
                    <p class="module-desc">
                        C5colleges@wcc | C5, and 1 more
                        Updated Oct 13, 2018
                        This micromodule includes a prese...
                    </p>        
                </li>
    
            </ul>
       </section>
   </div>
   <section class = "section-resource-info">
       <div class="section-resource">
           <div class="resource-info-1">
               <img class = "logo-tech-ncyte" src="../../../../assets/images/collections/ncyte.png" alt="">
               <p class="desc-ncyte">
                   The National Cybersecurity Training & Education (NCyTE) Center advances cybersecurity education in the U.S. 
                   by investing in technological innovation, resources, professional development and tools to support faculty, 
                   community colleges and the workforce pipeline of tomorrow.
                   Details at: http://ncyte.net
                </p>
           </div>
           <div class = "resource-info-2">
               <p class="desc-whatcom">
                   Located at Whatcom community college, 
                   NCyTE is committed to improving the quantity and quality
                   of existing cybersecurity resources and building upon these
                   resources to develop effective training and teaching modules. 
                   By concentrating on student development; professional development;
                   and curriculum development, revision, and dissemination,
                   NCyTE Center incorporates effective outreach efforts to 
                   raise awareness and build viable partnerships among academia and industry.
               </p>
               <img src="../../../../assets/images/collections/cae_community.png" alt="" class="logo-tech-whatcom">
            </div>

            <section class = "section section-tech-innovation section-accent">
                <span class="fa-lg fal fa-chart-network"></span>
                 <h2 class="tech-title">
                     INVESTING IN TECHNOLOGICAL
                     INNOVATION, RESOURCES, 
                     PROFESSIONAL DEVELOPMENT AND TOOLS
                 </h2>
            </section>
       </div>
   </section>
   <section class = "section section-curators">
     <div class="section-accent">
           <span class="fa-2x fas fa-users"></span>
           <span class="curators-title">
            COLLECTION 
            CURATORS
           </span>
           <p class="curators-desc">
            Collection curators are 
            responsible for their collection’s 
             review process and continued quality
        </p>
    </div>
    <div class = "curators">
        <!-- give display property a value of inline flex -->
         <div class = "curator-1">
             <p class = "curator-name">
                 Corinne Sande
             </p>
             <p class="curator-instituion">
                 Whatcom Community Colleges
             </p>
         </div>
         <div class="curator-2">
             <p class = "curator-name"> 
                 John Doe
             </p>
             <p class="curator-insitution">
                 Insitution
             </p>
         </div>
        </div>
   </section>
   <section class = "section section-stats">
        <div class = "icon icon-release">
            <span class="fa-2x fal fa-cube"></span>
            <span class = "num">33</span>
            <p class="release-desc">
                Released  Learning Objects
            </p>
        
        </div>
        <div class = "icon icon-review">
            <span class="fa-2x fal fa-cube"></span>
            <span class = "num">3</span>
            <p class="review-desc">
                Learning Objects
                Under Review
            </p>
        </div>
        <div class = "icon icon-download">
            <span class="fa-2x fal fa-cloud-download"></span>
            <span class = "num">768</span>
            <p class="download-desc">
                Learning Object Downloads
            </p>
        </div>
        <div class = "icon icon-authors">
            <span class="fa-2x fal fa-cube"></span>
            <span class = "num">15</span>
            <p class="authors-desc">
                Collection Authors
            </p>
        </div>
        <div class = "section-numbers section-accent">
             <span class="fa-2x fal fa-chart-bar"></span>
             <p class="numbers-desc-title">
                 NCyTE CURRICULUM BY THE NUMBERS
             </p>
        </div>
   </section>
   <section class = "footer">
        <span class = "learn-more">
               This is the page for the ncyte curriculum collection on 
               CLARK (
               <a class = "link" href="#"> www.clark.center  </a>
               )
               While clark hosts the curriculumn, all rights are retained
               by the NCyTE Center. Learn more at  <br>
               <a class = "link" href="#">https://ncyte.net</a>
            
        </span>
        <div class="ncyte-down">
            <img class = "logo-nsf" src="../../../../assets/images/collections/NSF_logo.png" alt="">
            <span class="fund">
                NCyTE Center is funded by the National Science Foundation 
                by Grant #1599375, Grant #1800589 and Grant #1902329
            </span>
        </div>
        <div class="social">

        </div>
   </section>
</div>