
    <div class="section-resource">
        <div class="resource-info-1">
            <img class = "logo-tech-ncyte" src="../../../../assets/images/collections/ncyte.png" alt="">
            <p class="desc-ncyte">
                The National Cybersecurity Training & Education (NCyTE) Center advances cybersecurity education in the U.S. 
                by investing in technological innovation, resources, professional development and tools to support faculty, 
                community colleges and the workforce pipeline of tomorrow.
                Details at: <aria-label href=" http://ncyte.net">www.ncyte.net</aria-label>
             </p>
    
        </div>
        

         <section class = "section section-tech-innovation section-accent">
             <span class="fa-lg fal fa-chart-network"></span>
              <h2 class="tech-title">
                  INVESTING IN TECHNOLOGICAL
                  INNOVATION, RESOURCES, 
                  PROFESSIONAL DEVELOPMENT AND TOOLS
              </h2>
         </section>
    </div>
