
    <div class="section-resource">
        <div class="resource-info-1">
            <img class = "logo-tech-ncyte" src="../../../../assets/images/collections/ncyte.png" alt="">
            <p class="desc-ncyte">
                The National Cybersecurity Training & Education (NCyTE) Center advances cybersecurity education in the U.S. 
                by investing in technological innovation, resources, professional development and tools to support faculty, 
                community colleges and the workforce pipeline of tomorrow.
                Details at: http://ncyte.net
             </p>
        </div>
        <div class = "resource-info-2">
            <p class="desc-whatcom">
                Located at Whatcom community college, 
                NCyTE is committed to improving the quantity and quality
                of existing cybersecurity resources and building upon these
                resources to develop effective training and teaching modules. 
                By concentrating on student development; professional development;
                and curriculum development, revision, and dissemination,
                NCyTE Center incorporates effective outreach efforts to 
                raise awareness and build viable partnerships among academia and industry.
            </p>
            <img src="../../../../assets/images/collections/whatcom.png" alt="" class="logo-tech-whatcom">
         </div>

         <section class = "section section-tech-innovation section-accent">
             <span class="fa-lg fal fa-chart-network"></span>
              <h2 class="tech-title">
                  INVESTING IN TECHNOLOGICAL
                  INNOVATION, RESOURCES, 
                  PROFESSIONAL DEVELOPMENT AND TOOLS
              </h2>
         </section>
    </div>
