defaults: &defaults
  working_directory: ~/clark-client
  docker:
    - image: cyber4all/circleci-aws:latest

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: 'dependency-cache-{{ checksum "package.json" }}'
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: 'dependency-cache-{{ checksum "package.json" }}'
          paths:
            - ~/.cache/npm
            - ./node_modules
      - run:
          name: Build Application
          command: yarn ng build --prod --aot=false
      - persist_to_workspace: 
          root: dist
          paths: ./
  test:
    <<: *defaults
    steps:
      - attach_workspace : 
          at: ~/clark-client/dist
      - run: echo 'We need tests'
  deploy:
    <<: *defaults
    steps:
      - attach_workspace : 
          at: ~/clark-client/dist
      - run: 
          name: Invalidate index.html in CloudFront
          command: aws cloudfront create-invalidation --distribution-id ${cloudfront_id} --paths /index.html
      - run:
          name: Deploy to S3 
          command: aws s3 sync ${source} s3://${s3_bucket} --region ${s3_region}
workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
  build-test-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: /master/
      - test:
          requires:
            - build
          filters:
            branches:
              only: /master/
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: /master/
