version: 2.1

orbs:
  cyber4all: cyber4all/orb@2.0.12

workflows:
  integration-testing:
    jobs:
      - cyber4all/lint

  continuous-deployment:
    when:
      equal: [ releases, << pipeline.git.branch >> ]
    jobs:
      - cyber4all/release:
          context: [Github]
          tag: "$(jq -r '.version' package.json)"
        
      - cyber4all/s3:
          context: [AWS, Slack]
          requires: [cyber4all/release]
          name: deploy-production
          bucket: "curriculum-listings"
