<div>
  <!-- Collection Filters -->
  <clark-filter-section [info]="collectionFilter" (change)="registerChange()"></clark-filter-section>

  <!-- Length Filters -->
  <clark-filter-section [info]="lengthFilter" (change)="registerChange()"></clark-filter-section>

  <!-- Topics Filters -->
  <clark-filter-section [info]="topicFilter" (change)="registerChange()"></clark-filter-section>

  <!-- Materials Filters -->
  <clark-filter-section [info]="materialFilter" (change)="registerChange()"></clark-filter-section>

  <!-- Level Filters -->
  <clark-filter-section [info]="levelFilter" (change)="registerChange()"></clark-filter-section>

  <!-- Guidelines Filters -->
  <!-- TODO: Implement standard guideline frameworks integration -->
</div>