<div class="section title spaced">
  Materials For This {{ length | titlecase}}
</div>
<div class="file-details-wrapper section">
  <section class="files">
    <div class="grid-area" [ngClass]="{header: materials.files.length}">
      <div class="section title">
        Files
      </div>
      <ng-container *ngIf="materials.files.length">
        <div class="file-count">
          {{ materials.files.length }} Files
        </div>
        <div class="description">
          <span class="link-button" (click)="forceCollapse()">Collapse All</span>
        </div>
      </ng-container>
    </div>


    <div *ngIf="materials.files.length" class="file-listing">
      <cube-folder-view *ngFor="let folder of rootNode.children" [forceCollapse$]="forceCollapse$" [folder]="folder"></cube-folder-view>
      <cube-file-view *ngFor="let file of rootNode.files" [file]="file"></cube-file-view>
    </div>
    <div *ngIf="materials.files.length < 1" class="no-listings">
      This Learning Object has no attached files.
    </div>
  </section>

  <section class="links">
    <div class="section title">Links</div>
    <div class="link-listing" *ngFor="let link of materials.urls">
      <span class="link-listing-title">{{ link.title }}</span>
      <span class="link-listing-url">
        <a href="{{ link.url }}" target="_blank">Open Link</a>
      </span>
    </div>
    <div *ngIf="materials.urls && materials.urls.length < 1" class="no-listings">
      This Learning Object has no attached links.
    </div>
  </section>

  <section class="notes">
    <div class="section title">Notes</div>
    {{ materials.notes }}
    <div *ngIf="materials.notes.length < 1" class="no-listings">
      This Learning Object has no notes.
    </div>
  </section>
</div>
