@import '~_vars.scss';
.file-details-wrapper {
  background: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 2px;
  padding: 20px;
  color: $dark-text;
  margin-bottom: 40px;
}
.header {
  margin-bottom: 20px;
}
.files,
.links,
.notes {
  margin-bottom: 40px;
}

.section.title {
  color: black;
  font-size: 22px;
}
.section.title.spaced {
  margin-bottom: 15px;
}

::ng-deep .grid-area {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-areas: 'title file-count description';
  align-items: center;

  .title {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: title;
  }
  .file-count {
    grid-area: file-count;
  }
  .description {
    display: grid;
    justify-content: flex-end;
    grid-area: description;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.file-listing {
  display: grid;
  grid-row-gap: 10px;
  margin: 20px 0;
}

.link-listing {
  word-wrap: break-word;
}

.link-button {
  color: $bright-blue;
  cursor: pointer;
  transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
}
.link-button:active {
  opacity: 0.3;
  transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
}
.links {
  $section-width: 45%;
  .link-listing {
    display: flex;
    flex-flow: row nowrap;
    padding: 8px 0 8px 0;
    .link-listing-title,
    .link-listing-url {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .link-listing-title {
      width: $section-width;
      flex-grow: 1;
      margin-left: 1%;
      margin-right: 8%;
    }
    .link-listing-url {
      margin-right: 1%;
    }
  }
}
