<div class="file-upload-status">
    <virtual-scroll [items]="filterFiles().concat(filterFolders())" (update)="viewportItems = $event">
      <div class="file folder" *ngFor="let f of viewportItems">
        <div class="name">
          <span *ngIf="!f.items">
            <i class="fas {{ getIcon(f.extension) }}"></i>
          </span>
          <span *ngIf="f.items >= 0">
            <i class="fas fa-folder"></i>
          </span>
          {{ f.name }} ({{f.items}} {{ f.items === 1 ? 'item' : 'items'}})
        </div>
        <clark-progress [percentage]="f.progress || 0"></clark-progress>
      </div>
    </virtual-scroll>
</div>