.file {
    display: grid;
    grid-auto-columns: 100%;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
    align-items: center;
    grid-gap: 20px;
    opacity: 0.6;

    .name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .svg-inline--fa {
        width: 20px;
        margin-right: 13px;
        font-size: 20px;
    }
}