<div class="list-item">
  @if (node.showForm === true) {
    <div class="node form">
      <mat-form-field class="name-field" appearance="outline">
        <mat-label>Learning Object Name</mat-label>
        <input #name matInput [formControl]="nameFormControl" minlength="2" [(ngModel)]="node.name">
        @if (nameFormControl.errors?.forbiddenName) {
          <mat-error class="error">
            Name already exists for the author!
          </mat-error>
        }
        @if (nameFormControl.hasError('required')) {
          <mat-error>
            Name is <strong>required</strong>
          </mat-error>
        }
        @if (nameFormControl.errors?.minlength) {
          <mat-error>
            Name is must be at least 2 characters
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="length-field" appearance="outline">
        <mat-label>Learning Object Length</mat-label>
        <mat-select [(ngModel)]="node.length" name="length">
          @for (length of lengths; track length) {
            <mat-option [value]="length.value">
              {{ length.viewValue }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }
  @if (node.showForm === false) {
    <div class="node card">
      <span class="node card name">{{ node.name }}</span>
      <span class="node card length">{{ node.length | titlecase }}</span>
    </div>
  }
  @if (node.length !== 'nanomodule') {
    <button class="add-node" (click)="addNode.emit(node)"><i class="far fa-plus"></i></button>
  }
  @if (node.showForm === true) {
    <button class="add-node trash" (click)="remove()"><i class="far fa-trash"></i></button>
  }
</div>

