<div class="dropdown-filter" [class.dropdown-filter--open]="isOpen">
  <button
    type="button"
    class="dropdown-filter__trigger"
    [class.active]="internalSelectedValues.length > 0"
    [disabled]="disabled"
    (click)="toggleMenu($event)"
  >
    {{ buttonLabel }}
    <i class="far fa-chevron-down" aria-hidden="true"></i>
  </button>

  <div
    class="dropdown-filter__menu"
    *ngIf="isOpen"
    (click)="$event.stopPropagation()"
  >
    <button
      type="button"
      class="dropdown-filter__option"
      *ngFor="let option of options; trackBy: trackByValue"
      [class.selected]="isSelected(option.value)"
      [disabled]="option.disabled"
      (click)="onOptionClick(option, $event)"
    >
      <span class="dropdown-filter__indicator" [class.checked]="isSelected(option.value)">
        <span *ngIf="isSelected(option.value)">\u2713</span>
      </span>
      <span>{{ option.label }}</span>
    </button>

    <button
      type="button"
      class="dropdown-filter__clear"
      *ngIf="internalSelectedValues.length > 0"
      (click)="clearSelection($event)"
    >
      Clear
    </button>
  </div>
</div>
