<div class="search-bar">
  <input type="search" placeholder="Search for Children" [(ngModel)]="childrenSearchString" />
  <button class="search-button" (click)="search()">
    <i class="far fa-search"></i>
  </button>
</div>

<ng-template [ngIf]="children && children.length > 0">
  <div class="children-list">
    <div *ngFor="let c of children; let i= index" class="child-box"> 
      <div class = "info">
        <div class = "top-row">
          <div class = "child-title">{{c.name}}</div>
        </div>
        <div class = "bottom-row">
          <div [ngClass]="c.length" class="child-length" >{{c.length | titlecase}}</div>
            <div class = "child-last-updated">{{c.date |  date:'shortDate'}}</div>
        </div>
      </div>
      <button class="add" (click)="addChildToList(i)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="!children">
  <div class="loading-template">
    <i class="far fa-spinner-third fa-spin"></i>
    Loading...
  </div>

</ng-template>
