@import '~_vars.scss';
@import '../../global-details';

$sidebar-width: 320px;
$content-width: calc(#{$max-width} - #{$sidebar-width});

.splash {
  padding: 50px 0;
  position: relative;

  &:before {
    content: '';
    background: linear-gradient(90deg, white, $light-blue, white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mask: $cube-pattern repeat;
    z-index: 0;
    opacity: .15;
  }

  &:after {
    content: '';
    background: repeating-linear-gradient(white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
    position: absolute;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .inner {
    max-width: $max-width;
    margin: auto;
    box-sizing: border-box;
    z-index: 2;

    .header {
      max-width: $content-width;
      padding-right: 20px;
      padding-bottom: 60px;
    }
    .collection {
      color: $light-blue;
      margin: 0;

      div {
        padding: 16px 0;
      }
    }

    .collection-link {
      cursor: pointer;
    }
    .collection-link:hover {
      opacity: .6;
    }

    .learning-object-name {
      font-size: $largest;
      color: $darker-grey;
      width: 100%;
    }

    .updated {
      font-size: $normal;
      color: $dark-grey;
    }
  }
}

.hierarchy-link-container {
  margin-top: 20px;
  margin-left: 10px;
  max-width: 450px;
}

.rating-stars-container {
  margin-left: 10px;
}
