<div class="details-splash">
  <div class="canvas-wrapper">
    <div class="canvas-overlay"></div>
    <canvas id="grid-target" height=300></canvas>
  </div>
  <div class="splash-wrapper">
    <div class="details-wrapper">
      <div class="details-columns">
        <div class="columns_col1">
          <div #splashWrapper class="splash__content">
            <span class="content__collection">
              <i class="far fa-cubes"></i>
              Part of the <a [routerLink]="['/c', learningObject.collection]"><u>{{ (learningObject.collection | collection) | async }}</u></a> collection
            </span> 
            <h1>{{ learningObject.name }}</h1>
            <span class="content__date">Last updated {{ learningObject.date | date:'longDate' }}</span>
            <clark-details-splash-length [length]="learningObject.length"></clark-details-splash-length>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>