<div class="details-splash">
  <div class="canvas-wrapper">
    <div class="canvas-overlay"></div>
    <canvas id="grid-target" height=300></canvas>
  </div>
  <div class="details-wrapper">
    <div class="details-columns">
      <div class="columns_col1">
        <div class="splash__content">
          <span class="content__collection">
            <i class="far fa-cubes"></i>
            Part of the <a routerLink="/c/nccp"><u>{{ ('nccp' | collection) | async }}</u></a> collection
          </span> 
          <h1>Legal Foundations of Modern Cyber Law and Policy</h1>
          <span class="content__date">Last updated April 11, 2019</span>
          <clark-details-splash-length length="module"></clark-details-splash-length>
        </div>
      </div>
    </div>
  </div>
</div>