<div class="card__wrapper" [attr.data-theme]="theme">
    <div class="card__header">
        <div *ngIf="theme === 'light'">
            <div class="card__top">
                <div class="box_light"></div>
                <div class="header__length one_slanty">
                    <p>{{ learningObject?.length | titlecase }}</p>
                </div>
                <div class="header__logo" href="https://502project.org" target="_blank">
                    <img src="../assets/images/collections/502_project.png" class="logo" alt="502 Logo">
                </div>
            </div>
        </div>
        <div *ngIf="theme === 'dark'">
            <div class="card__top">
                <p class="length">{{ learningObject?.length | titlecase }}</p>
                <div class="header__length two_slanty">
                    <div class="header__logo" href="https://502project.org" target="_blank">
                        <img src="../assets/images/collections/502_project.png" class="logo" alt="502 Logo">
                        <div class="box_dark"></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="header__name">
            <p>{{ (learningObject?.name.length >= 40)? (learningObject?.name | slice:0:40)+' ...':(learningObject?.name)
                }}</p>
        </div>
        <div class="header__date">
            <p>{{ learningObject?.date | date:'mediumDate' }}</p>
        </div>
        <div *ngIf="mapped" class="header__mappings">
            <div class="mappings__title">
                <p>Mapped to</p>
            </div>
            <div class="mappings__name">
                <p class="name__one slanty">{{frameworkNames[0]}}</p>
                <p class="name__two slanty">{{frameworkNames[1]}}</p>
            </div>
        </div>
    </div>
    <div class="card__info">
        <div class="info__desc">
            <div [innerHtml]="learningObject.description"></div>
        </div>
    </div>