<div class="card__wrapper">
    <div class="card__header">
        <div class="header__length">
            <p>{{ learningObject?.length | titlecase }}</p>
        </div>
        <div class="header__name">
            <p>{{ (learningObject?.name.length >= 45)? (learningObject?.name | slice:0:45)+' ...':(learningObject?.name) }}</p>
        </div>
        <div class="header__date">
            <p>{{ learningObject?.date | date:'mediumDate' }}</p>
        </div>
    </div>
    <div class="card__info">
        <div class="info__desc">
            <div [innerHtml]="learningObject.description"></div>
        </div>
    </div>
</div>
