<div class="content">
  <h1>Leverages the Bloom's taxonomy for measureable results</h1>
  <!-- Dummy text until the full text is provided for this section -->
  <p class="taxonomy">Learning outcomes gives both educators and learners explicit learning goals for a learning object.
    This allows
    educators to build their assessments correctly. Outcomes also provide language which enables students to effectively
    articulate
    what they have learned.</p>
  <br>
  <div class="blooms-cards">
    <div 
      *ngFor="let card of bloomCards" 
      (mouseenter)="toggleFlip(card, true)"
      (mouseleave)="toggleFlip(card, false)"
      (click)="card.clicked = !card.clicked"
      class="blooms-card"
      [ngClass]="{clicked: card.clicked}"
      [@flipState]="card.flipped"
      >
      <div *ngIf="card.flipped === 'inactive'" class="blooms-content">
        <i [ngClass]="card.icon"></i>
        <p [innerText]="card.text"></p>
      </div>
      <div *ngIf="card.flipped === 'active'" class="blooms-description">
        <p [innerText]="card.description" class="description"></p>
      </div>
    </div>
  </div>
</div>

<ng-template #flipped>
  <p [innerText]="card.text">
  </p>
</ng-template>