<div class="outcome_bloom">
    <div class="squares">
      <div class="square" id="square" [ngClass]="{'active': level === bloomValue}" *ngFor="let level of levels" (click)="toggleActiveSquare($event)"
        [attr.data]="level">
        <div class="square-inner">
          <div class="icon">
            <i *ngIf="level === 'Apply and Analyze'" class="fal fa-bolt"></i>
            <i *ngIf="level === 'Evaluate and Synthesize'" class="fab fa-connectdevelop"></i>
            <i *ngIf="level === 'Remember and Understand'" class="fal fa-cloud"></i>
          </div>
          <div class="desc">{{level}}</div>
        </div>
      </div>
    </div>
  </div>