@import '~_vars.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$footer-height: 250px;

footer {
  width: 100%;
  color: whitesmoke;
  background: linear-gradient(45deg, #393f4d, lighten(#1d1e22, 10));
  padding: 20px;
  text-align: center;
  box-sizing: border-box;

  p {
    font-size: $small;
    margin-top: 20px;
  }

  .footer-info {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    div {
      margin-right: 60px;
      text-align: left;

      h3 {
        font-size: $normal;
      }

      a {
        display: block;
        margin-bottom: 5px;
        font-size: $small;
        color: whitesmoke;
      }
    }
  }

  .grants {
    width: 300px;
    text-align: center;

    .images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
        margin: 0 10px;
      }
    }
  }

  .share-icons {
    text-align: center;
    padding: 0;
    margin: 0;
  
    & > a {
      background: $blue-accent;
      color: white !important;
      transform: scale(1);
      cursor: pointer;
      margin-left: 10px;
  
      &:active:hover {
        transform: scale(0.95);
      }
  
      &.twitter {
        background: #1da1f2;
      }
  
      &.linkedin {
        background: #0077b5;
      }
    }
  }
}


@media(max-width: 800px) {
  .footer-info {
    flex-flow: column !important;
    align-items: center !important;

    .links {
      display: inline-block;
      text-align: left;

      div {
        margin: 0 0 30px;
      }
    }

    .grants {
      margin-top: 50px;
    }
  }
}
