<footer *ngIf="!hideFooter">
  <div class="funding-info">
    <div class="notice">
      <p class="notice-title">{{ copy.NOTICETITLE }}</p>
    </div>
    <div class="nsa-wrapper">
      <img alt="National Security Agency Logo" src="assets/images/nsa.png" />
      <p>{{ copy.SUPPORTEDBY }}</p>
    </div>
  </div>

  <div class="small-links">
    <a id="clark-about" href="http://about.clark.center" target="_blank">{{ copy.TEAM }}</a>
    <a id="clark-stats" href="https://datastudio.google.com/open/1jbVUWbqt4_L11PzrPZYNS5d4hbB5VojN" target="_blank">{{
      copy.USAGE }}</a>
    <a href="mailto:skaza@towson.edu?subject=CLARK Help">{{ copy.HELP }}</a>
    <a id="clark-tutorial" href="http://about.clark.center/tutorial" target="_blank">{{ copy.TUTORIAL }}</a>
  </div>

  <div class="funding-info">
    <div class="notice">
      <p>{{ copy.NOTICE }}</p>
    </div>
  </div>
</footer>
