<footer *ngIf="!hideFooter">
  <section class="logo-container">
    <div class="logo-wrapper">
      <img alt="National Security Agency Logo" src="assets/images/nsa.png" />
    </div>
    <div class="logo-wrapper">
      <a href="https://www.towson.edu/" target="_blank">
        <img src="assets/images/towson_logo.png" alt="Towson University Logo">
      </a>
    </div>
  </section>
  <p>{{ copy.SUPPORTEDBY }}</p>
  <div class="small-links">
    <a aria-label="Clickable Meet the Team link" href="http://about.clark.center" target="_blank">{{ copy.TEAM }}</a>
    <a aria-label="Clickable Usage Statistics ink" [routerLink]="['/system/usage']" target="_blank">{{ copy.USAGE }}</a>
    <a aria-label="Clickable Troubleshooting link" href="http://help.clark.center" target="_blank">Troubleshooting</a>
    <a aria-label="Clickable Ask for Help link" href="mailto:skaza@towson.edu?subject=CLARK Help">{{ copy.HELP }}</a>
    <a aria-label="Clickable Tutorial link" href="http://about.clark.center/tutorial" target="_blank">{{ copy.TUTORIAL }}</a>
    <a [routerLink]="['/system/termsofservice']" aria-label="Clickable Terms of Service link" target="_blank">{{ copy.TERMS }}</a>
    <a [routerLink]="['/system/accessibility-statement']" aria-label="Accessbility Statement link" targer="_blank">{{ copy.ACCESSIBILITY }}</a>
  </div>
</footer>