<div class="manage-materials">
  <div class="title">
    {{ learningObjectName }}
  </div>
  <div class="tabs">
    <ul>
      <li [ngClass]="{'active': slide === 1}" (click)="changeSlide(1)">Materials</li>
      <li [ngClass]="{'active': slide === 2}" (click)="changeSlide(2)">URLs</li>
      <li [ngClass]="{'active': slide === 3}" (click)="changeSlide(3)">Notes</li>
    </ul>
    <span *ngIf="serverInteraction"><i class="far fa-spinner-third fa-spin"></i></span>
  </div>
  <div class="materials-slides">
    <div [@fadeIn] *ngIf="slide === 1" class="slide slide1">
      <onion-file-manager [dropzone] (dragOver)="toggleDrag(true)" (addedFile)="addFile($event)" [files$]="files$" [folderMeta$]="folderMeta$" (openDZ)="openDZ()"
        (fileDeleted)="handleDeletion($event)" (fileEdited)="handleEdit($event)" (path)="openPath=$event">
      </onion-file-manager>
    </div>
    <div [@fadeIn] *ngIf="slide === 2"class="slide slide2">
      <div class="topbar">
          <div class="slide-title">URLs</div>
          <div class="btn-group to-right">
            <div *ngIf="learningObject.materials.urls.length > 0" (click)="addURL()" class="button good">Add URL
              <i class="far fa-plus"></i>
            </div>
          </div>
      </div>
      <div [ngClass]="{'empty-section': learningObject.materials.urls.length == 0}">
        <div *ngIf="learningObject.materials.urls.length == 0" class="empty-message">
          <i class="fal fa-link"></i>
          <div class="empty-title">No URLs here!</div>
          <div class="button good" (click)="addURL()">Click here to add a URL</div>
        </div>
        <div class="section url-wrapper" *ngFor="let url of learningObject.materials.urls; let i = index;">
          <div class="link input-wrapper">
            <input placeholder="Title" type="text" [(ngModel)]="learningObject.materials.urls[i].title" name="url.title.{{ i }}">
            <input placeholder="https://example.com" type="text" [(ngModel)]="learningObject.materials.urls[i].url" name="url.url.{{ i }}">
          </div>
          <div class="button bad icon-only" (click)="removeURL(i)">
            <i class="far fa-times"></i>
          </div>
        </div>
      </div>
    </div>
    <div [@fadeIn] *ngIf="slide === 3"class="slide slide3">
      <div class="notes">
        <textarea rows="8" type="text" [(ngModel)]="learningObject.materials.notes" name="learningObjectNotes" placeholder="Add any notes on copyright, grant acknowledgments, etc."></textarea>
      </div>
    </div>
  </div>
</div>
<upload-queue [@uploadQueue] *ngIf="queuedUploads$.getValue().length" class="upload-queue" [queuedUploads$]="queuedUploads$" [uploading$]="uploading$"
    (upload)="save(true)"></upload-queue>
<div class="uploader" [ngClass]="{'dragging': showDragMenu, 'dropped': dropped}" [dropzone]="{'clickable': true}" (addedFile)="addFile($event)" (dragLeave)="toggleDrag(false)">
  <div class="uploader-content">
    <div class="uploader-icon">
      <i class='far fa-arrow-up'></i>
    </div>
    <div class="uploader-text">
      <div>Drop files and folders here</div>
      to add them to {{ (!openPath) ? 'your learning object' : '\'' + openPath + '\''}}!
    </div>
  </div>
</div>
