@import '~_globals.scss';

@mixin filename-limit {
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-right: 30px;
  max-width: 250px;
}

.inner-wrapper {
  border-radius: 4px;
  background: white;
  padding: 20px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.inner-wrapper.padded-bottom {
  padding-bottom: 30px;
}

::ng-deep input {
  border: 2px solid $placeholder;
  outline: 0;
  padding: 7px;
  &:focus {
    border-color: $blue-accent;
  }
  &.bad {
    border-color: $error-red !important;
  }
}

select {
  &[name='type'],
  &[name='level'] {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  &>div {
    width: 33%;
  }
  .title {
    font-size: 28px;
    color: $blue-accent;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .back {
    color: $blue-accent;
    @include vert-center;
    cursor: pointer;
    font-size: 15px;
    .svg-inline--fa,
    .icon {
      margin-right: 5px;
      @include vert-center;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.faux-table {
  .row {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: transparent;
  }
  .columns {
    padding: 0px 0px 0px !important;
  }
  .cell {
    width: 49% !important;
    input {
      width: 100%;
      &.name-field {
        width: calc(100% - 18px);
      }
    }
  }
}

::ng-deep .section {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    color: $blue-accent;
    font-size: 20px;
  }
  .list {
    margin-top: 15px;
    ul {
      padding-left: 0px;
      li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
        input {
          width: 100%;
        }
      }
    }
  }
  .icon-only {
    max-height: 35px;
    padding: 6px 8px;
    @include vert-center;
  }
}

.empty-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .text {
    @include vert-center;
    font-size: 16px;
    color: lighten($dark-text, 20);
  }
}

.btn-group.final {
  margin-top: 20px;
}

::ng-deep .grippy-container {
  height: inherit;
  cursor: move !important;
  max-width: 50px;
  min-width: 36px;
  text-align: center;
  padding: 5px;
  .draganddrop {
    display: inline-block;
    border-top: 2px solid #ccc;
    width: 15px;
    padding-top: 4px;
    margin-top: 10px;
  }
  .draganddrop:before,
  .draganddrop:after {
    display: block;
    content: '';
    border-top: 2px solid #ccc;
    padding-top: 4px;
  }
}

.inline-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.file-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  max-width: 200px;
}

.file-icons {
  i {
    font-size: 100px;
  }
}

.file-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f4f7;
  color: #3b608b;
  border-radius: 4px;
  padding: 6.5px 15px;
  margin: 15px 0;
}

.row.file-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f4f7 !important;
  color: #3b608b;
  border-radius: 4px;
  padding: 6.5px 15px !important;
  margin: 15px 0;
}

.faux-table {
  .row {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.faux-table {
  .row.file-listing-header {
    padding-left: 5px !important;
  }
}

.url-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.link.input-wrapper {
  display: flex;
  flex-grow: 1.5;
  margin-right: 10px;
  input {
    width: 100%;
  }
  input:first-child {
    margin-right: 10px;
  }
}

.notes {
  margin: 15px 0;
  textarea {
    width: 98%;
    border: 2px solid #c3c2c2;
    outline: 0;
    padding: 10px;
    resize: vertical;
  }
}

.section {
  .title {
    margin-bottom: 10px;
  }
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

.file-listing {
  .inline-flex {
    flex: 0.8;
    .file-name {
      @include filename-limit;
      flex: 1;
    }
    .description {
      flex: 1.15;
      input {
        width: 100%;
      }
    }
  }
}

.cell {
  display: flex;
  align-items: center;
  &.file-name {
    @include filename-limit;
  }
}

.cell.file-description {
  padding-right: 15px;
}