<div class="manage-materials">
  <div class="title">
    {{ learningObjectName }}
  </div>
  <div class="tabs">
    <ul>
      <li [ngClass]="{'active': slide === 1}" (click)="changeSlide(1)">Materials</li>
      <li [ngClass]="{'active': slide === 2}" (click)="changeSlide(2)">URLs</li>
      <li [ngClass]="{'active': slide === 3}" (click)="changeSlide(3)">Notes</li>
    </ul>
    <div class="server-status" [ngClass]="{'saving': saving}">
      <ng-container *ngIf="!saving; else savingTemplate">
        <span>
          Saved <i class="far fa-check"></i>
        </span>
      </ng-container>
      <ng-template #savingTemplate>
        <span>
          Saving <i class="far fa-spinner-third fa-spin"></i>
        </span>
      </ng-template>
    </div>
  </div>
  <div class="materials-slides">
    <div [@fadeIn] *ngIf="slide === 1" class="slide slide1">
      <!-- This element has a dropzone tag as a backup in case the browser doesn't support the dragover event or something goes wrong -->
      <onion-file-manager *ngIf="!retrieving; else loadingTemplate" [dropzone] [confirmDeletion]="confirmDeletion$" (dragOver)="toggleDrag(true)" (addedFile)="addFile($event)" [files$]="files$" [folderMeta$]="folderMeta$" (openDZ)="openDZ()"
        (fileDeleted)="handleDeletion($event)" (fileEdited)="handleEdit($event)" (path)="openPath=$event">
      </onion-file-manager>
    </div>
    <div [@fadeIn] *ngIf="slide === 2"class="slide slide2">
      <clark-url-manager [urls]="learningObject.materials.urls" (add)="addURL()" (remove)="removeURL($event)" (save)="saveLearningObject()"></clark-url-manager>
    </div>
    <div [@fadeIn] *ngIf="slide === 3"class="slide slide3">
      <div class="topbar">
        <div class="slide-title">Notes</div>
      </div>
      <div class="notes">
        <textarea rows="8" type="text" [(ngModel)]="learningObject.materials.notes" name="learningObjectNotes" placeholder="Add any notes on copyright, grant acknowledgments, etc." (input)="triggerSave$.next()"></textarea>
      </div>
    </div>
  </div>
</div>
<upload-queue [@uploadQueue] *ngIf="queuedUploads$.getValue().length" class="upload-queue" [queuedUploads$]="queuedUploads$" [uploading$]="uploading$"
    (upload)="save(true)"></upload-queue>
<div class="uploader" [ngClass]="{'dragging': showDragMenu, 'dropped': dropped}" [dropzone]="{'clickable': true}" (addedFile)="addFile($event)" (dragLeave)="toggleDrag(false)">
  <div class="uploader-content">
    <div class="uploader-icon">
      <i class='far fa-arrow-up'></i>
    </div>
    <div class="uploader-text">
      <div>Drop files and folders here</div>
      to add them to {{ (!openPath) ? 'your learning object' : '\'' + openPath + '\''}}!
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div [@fadeIn] class="loading">
    <i class="far fa-spinner-third fa-spin"></i>
  </div>
</ng-template>
