<a class='author-card' routerLink='/users/{{ author.username }}'>
  <div class='author-card__grid'>
    <div class='grid__profile-image-container'>
      <img [attr.aria-label]="author.username + ' profile image'" class='grid__profile-image-container__image' src={{profileImageURL}}>
    </div>
    
    <div class='grid__profile-info-container'>
      <div class='grid__profile-icon-container__author-name'>
        {{ author.name | titlecase }}
      </div>
      <a class='grid__profile-icon-container__author-organization' routerLink='/organization/{{ author.organization }}'>
        {{ author.organization }}
      </a>
    </div>

    <div class='grid__icon-container'>
      <i class='fas fa-chevron-right'></i>
    </div>
  </div>
</a>