@import "~_vars.scss";
.outcomes-detail-view {
  margin-bottom: 40px;
  h1 {
    font-size: 22px;
    padding-left: 10px;
  }
  .outcomes {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    background: desaturate(lighten($blue-accent, 55), 20);
    color: $dark-text;
    .header {
      display: flex;
      flex-flow: row nowrap;
      background-color: rgb(236, 239, 242);
      align-items: center;
      .title {
        flex-grow: 2;
        color: black;
        font-size: 18px;
        padding: 10px;
        padding-left: 20px;
      }
      .mappings-count {
        font-size: 12px;
        color: gray;
        padding-right: 10px;
      }
      &.clickable {
        cursor: pointer;
        &:hover {
          background-color: darken(rgb(236, 239, 242), 5);
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-right: 40px;
    }
    li {
      border: 1px solid black;
      margin-bottom: 25px;
      font-size: 18px;
      list-style-type: none; // Grid layout
      display: grid;
      grid-template-columns: auto 75px;
      grid-row-gap: 10px;
      .standard-author,
      .standard-name {
        //background-color: skyblue;
      }
      .standard-author,
      .standard-name,
      .standard-outcome {
        padding: 8px;
      }
    }
  }
}