@import '~_vars.scss';

$dark-text: #545e64;
$light-blue-gradient: linear-gradient(45deg, darken($light-blue, 10), lighten($light-blue, 5));

.submit {
  max-width: 800px;
  min-height: 550px;
  width: 90vw;
  padding: 20px;
}

.banner {
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  background: linear-gradient(45deg, darken($light-blue, 5), lighten($light-blue, 5));
  height: 96px;

  &:after {
    content: '';
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.04;
    mask: $cube-pattern repeat;
  }

  .banner__title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .banner__sub {
    color: white;
    opacity: 0.85;
    font-size: 16px;
  }
}

.carousel__item {
  margin-top: 80px;

  p {
    color: $dark-text;
    font-size: 18px;
    margin: 5px 0 20px;
  }
}


.license-selection {
  color: $dark-text;
  font-size: 18px;
  max-width: 500px;
  text-align: left;
  margin: auto;
  display: flex;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);

  .statement {
    margin-left: 15px;
  }
}

.submit-btn {
  margin-top: 30px;
}