<clark-popup *ngIf="visible" (closed)="closeModal()">
  <div class="submit" #popupInner>
    <div class="banner">
      <clark-carousel [action$]="carouselAction$">
          <ng-template>
            <div class="banner__title">Select a Collection</div>
            <div class="banner__sub">Please submit to CAE Community collection if not associated with other collections.</div>
          </ng-template>
          <ng-template>
            <div class="banner__title">Create a Changelog</div>
            <div class="banner__sub">What changes were made to this Learning Object?</div>
          </ng-template>
      </clark-carousel>
    </div>
    <clark-carousel [action$]="carouselAction$">
      <ng-template>
        <div class="carousel__item">
          <clark-collections-grid [currentCollection]="collection || learningObject.collection" (selected)="getCollectionSelected($event)"
            (cancel)="closeModal()"></clark-collections-grid>
          <div class="license-selection">
            <clark-checkbox (action)="licenseAccepted = $event"></clark-checkbox>
            <span class="statement">I agree to submit this Learning Object and all of its materials under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank">Creative Commons 4.0 license</a></span>
          </div>
          <div class="submit-btn btn-group center">
            <button class="button good" [ngClass]="{'disabled': !licenseAccepted || !collection }" [disabled]="!licenseAccepted || !collection" (activate)="submitForReview()">Submit for Review <i class="far fa-arrow-right"></i></button>
            <button class="button neutral" (activate)="closeModal()">Nevermind <i class="far fa-ban"></i></button>
          </div>
        </div>
      </ng-template>
      
      <ng-template>
        <div class="carousel__item">
          <p>You've submitted this Learning Object to this collection before! What did you change in this submission?</p>
          <clark-edit-changelog [(changelog)]="changelog" (back)="regress()" (cancel)="closeModal(); regress();" (confirm)="createChangelog()"></clark-edit-changelog>
        </div>
      </ng-template>
    </clark-carousel>
  </div>
</clark-popup>