<div class="banner">
  <div class="banner__title">Select a Collection</div>
  <div class="banner__sub">Please submit to CAE Community collection if not associated with other collections.</div>
</div>
<div class="collections-grid">
  <clark-collections-grid (collections)="collections" [currentCollection]="currentCollection" (selected)="select($event)"></clark-collections-grid>
  <div class="license-selection">
    <input type="checkbox" name="license-agreement" aria-label="Clickable license agreement checkbox" [(ngModel)]="licenseAccepted"/>
    <span class="statement">I agree to submit this Learning Object and all of its materials under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank">Creative Commons 4.0 license</a></span>
  </div>
  <div class="submit-btn btn-group center">
    <button class="button good" [ngClass]="{'disabled': !licenseAccepted || currentCollection == ''}" [disabled]="!licenseAccepted || currentCollection == ''" (activate)="submit()">Submit for Review <i class="far fa-arrow-right"></i></button>
    <button class="button neutral" (activate)="cancel.emit()">Nevermind <i class="far fa-ban"></i></button>
  </div>
</div>
