@import '~_vars.scss';

$dark-text: #545e64;
$light-blue-gradient: linear-gradient(45deg, darken($bright-blue, 10), lighten($bright-blue, 5));

.banner {
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  background: $light-blue-gradient;

  &:after {
    content: '';
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.04;
    mask: $cube-pattern repeat;
  }

  .banner__title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .banner__sub {
    color: white;
    opacity: 0.85;
    font-size: 16px;
  }
}

.collection-chooser {
  padding: 20px;
  margin: auto;
  margin-bottom: 25px;
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.collection-chooser__collection {
  background: white;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.04);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.05);

    &:after {
      opacity: 0.6;
    }
  }

  &:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px $bright-blue solid;
    background: transparent;
    position: absolute;
    opacity: 0;
    transition: all 0.2s ease;
  }

  &.selected:after {
    opacity: 1;
  }

  .collection__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.generic {
      background: $wrapper-background;
      color: $bright-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto 0;
      margin-right: 10px;
      border-radius: 50px;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.license-selection {
  color: $dark-text;
  font-size: 18px;
  max-width: 500px;
  text-align: left;
  margin: auto;
  display: flex;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);

  .statement {
    margin-left: 15px;
  }
}

.submit-btn {
  margin-top: 30px;
}

:host {
    // resize the popup
    max-width: 800px;
    width: 90vw;
    display: block;
}

.loading-template,
.none-template {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  color: lighten($dark-text, 40);
  margin-bottom: 50px;

  .svg-inline--fa,
  .icon {
    margin: auto;
    font-size: 25px;
    color: $bright-blue;
    display: block;
    margin-bottom: 5px;
  }
}

.none-template {

  .svg-inline--fa,
  .icon {
    color: $error-red;
  }
}

// FIXME this can be removed when the new button styles are applied cross-application
button {
  border: 0;
  padding: 10px 20px 10px 25px;

  &.good {
      background: $light-blue-gradient;
  }

  &.neutral {
      color: $dark-text;
  }

  &.shadow {
      box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  }
}
