@import '~_vars.scss';

.banner {
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  background: $light-blue-gradient;
  margin-bottom: 80px;

  &:after {
    content: '';
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.04;
    mask: $cube-pattern repeat;
  }

  .banner__title {
    color: white;
    font-size: $larger;
    font-weight: bold;
  }

  .banner__sub {
    color: white;
    opacity: 0.85;
    font-size: 16px;
  }
}

.collections-grid {
  margin-top: 100px;
}

.license-selection {
  color: $dark-grey;
  font-size: $large;
  max-width: 500px;
  text-align: left;
  margin: auto;
  display: flex;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);

  .statement {
    margin-left: 15px;
  }
}

.submit-btn {
  margin-top: 30px;
}

:host {
    // resize the popup
    max-width: 800px;
    width: 90vw;
    display: block;
}
