<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-form-field>
    <input
        matInput
        type="{{hide ? 'password' : 'text'}}" 
        placeholder="{{phold}}"
        [value]="value"
        (input)="changed($event.target.value)"
        (blur)="touched()"
        [formControl]="control"
    >
    <mat-icon 
        class="material-icons"
        matSuffix
        *ngIf="pwrd" 
        (click)="hide = !hide"
        >{{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error>
        {{ authValidation.getInputErrorMessage(control) }}
    </mat-error>
</mat-form-field>

