@import "vars.scss";
@import '~@angular/material/theming';
@include mat-core();

$input-primary: mat-palette($mat-blue, 700);
$input-accent: mat-palette($mat-blue, 100);
$input-warn: mat-palette($mat-red, 700);
$input-theme:   mat-light-theme($input-primary, $input-accent ,$input-warn);

@include angular-material-theme($input-theme);
@include mat-form-field-theme($input-theme);
@include mat-input-theme($input-theme);
