@import 'src/_vars.scss';

.modal-container {
  max-width: 500px;
  padding: 24px;

  &.center {
    text-align: center;
  }
}

.modal-title {
  font-size: $large;
  font-weight: 600;
  color: $dark-grey;
  margin-bottom: 16px;
}

.confirmation-text {
  font-size: $normal;
  color: $dark-grey;
  line-height: 1.6;
  margin-bottom: 24px;

  strong {
    font-weight: 600;
    color: $dark-grey;
  }
}

.btn-group {
  display: flex;
  gap: 12px;
  justify-content: center;

  button {
    min-width: 120px;
  }
}
