<div class="background">
  <section class="hero">
    <div class="inner">
      <div class="logos">
        <div class="title__icon">
          <i class="far fa-cubes"></i>
        </div>
      </div>
      <div class="header">FEATURED COLLECTIONS</div>
      <div class="description">Learning Objects are grouped into Collections within CLARK. Each collection is unique, has
        its own peer-review process, and is supported by its own community.</div>
    </div>
  </section>

  <div class="collections__grid">
    <clark-collection-card *ngFor="let c of collections" [collection]="c"></clark-collection-card>
  </div>
</div>