
@import '~_vars.scss';
$sidebar-width: 350px;
$content-width: calc(#{$max-width} - #{$sidebar-width});

.hero {
    position: relative;
    overflow: hidden;
    padding: 70px 10px 130px;
    background: $blue-gradient;

    &:after {
        content: '';
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.03;
        mask: $cube-pattern repeat;
    }

    &:before {
        content: '';
        background: $wrapper-background;
        position: absolute;
        width: 100%;
        height: 100vw;
        top: 370px;
        left: 0;
        right: 0;
        transform: skewY(-2deg);
    }

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .title__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
            background: white;
            color: #4290ea;
            width: 100px;
            height: 100px;
            border-radius: 50px;

            svg {
                width: 60px;
                height: 60px;
            }
        }
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0; left: 0; right: 0; bottom: 0;
    //     background: linear-gradient(45deg, darken($blue-accent, 10), lighten($blue-accent, 10));
    //     opacity: 0.1;
    //     z-index: 1;
    // }

    .logos {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > *:first-child {
            margin-right: 0;
        }
    }

    .header {
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    }

    .description {
        color: white;
        font-size: 18px;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
        font-weight: normal;
    }
}

.collections__grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-gap: 50px;
    margin: 40px auto;
    padding: 0 10px;
}

@media(max-width: 1000px) {
    .hero {
        padding: 0 10px;
    }

    .collections__grid {
        grid-template-columns: repeat(2, minmax(170px, 1fr));
        grid-gap: 20px;
    }
}

@media(max-width: 500px) {
    .collections__grid {
        grid-template-columns: repeat(2, minmax(140px, 1fr));
        grid-gap: 10px;
    }
}
