<section class="hero">
  <div class="inner">
    <div class="logos">
      <div class="collection-logo" [ngClass]="collection?.abvName"></div>
    </div>
    <div class="name" *ngIf="collection?.name">{{ collection?.name }}</div>
    <div *ngIf="collection?.fullName" class="long-name">{{ collection?.fullName }}</div>
  </div>
  <div class="logo"></div>
</section>
<section class="collection-container">
  <div class="description">
    <div class="heading">Description</div>
    <p [innerHtml]="collection?.description"></p>
  </div>
  
  <cube-featured [collection]="key"></cube-featured>
</section>