<div id="edit-profile-title" class="title">{{ copy.TITLE }}</div>
<form>
    <div class="h-group">
        <div class="input firstname" [ngClass]="{'active': editInfo.firstname !== ''}">
          <input name="firstname" type="text" placeholder="First name" aria-label="First Name" [(ngModel)]="editInfo.firstname" />
          <i class="far fa-id-card"></i>
        </div>
        <div class="input lastname" [ngClass]="{'active': editInfo.lastname !== ''}">
          <input name="lastname" type="text" placeholder="Last name" aria-label="Last Name" [(ngModel)]="editInfo.lastname" />
          <i class="far fa-id-card"></i>
        </div>
    </div>
    <div class="input organization" id="organization" [ngClass]="{'active': editInfo.organization !== ''}">
      <input #organization name="organization" type="text" placeholder="Organization" aria-label="Organization" [(ngModel)]="editInfo.organization" />
      <i class="far fa-building"></i>
    </div>
    <div class="gravatar-header">{{ copy.GRAVATARTITLE }}</div>
    <div class="gravatar-text">{{ copy.GRAVATARC2A }}<a target="_blank" href="https://en.gravatar.com/"> Sign up with Gravatar account</a></div>
    <div class="input email" [ngClass]="{'active': editInfo.email !== ''}">
      <input name="email" type="text" placeholder="Email address" aria-label="Email Address" [(ngModel)]="editInfo.email" />
      <i class="far fa-at"></i>
    </div>
    <p>Add a bio</p>
    <div class="input organization" [ngClass]="{'active': editInfo.organization !== ''}">
      <textarea (keyup)="handleCounter($event)" name="bio" type="text" placeholder="Enter Bio" [(ngModel)]="editInfo.bio"
      maxlength="140" rows="5" cols="50">
      </textarea>
      <span id="bio-icon"><i class="fas fa-user-alt"></i></span>
    </div>
    <p id="character-counter">{{ copy.CHARACTERS }} {{ counter }}</p>
    <div class="btn-group to-right">
        <button id="save-changes" class="button good" (activate)="save()">{{ copy.SAVE }} <i class="far fa-save"></i></button>
        <button id="discard-changes" class="button bad" (activate)="close.emit(false)">{{ copy.DISCARD }} <i class="far fa-times"></i></button>
    </div>
</form>
