@if (revision && hasRevision) {
  <div class="meatball-trigger" [tip]="statusDescription" [tipDisabled]="!statusDescription" tipPosition="top">
    <ng-container *ngTemplateOutlet="meatball"></ng-container>
  </div>
}

<div class="revision-wrapper">
  @if (revision && hasRevision) {
    <div [@card] class="revision__object">
      <div class="active__revision">
        <div class="top-row">
          <div tab-index="0" class="status" [attr.aria-label]="'Learning Object Status: ' + revision.status + '. ' + statusDescription" [ngClass]="revision.status">
            @if (revision.status === 'unreleased') {
              <span><i class="fas fa-eye-slash"></i></span>
            }
            @if (revision.status === 'waiting') {
              <span><i class="fas fa-hourglass"></i></span>
            }
            @if (revision.status === 'review') {
              <span><i class="fas fa-sync"></i></span>
            }
            @if (revision.status === 'proofing') {
              <span><i class="fas fa-shield"></i></span>
            }
            @if (revision.status === 'released') {
              <span><i class="fas fa-eye"></i></span>
            }
            @if (revision.status === 'rejected') {
              <span><i class="fas fa-ban"></i></span>
            }
            @if (revision.status === 'accepted_minor') {
              <span><i class="fas fa-check-double"></i></span>
            }
            @if (revision.status === 'accepted_major') {
              <span><i class="fas fa-check"></i></span>
            }
          </div>
          <p class="revision-name">{{ revision.name }}</p>
        </div>
        <div class="revision-date">
          Last updated on {{ revision.date | date:'longDate'}}
        </div>
        <div class="revision-length" [ngClass]="revision.length">
          {{ revision.length | titlecase }}
        </div>
      </div>
    </div>
  } @else {
    <div [@card] class="revision__empty">
      <div class="empty__message">
        You don't have a revision for this Learning Object yet!
      </div>
      <div class="btn-group center">
        <button class="button good" (activate)="makeRevision()">Create Revision</button>
      </div>
    </div>
  }
</div>

<ng-template #meatball>
  @if (!disabled && meatball) {
    <div #meatballMenuElement class="meatball" [ngClass]="{'open': meatballOpen, 'disabled': (revision.status === 'review' || revision.status === 'proofing')}" (activate)="revision.status !== 'review' && revision.status !== 'proofing' && this.toggleContextMenu($event)">
      <div class="icon">
        <i class="far fa-times"></i>
      </div>
      <div class="orb"></div>
    </div>
    @if (meatballOpen) {
      <clark-context-menu [anchor]="meatballMenuElement" [offset]="{ top: 2, left: 10 }" (close)="meatballOpen = false">
        <div #contextMenu>
          <ul (activate)="toggleContextMenu($event)">
            @if (actionPermissions('edit')) {
              <li [routerLink]="['/onion/learning-object-builder', revision.id]"><i class="far fa-pencil"></i>Edit</li>
            }
            @if (actionPermissions('manageMaterials')) {
              <li [routerLink]="['/onion/learning-object-builder', revision.id, 'materials']"><i class="far fa-upload"></i>Manage Materials</li>
            }
            @if (actionPermissions('submit')) {
              <li (activate)="submit.emit()"><i class="far fa-eye"></i>Submit for Review</li>
            }
            @if (actionPermissions('delete')) {
              <li (activate)="attemptDelete()" class="bad"><i class="far fa-trash-alt"></i>Delete Revision</li>
            }
            @if (actionPermissions('cancelSubmission')) {
              <li (activate)="cancelSubmission.emit()" class="bad"><i class="far fa-ban"></i>Cancel Submission</li>
            }
          </ul>
        </div>
      </clark-context-menu>
    }
  }
</ng-template>


@if (deleteConfirmationOpen) {
  <clark-popup>
    <div #popupInner>
      <div class="modal-title bad">Are you sure?</div>
      <div class="modal-text">This revision will be permanently deleted and won't be able to be recovered!</div>
      <div class="btn-group center">
        <button (activate)="delete.emit(); deleteConfirmationOpen = false;" class="button bad">Delete <i class="far fa-trash-alt"></i></button>
        <button (activate)="deleteConfirmationOpen = false" class="button neutral">Nevermind <i class="far fa-ban"></i></button>
      </div>
    </div>
  </clark-popup>
}
