<section class = "section section-stats">
    <div class = "icon icon-release">
        <div class="blue">
            <i class="fa-lg fal fa-cube"></i>
        </div>
        <div class = "num">{{objReleased}}</div>
        <p class="release-desc">
            Released  Learning Objects
        </p>
    
    </div>
    <div class = "icon icon-review">
        <div class="grey">
            <i class="fa-lg fal fa-cube"></i>
        </div>
        <div class = "num">{{objReview}}</div>
        <p class="review-desc">
            Learning Objects
            Under Review
        </p>
    </div>
    <div class = "icon icon-download">
        <div class="yellow">
            <i class="fa-lg fal fa-cloud-download"></i>
        </div>
        <div class = "num">{{objDownload}}</div>
        <p class="download-desc">
            Learning Object Downloads
        </p>
    </div>
    <div class = "icon icon-authors">
        <div class="purple">
            <i class="fa-lg fal fa-users"></i>
        </div>
        <div class = "num">{{authorCollection}}</div>
        <p class="authors-desc">
            Collection Authors
        </p>
    </div>

    <div class = "section-accent">
        <div class="accent-content">
            <i class="fa-lg fal fa-chart-bar"></i>
            <p class="numbers-desc-title">
                NCyTE CURRICULUM BY THE NUMBERS
            </p>
        </div>
    </div>
    </section>
