<!-- MOBILE VIEW -->
<div class="dropdown-wrapper mobile-only">
  <button class="options-button" (click)="toggleFiltersMenu()">
    Filters
  </button>

  @if (showOptions) {
    <div class="dropdown-content" (click)="$event.stopPropagation()">
      <!-- Clear all filters -->
      @if (filtersApplied === true) {
        <span class="filters-clear-all">
          <a (click)="clearAllFilters()">Clear all filters</a>
        </span>
      }
      <!-- Status Filter -->
      <div class="dropdown-item">
        <button class="button neutral filters-button" (click)="toggleMobileStatusMenu()"
          [ngClass]="{ 'filters-button--down': mobileStatusMenuActive }">
          @if (statusFilters.size) {
            <span class="filter-badge">
              {{ statusFilters.size }}
            </span>
          }
          Status <i class="fas fa-chevron-down"></i>
        </button>
        @if (mobileStatusMenuActive) {
          <div class="filter-status__container filter-dropdown"
            (click)="$event.stopPropagation()">
            <ul>
              @for (status of statuses; track status) {
                <li [ngClass]="[status, statusFilters.has(status) ? 'selected' : '']"
                  (click)="toggleStatusFilter([status])">
                  <i [ngClass]="getStatusIcon(status)"></i>
                  {{ status.replace('_', ' ') | titlecase }}
                </li>
              }
            </ul>
          </div>
        }
      </div>
      <!-- Length Filter -->
      <div class="dropdown-item">
        <button class="button neutral filters-button" (click)="toggleMobileLengthMenu()"
          [ngClass]="{ 'filters-button--down': mobileLengthMenuActive }">
          @if (lengthFilters.size) {
            <span class="filter-badge">
              {{ lengthFilters.size }}
            </span>
          }
          Length <i class="fas fa-chevron-down"></i>
        </button>
        @if (mobileLengthMenuActive) {
          <div class="filter-status__container filter-dropdown"
            (click)="$event.stopPropagation()">
            <ul>
              @for (length of lengths; track length) {
                <li [ngClass]="{ 'selected': lengthFilters.has(length) }"
                  (click)="toggleLengthFilter([length])">
                  {{ length.replace('_', ' ') | titlecase }}
                </li>
              }
            </ul>
          </div>
        }
      </div>
      <!-- Rating and Date Sort -->
      <div class="dropdown-item">
        <button class="button neutral filters-button" (click)="toggleMobileSortMenu()"
          [ngClass]="{ 'filters-button--down': mobileSortMenuActive }">
          Sort <i class="fas fa-chevron-down"></i>
        </button>
        @if (mobileSortMenuActive) {
          <div class="filter-status__container filter-dropdown"
            (click)="$event.stopPropagation()">
            <ul>
              <li (click)="setSort('date', -1)">
                @if (selectedLastUpdatedSortType === -1) {
                  <span class="indicator"></span>
                }
                Date (Newest)
              </li>
              <li (click)="setSort('date', 1)">
                @if (selectedLastUpdatedSortType === 1) {
                  <span class="indicator"></span>
                }
                Date (Oldest)
              </li>
              <li (click)="setSort('rating', -1)">
                @if (selectedRatingSortType === -1) {
                  <span class="indicator"></span>
                }
                Average Rating (Highest)
              </li>
              <li (click)="setSort('rating', 1)">
                @if (selectedRatingSortType === 1) {
                  <span class="indicator"></span>
                }
                Average Rating (Lowest)
              </li>
            </ul>
          </div>
        }
      </div>
    </div>
  }
</div>

<!-- DESKTOP VIEW -->
<div class="desktop-filter desktop-only" (click)="$event.stopPropagation()">
  @if (filtersApplied === true) {
    <span class="filters-clear-all">
      <a (activate)="clearAllFilters()">Clear all filters</a>
    </span>
  }

  <button #toggleStatusFilterMenu class="button neutral filters-button" (click)="toggleDesktopStatusMenu(true)"
    [ngClass]="{ 'filters-button--down': desktopStatusMenuActive }">
    @if (statusFilters.size) {
      <span class="filter-badge">
        {{ statusFilters.size }}
      </span>
    }
    Status <i class="fas fa-chevron-down"></i>
  </button>
  @if (desktopStatusMenuActive) {
    <clark-context-menu class="filter-status" [anchor]="toggleStatusFilterMenu"
      [offset]="{ top: 10, left: 10 }" (close)="toggleDesktopStatusMenu(false)">
      <div #contextMenu id="contextMenu" class="filter-status__container">
        <ul>
          @for (status of statuses; track status) {
            <li [ngClass]="status" (click)="toggleStatusFilter([status])">
              <!-- Desktop view keeps the indicator -->
              @if (statusFilters.has(status)) {
                <div class="indicator"></div>
              }
              <i [ngClass]="getStatusIcon(status)"></i>
              {{ status.replace('_', ' ') | titlecase }}
            </li>
          }
        </ul>
      </div>
    </clark-context-menu>
  }

  <button #toggleLengthFilterMenu class="button neutral filters-button" (click)="toggleDesktopLengthMenu(true)"
    [ngClass]="{ 'filters-button--down': desktopLengthMenuActive }">
    @if (lengthFilters.size) {
      <span class="filter-badge">
        {{ lengthFilters.size }}
      </span>
    }
    Length <i class="fas fa-chevron-down"></i>
  </button>
  @if (desktopLengthMenuActive) {
    <clark-context-menu class="filter-lengths" [anchor]="toggleLengthFilterMenu"
      [offset]="{ top: 10, left: 10 }" (close)="toggleDesktopLengthMenu(false)">
      <div #contextMenu id="contextMenu" class="filter-status__container">
        <ul>
          @for (length of lengths; track length) {
            <li [ngClass]="length" (click)="toggleLengthFilter([length])">
              <!-- Desktop view keeps the indicator -->
              @if (lengthFilters.has(length)) {
                <div class="indicator"></div>
              }
              {{ length.replace('_', ' ') | titlecase }}
            </li>
          }
        </ul>
      </div>
    </clark-context-menu>
  }


  <button #toggleSortMenuAnchor class="button neutral filters-button" (click)="toggleDesktopSortMenu(true)"
    [ngClass]="{ 'filters-button--down': desktopSortMenuActive }">
    Sort <i class="fas fa-chevron-down"></i>
  </button>
  @if (desktopSortMenuActive) {
    <clark-context-menu class="sort-dates" [anchor]="toggleSortMenuAnchor"
      [offset]="{ top: 10, left: 10 }" (close)="toggleDesktopSortMenu(false)">
      <div #contextMenu id="contextMenu" class="filter-status__container">
        <ul>
          <li (click)="setSort('date', -1)">
            @if (selectedLastUpdatedSortType === -1) {
              <span class="indicator"></span>
            }
            Date (Newest)
          </li>
          <li (click)="setSort('date', 1)">
            @if (selectedLastUpdatedSortType === 1) {
              <span class="indicator"></span>
            }
            Date (Oldest)
          </li>
          <li (click)="setSort('rating', -1)">
            @if (selectedRatingSortType === -1) {
              <span class="indicator"></span>
            }
            Average Rating (Highest)
          </li>
          <li (click)="setSort('rating', 1)">
            @if (selectedRatingSortType === 1) {
              <span class="indicator"></span>
            }
            Average Rating (Lowest)
          </li>
        </ul>
      </div>
    </clark-context-menu>
  }
</div>