<!-- MOBILE VIEW -->
<div class="dropdown-wrapper mobile-only">
  <button class="options-button" (click)="toggleFiltersMenu()">
    Filters
  </button>

  <div class="dropdown-content" *ngIf="showOptions" (click)="$event.stopPropagation()">
    <!-- Clear all filters -->
    <span *ngIf="filtersApplied === true" class="filters-clear-all">
      <a (click)="clearAllFilters()">Clear all filters</a>
    </span>

    <!-- Status Filter -->
    <div class="dropdown-item">
      <button class="button neutral filters-button" (click)="toggleMobileStatusMenu()"
        [ngClass]="{ 'filters-button--down': mobileStatusMenuActive }">
        <span class="filter-badge" *ngIf="statusFilters.size">
          {{ statusFilters.size }}
        </span>
        Status <i class="fas fa-chevron-down"></i>
      </button>
      <div class="filter-status__container filter-dropdown" *ngIf="mobileStatusMenuActive"
        (click)="$event.stopPropagation()">
        <ul>
          <li *ngFor="let status of statuses" [ngClass]="[status, statusFilters.has(status) ? 'selected' : '']"
            (click)="toggleStatusFilter([status])">
            <i [ngClass]="getStatusIcon(status)"></i>
            {{ status.replace('_', ' ') | titlecase }}
          </li>
        </ul>
      </div>
    </div>

    <!-- Length Filter -->
    <div class="dropdown-item">
      <button class="button neutral filters-button" (click)="toggleMobileLengthMenu()"
        [ngClass]="{ 'filters-button--down': mobileLengthMenuActive }">
        <span class="filter-badge" *ngIf="lengthFilters.size">
          {{ lengthFilters.size }}
        </span>
        Length <i class="fas fa-chevron-down"></i>
      </button>
      <div class="filter-status__container filter-dropdown" *ngIf="mobileLengthMenuActive"
        (click)="$event.stopPropagation()">
        <ul>
          <li *ngFor="let length of lengths" [ngClass]="{ 'selected': lengthFilters.has(length) }"
            (click)="toggleLengthFilter([length])">
            {{ length.replace('_', ' ') | titlecase }}
          </li>
        </ul>
      </div>
    </div>

    <!-- Rating and Date Sort -->
    <div class="dropdown-item">
      <button class="button neutral filters-button" (click)="toggleMobileSortMenu()"
        [ngClass]="{ 'filters-button--down': mobileSortMenuActive }">
        Sort <i class="fas fa-chevron-down"></i>
      </button>
      <div class="filter-status__container filter-dropdown" *ngIf="mobileSortMenuActive"
        (click)="$event.stopPropagation()">
        <ul>
          <li (click)="setSort('date', -1)">
            <span *ngIf="selectedLastUpdatedSortType === -1" class="indicator"></span>
            Date (Newest)
          </li>
          <li (click)="setSort('date', 1)">
            <span *ngIf="selectedLastUpdatedSortType === 1" class="indicator"></span>
            Date (Oldest)
          </li>
          <li (click)="setSort('rating', -1)">
            <span *ngIf="selectedRatingSortType === -1" class="indicator"></span>
            Average Rating (Highest)
          </li>
          <li (click)="setSort('rating', 1)">
            <span *ngIf="selectedRatingSortType === 1" class="indicator"></span>
            Average Rating (Lowest)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- DESKTOP VIEW -->
<div class="desktop-filter desktop-only" (click)="$event.stopPropagation()">
  <span *ngIf="filtersApplied === true" class="filters-clear-all">
    <a (activate)="clearAllFilters()">Clear all filters</a>
  </span>

  <button #toggleStatusFilterMenu class="button neutral filters-button" (click)="toggleDesktopStatusMenu(true)"
    [ngClass]="{ 'filters-button--down': desktopStatusMenuActive }">
    <span class="filter-badge" *ngIf="statusFilters.size">
      {{ statusFilters.size }}
    </span>
    Status <i class="fas fa-chevron-down"></i>
  </button>
  <clark-context-menu *ngIf="desktopStatusMenuActive" class="filter-status" [anchor]="toggleStatusFilterMenu"
    [offset]="{ top: 10, left: 10 }" (close)="toggleDesktopStatusMenu(false)">
    <div #contextMenu id="contextMenu" class="filter-status__container">
      <ul>
        <li *ngFor="let status of statuses" [ngClass]="status" (click)="toggleStatusFilter([status])">
          <!-- Desktop view keeps the indicator -->
          <div *ngIf="statusFilters.has(status)" class="indicator"></div>
          <i [ngClass]="getStatusIcon(status)"></i>
          {{ status.replace('_', ' ') | titlecase }}
        </li>
      </ul>
    </div>
  </clark-context-menu>

  <button #toggleLengthFilterMenu class="button neutral filters-button" (click)="toggleDesktopLengthMenu(true)"
    [ngClass]="{ 'filters-button--down': desktopLengthMenuActive }">
    <span class="filter-badge" *ngIf="lengthFilters.size">
      {{ lengthFilters.size }}
    </span>
    Length <i class="fas fa-chevron-down"></i>
  </button>
  <clark-context-menu *ngIf="desktopLengthMenuActive" class="filter-lengths" [anchor]="toggleLengthFilterMenu"
    [offset]="{ top: 10, left: 10 }" (close)="toggleDesktopLengthMenu(false)">
    <div #contextMenu id="contextMenu" class="filter-status__container">
      <ul>
        <li *ngFor="let length of lengths" [ngClass]="length" (click)="toggleLengthFilter([length])">
          <!-- Desktop view keeps the indicator -->
          <div *ngIf="lengthFilters.has(length)" class="indicator"></div>
          {{ length.replace('_', ' ') | titlecase }}
        </li>
      </ul>
    </div>
  </clark-context-menu>


  <button #toggleSortMenuAnchor class="button neutral filters-button" (click)="toggleDesktopSortMenu(true)"
    [ngClass]="{ 'filters-button--down': desktopSortMenuActive }">
    Sort <i class="fas fa-chevron-down"></i>
  </button>
  <clark-context-menu *ngIf="desktopSortMenuActive" class="sort-dates" [anchor]="toggleSortMenuAnchor"
    [offset]="{ top: 10, left: 10 }" (close)="toggleDesktopSortMenu(false)">
    <div #contextMenu id="contextMenu" class="filter-status__container">
      <ul>
        <li (click)="setSort('date', -1)">
          <span *ngIf="selectedLastUpdatedSortType === -1" class="indicator"></span>
          Date (Newest)
        </li>
        <li (click)="setSort('date', 1)">
          <span *ngIf="selectedLastUpdatedSortType === 1" class="indicator"></span>
          Date (Oldest)
        </li>
        <li (click)="setSort('rating', -1)">
          <span *ngIf="selectedRatingSortType === -1" class="indicator"></span>
          Average Rating (Highest)
        </li>
        <li (click)="setSort('rating', 1)">
          <span *ngIf="selectedRatingSortType === 1" class="indicator"></span>
          Average Rating (Lowest)
        </li>
      </ul>
    </div>
  </clark-context-menu>
</div>