@import 'vars.scss';

.windows-warning {
    margin-top: 25px;
    padding-top: 20px;
    position: relative;
  
    &:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 40%;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      background: $medium-grey;
    }
  }