@import '~_vars.scss';

.notification-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: $dark-grey;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 150px;
}

.notification-card__exit-button {
    border: none;
    outline: none;
    font-size: $normal;
    margin-right: 0;
    margin-left: auto;
    display: block;
    cursor: pointer;
    background-color: white;
}

.notification-card__title {
    margin: 0;
    margin-bottom: 15px;
    max-width: 80%;
    text-overflow: ellipsis;
    min-height: 40px;
}

.notification-card__version-history {
    margin-bottom: 20px;
}

.notification-card__links {
    position: absolute;
    bottom: 10px;
    color: $light-blue;
    display: inline-block;
    font-size: $small;

    .details {
        padding-right: 20px;
    }
}
