.wrapper {
  display: grid;
  grid-row-gap: 5px;
  padding-bottom: 15px;
  grid-auto-columns: 100%;
}

.grid-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  justify-self: center;
}
.grid-row.header {
  color: #3b608b;
  text-transform: uppercase;
  background: transparent;
  font-weight: bold;
  opacity: 0.7;
  padding: 0 10px;
}
.text-contained {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inline-flex {
  display: flex;
  align-items: center;
}

.folder,
.file {
  font-size: 15px;
  margin: 5px;
}

.folder:hover {
  cursor: pointer;
}

.folder:active {
  opacity: 0.5;
}

.folder {
  .icon {
    color: #808e9b;
  }
}

.file {
  .icon {
    color: #485460;
  }
}

.icon {
  font-size: 20px;
  margin-right: 5px;
}
.description {
  color: #555555;
}
input {
  width: 100%;
  padding: 5px 10px;
}
