@import '~_vars.scss';

.preview {
  text-align: center;
}

.file-list-viewport {
  min-height: 300px;
}
.folder,
.file {
  height: 30px;
}

.wrapper {
  display: grid;
  padding-bottom: 15px;
  grid-auto-columns: 100%;
}

.grid-row {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 25px;
  grid-column-gap: 20px;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 0 0 8px 0;
  justify-self: center;

  &.header {
    color: #3b608b;
    text-transform: uppercase;
    background: transparent;
    font-weight: bold;
    opacity: 0.7;
    padding: 0;
    margin-bottom: 15px;
  }
}
