@import '~_vars.scss';

.rating-stars {
    color: white;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: $normal;

    .stars {
        position: relative;
    }

    .empty-stars,
    .full-stars {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > * {
            margin-right: 5px;
        }
    }

    .full-stars {
        position: absolute;
        top: 0;
        left: 0;

        &:after {
            content: '';
            display: block;
            position: relative;
        }
    }

    .full-stars-mask {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 100%;
    }

    .number-reviews {
        margin-left: 5px;
        opacity: 0.7;
    }

    &.dark {
        color: $dark-grey;
    }

    &.blue {
        color: $blue-accent;
    }

    &.gold {
        color: $gold;

        .number-reviews {
            color: $dark-grey;
        }
    }
}