<div class="topbar"></div>
<div class="side-panel">
  <div class="side-panel__object">
    <div class="side-panel-object__details">
      <clark-panel-learning-object
        [learningObject]="learningObject"
      ></clark-panel-learning-object>
      <div  class="side-panel__button-bar">
        <button
          class="button good"
          (activate)="close()"
          [routerLink]="[
            '/details',
            learningObject.author.username,
            learningObject.name
          ]"
          attr.aria-label="Visit {{ learningObject.name }}'s public listing"
        >
          Visit <i class="far fa-external-link"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="side-panel__welcome-message">
    <h1 class="title"><b>Welcome to the Learning Object Information Panel!</b></h1>
    <p class="message">Here you can currently find metrics for your Learning Object, and navigate to its public page on CLARK. We have more planned, so check back soon!</p>
  </div>
  <div class="side-panel__metrics">
    <div tab-index="0" class="metrics__title title">Metrics</div>
    <div class="metrics__grid">
      <div class="metrics__downloads">
        <div aria-labelledby="downloads" tab-index="0" class="metrics__amount">
          {{ learningObject.metrics.downloads }}
        </div>
        <div id="downloads-label" class="metrics__label">Downloads</div>
      </div>
      <div class="metrics__ratings">
        <div tab-index="0" aria-labelledby="ratings-label" class="metrics__amount">
          <clark-rating-stars
            [rating]="averageRating"
            color="gold"
            size="26"
          ></clark-rating-stars>
        </div>
        <div id="ratings-label" class="metrics__label">Average Rating</div>
      </div>
    </div>
  </div>
  <div *ngIf="createRevision" class="side-panel__revision">
    <div class="revision__title title">Revision</div>

    <div *ngIf="false; else noRevisionTemplate">
      <!-- TODO implement revision logic here -->
    </div>
  </div>
</div>

<ng-template #noRevisionTemplate>
  <div class="revision__empty">
    You don't have a revision for this Learning Object yet!
  </div>
  <div class="btn-group center">
    <button class="button good">Revise <i class="fas fa-wrench"></i></button>
  </div>
</ng-template>
