@import '~_vars.scss';

.title {
  text-align: center;
  color: $darker-grey;
  font-size: $larger;
  margin-top: 10px;
}

.info {
  color: $dark-grey;
  text-align: center;
  font-size: $normal;
  margin-bottom: 20px;
  .organization {
    text-transform: capitalize;
  }
  .organization,
  .email {
    text-align: center;
  }
}

.bio {
  color: $dark-grey;
  font-size: $large;
  max-width: 600px;
  margin: auto;
  
}

.section-title {
  color: $blue-accent;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $larger;
}

.learning-objects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  margin-top: 20px;

  .no-objects {
    margin-top: 30px;
    color: $dark-grey;
    font-size: $large;
    text-align: center;
  }

  .button {
    outline: none;
  }

  & > div {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  clark-learning-object-component {
    width: 100%;
    outline: none;
  }
}

.verify-email.button {
  display: inline-block;
  margin: 10px auto;
}

#card-printer {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}