<div class="title">{{ user.name | titlecase }}</div>
<div class="info">
  <div class="bio">
    <div>{{ user.bio }}</div>
  </div>
  <div class="organization">
    <a [routerLink]="['/organization', user.organization]">{{ user.organization | titlecase }}</a>
  </div>
  <div class="email">
    <a href="mailto: {{ user.email }}">{{ user.email }}</a>
  </div>
  <div *ngIf="self && !user.emailVerified" class="verify-email button good" (click)="sendEmailVerification()">
    {{ copy.EMAILVERIFY }}
  </div>
</div>
<div *ngIf="objects && objects.length > 0" class="section-title">{{ copy.LEARNINGOBJECTS }}</div>
<div class="learning-objects">
  <ng-container *ngIf="objects && objects.length > 0">
    <div *ngFor="let l of objects">
      <learning-object-component *ngIf="l.published || loading" routerLink="/details/{{ l.author.username }}/{{l.name}}" [learningObject]="l"
        [owned]="true" [loading]="loading">
      </learning-object-component>
    </div>
  </ng-container>
  <ng-container *ngIf="!objects || !objects.length">
    <div class="no-objects">{{ copy.NOOBJECTS(self) }}</div>
    <div *ngIf="self" class="btn-group center">
      <div class="button good" routerLink="/onion/dashboard">{{ copy.CREATE }}
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </ng-container>
</div>
<section id="card-printer" *ngIf="self">
  <button class="print-cards button neutral on-white" (click)="printCards()">{{ copy.PRINT }}</button>
</section>