<div class="title" id="profile-title">{{ user.name | titlecase }}</div>
<div class="info">
  <div class="bio">
    <div>{{ user.bio }}</div>
  </div>
  <div class="organization" id="organization-link">
    <a [routerLink]="['/organization', user.organization]">{{ user.organization | titlecase }}</a>
  </div>
  <div class="email">
    <a id="email-link" href="mailto: {{ user.email }}">{{ user.email }}</a>
  </div>
  <div *ngIf="self && !user.emailVerified" class="verify-email button good" (activate)="sendEmailVerification()">
    {{ copy.EMAILVERIFY }}
  </div>
</div>
<div class="learning-objects">
  <ng-container *ngIf="objects?.length > 0">
    <div class="section-title">{{ copy.LEARNINGOBJECTS }}</div>
    <div *ngFor="let l of objects">
      <clark-learning-object-component routerLink="/details/{{ l.author.username }}/{{l.name}}"
        [learningObject]="l" [loading]="loading">
      </clark-learning-object-component>
    </div>
  </ng-container>
  <ng-container *ngIf="!objects || !objects.length">
    <div class="no-objects">{{ copy.NOOBJECTS(self) }}</div>
    <div *ngIf="self" class="btn-group center">
      <button id="profile-create-learning-object" class="button good" routerLink="/onion/dashboard">{{ copy.CREATE }}
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </ng-container>
</div>

