<div class="wrapper">
    <div class="first">
        <h1>Securing the nation through education</h1>
        <p>
            CLARK, the Cybersecurity Labs and Resource Knowledge-base,
            is a platform for building and sharing free cybersecurity
            curricula. It includes a model for building cirriculum, the
            digital library system, and distinct curriculum collections.
        </p>
        <p>
            CLARK fulfills a demonstrated need for a high-quality and
            high-availability repositor for curricular resources for 
            the cybersecurity education community. It provides cybersecurity
            educators with the building blocks to train the next wave
            of researchers and better prepare the cybersecurity workforce.
        </p>
    </div>
    
    <div class="second">
        <div class="second-element">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-cloud fa-stack-1x"></i>
            </span>
            <h2>Easy In / Easy Out</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Cursus euismod quis viverra nibh cras pulvinar.
            </p>
        </div>
        
        <div class="second-element">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-star fa-stack-1x"></i>
            </span>
            <h2>Quality Curriculum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Cursus euismod quis viverra nibh cras pulvinar.
            </p>
        </div>
        
        <div class="second-element">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-history fa-stack-1x"></i>                
            </span>
            <h2>Relevant</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Cursus euismod quis viverra nibh cras pulvinar.
            </p>
        </div>
        
    </div>    
</div>
