@import '~_vars.scss';

.tab-menu {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    color: $dark-grey;
}

.tab-menu__lab-container__icon {
    margin-right: 10px;
}

.label-container__selected-label {
    color: $light-blue;
}