@import '~_vars.scss';

$height: 20px;

:host {
  height: $height;
}
.inner {
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.03);
    padding: 20px;
    margin-bottom: 15px;
}
.text {
    font-size: 16px;
    color: $dark-text;
    padding-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.switch {
  width: calc(#{$height} * 2);
  height: $height;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;

  // disable selection
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .switch__background {
    background: $placeholder;
    border-radius: 50px;
    border: 2px;
    border-color: $blue-accent;
    width: inherit;
    height: inherit;
  }

  .switch__fob {
    border-radius: 50%;
    width: $height;
    height: $height;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: $blue-accent;
    transition: all 0.2s ease;
  }

  &.switch--on {

    .switch__fob {
      background: $dark-text;
      transform: translateX($height);
    }
    .switch__background{
      background: linear-gradient(45deg, #fea200, #ffd000);
    }
  }
}