<header class="header">
    <div class="ncyte-title">
        <img height="300px" width="200px" class = "logo" src="../../../../assets/images/collections/ncyte.png" alt="Ncyte Center">
         <h2 class = "logo-header">The National Cybersecurity Training
            & Education (NCyTE) Center Curricular Resources
        </h2>
    </div>
    <div class="section-browse">
        <section class = "section-accent">
            <i class="far fa-user-graduate icon"></i>
            <p>
                Developing strong cybersecurity programs and faculty
                is key to developing a stronger cybersecurity workforce
            </p>
            <form>
                <button formaction="https://clark.center/browse?currPage=1&limit=10&collection=ncyte" arial-label = "Browse Ncyte Curriculum" class = "button ncyte">Browse Curriculum
                    <i class="fas fa-arrow-right"></i>
                </button>
              </form>
        
        </section>
    </div>
</header>