$blue-accent: #3b608b;
$bright-blue: saturate(lighten($blue-accent, 20), 40);

.users {
    max-width: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .user-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, minmax(10%, 300px)); 
  }
  
  .user-cards > *:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }

button {
  font-size: 14px;
  border: 0;
  padding: 10px 20px 10px 25px;

  &.good {
    color: white;
    background: $bright-blue;
    border-color: $bright-blue;
  }
}