<clark-admin-content-wrapper>
    <div page-title>
      <span class="cname">{{activeCollection.toUpperCase()}} </span> Reviewers
    </div>
    <div filter-options>
      <div class="btn-group to-right">
        <button class="button good add reviewers" (click)="isSearching= !isSearching"> Add Reviewer
            <i class="far fa-user-plus"></i> 
        </button>
      </div>
    </div>
  
    <ng-template #loadingTemplate>
      <div class="loading-template">
        <i class="far fa-spinner-third fa-spin"></i>
        Loading Reviewers...
      </div>
    </ng-template>
  </clark-admin-content-wrapper>