@import '~_vars.scss';
@import'~globals.scss';

.about-container {
    text-align: center;
}
.media-feature-cards-container {
    text-align: center;
    h1 {
        font-size: $largest;
        color: $darker-grey;
        display: inline-block;
        font-weight: normal !important;
    }
}