<div class="wrapper">
  <div class="title">My Library</div>
  <div class="count">{{cartService.cartItems.length}} item{{(cartService.cartItems.length != 1) ? 's' : ''}}</div>

  <div *ngIf="cartService.cartItems.length" class="cart">
    <div *ngFor="let object of cartService.cartItems" class="object" (click)="goToItem(object)">
      <div>
        <div class="name">{{object._name}} <span class="length " [ngClass]="object._length">{{ object._length }}</span></div>
        <div class="author">{{object._author._name}}</div>
      </div>
      <div class="actions">
        <div class="button icon-only good" (click)="downloadObject($event, object)">
          <i class="far fa-download"></i>
        </div>
        <div class="button icon-only bad" (click)="removeItem($event, object)">
          <i class="far fa-times"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="btn-group to-right" *ngIf="cartService.cartItems.length">
    <div class="button good" (click)="download()">Download
      <i class="far fa-download"></i>
    </div>
    <div class="button neutral on-white" (click)="clearCart()">Clear Cart
      <i class="far fa-ban"></i>
    </div>
  </div> -->

  <div *ngIf="!cartService.cartItems.length" class="no-objects">
    You don't have anything in your library!
    <br/>Get started
    <span routerLink="/">browsing some learning objects!</span>
  </div>
</div>
