@import '~_global-styles.scss';

.wrapper {
    max-width: 950px;
    background: white;
    padding: 20px;
    border-radius: 3px;
    margin: auto;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);

    .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: $blue-accent;
    }

    .count {
        font-weight: light;
        color: lighten($dark-text, 20);
        font-style: italic;
        text-align: center;
    }

    .cart {
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, 0.05);

        .object {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .name {
                font-weight: bold;
                font-size: 16px;
                color: $blue-accent;
            }

            .author {
                font-style: italic;
                color: lighten($dark-text, 20);
            }

            &:nth-of-type(even) {
                background: rgba(0, 0, 0, 0.05);
                border-top: 1px solid rgba(0, 0, 0, 0.02);
                border-bottom: 1px solid rgba(0, 0, 0, 0.02);
            }

            .actions {
                display: flex; flex-direction: row;
                align-self: center;

                .button {
                    margin-left: 10px;
                    max-height: 38px;
                }
            }
        }
    }

    .btn-group {
        margin-top: 25px;
    }

    .no-objects {
        margin-top: 40px;
        text-align: center;
        font-size: 18px;
        color: lighten($dark-text, 20);

        span {
            font-style: italic;
            color: $blue-accent;
            text-decoration: underline;
            outline: none;
            cursor: pointer;
        }
    }
}