.cart-actions {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    justify-content: flex-end;
    padding-right: 35px;
    margin-bottom: 50px;
    .button {
        margin-right: 15px;
        &.bad {
            margin-left: 75px;
        }
    }
}
.cart-items {
    max-width: 1080px;
    margin: auto; 
}