<clark-admin-content-wrapper>
  <div #list2 class="el"></div>
  <div page-title>Featured Learning Objects</div>
  <button filter-options [ngClass]="{'disabled': submitError }" class="button good" (activate)="saveFeatured()">Save<i class="far fa-save"></i></button>
</clark-admin-content-wrapper>
@if (submitError) {
  <div class="error-notice">Featured Learning Objects must contain 5 Learning Objects</div>
}
<div
  cdkDropList
  #featuredList="cdkDropList"
  [cdkDropListData]="featuredObjects"
  cdkDropListOrientation="horizontal"
  class="featured-list"
  (cdkDropListDropped)="drop($event)">
  @if (featuredObjects?.length < 1) {
    <div class="empty-drag">
      <p>Drag Learning Objects here to feature</p>
    </div>
  }
  @for (l of featuredObjects; track l) {
    <div class="featured-card" cdkDragLockAxis="x" cdkDrag>
      <clark-draggable-learning-object [learningObject]="l" [preview]="false" (delete)="removeFeatured($event)" learningObjectCard></clark-draggable-learning-object>
    </div>
  }
</div>
<clark-admin-content-wrapper>
  <div #list2 class="el"></div>
  <div page-title>Not Currently Featured Learning Objects</div>
  <clark-search-input
    class="featured-search"
    search
    [placeholder]="'Search ' + searchBarPlaceholder"
    [fullWidth]="true"
    (userInput)="userSearchInput$.next($event)"
  ></clark-search-input>
  <clark-admin-filter-search
    filter-options
    (clearAll)="clearFilters()"
    (filterQuery)="getFilteredLearningObjects($event)"
    [adminOrEditor]="true"
    [showStatus]="false"
  ></clark-admin-filter-search>
  <div #list class="list" main>
    <div #listInner>
      <div class="list__body">
        @if (learningObjects?.length || loading) {
          <div>
            <div #headers class="body__column-headers">
              <div>Status</div>
              <div>Name</div>
              <div>Author</div>
              <div>Type</div>
              <div>Date</div>
            </div>
            <div
              cdkDropList
              [cdkDropListData]="learningObjects"
              [cdkDropListConnectedTo]="[featuredList]"
              cdkDropListOrientation="vertical"
              class="row-items"
              (cdkDropListDropped)="drop($event)"
              >
              @for (l of learningObjects; track l) {
                <div  cdkDrag [cdkDragDisabled]="mutationError || featureService.featuredObjectIds?.includes(l.id)">
                  <clark-draggable-dashboard-item
                    [learningObject]="l"
                    [disabled]="featureService.featuredObjectIds?.includes(l.id)"
                  ></clark-draggable-dashboard-item>
                  <div class="drag-preview" *cdkDragPreview>
                    <clark-draggable-learning-object [learningObject]="l" [preview]="true" (delete)="removeFeatured($event)" learningObjectCard></clark-draggable-learning-object>
                  </div>
                </div>
              }
            </div>
            <clark-admin-pagination
              [lastPageNumber] = lastPage
              [currentPageNumber] = query.currPage
              (newPageNumberClicked) = 'changePage($event)'
            ></clark-admin-pagination>
          </div>
        } @else {
          <div class="empty-template">
            <div class="empty-template__top">
              <i class="fal fa-box-open"></i>
              <div class="top-message">
                Nothing here!
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</clark-admin-content-wrapper>


<ng-template #finishedLoadingTemplate>
  <div class="loadingOrFinished__content">
    <i class="far fa-thumbs-up"></i>
    You've reached the end of the list!
  </div>
</ng-template>
