.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start stretch;
    justify-content: center;
    max-width: 1375px;
    margin: auto;
    // this margin offsets each individual card's top margin
    margin-top: -24px;
  
    .featured-learning-object {
      margin-top: 24px;
  
      &.card {
        max-width: 250px;
        margin-right: 12px;
        margin-left: 12px;
      }
    }
  }