@import '~_vars.scss';
  .featured-list {
    width: 1375px;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: -24px;
    margin: auto;
  }
  
  .featured-card {
    padding: 20px 10px;
    display: flex;
    width: 200px;
    height: 375px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  //
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }