@import '~_vars.scss';
.container{
    width: 20vw;
    display: flex;
    margin-bottom: 50px;
}

.module-background{
    position: relative;
    margin: auto;
    right: 200px;
}

.module-background .background{
    min-width: 100%;
    min-height: 100%;
}

.module{
    position: absolute;
    bottom: 40px;
    left: 50px;
    z-index: 1;
    color: #fff;
    width: 100%;

}
.micromodule{
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 1;
    color: #fff;
}
div{ 
    font-size: $smaller;
    padding-right: 50px;
}

.obj-info{
    position: relative;
    right: 250px;
    margin: auto;
    min-height: 10vh;

}

.obj-title{
    font-weight: 700;
}

@media (max-width: 400px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .obj-info{
        right: 150px;
    }
}





