<div class="progress" [ngClass]="{'progress--organization': showOrganizationStep}">
  <p [ngClass]="{'active': isStepActive('info')}">1. Info</p>
  @if (showOrganizationStep) {
    <p [ngClass]="{'active': isStepActive('organization')}">2. Organization</p>
    <p [ngClass]="{'active': isStepActive('account')}">3. Account</p>
    <p [ngClass]="{'active': isStepActive('sso')}">4. SSO</p>
  } @else {
    <p [ngClass]="{'active': isStepActive('account')}">2. Account</p>
    <p [ngClass]="{'active': isStepActive('sso')}">3. SSO</p>
  }
</div>