@import "_vars.scss";

.progress {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 520px;
    margin: 0 auto;
    width: 100%;

    &.progress--organization {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 12px;

        p {
            font-size: $small;
            padding: 5px 2px;
        }
    }

    p {
        color: $dark-grey;
        border-bottom: 2px solid $dark-grey;
        padding: 5px 0;
        font-size: $normal;
        margin: 0;
        text-align: center;
        white-space: nowrap;

        &.active {
            color: $light-blue;
            border-bottom-color: $light-blue;
        }
    }
}

@media (max-width: 720px) {
    .progress {
        gap: 12px;

        p {
            font-size: $small;
            white-space: normal;
        }
    }
}
