@import '~_vars.scss';

.wrapper {
  max-height: 100px;
  max-width: 520px;
  padding: 15px;
  background: white;
  border: 2px solid $darker-grey;
  .container {
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: $normal;
    button {
      margin: 0 10px 0 10px;
      appearance: none;
      border-radius: 4px;
      border: none;
      padding: 12px 25px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}