<div [@outcome]="active ? 'open' : 'closed'" class="outcome-component" [ngClass]="{'active': active}" [ngStyle]="{'overflow': hiddenOverflow? 'hidden':'visible'}">
  <div class="outcome-header">{{outcome.verb ? ( outcome.verb | titlecase ) + ' ' + outcome.text : 'Learning Outcome '
    + outcomeNumber }}</div>
  <div *ngIf="!!active" class="outcome-delete" (click)="emitDeletion()">
    <span>Delete Outcome</span>
    <i class="far fa-trash"></i>
  </div>
  <div class="level-select">
    <div *ngFor="let l of outcomeLevels" class="level" [ngClass]="{'active': outcome?.bloom.toLowerCase() === l.toLowerCase()}"
      (click)="emitLevel(l)">
      <div class="icon">
        <span *ngIf="l === 'Remember and Understand'"><i class="fal fa-cloud"></i></span>
        <span *ngIf="l === 'Apply and Analyze'"><i class="fal fa-bolt"></i></span>
        <span *ngIf="l === 'Evaluate and Synthesize'"><i class="fal fa-balance-scale-right"></i></span>
      </div>
      <div class="level-text">
        {{ l.replace('and', '&') }}
      </div>
    </div>
  </div>
  <div class="outcome-text">
    <clark-outcome-typeahead (overflowValue)="setOverflow($event)" [outcome]="outcome" (selectedVerb)="emitVerb($event)"
      (selectedCategory)="emitLevel($event)" (enteredText)="emitText($event)" class="absolute-position">
    </clark-outcome-typeahead>
  </div>
  <div *ngIf="outcomeValidator.outcomeSaveable(outcome.id)" class="outcome-component__outcome-error" [ngClass]="{'outcome-error--warning': !validator.submissionMode}">
    {{ validator.getOutcome(outcome.id) ? validator.getOutcome(outcome.id) : undefined }}
  </div>
  <div *ngIf="!outcomeValidator.outcomeSaveable(outcome.id)" class="outcome-component__no-save">
    This outcome can't be saved until a level and verb are selected!
  </div>
  <div *ngIf="outcome.mappings?.length" class="outcome-mappings">
    <div class="outcome-header">Maps to: </div>
    <div class="pills">
      <div *ngFor="let m of outcome.mappings" class="pill">
        {{ m.author }} - {{ m.name }}
        <span (click)="removeMapping(m)">
          <i class="fal fa-times"></i>
        </span>
      </div>
    </div>
  </div>
</div>
