<div class="outcome-component">
  <div class="outcome-title">{{ verb + ' ' + text || 'Learning Outcome ' + outcomeNumber }}</div>
  <div class="level-select">
    <div *ngFor="let l of outcomeLevels" class="level" [ngClass]="{'active': level === l}" (click)="level = l">
      <div class="icon">
        <span *ngIf="l === 'Remember and Understand'"><i class="fal fa-cloud"></i></span>
        <span *ngIf="l === 'Apply and Analyze'"><i class="fal fa-bolt"></i></span>
        <span *ngIf="l === 'Evaluate and Synthesize'"><i class="fal fa-balance-scale-right"></i></span>
      </div>
      <div class="level-text">
        {{ l.replace('and', '&') }}
      </div>
    </div>
  </div>
  <div class="outcome-text">
    <clark-outcome-typeahead [outcome]="outcome" (selectedVerb)="verb = $event;" (selectedCategory)="level = $event;" (enteredText)="text = $event;"></clark-outcome-typeahead>
  </div>
</div>