<section class="philosophy">
  <div class="philosophy__values">
    @for (value of values; track value) {
      <div attr.aria-label="{{ value.title }}: {{ value.items.join(', ') }}" class="values__wrapper">
        <i class="{{ value.icon }}"></i>
        <p aria-hidden="true" class="values__title">{{ value.title }}</p>
        <ul aria-hidden="true" class="values__list">
          @for (item of value.items; track item) {
            <li class="values__list-item">{{ item }}</li>
          }
        </ul>
      </div>
    }
  </div>
</section>