@import '~_vars.scss';

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	height: 40px;
	line-height: 40px;
	background-color: white; 
  color: #666;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#plus {
	background-color: $green;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

#delete {
	background-color: $error-red;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

.navbar-gravatar {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px  1px 6px 2px rgba(0, 0, 0, 0.05);
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

li:hover #plus {
	width: 40px;
	opacity: 1;
}

li:hover #delete {
	width: 40px;
	opacity: 1;
}

#container {
	box-shadow: 0 0 3px rgba(0, 0 , 0, 0.1);
	background-color: #f7f7f7;
	width: 100%; 
}

.metadata-wrapper {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    &>div {
      width: 33%;
    }
    .title {
      font-size: 28px;
      color: $blue-accent;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }
  select {
    &[name='type'],
    &[name='level'] {
      width: 100%;
    }
  }

  .level-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  
    .level {
      text-transform: none;
      cursor: pointer;
      margin-right: 10px;
      background: #fff;
      color: $blue-accent;
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
      padding: 5px 10px;
      border-radius: 2px;
      border: 3px solid transparent;
      margin-top: 10px;
    }
    .level.selected {
      background: $blue-accent;
      color: #fff;
      box-shadow: none;
    }
  }
}