<section class="metadata-wrapper">
  <div class="header">
    <div class="back"></div>
    <div class="title">
      Basic Information
      <a href="http://about.clark.center/tutorial/#Uploading" target="blank"><i class="fas fa-question-circle"></i></a>
    </div>
    <div></div>
  </div>
  <div class="section">
    <div class="input-group">
      <div class="label">
        What is this learning object named?
      </div>
      <input class="name-field" type="text" name="name" placeholder="Learning Object Name" [(ngModel)]="learningObject.name" #name="ngModel"
        [ngClass]="{'bad': errorStore.error === 'name' }" [pattern]="validName" />
    </div>
    <div class="input-group">
      <div class="label">
        Add more authors. <a href="http://about.clark.center/tutorial/#Descriptions" target="blank"><i class="fas fa-question-circle"></i></a>
      </div>
      <div *ngIf="selectedAuthors.length > 0">
        <div class="level-list">
          <div class="level button" *ngFor="let user of selectedAuthors; let i = index;" (click)="toggleLevel(level)">
            {{ user }}
            <span (click)="removeAuthor(user)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <input #userSearchInput autofocus type="text" class="search-input" placeholder="Search all users" [(ngModel)]="query.text">
      <div id="container">
        <ul>
          <li *ngFor="let user of arrayOfUsers; let i = index;">
            <span *ngIf="this.isAuthorSelected(i)" id="plus" (click)="addAuthor(i)">
              <i class="fas fa-plus"></i>
            </span>
            <span *ngIf="!this.isAuthorSelected(i)" id="delete" (click)="removeAuthor(user.username)">
              <i class="fa fa-trash"></i>
            </span>
            <span class="navbar-gravatar" [ngStyle]="{'background-image': 'url(' + userService.getGravatarImage(user.email, 200) + ')'}"></span>
            {{ user.username }} - {{ user.name | titlecase }} from {{ user.organization | titlecase }}
          </li>
        </ul>
      </div>
    </div>
    <div class="input-group">
      <div class="label">
        What is the Length of this learning object?
      </div>
      <div class="select-wrapper">
        <select [(ngModel)]="learningObject.length" name="type" class="flex-g1 vert-center">
          <option value="nanomodule">Nanomodule - up to 1 hour</option>
          <option value="micromodule">Micromodule - between 1 and 4 hours</option>
          <option value="module">Module - between 4 and 10 hours</option>
          <option value="unit">Unit - over 10 hours</option>
          <option value="course">Course (15 weeks)</option>
        </select>
      </div>
    </div>

    <div class="input-group">
      <div class="label">
        What levels is this content suited for?
      </div>
      <div class="level-list">
        <div class="level button" [ngClass]="{selected: learningObject.levels.includes(level)}" *ngFor="let level of academicLevels"
          (click)="toggleLevel(level)">
          {{ level | titlecase}}
          <span *ngIf="learningObject.levels.includes(level)">
            <i class="far fa-check-circle"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>