<section class="metadata-wrapper">
  <div class="header">
    <div class="back"></div>
    <div class="title">{{ copy.TITLE }}
    </div>
    <div></div>
  </div>
  <div class="section">
    <div class="input-group">
      <div class="label">
        {{ copy.NAME }}
      </div>
      <input aria-label="Learning object name" class="name-field" type="text" autofocus name="name" placeholder="{{ copy.NAMEPLACEHOLDER }}" [(ngModel)]="learningObject.name" #name="ngModel"
        [ngClass]="{'bad': errorStore.error === 'name' }" [pattern]="validName" />
    </div>
    <div class="input-group">
      <div class="label">
        {{ copy.ADDCOLLABS }}
      </div>
      <div *ngIf="selectedAuthors.length > 0">
        <div class="level-list">
          <div class="level button" *ngFor="let user of selectedAuthors; let i = index;" (click)="toggleLevel(level)">
            {{ user.name | titlecase }}
            <span (click)="removeAuthor(user)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <input #userSearchInput type="text" aria-label="user textbox" class="search-input" placeholder="{{ copy.COLLABPLACEHOLDER }}" [(ngModel)]="query.text">
      <div id="container">
        <ul>
          <li *ngFor="let user of searchResults; let i = index;">
            <span *ngIf="!this.isAuthorSelected(i)" id="plus" (click)="addAuthor(i)">
              <i class="fas fa-plus"></i>
            </span>
            <span *ngIf="this.isAuthorSelected(i)" id="delete" (click)="removeAuthor(user)">
              <i class="fa fa-trash"></i>
            </span>
            <span class="navbar-gravatar" [ngStyle]="{'background-image': 'url(' + userService.getGravatarImage(user.email, 200) + ')'}"></span>
            {{ user.username }} - {{ user.name | titlecase }} from {{ user.organization | titlecase }}
          </li>
        </ul>
      </div>
    </div>
    <div class="input-group">
      <div class="label">
        {{ copy.LENGTH }}
      </div>
      <div class="select-wrapper">
        <select [(ngModel)]="learningObject.length" name="type" class="flex-g1 vert-center">
          <option value="nanomodule">{{ copy.NANO }}</option>
          <option value="micromodule">{{ copy.MICRO }}</option>
          <option value="module">{{ copy.MOD }}</option>
          <option value="unit">{{ copy.UNIT }}</option>
          <option value="course">{{ copy.COURSE }}</option>
        </select>
      </div>
    </div>

    <div class="input-group">
      <div class="label">
        {{ copy.LEVELS }}
      </div>
      <div class="level-list">
        <div class="level button" [ngClass]="{selected: learningObject.levels.includes(level)}" *ngFor="let level of academicLevels"
          (click)="toggleLevel(level)">
          {{ level | titlecase}}
          <span *ngIf="learningObject.levels.includes(level)">
            <i class="far fa-check-circle"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>