<div role="link" tabindex="0" attr.aria-labelledby="name description updated" (click)="handleClick($event)" class="grid-row wrapper">
  <div class="text-contained inline-flex" id="name" attr.aria-label="{{ folder?.getName() }} Folder">
    <i class="fas fa-folder icon"></i>
    {{ folder?.getName() }}
  </div>
  <div class="text-contained description" id="description" attr.aria-label="{{ folder?. description }}">
    <span>{{ folder?.description }}</span>
  </div>
  <div class="text-contained" id="updated" attr.aria-label="Last updated {{ timestampAge }}">
    {{ timestampAge }}
  </div>
  <div class="empty"></div>
  <a
    tabindex="0"
    attr.aria-label="Clickable Option Menu for {{ folder?.getName() }}"
    *ngIf="showOptionButton"
    class="meatballs"
    (click)="handleMeatballClick($event)"
  >
    <div></div>
  </a>
</div>
