.children-detail-view {
  h1 {
    font-size: 22px;
    padding-left: 10px;
  }

  learning-object-component:not(:last-child) {
    display: block;
    margin-bottom: 10px;
  }

  .lo-length {
    text-transform: capitalize;
  }
}