@import '~_vars.scss';

.cookies-component {
    width: 100%;
    padding: 20px;
    position: relative;
    background: $dark-overlay;
    color: white;
    box-sizing: border-box;

    .inner {
        width: 100%;
        max-width: $max-width;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo,
    .dismiss {
        flex-shrink: 0;
        flex-grow: 0;
    }

    .left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .logo {
            width: 50px;
            background: url('/assets/images/logo.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 15px;

            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }

        .text {
            font-size: $normal;
        }
    }

    .dismiss {
        font-size: $larger;
        cursor: pointer;
        appearance: none;
        background: transparent;
        border: 0;
        color: white;
    }
}
