<onion-column-wrapper>
    <!-- Left Column -->
    <div left>
        <div class="header">
            <div class="title">
                <p>Learning Object Topic Tags</p>
            </div>
        </div>
       <div class="blurb">
            Topic tagging is a new feature that was developed to categorize learning objects by relevant topic areas in order to increase search-ability. Select the tag(s) that most appropriately describe
            the entire learning object.
            <button class="blurb-tooltip"
                [tip]
                tip="Suggest a topic!
                
                Topics should accurately 'tag' a learning object. If you feel we are missing a topic or a current topic is no longer relevant, click the information icon below to send us an email.
                "
                (activate)="sendEmail()"
                href="mailto:mfranz1@students.towson.edu?subject=CLARK Learning Object Topic Suggestion&body=yeet"
            >
                <i class="fas fa-info-circle"></i>
            </button>
       </div>
    </div>

    <!-- Center Column -->
    <div main>
        <clark-relevancy-scafold></clark-relevancy-scafold>
    </div>
</onion-column-wrapper>
