@import '~_vars.scss';

.header {
    display: flex;
  
    .title {
      font-size: $large;
      font-weight: 600;
      margin: 0px auto;
    }
}

.blurb {
  padding: 0 15px 20px 15px;
  text-align: center;
}