<onion-column-wrapper>
    <!-- Left Column -->
    <div left>
        <div class="header">
            <div class="title">
                <p>Learning Object Topic Tags</p>
            </div>
        </div>
       <div class="blurb">
            Topic tagging is a new feature that was developed to categorize learning objects by relevant topic areas in order to increase search-ability. Select the tag(s) that most appropriately describe
            the entire learning object.
       </div>
    </div>

    <!-- Center Column -->
    <div main>
        <clark-relevancy-scafold></clark-relevancy-scafold>
    </div>
</onion-column-wrapper>
