<div class="builder-navbar-wrapper">
    <div
    class="top"
    [ngStyle]="{
      'margin-top': revisedVersion ? '10px' : '0px',
      'margin-bottom': revisedVersion ? '20px' : '30px'
    }"
  >
    <div class="top__left">
      <clark-lo-status-indicator
        [status]="learningObject?.status"
        [states]="states"
      ></clark-lo-status-indicator>
      <!-- learning object and new tab  preview go here -->
    </div>
    <div class="top__right">
      <a (activate)="historySnapshot.rewind('/admin/learning-objects')">Cancel</a>
    </div>
  </div>
  <div class="builder-navbar-wrapper__bottom">
    <div class="builder-navbar-wrapper__bottom-left-menu">
      <!-- update routerLinkActive with class used to show that link is active -->
      <!-- <ul>
        <li>
          <ng-container
            aria-label="Learning Outcomes Link"
            [ngTemplateOutlet]="navItemTemplate"
            [ngTemplateOutletContext]="{
              disabled: !canRoute('outcomes'),
              link: 'mappings',
              text: 'whats up dog'
            }"
          ></ng-container>
        </li>
      </ul> -->
      <!-- <div class="builder-navbar-wrapper__saving-indicator">
        <span *ngIf="isSaving" class="builder-navbar-wrapper__saving-indicator"
          >to da moon .. .. .. 
        </span>
        <span *ngIf="!isSaving" class="builder-navbar-wrapper__saving-indicator"
          >Doge coin</span
        >
      </div> -->
    </div>
  </div>
</div>

