<div *ngIf="store && store.learningObject" class="builder-navbar-wrapper">
  <div
    class="top"
    [ngStyle]="{
      'margin-top': revisedVersion ? '10px' : '0px',
      'margin-bottom': revisedVersion ? '20px' : '30px'
    }"
  >
    <div class="top__left">
      <clark-lo-status-indicator
        [status]="store.learningObject.status"
        [states]="states"
      ></clark-lo-status-indicator>
      <a class="title" [routerLink]="['/details/', store.learningObject.author.username, store.learningObject.cuid]" target="_blank">
        {{ store.learningObject.name }}
      </a>
      <span>{{ store.learningObject.length | titlecase }} | {{ store.learningObject.author.name | titlecase }} | Updated {{ store.learningObject.date | date: 'mediumDate' }}</span>
    </div>
    <div class="top__right">
      <a class="save" (activate)="save()">Save</a>
      <a class="cancel" (activate)="historySnapshot.rewind('/admin/learning-objects')">Cancel</a>
    </div>
  </div>
</div>

