<div class="section section-featured-learning">
    <section [ngClass]="collectionName" class ="section-accent">
        <div class="accent-content">
            <i class="fa-3x far fa-cube icon"></i>
             <h2 class="featured-learning-title">
                 FEATURED LEARNING OBJECTS
             </h2>
             <p *ngIf="collectionName !== 'nice' else niceDescription">
                 Packaged cybersecurity learning objects
                  designed to help your students learn skills 
                  that employers are seeking
             </p>
        </div>
    </section>
    <clark-collection-learning-object-list [collectionName] = "collectionName" class = "object-list">

    </clark-collection-learning-object-list>
</div>

<ng-template #niceDescription>
    <p>
        Our latest and greatest hands-on cybersecurity challenges 
        are designed to bring your students the workforce experience 
        before the workforce
    </p>
</ng-template>