@import 'vars.scss';
@import '../../../collection-globals.scss';


.section-featured-learning{
    display: flex;
    flex-basis: 100vw;
}

.learning-objects {
    width: 100%;
}

.section-accent{
    display: flex;
    align-items: center;

    flex-basis: 40%;
    color: white;
    border-radius: 0 10px 10px 0;
    text-align: center;

    &.xpcyber {
        background-color: $xp-cyber-dark;
    }
    &.ncyte {
        background-color: $ncyte-blue;
    }

    .accent-content{
        padding: 20%;
    }

    .featured-learning-title{
        font-size: $largest;
    }

    p {
        font-size: $larger;
    }

}

@media (max-width: 1200px){
    .section-featured-learning{
        flex-wrap: wrap;
    }

    .section-accent{
        flex-basis: 100%;
        border-radius: 0px !important;
    }
    .accent-content{
       padding-bottom: 80px;
    }
}
