@import '~_vars.scss';

.dashboard {

  .splash {
    background: $light-blue-gradient;
    color: white;
    padding: 65px 20px 120px;
    position: relative;
    overflow: hidden;

    .greeting {
      position: relative;
      font-size: $largest;
      font-weight: bold;

      span {
        text-transform: capitalize;
      }
    }

    &:after {
      content: '';
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.04;
      mask: $cube-pattern repeat;
    }
  }

  .list-wrapper {
    padding: 20px;
  }

  .list {
    max-width: $max-width;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background: white;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(84, 84, 100, 0.19);
    margin-top: -80px;
    min-height: 500px;
    overflow: hidden;
    margin-bottom: 20px;

    .list-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
      position: relative;
      z-index: 2;

      .header {
        font-size: $larger;
        color: $darker-grey;
      }
    }
  }

  .list-body {
    .column-headers,
    ::ng-deep .row-item {
      display: grid;
      grid-template-columns: 32px 60px 1fr 180px 180px 50px;
      grid-gap: 0 20px;
      align-items: center;
      font-size: $small;
    }

    .column-headers {
      font-size: $small;
      color: $dark-grey;
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }

    clark-dashboard-item {
      position: relative;
      display: block;
    }
  }
}

.filters-button {

  span {
    padding-right: 10px;
    color: $error-red;
    cursor: pointer;
  }
}

.filter-menu {

  li {
    position: relative;
    color: $dark-grey;

    .indicator {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
      background: $dark-grey;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .svg-inline--fa,
    .icon {
      margin-left: 15px;
    }

    &:hover {
      color: white;
      background: $dark-grey;

      .indicator {
        background: white;
      }
    }

    &.waiting {
      color: $status_waiting;

      .indicator {
        background: $status_waiting;
      }

      &:hover {
        color: white;
        background: $status_waiting;

        .indicator {
          background: white;
        }
      }
    }

    &.review {
      color: $status_review;

      .indicator {
        background: $status_review;
      }

      &:hover {
        color: white;
        background: $status_review;

        .indicator {
          background: white;
        }
      }
    }

    &.proofing {
      color: $status_proofing;

      .indicator {
        background: $status_proofing;
      }

      &:hover {
        color: white;
        background: $status_proofing;

        .indicator {
          background: white;
        }
      }
    }

    &.released {
      color: $status_released;

      .indicator {
        background: $status_released;
      }

      &:hover {
        color: white;
        background: $status_released;

        .indicator {
          background: white;
        }
      }
    }

    &.denied {
      color: $status_rejected;

      .indicator {
        background: $status_rejected;
      }

      &:hover {
        color: white;
        background: $status_rejected;

        .indicator {
          background: white;
        }
      }
    }
  }
}

.loading-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  color: $dark-grey;
  font-size: $larger;
  padding: 20px;

  .svg-inline--fa {
    color: $light-blue;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.empty-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  color: $dark-grey;
  font-size: $normal;

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: $dark-grey;
    font-size: $largest;
    margin-bottom: 10px;

    .svg-inline--fa {
      font-size: 50px;
      margin-right: 10px;
    }
  }

  button {
    margin-top: 20px;
  }
}
