<div class="topbar">
    <div class="slide-title">URLs</div>
    <div class="btn-group to-right">
      <div *ngIf="urls.length > 0" (click)="addURL()" class="button good">Add URL
        <i class="far fa-plus"></i>
      </div>
    </div>
</div>
<div [ngClass]="{'empty-section': urls.length == 0}">
  <div *ngIf="urls.length == 0" class="empty-message">
    <i class="fal fa-link"></i>
    <div class="empty-title">No URLs here!</div>
    <div class="button good" (click)="addURL()">Click here to add a URL</div>
  </div>
  <div class="section url-wrapper" *ngFor="let url of urls; let i = index;">
    <div class="link input-wrapper">
      <input placeholder="Title" type="text" [(ngModel)]="urls[i].title" name="url.title.{{ i }}" (input)="triggerSave$.next();">
      <input placeholder="https://example.com" type="text" [(ngModel)]="urls[i].url" name="url.url.{{ i }}" (input)="triggerSave$.next();">
      <div class="button bad icon-only" (click)="removeURL(i)">
        <i class="far fa-times"></i>
      </div>
    </div>
  </div>
</div>