@import 'vars.scss';

.preview {
  text-align: center;
}

.file-list-viewport {
  min-height: 300px;
}
.folder,
.file {
  height: 30px;
}

.wrapper {
  display: grid;
  padding-bottom: 15px;
  grid-auto-columns: 100%;
}

.grid-row {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 1fr 1fr 25px;
  grid-column-gap: 20px;
  align-items: center;
  width: 100%;
  background: white;
  padding: 0 0 8px;
  justify-self: center;

  &.header {
    color: $dark-grey;
    background: transparent;
    padding: 0;
    margin-bottom: 15px;
  }

  .toggle {
    display: flex;
    align-items: center;

    .icon {
      margin-left: 5px;
    }
  }
}

// mobile styles
@media screen and (max-width: "600px") {
  .grid-row {
    &.header {
      display: none;
    }
  }
}