<div class="learning-object" [ngClass]="learningObject.length" [routerLink]="['/details', learningObject.author.username, learningObject.name | encodeURIComponent]">
  <div class="image">
    <div class="initials">{{ learningObject.length.toUpperCase() }}</div>
    <!-- <particles [params]="particleParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
  </div>
  <div class="learning-object-content">
    <div class="title">{{ truncateText(learningObject.name, 45) }}</div>
    <div class="details">
      <div class="author">
        {{ learningObject.author.name }} | {{ learningObject.author.organization }}
      </div>
      <div class="date">
        Updated {{ date | date:'mediumDate' }}
      </div>
    </div>
    <div class="goals" *ngIf="this.learningObject.goals[0]?.text" [innerHtml]="goals()">
    </div>
  </div>
</div>
