@import "~_vars.scss";

@media (min-width: 751px) {
    :host.card {
        min-height: 350px;
        height: auto;
        
        .learning-object {
            height: 100%;
            flex-direction: column;
            align-items: stretch;
    
            .image {
                width: 100%;
                height: 150px;
            }
    
            .learning-object-content {
                flex: 1;
    
                .details {
                    margin-bottom: 10px;
    
                    .author {
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {

    :host {

        &.card {
            width: 100% !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }

    .learning-object {

        .title {
            font-size: 16px !important;
        }

        .goals {
            display: none;
        }
        
        .image {
            width: 100px !important;
            min-height: 100%;
            max-height: 100% !important;

            .initials {
                font-size: 13px !important;
            }
        }
    }


}

:host.loading {
    // loading styles
    $color: lighten($placeholder, 17);
    pointer-events: none;

    .image {
        background: $color !important;
    }

    .initials {
        visibility: hidden;
    }

    &:not(.card) {
        .image {
            height: 100px !important;
        }
    }

    .learning-object-content {
        & > * {
            color: transparent !important;
            background: $color !important;
            margin-bottom: 20px;
            height: 15px;
        }
    }  

    .learning-object {

        &:after {
            content: '';
            background: linear-gradient(90deg, transparent, white, transparent);
            position: absolute;
            top: 0;
            bottom: 0;
            width: 70px;
            animation: loading 2s linear forwards infinite;
        }
    }

}

:host.card {

    .image {
        max-height: 120px;
    }

    .goals {
        white-space: normal !important;
    }
}

.learning-object {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    max-width: 850px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;

    @function gradient($color) {
        @return linear-gradient(45deg, $color, lighten($color, 10));
    }

    &.nanomodule {

        .image {
            background: gradient($nanomodule-color);
        }
    }

    &.micromodule {

        .image {
            background: gradient($micromodule-color);
        }
    }

    &.module {

        .image {
            background: gradient($module-color);
        }
    }

    &.unit {

        .image {
            background: gradient($unit-color);
        }
    }

    &.course {

        .image {
            background: gradient($course-color);
        }
    }

    .image {
        background: white;
        width: 140px;
        flex: 0 0 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;

        ::ng-deep canvas {
            opacity: 0.4;
        }

        .initials {
            color: white;
            font-size: 16px;
            text-align: center;
            background: rgba(0, 0, 0, 0.4);
            padding: 5px;
            z-index: 2;
        }

        &:after {
            content: '';
            background: white;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            opacity: 0.05;
            mask: $cube-pattern repeat;
        }
    }

    .learning-object-content {
        padding: 10px;
        min-width: 0;

        .title {
            font-size: 16px;
            color: black;
        }

        .details {
            font-size: 13px;
            color: lighten($dark-text, 10);
            margin-top: 5px;
        }

        .goals {
            font-size: 13px;
            color: lighten($dark-text, 10);
            margin-top: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            min-width: 0;
            overflow: hidden;
        }
        .author {
            text-transform: capitalize;
        }
    }
 }

 @keyframes loading {
     0% {
        left: -60px;
        opacity: 0;
     } 50% {
         opacity: 0.5;
     } 100% {
         opacity: 0;
         left: 100%;
     }
 }