@import '_vars.scss';

a {
  text-decoration: none;
}
//Styles for Cards 
@media (min-width: 751px) {
  :host.card {
    min-height: 350px;
    height: auto;

    .learning-object {
      height: 100%;
      flex-direction: column;
      align-items: stretch;

      .image {
        width: 100%;
        height: 150px;
        padding: 10px 0px;
        .logo{
          max-height: 60px;
          object-fit: contain;
        }

        .card-collection {
          font-size: $normal;
        }
      }

      .learning-object-content {
        flex: 1;

        .details {
          margin-bottom: 10px;

          .author {
            overflow-x: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }
        .length {
          display: none;
        }
        .time {
          display: none;
        }
        .length_tall{
          display: inline;
        }
        .time_tall{
          display: inline;
        }
        .download-btn{
          display: none;

          &:focus, &:hover {
            color: $light-blue;
          }
        }
        .download-btn-card {
          display: inline;
        }
      }
    }
  }
}

// Styles for mobile
@media (max-width: 750px) {
  :host {
    &.card {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .learning-object {
    .title {
      font-size: $small !important;
    }

    .goals {
      display: none;
    }

    .image {
      width: 100px !important;
      min-height: 100%;
      max-height: 100% !important;
      padding: 10px 0px;

      .logo{
        max-height: 60px;
        object-fit: contain;
      }

      .card-collection {
        font-size: $smaller !important;
      }
    }
    .length_tall {
      display: none;
    }
    .time_tall {
      display: none;
    }
    .download-btn-card {
      display: none;
    }
  }
}


:host.loading {
  // loading styles
  $color: $light-grey;
  pointer-events: none;
  overflow: hidden;

  .image {
    background: $color !important;
  }

  .card-collection {
    visibility: hidden;
  }

  .learning-object-content {
    width: 100%;

    & > * {
      color: transparent !important;
      background: $color !important;
      margin-bottom: 20px;
      height: 15px;
      max-width: 500px;
      width: 100% !important;
    }
  }

  .learning-object {
    overflow: hidden;

    &:after {
      content: '';
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        white,
        rgba(255, 255, 255, 0)
      );
      position: absolute;
      top: 0;
      bottom: 0;
      max-width: 200px;
      width: 70%;
      animation: loading 2s linear forwards infinite;
    }
  }
}

:host.card {
  .image {
    max-height: 120px;
    padding: 10px 0px;
  }

  .goals {
    white-space: normal !important;
  }

  .learning-object-content{
    width: auto !important;
  }

  .download-btn-card {
    padding: 0 5px;
    margin-right: -5px;
  }
}

.learning-object {
  background: white;
  border-radius: 6px;
  border: 1px solid $profile-border;
  display: flex;
  flex-direction: row;
  max-width: 850px;
  width: 100%;
  outline: none;
  cursor: pointer;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: none;
  transition: all .15s ease-in;

  .image {
    background: $primary-white;
    width: 175px;
    flex: 0 0 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    padding: 10px 0px;

    ::ng-deep canvas {
      opacity: 0.4;
    }

    .logo{
      max-height: 60px;
      max-width: 135px;
      object-fit: contain;
      margin-bottom: 15px;
    }

    .card-collection {
      color: $darker-grey;
      font-size: $normal;
      text-align: center;
      padding: 5px;
      z-index: 2;
    }

    &:after {
      content: '';
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.05;
      mask: $cube-pattern repeat;
    }
  }

  .learning-object-content {
    padding: 10px 10px 15px 10px;
    min-width: 0;
    position: relative;
    width: 100%;

    .content__topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .title {
      font-size: $normal;
      color: $darker-grey;
      padding-bottom: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .download-btn {
        border: 0;
        background: rgba(0, 0, 0, 0);
        transition: all 0.2s ease;
        -webkit-transform: translateZ(0);
        outline: 0;
        color: $medium-grey;
        font-size: 16px;

        &:hover, &:focus {
          transform: scale(1.1);
          color: $blue-accent;
        }
      }
    }

    .length_tall {
      background: $homepage-light-blue;
      padding: 2px 5px;
      margin-bottom: 8px;
      margin-right: 15px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      color: white;
      font-size: $smaller;
      font-weight: 400;
      display: none;
    }

    .time_tall {
      background: $primary-white;
      padding: 2px 5px;
      margin-bottom: 8px;
      border-radius: 3px;
      border: 1px solid $secondary-white;
      display: inline-block;
      position: relative;
      color: $darker-grey;
      font-size: $smaller;
      font-weight: 400;
      display: none;

      svg {
        padding-right: 5px;
      }
    }

    .download-btn-card {
      border: 0;
      background: rgba(0, 0, 0, 0);
      transition: all 0.2s ease;
      -webkit-transform: translateZ(0);
      outline: 0;
      color: $medium-grey;
      display: none;
      font-size: 16px;

      &:hover {
        transform: scale(1.1);
        color: $blue-accent;
      }
    }

    .length {
      background: $homepage-light-blue;
      padding: 2px 5px;
      margin-right: 15px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      color: white;
      font-size: $smaller;
      font-weight: 400;
    }
    .time {
      background: $primary-white;
      padding: 2px 5px;
      border-radius: 3px;
      border: 1px solid $secondary-white;
      display: inline-block;
      position: relative;
      color: $darker-grey;
      font-size: $smaller;
      font-weight: 400;

      svg {
        padding-right: 5px;
      }
    }

    .details {
      font-size: $small;
      color: $dark-grey;
      margin-top: 8px;
    }

    .goals {
      font-size: $small;
      color: $dark-grey;
      margin-top: 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 0;
      overflow: hidden;
    }
  }
  &:hover{
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
    transition: all .15s ease-out;
  }
} 

@keyframes loading {
  0% {
    left: -200px;
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}
