<div class="not-found-top">
  <div class="container">
      <img src="../assets/images/logo.png" class="not-found-logo" alt="CLARK logo">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <div *ngIf="statusCode">
              <strong><h1 class="huge" tabindex="0" attr.aria-label="Error status: {{ statusCode }}">{{ statusCode }}</h1></strong>
              <div tabindex="0" class="message">This Learning Object is currently under review.</div>
              <div *ngIf="!auth.user; else unauthorized">
                <div tabindex="0" class="message">Try logging in to see if you have access.</div>
                <button class="auth-button" (activate)="login()" aria-label="Clickable Login button">LOGIN</button>
              </div>
              <ng-template #unauthorized>
                <div tabindex="0" class="message">You do not have access to this Learning Object.</div>
              </ng-template>
              <a routerLink='' class="btn btn-link" aria-label="Clickable back to homepage link">Back to Home</a>
            </div>
          </div>
      </div>
  </div>
</div>
