<div class="wrapper">
    <div class="content-box">
        <img src="../../../assets/images/logo.png" />

        <div *ngIf="view === 0" class="first-view">

            <!-- <h2>Reset Link Expired</h2>
            <p>Your link has expired. To reset your password please request a new link.</p>
            <button>Resend</button> -->

            <h2>Invalid Link</h2>
            <p>The link provided is not valid. To reset your password please request a new link.</p>
            <button>Resend</button>
        </div>


    </div>
</div>