<div class="wrapper">
    <div [ngClass]="{'failed': showError}" class="content-box">
        <clark-error-banner [errorMessage]="errorMessage" class="errBanner"></clark-error-banner>
        <img src="../../../assets/images/logo.png" @fadeIn/>

        <div *ngIf="!done" class="first-view" @fadeIn>
            <h1>Reset Password</h1>
            <form (ngSubmit)="submit()">
                <clark-input-field
                    name="email"
                    isPwrd="true"
                    phold="Password"
                    [control]="passwords.get('password')"
                    #password
                    ngModel
                >
                </clark-input-field>
                <clark-input-field
                    name="confirmEmail"
                    isPwrd="true"
                    phold="Confirm Password"
                    [control]="passwords.get('confirmPassword')"
                    #confirmPassword
                    ngModel
                >
                </clark-input-field>
                <button>Reset Password</button>
            </form>
            
        </div>

        <div *ngIf="done" class="second-view" @fadeIn>
            <i class="fas fa-check-circle fa-5x"></i>
            <h2>Password Reset!</h2>
            <button>Login</button>
        </div>

    </div>
</div>