<div class="wrapper">
    <div class="content-box">
        <div class="form-field">
            <div class="error-heading" *ngIf="isError" >
                <clark-error-banner errorMessage="Something went wrong! We're looking into the issue. Please check back later."></clark-error-banner>
                <a href="">Contact Us</a>
            </div>
            <img src="../../../assets/images/logo.png" />

            <form>
                <h1>Request Password Reset</h1>
            
                <mat-form-field>
                    <input
                        matInput
                        type="email"
                        placeholder="Email"
                        [formControl]="currentEmail"
                    >
                    <mat-error>
                        {{ displayError(currentEmail) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="email"
                        placeholder="Confirm Email"
                        [formControl]="confirmEmail"
                        (input)="emailsMatch()"
                    >
                    <mat-error>
                        {{ displayError(confirmEmail) }}
                    </mat-error>
                </mat-form-field>
                
            
                <button type="button" >Request Password Reset</button>
            </form>
        </div>
    </div>
</div>
