@import 'vars.scss';

.wrapper {
    height: 100vh;
    padding: 50px, 0;
    width: inherit;

    &:before {
        content: '';
        background: linear-gradient(90deg, white, $light-blue, white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        z-index: 0;
        opacity: 0.15;
    }

    &:after {
        content: '';
        background: repeating-linear-gradient(white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .content-box {
        z-index: 1;
        border-radius: 12px;
        margin: 5vh;
        text-align: center;
        width: 75%;
        padding: 50px 10px 100px 10px;

        img {
            width: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        button {
            border: 2px solid $light-blue;
            border-radius: 5px;
            background-color: $light-blue;
            color: white;
            padding: 10px;
            display: block;
            width: 100%;
            margin: 3vh 0 2vh;
            font-weight: 500;
            font-size: 20px;
        }

        button:hover {
            opacity: 80%;
            cursor: pointer;
        }

        button:active {
            opacity: 100%;
        }

        .first-view {
            width: 75%;
            
            h2 {
                font-weight: 400;
                font-size: 35px;
                color: rgb(224, 0, 0);
                margin-bottom: 10px;
            }
            
            p {
                font-weight: 400;
                font-size: 20px;
                margin-top: 10px;
            }
        }

        .second-view {
            width: 75%;
        }

        .third-view {
            width: 75%;

            .fa-5x {
                color: rgb(0, 199, 0);
                margin-top: 30px;
            }

            h2 {
                font-weight: 400;
                font-size: 30px;
                margin-bottom: 30px;
            }
        }
    }    
}

