<div class="curator-card">
    <div [ngClass] = "{
        'card-content': !mobile,
        'card-content-mobile': mobile
    }">
        <img class="grav" *ngIf="profileImg" [src]="profileImg" alt="Curator's Logo" />
        <div class="info">
            <div class="name">
                <p>{{ curator.name | titlecase }}</p>
            </div>
            <div class="organization">
                <p>{{ orgStore.organizationNameFromUser$(curator) | async }}</p>
            </div>
        </div>
    </div>
</div>
  
