@import '~_vars.scss';

.wrapper {
  max-width: 950px;
  background: white;
  padding: 20px;
  border-radius: 3px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);

  .loading {
    text-align: center;
    color: $dark-grey;

    .svg-inline--fa {
      color: $light-blue;
      margin-right: 5px;
    }
  }

  .service-error {
    text-align: center;

    .service-error__icon {
      font-size: 40px;
    }

    .service-error__message {
      font-size: $large;
      color: $dark-grey;
    }
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $larger;
    text-align: center;
    color: $blue-accent;
  }

  .count {
    font-weight: light;
    color: $dark-grey;
    font-style: italic;
    text-align: center;
  }

  .cart {
    margin-top: 10px;
    border: 1px solid $light-grey;

    .object {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .name {
        font-weight: bold;
        font-size: $large;
        color: $blue-accent;

        .length {
          margin-top: 5px;
          padding: 3px;
          border-radius: 1px;
          display: inline-block;
          position: relative;
          color: white;
          text-transform: capitalize;
          font-size: $small;
          font-weight: 300;
          margin-left: 10px;

          &.nanomodule {
            background: $nanomodule-color;
          }

          &.micromodule {
            background: $micromodule-color;
          }

          &.module {
            background: $module-color;
          }

          &.unit {
            background: $unit-color;
          }

          &.course {
            background: $course-color;
          }
        }
      }

      .author {
        font-style: italic;
        color: $dark-grey;
      }

      &:nth-of-type(even) {
        background: $light-grey;
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
      }

      .actions {
        display: flex;
        flex-direction: row;
        align-self: center;

        .button {
          margin-left: 10px;
          max-height: 38px;
        }
      }

      .name:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .btn-group {
    margin-top: 25px;
  }

  .no-objects {
    margin-top: 40px;
    text-align: center;
    font-size: $large;
    color: $dark-grey;

    a {
      color: $blue-accent;
      text-decoration: underline;
      outline: none;
      cursor: pointer;
    }
  }
}
