<clark-message></clark-message>
<div *ngIf="nav.visible" [@simpleFadeAnimation]="'in'">
  <app-contextmenu [content]="modalCtrl.contextMenuContent"></app-contextmenu>
  <app-dialogmenu [content]="modalCtrl.dialogMenuContent"></app-dialogmenu>
  <div class="topbar" [ngClass]="{'version': version, 'mobile': isMobile}">
    <div class="inner flex h left-right">
      <div class="logo flex h left-right" [ngClass]="{'noShow': searchDown && !isMobile}" routerLink="/home">
        <div class="logo-image"></div>
        <div id="clark-logo" class="logo-link">CLARK</div>
        <div *ngIf="version" class="version-label">{{version}}</div>
      </div>
      <div class="clark-search-wrapper" [ngClass]="{'down': searchDown, 'mobile': isMobile, 'overflow': searchOverflow}">
        <div class="clark-search-inner">
          <clark-search [focus]="searchFocusSubject" [blur]="searchBlurSubject" (didFocus)="showSearch();" (didBlur)="hideSearch()"></clark-search>
          <div class="close" id="search-close" (click)="hideSearch();"><i class="fal fa-times"></i></div>
        </div>
      </div>
      <div class="user flex h flex-end" [ngClass]="{'loggedin': loggedin, 'mobile': isMobile, 'noShow': searchDown && !isMobile}">
        <ng-container *ngIf="isMobile; else userTemplate" [ngTemplateOutlet]="mobileUserTemplate"></ng-container>
      </div>

      <ng-template #userTemplate>
        <ng-container *ngIf="loggedin">
          <div class="contributor" id="contributor-link" (click)="contributorDropdown($event)"><span>Contribute</span> <i class="fas fa-chevron-down"></i></div>
          <div class="right library" id="library-link" routerLink="/library"></div>
          <div class="left flex h flex-end user-menu" (click)="userDropdown($event)">
            <div class="navbar-gravatar" id="gravatar" [ngStyle]="{'background-image': 'url(' + gravatarImage(200) + ')'}"></div>
            <i class="fas fa-chevron-down"></i>
          </div>
        </ng-container>
        <ng-container *ngIf="!loggedin">
          <div class="login flex h flex-end" id="clark-sign-in" [routerLink]="['/auth/login']" [queryParams]="{redirectUrl: url}"><div>Sign in</div> <i class="fas fa-sign-in-alt"></i></div>
          <div class="register" id="clark-register" routerLink="/auth/register"><div>Register</div> <i class="fas fa-user-plus"></i></div>
        </ng-container>
      </ng-template>

      <ng-template #mobileUserTemplate>
        <div class="mobile-search-option" (click)="showSearch()"><i class="far fa-search"></i></div>
        <div class="hamburger"[ngClass]="{'active': menuOpen}" (click)="menuOpen = !menuOpen">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Overlay under mobile slideout -->
  <div class="slideout-underlay" *ngIf="nav.visible" [ngClass]="{'active': menuOpen || searchDown, 'underNav': !isMobile || searchDown}" (click)="menuOpen = false; hideSearch();"></div>

  <!-- Mobile menu slideout -->
  <div class="slideout" *ngIf="nav.visible && isMobile" [ngClass]="{'active': menuOpen}">
    <div class="slideout-section user" routerLink="{{ loggedin ? '/users/' + authService.username : '/auth/login' }}">
      <ng-container *ngIf="loggedin; else noUserGreeting">
        <div class="img" [ngStyle]="{'background-image': 'url(' + gravatarImage(200) + ')'}"></div>
        <div class="right">
          <div class="greeting">Howdy, {{ authService.firstName }}!</div>
          <a>View your profile</a>
        </div>
      </ng-container>
      <ng-template #noUserGreeting>
        <div class="greeting">Hi there!<br />We're happy you're here!</div>
      </ng-template>
    </div>
    <div class="slideout-section menu-items">
      <ul>
        <li *ngIf="loggedin" routerLink="/onion/dashboard">Your Dashboard</li>
        <li *ngIf="loggedin" routerLink="/library">Your Library</li>
        <li *ngIf="loggedin" (click)="logout()">Logout</li>
      </ul>
    </div>
    <div class="slideout-section auth" *ngIf="!loggedin">
      <div class="btn-group vertical">
        <button class="button good" routerLink="/auth/register">Register</button>
        <button class="button neutral on-white" routerLink="/auth/login">Log In</button>
      </div>
    </div>
  </div>
</div>
