<ng-container *ngIf="!hideNavbar">
  <app-contextmenu [content]="modalCtrl.contextMenuContent"></app-contextmenu>
  <app-dialogmenu [content]="modalCtrl.dialogMenuContent"></app-dialogmenu>
  <div class="topbar">
    <div class="inner flex h left-right">
      <div class="logo flex h left-right">
        <div class="left">C.L.A.R.K.</div>
        <div class="right">
          <a class="no-link" href="http://clark.center">Cybersecurity Labs and Resource Knowledge-base</a>
        </div>
      </div>
      <div class="user flex h flex-end" *ngIf="loggedin">

        <div class="left flex h flex-end" (click)="userDropdown($event)">
          <!-- get just first name -->
          <span>Howdy, {{authService.firstName}}!</span>
          <i class="fas fa-user-circle"></i>
          <div class="chevron">
            <i class="fas fa-caret-down"></i>
          </div>
        </div>

        <div class="right shopping-cart-container" routerLink="/library">
          <div class="library-icon"></div>
          <div *ngIf="cartService.cartItems.length" class="library-badge">{{cartService.cartItems.length}}</div>
        </div>
      </div>

      <div class="user flex h flex-end" *ngIf="!loggedin">
        <div class="login flex h flex-end" routerLink="/auth/login"><div>Sign in</div> <i class="fas fa-sign-in-alt"></i></div>
        <div class="register" routerLink="/auth/register"><div>Register</div> <i class="fas fa-user-plus"></i></div>
      </div>

    </div>
  </div>
</ng-container>
