<clark-message></clark-message>
<ng-container *ngIf="!hideNavbar">
  <app-contextmenu [content]="modalCtrl.contextMenuContent"></app-contextmenu>
  <app-dialogmenu [content]="modalCtrl.dialogMenuContent"></app-dialogmenu>

  <div class="topbar" [ngClass]="{'version': version, 'mobile': isMobile}">
    <div class="inner flex h left-right">
      <div class="logo flex h left-right" routerLink="/home">
        <div class="logo-image"></div>
        <div class="logo-link">C.L.A.R.K.</div>
        <div *ngIf="version" class="version-label">{{version}}</div>
      </div>
      <!-- do NOT change the search-bar class, it's being used in a querySelector in the browse component -->
      <div *ngIf="!isMobile" class="nav-search-bar" [ngClass]="{'focused': searchFocused}">
        <form (submit)="performSearch(searchBar)">
          <input #searchBar type="search" placeholder="Search..." (focus)="searchFocused = true;" (blur)="searchFocused = false;">
        </form>
        <div class="icon" (click)="performSearch(searchBar)">
          <i class="far fa-search"></i>
        </div>
      </div>
      <div class="user flex h flex-end" [ngClass]="{'loggedin': loggedin, 'mobile': isMobile}">
        <ng-container *ngIf="isMobile; else userTemplate" [ngTemplateOutlet]="mobileUserTemplate"></ng-container>
      </div>

      <ng-template #userTemplate>
        <ng-container *ngIf="loggedin">
          <div class="contributor" (click)="contributorDropdown($event)"><span>Contribute</span> <i class="fas fa-chevron-down"></i></div>
          <div class="right library" routerLink="/library"></div>
          <div class="left flex h flex-end" (click)="userDropdown($event)">
            <div class="navbar-gravatar" [ngStyle]="{'background-image': 'url(' + gravatarImage(200) + ')'}"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="!loggedin">
          <div class="login flex h flex-end" routerLink="/auth/login"><div>Sign in</div> <i class="fas fa-sign-in-alt"></i></div>
          <div class="register" routerLink="/auth/register"><div>Register</div> <i class="fas fa-user-plus"></i></div>
        </ng-container>
      </ng-template>

      <ng-template #mobileUserTemplate>
        <div class="mobile-search-option" (click)="searchDown = true;"><i class="far fa-search"></i></div>
        <div class="hamburger"[ngClass]="{'active': menuOpen}" (click)="menuOpen = !menuOpen">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Overlay under mobile slideout -->
  <div class="slideout-underlay" *ngIf="!hideNavbar && isMobile" [ngClass]="{'active': menuOpen || searchDown}" (click)="menuOpen = false; searchDown = false;"></div>
  
  <!-- Mobile search -->
  <div class="search-slidedown" *ngIf="!hideNavbar && isMobile" [ngClass]="{'active': searchDown}">
    <form (submit)="performSearch(mobileSearch)">
      <input #mobileSearch name="mobileSearch" placeholder="Search">
    </form>
    <div class="button icon-only good" (click)="performSearch(mobileSearch)"><i class="far fa-search"></i></div>
  </div>
  
  <!-- Mobile menu slideout -->
  <div class="slideout" *ngIf="!hideNavbar && isMobile" [ngClass]="{'active': menuOpen}">
    <div class="slideout-section user" routerLink="{{ loggedin ? '/users/' + authService.username : '/auth/login' }}">
      <ng-container *ngIf="loggedin; else noUserGreeting">
        <div class="img" [ngStyle]="{'background-image': 'url(' + gravatarImage(200) + ')'}"></div>
        <div class="right">
          <div class="greeting">Howdy, {{ authService.firstName }}!</div>
          <a>View your profile</a>
        </div>
      </ng-container>
      <ng-template #noUserGreeting>
        <div class="greeting">Hi there!<br />We're happy you're here!</div>
      </ng-template>
    </div>
    <div class="slideout-section content-switcher" routerLink="{{ isOnion ? '/home' : '/onion/dashboard' }}">
      <div>{{ (isOnion) ? 'Search' : 'Contribute' }}</div>
      <i class="far fa-chevron-right"></i>
    </div>
    <div class="slideout-section menu-items">
      <ul>
        <li *ngIf="loggedin" (click)="logout()">Logout</li>
      </ul>
    </div>
    <div class="slideout-section auth" *ngIf="!loggedin">
      <div class="btn-group vertical">
        <div class="button good" routerLink="/auth/register">Register</div>
        <div class="button neutral on-white" routerLink="/auth/login">Log In</div>
      </div>
    </div>
  </div>
</ng-container>
