<div>
  @if (isUser) {
    <div class="private">
      <div class="contribution">
        <div class="header">
          <h1>My Contributions</h1>
          <a routerLink="/onion/dashboard" class="dashboard">Go To Dashboard</a>
        </div>
        <div class="learningTabs">
          <div class="mainTabs">
            <div tabindex="0" role="tab"
              (click)="activateMainTab('released'); content(1, collectionsReleased[0].abvName); activateCollectionTab(0)"
            [ngClass]="{active: tabMain === 1}"> Released Objects </div>
            <div tabindex="0" role="tab"
              (click)="activateMainTab('review'); content(2, collectionsUnreleased[0].abvName); activateCollectionTab(0)"
            [ngClass]="{active: tabMain === 2}"> Unreleased </div>
          </div>
          @if (tabMain) {
            <div class="secondTabs">
              @if (tabMain === 1) {
                <div class="tabItemSecContainer">
                  @for (collection of collectionsReleased; track collection; let indexOfCollection = $index) {
                    <div class="tabItemSec"
                      >
                      <div tabindex="0" role="tab"
                        (click)="content(1, collectionsReleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection)"
                        [ngClass]="{active: tabCollection === indexOfCollection}">
                      {{collection.name}}</div>
                    </div>
                  }
                </div>
              }
              @if (tabMain === 2) {
                <div class="tabItemSecContainer">
                  @for (collection of collectionsUnreleased; track collection; let indexOfCollection = $index) {
                    <div class="tabItemSec"
                      >
                      <div tabindex="0" role="tab"
                        (click)="content(2, collectionsUnreleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection)"
                        [ngClass]="{active: tabCollection === indexOfCollection}">
                      {{collectionsUnreleased[indexOfCollection].name}}</div>
                    </div>
                  }
                </div>
              }
            </div>
          }
          @if (tabMain === 1 && collectionsReleased.length > 0) {
            <div class="dropdownReleased">
              <button class="dropdownButton" #userDropdownButtonElement
                (click)="toggleDropdown(true)">{{collectionsReleased[tabCollection].name}}@if (!mobileDropdown) {
                <span
                  ><i class="fas fa-angle-down"></i></span>
                }
                @if (mobileDropdown) {
                  <span><i class="fas fa-angle-up"></i></span>
                }</button>
                @if (mobileDropdown) {
                  <clark-context-menu [anchor]="userDropdownButtonElement"
                    [offset]="{ top: 10, left: 5 }" (close)="toggleDropdown(false)">
                    <div #contextMenu id="context-popup">
                      <ul class="menu">
                        @for (collection of collectionsReleased; track collection; let indexOfCollection = $index) {
                          <li
                            tabindex="0"
                            (click)="content(tabMain, collection.abvName); activateCollectionTab(indexOfCollection); toggleDropdown(false)">
                          {{collection.name}}</li>
                        }
                      </ul>
                    </div>
                  </clark-context-menu>
                }
              </div>
            }
            @if (tabMain === 2 && collectionsUnreleased.length > 0) {
              <div class="dropdownUnreleased">
                <button class="dropdownButton" #userDropdownButtonElement
                  (click)="toggleDropdown(true)">{{collectionsUnreleased[tabCollection].name}}@if (!mobileDropdown) {
                  <span
                    ><i class="fas fa-angle-down"></i></span>
                  }
                  @if (mobileDropdown) {
                    <span><i class="fas fa-angle-up"></i></span>
                  }
                </button>
                @if (mobileDropdown) {
                  <clark-context-menu [anchor]="userDropdownButtonElement"
                    [offset]="{ top: 10, left: 5 }" (close)="toggleDropdown(false)">
                    <div #contextMenu id="context-popup">
                      <ul class="menu">
                        @for (collection of collectionsUnreleased; track collection; let indexOfCollection = $index) {
                          <li
                            tabindex="0"
                            (click)="content(tabMain, collectionsUnreleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection); toggleDropdown(false)">
                            {{collection.name}}
                          </li>
                        }
                      </ul>
                    </div>
                  </clark-context-menu>
                }
              </div>
            }
            <div class="content">
              @if (tabMain === 1 && learningObjectsReleased.length > 0) {
                <div>
                  @for (l of learningObjectsReleased; track l) {
                    <clark-learning-object-component class="object"
                      [learningObject]="l">
                    </clark-learning-object-component>
                  }
                </div>
              }
              @if (tabMain === 1 && learningObjectsReleased.length === 0) {
                <div>
                  <p>You don't have any released Learning Objects yet!</p>
                </div>
              }
              @if (tabMain === 2 && learningObjectsUnreleased.length > 0) {
                <div>
                  @for (l of learningObjectsUnreleased; track l) {
                    <clark-learning-object-component class="object"
                      [learningObject]="l">
                    </clark-learning-object-component>
                  }
                </div>
              }
              @if (tabMain === 2 && learningObjectsUnreleased.length === 0) {
                <div>
                  <p>Visit your <a routerLink="/onion/dashboard" class="dashboard">Dashboard</a> to create a learning object!</p>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="public">
        <div class="contribution">
          <div class="header">
            <h1>Contributions</h1>
          </div>
          @if (collectionsReleased.length) {
            <div class="learningTabs">
              <div class="mainTabs">
                @for (collection of collectionsReleased; track collection; let indexOfCollection = $index) {
                  <div tabindex="0"
                    role="tab"
                    (click)="content(tabMain, collectionsReleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection)"
                    [ngClass]="{active: tabCollection === indexOfCollection}">
                  {{collectionsReleased[indexOfCollection].name}}</div>
                }
              </div>
              <div class="dropdownReleased">
                <button class="dropdownButton" #userDropdownButtonElement
                  (click)="toggleDropdown(true)">{{collectionsReleased[tabCollection].name}}@if (!mobileDropdown) {
                  <span
                    ><i class="fas fa-angle-down"></i></span>
                  }
                  @if (mobileDropdown) {
                    <span><i class="fas fa-angle-up"></i></span>
                  }</button>
                  @if (mobileDropdown) {
                    <clark-context-menu [anchor]="userDropdownButtonElement"
                      [offset]="{ top: 10, left: 5 }" (close)="toggleDropdown(false)">
                      <div #contextMenu id="context-popup">
                        <ul class="menu">
                          @for (collection of collectionsReleased; track collection; let indexOfCollection = $index) {
                            <li
                              tabindex="0"
                              (click)="content(tabMain, collection.abvName); activateCollectionTab(indexOfCollection); toggleDropdown(false)">
                            {{collection.name}}</li>
                          }
                        </ul>
                      </div>
                    </clark-context-menu>
                  }
                </div>
                @if (!loading) {
                  <div class="content">
                    @for (l of learningObjectsReleased; track l) {
                      <clark-learning-object-component class="object"
                        [learningObject]="l">
                      </clark-learning-object-component>
                    }
                  </div>
                } @else {
                  <clark-learning-object-component class="object"
                    [loading]="loading">
                  </clark-learning-object-component>
                }
              </div>
            } @else {
              <div>
                <p>This user does not have any released Learning Objects yet!</p>
              </div>
            }
          </div>
        </div>
      }
    </div>




