<div class="private" *ngIf="isUser">
    <div class="contribution">
        <div class="header">
            <h1>My Contributions</h1>
            <a href="https://clark.center/onion/dashboard" target="_blank" class="dashboard">Go To Dashboard</a>
        </div>
        <div class="learningTabs">
            <div class="mainTabs">
                <div tabindex="0" role="tab"
                    (click)="activateMainTab('released'); content(1, collectionsReleased[0].abvName); activateCollectionTab(0)"
                    [ngClass]="{active: tabMain === 1}"> Released Objects </div>
                <div tabindex="0" role="tab"
                    (click)="activateMainTab('review'); content(2, collectionsUnreleased[0].abvName); activateCollectionTab(0)"
                    [ngClass]="{active: tabMain === 2}"> Unreleased </div>

            </div>
            <div class="secondTabs">
                <div class="tabItemSecContainer" *ngIf="tabMain === 1">
                    <div class="tabItemSec" *ngFor="let collection of collectionsReleased; let indexOfCollection=index">
                        <div tabindex="0" role="tab"
                            (click)="content(1, collectionsReleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection)"
                            [ngClass]="{active: tabCollection === indexOfCollection}">
                            {{collection.name}}</div>
                    </div>
                </div>
                <div class="tabItemSecContainer" *ngIf="tabMain === 2">
                    <div class="tabItemSec"
                        *ngFor="let collection of collectionsUnreleased; let indexOfCollection=index">
                        <div tabindex="0" role="tab"
                            (click)="content(2, collectionsUnreleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection)"
                            [ngClass]="{active: tabCollection === indexOfCollection}">
                            {{collectionsUnreleased[indexOfCollection].name}}</div>
                    </div>
                </div>
            </div>

            <div class="dropdownReleased" *ngIf="tabMain === 1">
                <button class="dropdownButton" #userDropdownButtonElement
                    (click)="toggleDropdown(true)">{{collectionsReleased[tabCollection].name}}</button>
                <clark-context-menu *ngIf="mobileDropdown" [anchor]="userDropdownButtonElement"
                    [offset]="{ top: 10, left: 5 }" (close)="toggleDropdown(false)">
                    <div #contextMenu id="context-popup">
                        <ul class="menu">
                            <li *ngFor="let collection of collectionsReleased; let indexOfCollection=index"
                                tabindex="0"
                                (click)="content(tabMain, collection.abvName); activateCollectionTab(indexOfCollection); toggleDropdown(false)">
                                {{collection.name}}</li>
                        </ul>
                    </div>
                </clark-context-menu>
            </div>
            <div class="dropdownUnreleased" *ngIf="tabMain === 2">
                <button class="dropdownButton" #userDropdownButtonElement
                    (click)="toggleDropdown(true)">{{collectionsUnreleased[tabCollection].name}}
                </button>
                <clark-context-menu *ngIf="mobileDropdown" [anchor]="userDropdownButtonElement"
                    [offset]="{ top: 10, left: 5 }" (close)="toggleDropdown(false)">
                    <div #contextMenu id="context-popup">
                        <ul class="menu">
                            <li *ngFor="let collection of collectionsUnreleased; let indexOfCollection=index"
                                tabindex="0"
                                (click)="content(tabMain, collectionsUnreleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection); toggleDropdown(false)">
                                {{collection.name}}
                            </li>
                        </ul>
                    </div>
                </clark-context-menu>
            </div>

            <div class="content">
                <div *ngIf="tabMain === 1 && learningObjectsReleased.length > 0">
                    <clark-learning-object-component class="object" *ngFor="let l of learningObjectsReleased"
                        [learningObject]="l" [loading]="loading">
                    </clark-learning-object-component>
                </div>
                <div *ngIf="tabMain === 1 && learningObjectsReleased.length === 0">
                    <p>There are no released Learning Objects</p>
                </div>
                <div *ngIf="tabMain === 2 && learningObjectsUnreleased.length > 0">
                    <clark-learning-object-component class="object" *ngFor="let l of learningObjectsUnreleased"
                        [learningObject]="l" [loading]="loading">
                    </clark-learning-object-component>
                </div>
                <div *ngIf="tabMain === 2 && learningObjectsUnreleased.length === 0">
                    <p>You have no unreleased Learning Objects</p>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="public" *ngIf="isUser === false">
    <div class="contribution">
        <div class="header">
            <h1>Contributions</h1>
        </div>
        <div class="learningTabs">
            <div class="mainTabs">
                <div *ngFor="let collection of collectionsReleased; let indexOfCollection=index" tabindex="0" role="tab"
                    (click)="content(tabMain, collectionsReleased[indexOfCollection].abvName); activateCollectionTab(indexOfCollection)"
                    [ngClass]="{active: tabCollection === indexOfCollection}">
                    {{collectionsReleased[indexOfCollection].name}}</div>
            </div>
            <!-- </div> -->
            <div class="dropdownReleased">
                <button class="dropdownButton" #userDropdownButtonElement
                    (click)="toggleDropdown(true)">{{collectionsReleased[tabCollection].name}}</button>
                <clark-context-menu *ngIf="mobileDropdown" [anchor]="userDropdownButtonElement"
                    [offset]="{ top: 10, left: 5 }" (close)="toggleDropdown(false)">
                    <div #contextMenu id="context-popup">
                        <ul class="menu">
                            <li *ngFor="let collection of collectionsReleased; let indexOfCollection=index" tabindex="0"
                                (click)="content(tabMain, collectionsReleased[indexOfCollection].abvname); activateCollectionTab(indexOfCollection); toggleDropdown(false)">
                                {{collection.name}}</li>
                        </ul>
                    </div>
                </clark-context-menu>
            </div>
            <div class="content">
                <div *ngIf="tabMain === 1">
                    <clark-learning-object-component class="object" *ngFor="let l of learningObjectsReleased"
                        [learningObject]="l" [loading]="loading">
                    </clark-learning-object-component>
                </div>
            </div>
        </div>

    </div>
</div>