.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;

    .content {
        width: 250px;

        .title {
            display: block;
            padding-bottom: 100px;
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        
        .card {
            height: 325px;
            width: 300px;
        }
    }
}