@import '~_vars.scss';
// $bright-blue: #3789CE;
$dark-text: #55595e;

.sidebar-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;

  .title {
    color: $blue-accent;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 1px;
      background: lighten($blue-accent, 40);
      width: 40px;
    }
  }

  .menu-item-group {
    margin-top: 20px;
    display: none;

    &.open {
      display: block;
    }

    .menu-item {
      border-left: 2px solid $placeholder;
      padding-left: 10px;
      margin-left: 20px;
      font-size: 14px;

      .fa-chevron-right {
        right: auto !important;
        left: -3px;
        z-index: 2;
      }

      &:hover {

        .fa-chevron-right {
          opacity: 0 !important;
        }
      }

      &.active {
        color: $dark-text;
        background: transparent;
        font-weight: bold;

        .svg-inline--fa {
          right: auto;
          left: -3px;
          z-index: 2;
        }

        &:after {
          content: '';
          height: 16px;
          width: 18px;
          border-radius: 50%;
          background: white;
          position: absolute;
          left: -9px;
          top: 0; bottom: 0;
          margin: auto;
        }
      }

      &.externalAction {
        border-left-color: transparent;
        padding-left: 20px;
        color: $blue-accent;

        .fa-plus {
          font-size: 12px;
          margin-right: 5px;
          @include vert-center;
        }
      }
    }
  }

  .menu-item {
    // TODO: center text vertically without flex - it prevents the text-overflow effect
    width: 100%;
    font-size: 16px;
    color: $dark-text;
    cursor: pointer;    
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    position: relative;
    color: lighten($dark-text, 10);
    padding: 10px 20px;

    .menu-item-inner {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .fa-external-link {
      font-size: 12px;
      margin-left: 5px;
    }

    &.parent {

      .fa-chevron-right {
        opacity: 1 !important;
        right: 20px !important;
        transform: rotate(90deg);
      }
    }

    .fa-chevron-right {
      font-size: 12px;
      position: absolute;
      right: 25px;
      top: 0; bottom: 0;
      margin: auto;
      opacity: 0;
      transition: all 0.2s ease;
    }

    &.active {
      color: white;
      background: linear-gradient(45deg, $blue-accent, saturate(lighten($blue-accent, 10), 5));
      pointer-events: none;

      .fa-chevron-right {
        right: 20px;
        opacity: 1;
      }
    }

    &:hover:not(.active):not(.disabled) {
      color: $blue-accent;
      
      .fa-chevron-right {
        right: 20px;
        opacity: 1;
      }
    }

    &.disabled {
      color: rgba(red($dark-text), green($dark-text), blue($dark-text), 0.4);
      pointer-events: none;

      .svg-inline--fa {
        opacity: 1;
        right: 20px;
        color: $blue-accent;
        font-size: 13px;
      }
    }
  }
}
