<app-contextmenu [content]="modalCtrl.contextMenuContent"></app-contextmenu>
<app-dialogmenu [content]="modalCtrl.dialogMenuContent"></app-dialogmenu>
<div class="outer-wrapper">
  <div class="topbar">
    <div class="inner flex h left-right">
      <div class="logo flex h left-right">
        <div class="left">C.L.A.R.K.</div>
        <div class="right">
          <a class="no-link" href="http://clark.center">Cybersecurity Labs and Resource Knowledge-base</a>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1">
          Howdy, {{name.split(' ')[0]}}!
          <i class="fas fa-user-circle fa-fw"></i>
          <i class="fas fa-caret-down"></i>
        </button>
        <button class="dropdown-item btn" routerLink="/userprofile">View Profile</button>
        <button class="dropdown-item btn">Change Preferences</button>
        <button class="dropdown-item btn">Logout</button>
      </div>
      <div class="shopping-cart-container" routerLink="/cart">
        <i class="fas fa-shopping-cart fa-2x"></i>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="inner">
      <div class="toolbar">
        <div class="content-switch-container">
          <div class="content-switch right">
            <div class="options">
              <div class="left contribute" (click)="contentSwitchClick($event)">Contribute</div>
              <div class="right search active" (click)="contentSwitchClick($event)">Search</div>
            </div>
            <div class="highlight"></div>
          </div>
        </div>
        <div class="filter-options">
          <button class="filter-button button" routerLink="/home">
            <i class="fas fa-star"></i>&nbsp;
            <p>Featured</p>
          </button>
          <button class="filter-button button" routerLink="/browse">
            <i class="fas fa-list"></i>&nbsp;
            <p>Browse All</p>
          </button>
          <button class="filter-button button" routerLink="/academics">
            <i class="fas fa-book"></i>&nbsp;
            <p>Browse by Academic Level</p>
          </button>
          <button class="filter-button button" routerLink="/modality">
            <i class="fas fa-clock"></i>&nbsp;
            <p>Browse by Length</p>
          </button>
          <button class="filter-button button" routerLink="/mapping">
            <i class="fas fa-map-marker"></i>&nbsp;
            <p>Browse by Mappings</p>
          </button>
        </div>
      </div>
      <breadcrumb></breadcrumb>
      <div class="outlet sub-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer>
      <section class="funding-info">
        <div class="nsa-wrapper">
          <img src="https://www.festisite.com/static/partylogo/img/logos/nsa.png" />
          <p>The CLARK System is supported by the National Science Foundation under grant NSA CNAP Grant H9830-17-1-0405</p>
        </div>
      </section>
      <section class="small-links">
        <a>Intellectual Property</a>
        <span class="divider">|</span>
        <a href="http://cis1.towson.edu/~cyber4all/index.php/clark/">About CLARK</a>
        <span class="divider">|</span>
        <a href="http://cis1.towson.edu/~cyber4all/index.php/project-team/">About the Team</a>
      </section>
    </footer>
  </div>
</div>
