<div class="outer-wrapper">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="inner-content">
      <div *ngIf="!hideTopbar" class="toolbar">
        <div class="content-switch-container">
          <div class="content-switch right">
            <div class="options">
              <div class="left contribute" (click)="contentSwitchClick($event)">Contribute</div>
              <div class="right search active" (click)="contentSwitchClick($event)" routerLink="/home">Search</div>
            </div>
            <div class="highlight"></div>
          </div>
        </div>
        <div class="filter-options-button button good" [ngClass]="{'active': filterButton}" (click)="filterButtonClick()" (clickOutside)="filterButtonClickAway()">Filtering <i class="far fa-chevron-down"></i></div>
          <div class="filter-options" [ngClass]="{'active': filterButton}">
            <div class="filter-button button" routerLink="/home">
              <i class="fas fa-star"></i>&nbsp;
              <p>Featured</p>
            </div>
            <div class="filter-button button" routerLink="/browse">
              <i class="fas fa-list"></i>&nbsp;
              <p>Browse All</p>
            </div>
            <!-- <div class="filter-button button" routerLink="/academics">
              <i class="fas fa-book"></i>&nbsp;
              <p>Browse by Academic Level</p>
            </div>
            <div class="filter-button button" routerLink="/modality">
              <i class="fas fa-clock"></i>&nbsp;
              <p>Browse by Length</p>
            </div>
            <div class="filter-button button" routerLink="/mapping">
              <i class="fas fa-map-marker"></i>&nbsp;
              <p>Browse by Mappings</p>
            </div> -->
          </div>
      </div>
      <breadcrumb></breadcrumb>
      <div class="outlet sub-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
