@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
  margin: 0;
  padding: 0;
}
.flex-container {  
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding-top: 70px;
}
nav {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #555;
  border-radius: 0;
  background: white;  /* fallback for old browsers */
  .nav>li.active {
    border-bottom: 2px solid white;
    background-color: transparent !important;
    box-shadow: -10px -5px -5px black;
    a {
      background-color: transparent;
      color: #0575E6;
      font-weight: 900;
      text-decoration: underline;
    }
  }
  a {
    color: #555;
  }
}

.contents {
  order: 1;
}