@import '~_global-styles.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$footer-height: 250px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dropdown{
  @include vert-center;
}

.flex {
  display: flex;
  &.h {
    flex-direction: row;
  }
  &.v {
    flex-direction: column;
  }
  &.left-right {
    justify-content: space-between;
  }
  &.end {
    justify-content: flex-end;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 100vw;
  margin-top: 75px;
  .content-switch-container {
    flex-grow: 3;
    border: 2px solid transparent;
    border-radius: 4px;
    background: white;
    color: rgba(26, 70, 107, 0.7);
    padding: 8px 20px 8px 25px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  }
  .filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .filter-button {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      line-height: 40px;
      padding-top: 20px;
      font-size: 16px;
      outline: none;
      svg {
        margin-top: 12px;
        font-size: 16px;
      }
      p {}
    }
  }
}

// Global CLARK Style Overrides
.user {
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-direction: row !important;

    & > * {
      @include vert-center;
    }
  }

  .shopping-cart-container {
    margin-left: 50px;
    color: $placeholder;
  }
}

.inner-content {
  min-width: 100vw;
  margin-top: 0;
  .content-switch {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.content {
  padding: 0px;
  min-height: calc(100vh - 75px - $footer-height);  
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  .outlet {
    margin-top: 0px;
  }
}

