clark-cookies {
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

clark-primary-navbar, clark-secondary-navbar {
    z-index: 999;
}

.modal-container {
    height: 475px;
    width: 560px;
}