<div class="usage">
  <div class="usage__title title-text">
    <div class="title__icon">
      <i class="far fa-chart-bar"></i>
    </div>
    CLARK by the numbers
  </div>
  <div *ngIf="!objectStatsLoading && !userStatsLoading; else loadingTemplate" class="usage__content">
    <div class="usage__grid">
      <div class="usage__item objects">
        <div class="item__icon">
          <i class="far fa-cube"></i>
        </div>
        <div class="item__left">
          <div class="item__count">
            {{ stats.objects.released | number }}
          </div>
          <div class="item__label">
            Released<br aria-hidden="true" /> Learning Objects
          </div>
        </div>
      </div>
      <div class="usage__item collections">
        <div class="item__icon">
          <i class="far fa-cubes"></i>
        </div>
        <div class="item__left">
          <div class="item__count">
            {{ stats.objects.collections.number | number }}
          </div>
          <div class="item__label">
            Quality-Assured<br aria-hidden="true" /> Collections
          </div>
        </div>
      </div>
      <div class="usage__item downloads">
        <div class="item__icon">
          <i class="far fa-cloud-download"></i>
        </div>
        <div class="item__left">
          <div class="item__count">
            {{ stats.objects.downloads | number }}
          </div>
          <div class="item__label">
            Learning Object<br aria-hidden="true" /> Downloads
          </div>
        </div>
      </div>
      <div class="usage__item users">
        <div class="item__icon">
          <i class="far fa-users"></i>
        </div>
        <div class="item__left">
          <div class="item__count">
            {{ stats.users.accounts | number }}
          </div>
          <div class="item__label">
            Registered<br aria-hidden="true" /> Users
          </div>
        </div>
      </div>
      <div class="usage__item organizations">
        <div class="item__icon">
          <i class="far fa-university"></i>
        </div>
        <div class="item__left">
          <div class="item__count">
            {{ stats.users.organizations | number }}
          </div>
          <div class="item__label">
            Affiliated<br aria-hidden="true" /> Organizations
          </div>
        </div>
      </div>
    </div>
    <div class="usage__more">
      <a routerLink="/system/usage">See more usage statistics</a>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="loading">
    <div class="loading__icon">
      <i class="far fa-spinner-third fa-spin"></i>
    </div>
    <div class="loading__label">
      Crunching the numbers...
    </div>
  </div>
</ng-template>