@import '~_vars.scss';
@import '../../home';

.usage {
  padding: 60px 20px;
  position: relative;
  border-top: 2px solid #f6f9fc;

  .usage__content {
    position: relative;
    z-index: 2;
  }

  .title-text {
    color: $bright-blue;
    text-align: center;
    margin-bottom: 60px;
  }

  .title__icon {
    margin: auto;
    margin-bottom: 20px;
  }

  .usage__grid {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 90px;
    margin: auto;
  }

  .usage__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &.downloads .item__icon {
      color: orange;
      background: lighten(orange, 35);
    }

    &.users .item__icon {
      color: rebeccapurple;
      background: lighten(rebeccapurple, 35);
    }

    &.organizations .item__icon {
      color: $green;
      background: lighten($green, 35);
    }
  }

  .item__count {
    color: $dark-text;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .item__label {
    color: lighten($dark-text, 25);
    font-size: 18px;
  }

  .item__icon {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 50%;
    margin-bottom: 10px;
    color: $bright-blue;
    background: lighten($bright-blue, 35);
  }

  .usage__more {
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 70px;

    a {
      color: $bright-blue;
    }
  }
}