<div class="inner">
  <div *ngIf="!isReleased" class="download-warning" tip="This learning object is pending review and may be downloaded when the review is complete."
    tipLocation="top">
    <i class="fas fa-exclamation"></i>Review Pending
  </div>
  <div class="btn-group vertical" [ngClass]="{'no-download': !isReleased}">
    <button tip="{{ tips.DOWNLOAD_NOW }}" tipLocation="top" tipDisabled="{{isReleased || !loggedin}}" [ngClass]="{'disabled': !auth.user || !canDownload || downloading}"
      class="button good" id="download-button" (click)="addToCart(true)">
      <span *ngIf="isReleased">{{!downloading ? 'Download Now' : 'Downloading'}}
        <span *ngIf="downloading">
          <i class="fal fa-spinner-third fa-spin"></i>
        </span>
      </span>
      <span *ngIf="!isReleased">Not available for download</span>
    </button>
    <button *ngIf="!userIsAuthor" [ngClass]="{'disabled': !auth.user, 'saved': saved}" class="button neutral on-white" id="save-to-library" (click)="addToCart()">
      {{ saved ? 'Saved to your library!' : 'Save to Library' }}
      <span *ngIf="addingToLibrary">
        <i class="fal fa-spinner-third fa-spin"></i>
      </span>
    </button>
    <span class="btn-group vertical" *ngIf="isEditButtonViewable">
      <button class="button neutral on-white" id="edit-button" type="submit"> 
        <a (click)="openAdminApp()">Revise</a>
      </button>
    </span>
  </div>
  <ng-container *ngIf="!auth.user">
    <div class="login-msg" id="login-msg">Please
      <a [routerLink]="['/auth/login']">log in</a> to add this Learning Object to your library.</div>
  </ng-container>
  <div class="details-metrics">
    <div>
      <i class="far fa-save"></i>
      <span #savesRef>{{ learningObject?.metrics.saves }}</span> save{{ (learningObject?.metrics.saves) !== 1 ? 's' : '' }}
    </div>
    <div>
      <i class="far fa-download"></i>
      <span>{{ learningObject?.metrics.downloads }}</span> download{{ (learningObject?.metrics.downloads) !== 1 ? 's' : '' }}
    </div>
  </div>
  <div class="details-share">
    <div class="share-title"></div>
    <div class="share-icons">
      <button (click)="shareButton($event, 'facebook')" class="facebook" id="facebook">
        <i class="fab fa-facebook"></i>
      </button>
      <button (click)="shareButton($event, 'twitter')" class="twitter" id="twitter">
        <i class="fab fa-twitter"></i>
      </button>
      <button (click)="shareButton($event, 'linkedin')" class="linkedin" id="linkedin">
        <i class="fab fa-linkedin"></i>
      </button>
      <button (click)="shareButton($event, 'email')" class="email" id="email">
        <i class="fas fa-envelope"></i>
      </button>
      <button (click)="shareButton($event, 'copyLink')" class="copylink" id="copylink">
        <i class="fas fa-clipboard"></i>
      </button>
      <textarea aria-label="link copy area" #objectLinkElement readonly="true" value="{{url}}" style="position: fixed; opacity: 0; width: 0; height: 0;"></textarea>
    </div>
  </div>
</div>

<clark-popup *ngIf="showDownloadModal" (closed)="toggleDownloadModal(false)">
  <div style="max-width: 600px;" #popupInner>
    <clark-download-notice (close)="toggleDownloadModal(false)"></clark-download-notice>
  </div>
</clark-popup>
