@import '_vars.scss';

.metrics__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.metrics__amount {
  font-size: $largest;
  font-weight: bold;
  color: $dark-grey;
  margin-bottom: 5px;
}

.metrics__label {
  font-size: $normal;
  color: $dark-grey;
}

