@import '~_vars.scss';

.metrics__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
}

.metrics__amount {
    font-size: $largest;
    font-weight: bold;
    color: $darker-grey;
}

.metrics__label {
    font-size: $large;
    color: $dark-grey;
}

.metrics__title {
    font-size: $larger;
    color: $darker-grey;
    font-weight: 600;
    margin-bottom: 15px;
}