@import '_vars.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark-overlay;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    overflow: auto;
    position: relative;
  }

  .popup-close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1);
    font-size: $normal;
    color: $medium-grey;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.overlay--floating {
    align-items: flex-start;
    overflow: auto;

    & > * {
      margin: 60px 0;
    }
  }
}

:host > .overlay > ::ng-deep * {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.02);
  min-width: 350px;

  .modal-title {
    color: $light-blue;
    font-weight: bold;
    font-size: $larger;
    text-align: center;

    &.bad {
      color: $error-red;
    }
  }

  .modal-text {
    font-size: $normal;
    margin: 20px auto;
    text-align: center;
  }
}
