<div class='pagination-container'>
  @if (!getPageNumberList().includes(1)) {
    <button
      class='pagination-container__arrow-button'
      (activate)='onLeftArrowClick()'
      [attr.aria-label]="'To page: ' + currentPageNumber - 1">
      <i class="far fa-arrow-left"></i>
    </button>
  }
  @for (pageNumber of getPageNumberList(); track pageNumber) {
    <button
      class='pagination-container__button'
      [ngClass]="{'selected': currentPageNumber === pageNumber }"
      (activate)='onPageNumberClick(pageNumber)'
      [attr.aria-label]="'To page: ' + pageNumber">
      {{ pageNumber }}
    </button>
  }
  @if (!getPageNumberList().includes(lastPageNumber)) {
    <button
      class='pagination-container__arrow-button'
      (activate)='onRightArrowClick()'
      [attr.aria-label]="'To page: ' + currentPageNumber + 1">
      <i class="far fa-arrow-right"></i>
    </button>
  }
</div>
