@import "_vars.scss";

.notes {
    color: var(--theme-text);

    & .top-wrapper {
        & p {
            cursor: default;
            font-family: sans-serif;
            font-size: $larger;
            color: var(--theme-text-strong);
        }
        margin: 27px 0 15px 0;
    }
}

p {
    margin: 0;
}
