@import '~_vars.scss';

$buttonWidth: 135px;

.clark-search {
  .search-options {
    max-width: 600px;
    margin: auto;
    z-index: 2;
    position: relative;
    height: 50px;
    padding: 0px 10px;
    box-sizing: border-box;

    .input {
      border-radius: 2px;
      overflow: hidden;
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      opacity: 1;
      margin-right: 0px;
      visibility: visible;
      transition: all 0.1s ease;
      background: $light-grey;
      cursor: pointer;
      border: 2px solid $light-grey;

      span {
        padding: 10px;
      }

      .icon {
        color: $blue-accent;
        padding: 9px 12px;
        font-size: $normal;
        cursor: pointer;
        background: transparent;
        border: none;
      }

      input {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        background: transparent;
        flex-grow: 2;
        outline: 0;
        padding: 10px;
        font-size: $small;
      }
    }

    .keyword-search form {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
    }
  }

  .description {
    text-align: center;
    color: $dark-grey;
    margin-top: 10px;
  }

  .search-switch {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: calc(#{$buttonWidth} * 2);
    margin: auto;
    position: relative;
    z-index: 1;
    margin-top: 15px;
    border: 1px solid $light-grey;
    border-radius: 2px;

    .highlight {
      width: $buttonWidth;
      height: 100%;
      transform: scale(1);
      background: $light-blue-gradient;
      position: absolute;
      left: 0;
      box-sizing: border-box;
      border-radius: 2px;
      animation: left 0.6s linear forwards;
      box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.1);

      &.right {
        animation: right 0.6s linear forwards;
      }
    }

    .option {
      width: $buttonWidth;
      text-transform: uppercase;
      color: $dark-grey;
      font-size: $normal;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
      z-index: 2;
      position: relative;
      transition: all 0.2s ease;
      color: $dark-grey;
      background: transparent;
      border: none;

      &:not(.active) {
        cursor: pointer;
      }

      &:hover {
        color: $light-blue;
      }

      &.active {
        color: white;
      }
    }
  }
}

@keyframes right {
  0% {
    transform: scale(1);
    left: 0;
  }
  33% {
    transform: scale(0.8);
    left: 0;
  }
  66% {
    transform: scale(0.8);
    left: $buttonWidth;
  }
  100% {
    transform: scale(1);
    left: $buttonWidth;
  }
}

@keyframes left {
  0% {
    transform: scale(1);
    left: $buttonWidth;
  }
  33% {
    transform: scale(0.8);
    left: $buttonWidth;
  }
  66% {
    transform: scale(0.8);
    left: 0;
  }
  100% {
    transform: scale(1);
    left: 0px;
  }
}
