<clark-toaster [content]="toaster.content"></clark-toaster>
<div class="admin" [style.top]="topAdjustment ? topAdjustment + 'px' : 0">
  <div class="admin__sidebar">
    <clark-admin-sidebar
      [collections]="authorizedCollections"
      [activeCollection]="activeCollection"
      [initialized]="collectionsLoaded"
      [editorMode]="editorMode"
    ></clark-admin-sidebar>
  </div>
  <div [ngClass]="{'admin__main-content--can-scroll': canScroll}" class="admin__main-content">
    <router-outlet></router-outlet>
  </div>
</div>
