@import '~_vars.scss';

$border-color: #EEEEEE;
$light-text: #9D9D9D;

.admin {
  display: grid;
  grid-template-columns: minmax(150px, 225px) 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.admin__sidebar {
  background: white;
  padding: 20px 0px;
  height: 100vh;
  border-right: 2px solid $border-color;
}

.admin__main-content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 30px;
  box-sizing: border-box;
  flex: 1;
  overflow-y: scroll;
}
