<div class='academic-level-card'>
  <div class='academic-level-card__title-container'>
    {{ category }}
  </div>
  <ul class='academic-level-card__applied-levels-container'>
    @for (level of getSortedLevels(); track level) {
      <li>
        <div class='academic-level-card__applied-levels-container__level' [ngClass]="{'level-selected' : academicLevels[level]}">
          @if (academicLevels[level]) {
            <span class='academic-level-card__applied-levels-container__icon-container'>
              <i class="far fa-check-circle"></i>
            </span>
          }
          {{ level | titlecase }}
        </div>
      </li>
    }
  </ul>
</div>