<div class="wrapper">
    <div class="content-box" [ngClass]="{'failed': failure}">
      <div class="top">
        <div class="error"> {{ failure || '' }} </div>
        <div class="auth-title">CLARK</div>
        <div class="auth-title light">Cybersecurity Digital Library</div>
        <form *ngIf="!done" (ngSubmit)="submit()">
          <div class="input password" [ngClass]="{'active': password !== ''}">
            <input name="password" type="password" placeholder="New password" aria-label="New Password" [(ngModel)]="password" [autofocus]/>
            <i class="far fa-key"></i>
          </div>
          <div class="input password" [ngClass]="{'active': password_conf !== ''}">
            <input name="password-conf" type="password" placeholder="Confirm new password" aria-label="Confirm New Password" [(ngModel)]="password_conf" />
            <i class="far fa-key"></i>
          </div>
          <button type="type" class="auth-button">
            <div class="text">Reset Password</div>
            <div class="mask"></div>
          </button>
        </form>
        <div *ngIf="done" class="done">
          <i class="far fa-shield-check"></i>
          Congrats! We've changed your password!
          <div class="auth-button" routerLink='/auth/login'>
            <div class="text">Login</div>
            <div class="mask"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
