@import '~_vars.scss';

form {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 30px;
}

.auth-button {
    margin-bottom: 30px;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }