<div class="tabs">
  <button class="tab" [class.active]="currentTab === 'topics'" (click)="switchTab('topics')">
    Topics
  </button>
  <button class="tab" [class.active]="currentTab === 'tags'" (click)="switchTab('tags')">
    Tags
  </button>
  <button class="tab" [class.active]="currentTab === 'alignment'" (click)="switchTab('alignment')">
    Alignment
  </button>
  <div class="underline" [ngStyle]="{ left: underlineLeft, width: underlineWidth }"></div>
</div>
@if (!loading) {
  <div>
    <div class="tab-content">
      @if (currentTab === 'topics') {
        <clark-topic-tagging></clark-topic-tagging>
      }
      @if (currentTab === 'tags') {
        <clark-tagging></clark-tagging>
      }
      @if (currentTab === 'alignment') {
        <clark-guidelines [learningObject]="learningObject"></clark-guidelines>
      }
    </div>
    <div class="buttons">
      <div class="button neutral" (click)="cancel()">
        Cancel
      </div>
      <div class="button good" (click)="save()">
        Save
      </div>
    </div>
  </div>
}