@import 'vars.scss';

.home-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 10000px;
    .sidebar-wrapper {
        position: sticky;
        height: fit-content;
        top: 20px;
        margin-left: 20px;
        margin-right: 50px;
    }

    .main-content {
        .test {
            margin: 400px;
        }
    }

}
