<div class="home-column">
    <div class="sidebar-wrapper">
        <clark-sticky-menu></clark-sticky-menu>
    </div>
    <div class="main-content">
        <clark-learning-objects #test class="test"  id="learning-object"></clark-learning-objects>
        <clark-learning-outcomes class="test" id="learning-outcomes"></clark-learning-outcomes>
        <clark-hierarchies class="test" id="hierarchies"></clark-hierarchies>
        <clark-collections class="test" id="collections"></clark-collections>
    </div>
</div>