@import "vars.scss";
@import '../../../collection-globals.scss';

.container {
  padding: 20px 50px;
  background-color: white;
}

.header {
  margin-bottom: 25px;
  font-size: $largest;
  color: $darker-grey;
  font-weight: 500;
}

.downloads-header {
  color: $ncyte-blue;
  font-size: $largest;
  font-weight: 600;
  text-align: center;
}