@import '~_vars.scss';

$learning-object-width: 820px;

.container {
  max-width: $max-width;
  margin: 15px auto 0;
  padding: 0 20px;

  .filters-clear-all,
  .clear-search {
    color: $blue-accent;
    text-decoration: underline;
    cursor: pointer;
    font-size: $normal;
    text-transform: none;
  }
}

.browse-columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .column-title {
    text-align: left;
    font-size: $normal;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-grey;
    display: flex;
    justify-content: space-between;
  }

  .sidebar-wrapper {
    max-width: calc((#{$max-width} - #{$learning-object-width}) / 2 - 50px);
    min-width: 210px;
    width: 100%;
    margin-right: 50px;
    background-color: white;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.03);
    padding: 20px;
    margin-bottom: 20px;
    z-index: 2;

    ::ng-deep .filter-section {
      padding-left: 0;
    }

    .btn-group {
      display: none;
    }
  }

  .button{
    &.sort {
      border: none;
      color: $darker-grey;
      padding: 0 0 3px;
    }
  }

  .clear {
    border: none;
    color: $error-red;
    font-size: $large;
    padding: 0;
  }

  .sort-menu {

    li {
      position: relative;
      color: $dark-grey;
  
      .indicator {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        background: $dark-grey;
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .content {
    max-width: $learning-object-width;
    width: 100%;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    z-index: 1;
    min-width: 0;

    .column-title {
      margin-bottom: 30px;
      background: white;
      color: $darker-grey;
      padding: 20px;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.03);

      .clear-search {
        margin-left: 20px;
      }

      & > span .svg-inline--fa {
        margin-left: 10px;
      }


      .results-options {
        display: flex;
        flex-direction: row;

        & > *:not(:last-child) {
          margin-right: 25px;
        }
      }

      .sort,
      .mobile-filters {
        font-size: $normal;
        cursor: pointer;
        display: flex;
        align-items: center;

        .svg-inline--fa {
          font-size: $smaller;
          margin: 0 5px;
        }

        & > .svg-inline--fa {
          margin-left: 20px;
        }

        .removeSort {
          color: $error-red;
          margin-right: 10px;

          & > * {
            @include vert-center;
            font-size: $small;
          }
        }

        &.mobile-filters {
          display: none;

          & > .svg-inline--fa {
            font-size: $small;
            margin-left: 12px;
          }
        }
      }
    }

    clark-learning-object-component {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

::ng-deep .popup.dropdown li.active {
  background: $blue-accent;
  color: white !important;
}

.paginationCtrl {
  margin-top: 40px;
  margin-bottom: 30px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 10px;
      color: $blue-accent;
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
      list-style-type: none;
      min-width: 45px;
      text-align: center;
      transition: opacity 0.2s ease;
      opacity: 1;

      &.gone {
        opacity: 0.4 !important;
        cursor: default !important;
      }

      &:not(.active):hover {
        opacity: 0.6;
        cursor: pointer;
      }

      &.active {
        background: $blue-accent;
        color: white;
      }

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
        border-right: 1px solid $light-grey;
      }
    }
  }
}

// mobile styles
@media (max-width: 750px) {

  .mobile-filters {
    display: inline-flex !important;
  }

  .browse-columns {

    .sidebar-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.15s ease;
      background: white;
      max-width: none !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      padding: 20px;
      height: 100%;
      box-sizing: border-box;
      padding-top: 80px;

      .column-title {
        width: 100%;
      }

      .filters-clear-all {
        display: none;
      }

      &.active {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        z-index: 4;
        overflow: scroll;

        .btn-group {
          display: flex;
          margin-top: 25px;
          width: 100%;

          & > *:not(:last-child) {
            margin-left: 15px;
          }
        }
      }
    }

    .content .column-title {
      background: transparent;
      box-shadow: none;
      padding: 0;
      flex-direction: column;

      & > span {
        background: white;
        padding: 15px;
        text-align: center;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.03);
      }

      .results-options {
        padding: 15px 0 10px;
        background: transparent;
        justify-content: space-between;

        & > * {
          background: transparent;
        }
      }
    }
  }
}
