<div class="container">
  <div class="title">
    {{ (query.text === '') ? 'All Learning Objects' : 'Search Results' }}
    <div class="filtering-controls">
      <div class="button neutral" [ngClass]="{'active': filtering}" (click)="toggleFilters()">Filter <i class="far fa-filter"></i></div>
      <div class="button neutral" (click)="showSortMenu($event)"><div *ngIf="query.orderBy" class="removeSort" (click)="clearSort($event);"><i class="fas fa-times"></i></div>{{ (query.orderBy) ? sortString : 'Sort'}} <i class="far fa-sort"></i></div>
    </div>
  </div>
  <div class="subtitle">
    <ng-container *ngIf="query.text === ''">
        Browsing <span>{{ learningObjectService.totalLearningObjects }}</span> Learning Objects
    </ng-container>
    <ng-container *ngIf="query.text !== ''">
        <span>{{ learningObjectService.totalLearningObjects }}</span> results for "{{ query.text }}"
    </ng-container>
    <div class="active-filters">
      <!-- <div *ngIf="query.text && query.text !== ''" class="text-filter filter-active" (click)="clearText()">
        {{ query.text }}
      </div> -->
      <div *ngFor="let l of query.length" class="length-filter filter-active" (click)="removeFilter('length', l)">{{ l }}<i class="fal fa-times"></i></div>
      <div *ngFor="let l of query.level" class="level-filter filter-active" (click)="removeFilter('level', l)">{{ l }}<i class="fal fa-times"></i></div>
      <div *ngFor="let m of mappingService.mappedStandards" class="mapping-filter filter-active" (click)="removeMapping(m)">{{ m.source + ' - ' + m.name }}<i class="fal fa-times"></i></div>
    </div>
  </div>
  <div *ngIf="filtering" class="filters">
    <div class="list">
      <div class="filter">
        <div class="filter-title">Length</div>
        <ul>
            <li *ngFor="let length of loLength">
              <checkbox [checked]="checkFilters('length', length)" (checkboxChecked)="addFilter('length', length)"  (checkboxUnchecked)="removeFilter('length', length)"></checkbox>
              {{ length }}
            </li>
        </ul>
      </div>
      <div class="filter">
        <div class="filter-title">Academic Level</div>
        <ul>
          <li *ngFor="let level of aLevel">
            <checkbox [checked]="checkFilters('level', level)" (checkboxChecked)="addFilter('level', level)"  (checkboxUnchecked)="removeFilter('level', level)"></checkbox>
            {{ level }}
          </li>
        </ul>
      </div>
      <div class="button neutral" (click)="toggleMappingsPopup()">Standard Outcomes <i class="far fa-map"></i></div>
    </div>
    <div class="buttons">
        <div class="button good" (click)="sendFilters()">Refresh <i class="far fa-sync"></i></div>
    </div>
  </div>
  <div class="content">
    <h3 *ngIf="!learningObjects || learningObjects.length==0">No Results</h3>
    <learning-object-component *ngFor="let l of learningObjects" [learningObject]="l"></learning-object-component>
  </div>
  <div *ngIf="learningObjects.length" class="paginationCtrl">
      <ul>
        <li (click)="prevPage()" [ngClass]="{'gone': query.currPage <= 1}"><i class="far fa-chevron-left"></i></li>
        <li *ngFor="let p of pages" [ngClass]="{'active': query.currPage == p}" (click)="goToPage(p)">{{ p }}</li>
        <li (click)="nextPage()" [ngClass]="{'gone': query.currPage >= pageCount}"><i class="far fa-chevron-right"></i></li>
      </ul>
  </div>
</div>
<div *ngIf="mappingsPopup" class="mappings-popup">
  <div class="popup-content">
    <clark-browse-by-mappings-component [dimensions]="{h: 400}" (mappings)="query.standardOutcomes = $event" (done)="toggleMappingsPopup()"></clark-browse-by-mappings-component>
  </div>
</div>
