@import '~_vars.scss';

.outcome {
    border-bottom: 2px solid $light-grey;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.outcome__grid-container {
    display: grid;
    grid-template-columns: 50px 70% 100px auto;
}

.text-container__mapped-to {
    color: $dark-grey;
}

.outcome__grid-container__icon-container {
    align-self: center;
    color: $light-blue;
}

.outcome__grid-container__mapped-outcomes-count-container {
    align-self: start;
    font-size: 12px;
}

.mapped-outcomes-count-container__number {
    color: $light-blue;
    text-align: center;
}

.mapped-outcomes-count-container__text {
    color: $dark-grey;
}

.outcome__grid-container__toggle-container {
    align-self: center;
    grid-column-start: end;
    justify-self: end;
    transition: transform 0.25s ease;

    &.outcome__grid-container__toggle-container--active {
        transform: rotateX(180deg);
    }
}

.outcome__mappings-display__list {
    margin-left: 9%;
}

.mappings-display__list__item {
    color: $light-blue;
    margin-top: 8px;
}

.list__item__header-text {
    color: black;
}

.list__item__outcome-text {
    color: $dark-grey;
    font-size: 12px;
}

ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;

    & > * {
        padding: 5px 0;
    }
.fa-cloud {
    font-size: 1.9em;
}

.fa-bolt {
    font-size: 1.9em;
}

.fa-balance-scale-right {
    font-size: 1.9em;
}