<div class='outcome'>
  <div class='outcome__grid-container'>
    <div class='outcome__grid-container__icon-container'>
      <i class='far fa-2x' [ngClass]="{
        'fa-cloud': outcome?.bloom === 'remember and understand',
        'fa-bolt': outcome?.bloom === 'apply and analyze',
        'fa-balance-scale-right': outcome?.bloom === 'evalulate and synthesize'
      }"></i>
    </div>
    <div class='outcome__grid-container__text-container'>
      <div class='text-container__outcome'>
        {{ outcome?.outcome }}
      </div>
      <div class='text-container__mapped-to'>
        {{ outcome?.mappings.length ? 'Mapped to' : 'No Mappings' }}
        <span *ngFor='let mapping of outcome?.mappings let i = index'>
          {{ mapping?.name }}<span *ngIf='i < outcome?.mappings.length - 1'>,</span>
        </span>
      </div>
    </div>
    <div class='outcome__grid-container__mapped-outcomes-count-container'>
      <div class='mapped-outcomes-count-container__number'>
        {{ outcome?.mappings.length }}
      </div>
      <div class='mapped-outcomes-count-container__text'>
        Mapped Outcomes
      </div>
    </div>
    <div (click)='toggleMappingsDisplay()' class='outcome__grid-container__toggle-container'>
        <i [ngClass]="{'fa-chevron-down': !showMappings, 'fa-chevron-up': showMappings }" class='fas'></i>
    </div>
  </div>
  <div *ngIf='showMappings' class='outcome__mappings-display'>
    <ul class='outcome__mappings-display__list'>
      <li class='mappings-display__list__item' *ngFor='let mapping of outcome?.mappings'>
        <div class='list__item__header-text'>
          {{ mapping?.name }} - {{ mapping?.author }} - {{ mapping?.date }}
        </div>
        <div class='list__item__outcome-text'>
          {{ mapping?.outcome }}
        </div>
      </li>
    </ul>
  </div>
</div>
