<div class="wrapper">
  <!-- Render Folders -->
  <div (click)="openFolder(folder.name)" class="folder" *ngFor="let folder of (node$ | async)?.children" [contextMenu]="fileOptions"
    [contextMenuSubject]="folder" tip="{{folder.description}}" tipTitle={{folder.name}} tipLocation="above" tipDelay="500">
    <div>
      <i class="fas fa-folder icon"></i>
    </div>
    <div class="text-contained">
      {{ folder.name }}
    </div>
    <div></div>
  </div>
  <!-- Render Files -->
  <div class="file" *ngFor="let file of (node$ | async)?.files" [contextMenu]="fileOptions" [contextMenuSubject]="file" tip="{{file.description}}"
    tipTitle={{file.name}} tipLocation="above" tipDelay="500">
    <div>
      <i class="fas {{ getIcon(file.extension) }} icon"></i>
    </div>
    <div class="text-contained">
      {{ file.name }}
    </div>
    <div></div>
  </div>
</div>
