<clark-column-wrapper [columns]="'lm'">
  <div left>
    <clark-scaffold></clark-scaffold>
  </div>
  <div main>
    <!-- upload content here -->
    <app-upload [learningObject$]="learningObject$" [error$]="error$" [saving$]="saving$" (fileDeleted)="handleFileDeletion($event)"
      (uploadComplete)="handleUploadComplete()" (urlAdded)="handleUrlAdded()" (urlUpdated)="handleUrlUpdated($event)"
      (urlRemoved)="handleUrlRemoved($event)" (fileDescriptionUpdated)="handleFileDescriptionUpdate($event)"
      (folderDescriptionUpdated)="handleFolderDescriptionUpdate($event)" (notesUpdated)="handleNotesUpdate($event)"></app-upload>
  </div>
</clark-column-wrapper>
