<div class = "container">


    <div class = "header" [ngClass] = "learnObj.length">
            <div class = "overlay">
                {{learnObj.length}}
            </div>
    </div>

    
    <div class="obj-info">
         <div class = "obj-title">
            {{learnObj.name}}
        </div>
        <div>
            {{learnObj.date | date:'longDate'}}
        </div>
        
        <p *ngIf = "learnObj.description" class = "desc">
            {{
            learnObj.description.length > 30
                ? learnObj.description.substring(3, 30) + "..."
                : learnObj.description.substring(3, learnObj.description.length-4)
            }}
        </p>
    </div>
</div>

