@import '../../../collection-globals.scss';

.card {
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
  }
  
  .card a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .header {
    display: flex;
    align-items: center;
    color: #fff;
    height: 150px;
    background-size: cover;
    background-position: center;

    &.module {
      background-image: url("../../../../../assets/images/pexels-tima-miroshnichenko-5380642.jpg");
    }

    &.micromodule {
      background-image: url('../../../../../assets/images/adi-goldstein-EUsVwEOsblE-unsplash 2.png');
    }

    &.nanomodule {
      background-image: url("../../../../../assets/images/pexels-tima-miroshnichenko-5380618.jpg");
    }

    &.unit {
      background-image: url("../../../../../assets/images/michael-dziedzic-nLFqr9Mr9H8-unsplash 1.png");
    }

    &.course {
      background-image: url("../../../../../assets/images/pexels-scott-webb-430208.jpg");
    }
  }
  
  .overlay {
    background-color: $dark-grey;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $normal;
    bottom: 0;
  }
  
  .container {
    padding: 1rem;
  }
  
  .obj-info {
    font-size: $smaller;
    color: $dark-grey;
  }
  
  .obj-title {
    font-size: $normal;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  


