<div class="typeahead">
  <div class="input">
    @if (verb) {
      <div #verbElement class="verb" [ngClass]="{'bad': !goodVerb}" (activate)="goodVerb && toggleMenu(true, $event)">
        {{ verb | titlecase }}
        @if (goodVerb) {
          <span>
            <i class="fas fa-angle-down"></i>
          </span>
        }
      </div>
    }
    <input [ngClass]="{'withVerb': verb, 'bad': verb && !goodVerb}" placeholder="Outcome text" type="text" (input)="input$.next($event)" [value]="text" />
  </div>
  <!--Verb Dropdown Menu-->
  @if (menu) {
    <div class="menu" (activate)="$event.stopPropagation()">
      <ul>
        @for (v of verbsInSelectedCategory; track v) {
          <li (activate)="setVerb(v)" [ngClass]="{'selected': verb === v}">
            {{ v | titlecase }}
          </li>
        }
      </ul>
    </div>
  }
</div>