<div class="wrapper">
    <div class="inner">
        <h1 class="header">About WITH Cyber</h1>
        <p class="description">
            "The WITH project, led by Cal State San Bernardino in partnership with Fresno State and San Jose State, is a statewide initiative aimed at developing a robust cyber workforce. Funded by the state's Cybersecurity Regional Alliance, the project creates educational ecosystems across the CSU's 23 campuses, focusing on research, apprenticeships, and mentorships. The program is designed to equip students with the skills and experience needed to succeed in cybersecurity careers, while driving job growth in California's cybersecurity sector. https://www.withcyber.org/"
        </p>
    </div>
</div>
