<section class = "footer">
    <div class = "learn-more">
           This is the page for the ncyte curriculum collection on 
           CLARK (
           <a class = "link" href="#"> www.clark.center  </a>
           )
           While clark hosts the curriculumn, all rights are retained
           by the NCyTE Center. Learn more at  <br>
           <a class = "link" href="#">https://ncyte.net</a>
        
    </div>
    <div class="ncyte-down">
        <img class = "logo-nsf" src="../../../../assets/images/collections/NSF_logo.png" alt="">
        <div class="fund">
            NCyTE Center is funded by the National Science Foundation 
            by Grant #1599375, Grant #1800589 and Grant #1902329
        </div>
    </div>
    <div class="social">

    </div>
</section>