<div class="curators">
    <div class="inner">
        <h1 class="header">Curators</h1>
        <img class="logo" src="../../../../../../assets/collections/ncyte/ncyte_horizontal.png" alt="NCyTE Center Logo">
        <br>
        <div class="links">
            <a aria-label="Mailto link for NCyTE Center" href="mailto:ncyte@whatcom.edu?subject=CLARK Question">ncyte@whatcom.edu</a>
            <br>
            <a aria-label="NCyTE Center Link" href="https://www.ncyte.net">www.ncyte.net</a>
        </div>
    </div>
</div>
