@import '../../../../collection-globals.scss';
.curators {
    background-color: white !important;

    .inner {
        max-width: 1500px;
        text-align: center;
        padding: 50px;
        margin: auto;

        img {
            width: 600px;
        }
        .header {
            color: $ncyte-blue;
        }
        .logo {
            padding-top: 60px;
        }
        .links {
            padding: 20px;
            color: $light-blue;
            font-size: $larger;
        }
    }
}