@import '~_vars.scss';

.modal-title {
  color: $dark-text !important;
  margin-bottom: 0 !important;
}

.modal-sub {
  color: lighten($dark-text, 10);
  margin-bottom: 0 !important;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.collection-chooser {
  padding: 20px;
  margin: auto;
  margin-bottom: 25px;
  width: 100%;

  ul {
    max-width: 550px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-height: 375px;
    overflow-y: auto;

    li {
      $logo-height: 45px;

      position: relative;
      display: grid;
      grid-template-columns: $logo-height 1fr;
      grid-gap: 15px;
      align-items: center;
      padding: 13px 10px 13px 0;
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      cursor: pointer;
      background: white;
      transition: all 0.1s ease;

      &:not(:last-child) {
        border-bottom: 1px solid lighten($placeholder, 15);
      }

      .logo {
        height: $logo-height;
        background-size: contain;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.no-logo {

        .logo {
          border-radius: 2px;
        }
      }

      &.selected {
        &:after {
          content: 'SELECTED';
          position: absolute;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: $bright-blue;
          right: 10px;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      // collection-specific styles
      &.nccp {

        &.no-logo .logo {
          background-color: $nccp;
        }
      }

      &.gencyber {

        &.no-logo .logo {
          background-color: $gencyber;
        }
      }

      &.secinj {

        &.no-logo .logo {
          background-color: $secinj;
          color: $dark-text;
        }
      }

      &.c5 {

        &.no-logo .logo {
          background-color: $c5;
        }
      }
    }
  }
  .license-selection {
    text-align: center;
    margin-top: 25px;
    .statement {
      margin-left: 10px;
    }
  }
  .submit-btn {
    margin-top: 30px;
  }
}

:host {
    // resize the popup
    max-width: 700px;
    width: 90vw;
    display: block;
}

.loading-template,
.none-template {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  color: lighten($dark-text, 40);
  margin-bottom: 50px;

  .svg-inline--fa,
  .icon {
    margin: auto;
    font-size: 25px;
    color: $bright-blue;
    display: block;
    margin-bottom: 5px;
  }
}

.none-template {
  .svg-inline--fa,
  .icon {
    color: $error-red;
  }
}
