<footer *ngIf="!hideFooter">
  <section class="funding-info">
    <div class="nsa-wrapper">
      <img src="https://www.festisite.com/static/partylogo/img/logos/nsa.png" />
      <p>The CLARK System is supported by the National Security Agency under NSA Grant H9830-17-1-0405</p>
    </div>
  </section>
  <section class="small-links">
    <a href="https://creativecommons.org/licenses/by/3.0/us/" target="_blank">Intellectual Property</a>
    <span class="divider">|</span>
    <a href="http://cis1.towson.edu/~cyber4all/index.php/clark/" target="_blank">About CLARK</a>
    <span class="divider">|</span>
    <a href="http://cis1.towson.edu/~cyber4all/index.php/project-team/" target="_blank">Meet the Team</a>
  </section>
</footer>
