
.outcome_bloom {
  display: flex;
  direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  .squares {            
      justify-content: center;
      .square {
          cursor: pointer;
          .square-inner {
              max-width: 250px;
          }
      }
  }
  .glyphicon {
      margin-left: 10px;
  }
}