<div class="wrapper">
    <div class="content-box" [ngClass]="{'failed': loginFailure}">
        <div class="top">
            <clark-error-banner class="errBanner"></clark-error-banner>
            <form #f="ngForm" (ngSubmit)="submit(f)">
                <clark-input-field
                    ngModel
                    name="userName"
                    #userName="ngModel"
                    phold="User Name or Email"
                    fControlType="userName" 
                ></clark-input-field>
                <br>
                <clark-input-field
                    ngModel
                    name="password"
                    #password="ngModel"
                    pwrd="true"
                    phold="Password"
                    fControlType="password" 
                ></clark-input-field>
                <br>
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>
