@import "vars.scss";
.wrapper {
    height: 100vh;
    padding: 50px, 0;
    width: inherit;    

    form {
        width: 85%;
        margin-top: 35px;


        .sso-section {
            width: 100%;
            
            .sso-img {
                width: 200px;
            }
            
            .hr-or {
                color: grey;
                font-size: 20px;
                .left {
                    float: left;
                    width: 44%;
                }
                .right {
                    float: right;
                    width: 44%;
                }
            }
        }


        button{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    
        a{
            color: grey;
            text-decoration: underline;
        }
    }

    

    &:before {
        content: '';
        background: linear-gradient(90deg, white, $light-blue, white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        z-index: 0;
        opacity: .15;
    }
    
    &:after {
        content: '';
        background: repeating-linear-gradient(white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}