<div class="background">
  <section class="hero">
      <div class="inner">
          <h1 class="header">Donate To CLARK</h1>
          <p class="description">CLARK is a digital library that hosts a diverse collection of free cybersecurity Learning Objects. In order to maintain our system and continue to provide our Learning Objects at no cost we need your help.</p>
          <div class="button-group center">
            <button class="button good" (activate)="donate()">Donate Now</button>
          </div>
      </div>
  </section>
  <section class="wrapper">
    <div class="donation_instructions">
      <h2>How to Donate through TUFoundation</h2>
      <h3>Step 1</h3>
      <p>Navigate to the <a aria-label="TUFoundation page link" href="https://towsonuniversity.givingfuel.com/towson-fund" target="_blank">TUFoundation page</a></p>
      <h3>Step 2</h3>
      <p>Enter donation amount and select <b>Other Programs or Projects (indicate specific program or project below)</b> when selecting a Fund</p>
      <img alt="Select Other Programs or Projects (indicate specific program or project below)" src="../../../assets/images/donate/step1.png" height="300px" width="500px">
      <h3>Step 3</h3>
      <p>Enter <b>CLARK</b> as the Program or Project you would like to support</p>
      <img alt="Enter CLARK as Program or Project" src="../../../assets/images/donate/step2.png" height="300px" width="600px">
      <h3>Step 4</h3>
      Enter remaining information and submit. The CLARK team thanks you for your support!
    </div>
  </section>
</div>
