@import 'vars.scss';
.background {
    background-color: white;
    min-height: calc(100vh - 40px);
}

.hero {
    position: relative;
    overflow: hidden;
    padding: 100px;
  
    &:after {
        content: '';
        background: repeating-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) );
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
  
    &:before {
        content: '';
        background: linear-gradient(to bottom, white, $light-blue, white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        z-index: 0;
        opacity: .15;
    }
  
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        z-index: 2;
    }

    .header {
        color: $light-blue;
        font-size: $largest;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 2;
    }
    
}

.wrapper {
    margin: 20px auto 0;
    padding: 0 50px 50px;
    max-width: 1200px;
    justify-content: center;
    text-align: center;

    .description {
        color: $darker-grey;
        font-size: $large;
        font-weight: normal;
        z-index: 2;
    }

    h1 {
        color: $light-blue;
        font-size: $largest;
        width: 100%;
    }

    h2 {
        color: $darker-grey;
        font-size: $larger;
        width: 100%;
    }
    h3 {
        color: $dark-grey;
        font-size: $large;
        width: 100%;
    }

    .donation_methods {
        .corporate, .contributor { 
            padding-top: 20px;

            .level {
                padding: 20px;
    
                &.corporate {
                    border-color: $light-blue;
                    border-style: solid;
                    border-radius: 3px;
                    width: 60%;
                    margin: 20px auto;
                    padding-top: 20px;
                }
    
                &.individual {
                    padding-top: 10px;
                    margin: 0px;
                }
                
            }
            .item_icon {
                color: $light-blue;
                font-size: 48px;

                &.bronze {
                    color: #d2b48c;
                }
                &.silver {
                    color: $light-grey;
                }
                &.gold {
                    color: #D4AF37;
                }
            }
        }
    }
}