<div class="background">
  <section class="hero">
      <div class="inner">
          <h1 class="header">Donate To CLARK</h1>
          <p class="description">The CLARK Platform is developed and maintained by TU students and relies on government and industry funding for support.</p>
          <div class="button-group center">
            <button class="button good" aria-label='Donate to CLARK' (activate)="donate()">Donate Now</button>
          </div>
      </div>
  </section>
  <section class="wrapper">
    <div class="donation_methods">
      <h1>How to Contribute</h1>
      <div class="contributor">
        <h2>Individual contributions</h2>
        <div class="level individual">
          <p>You can support the CLARK effort to help solve the cybersecurity problem by providing free resources to faculty.</p>
        </div>
      </div>
      <div class="corporate">
        <div class="head">
          <h2>Corporate Giving Levels</h2>
          <p>Corporate logo will appear on the home page for all corporate giving levels</p>
        </div>
        <div class="level corporate">
          <h3>Bronze: $5,000</h3>
          <div class="item_icon bronze">
            <i class="fas fa-graduation-cap"></i>
          </div>
          <p class="type">Supports stipend for one undergraduate student on the CLARK team</p>
        </div>
  
        <div class="level corporate">
          <h3>Silver: $10,000</h3>
          <div class="item_icon silver">
            <i class="fas fa-clouds"></i>
          </div>
          <p class="type">Supports Annual cloud hosting services</p>
        </div>
  
        <div class="level corporate">
          <h3>Gold: $15,000</h3>
          <div class="item_icon gold">
            <i class="fas fa-university"></i>
          </div>
          <p class="type">Supports a full tuition scholarship (tuition + stipend) for one graduate student on the CLARK team</p>
        </div>
        </div>
      </div>
  </section>
</div>
