@import '~_vars.scss';

.notification {
  background: $medium-grey;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: fixed;
  right: 20px;
  z-index: $notification-z;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: $dark-grey;
  transition: all 0.2s ease-out;
  left: 20px;
  min-height: 90px;

  & > div {
    box-sizing: border-box;
  }

  .icon {
    position: relative;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .svg-inline--fa {
      width: 50px;
      height: 50px;
    }
  }

  .note-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;

    & > div {
      align-self: flex-start;
    }

    .title {
      font-weight: bold;
      font-size: $large;
    }
  }

  &.good {
    background: linear-gradient(45deg, $success-green, lighten($success-green, 2));
    color: white;
  }

  &.bad {
    background: linear-gradient(45deg, $error-red, lighten($error-red, 2));
    color: white;
  }

  &.warning {
    background: linear-gradient(45deg, $orange, lighten($orange, 2));
    color: white;
  }

  // this is a blue alert style notification, .alert was taken by bootstrap grr
  &.alerting {
    background: linear-gradient(45deg, darken($blue-accent, 5), $blue-accent);
    color: white;
  }
}