<div class="wrapper">
  <div class="content">
    <div class="title">
      <clark-502-title [text]="'502 Project Stats'"></clark-502-title>
    </div>
  </div>
  <div class="stats">
    <div class="section-stats">
      <div class="stat">
        <div class="stat__icon release">
          <i class="far fa-cube"></i>
        </div>
        <div class="num">{{ objReleased }}</div>
        <p>
          Released  Learning Object@if (objReleased !== 1) {
          <span>s</span>
        }
      </p>
    </div>
    <div class="stat">
      <div class="stat__icon review">
        <i class="far fa-cube"></i>
      </div>
      <div class="num">{{ objReview }}</div>
      <p>
        Learning Object@if (objReview !== 1) {
        <span>s</span>
      }
      Under Review
    </p>
  </div>
  <div class="stat">
    <div class="stat__icon download">
      <i class="far fa-cloud-download"></i>
    </div>
    <div class="num">{{ objDownload }}</div>
    <p>
      Learning Object Download@if (objDownload !== 1) {
      <span>s</span>
    }
  </p>
</div>
<div class="stat">
  <div class="stat__icon authors">
    <i class="far fa-users"></i>
  </div>
  <div class="num">{{ authorCollection }}</div>
  <p>
    Collection Author@if (authorCollection !== 1) {
    <span>s</span>
  }
</p>
</div>
</div>
</div>
</div>