<div class="rating-stars {{ color ? color : '' }}" [ngStyle]="styles" [tip]="rating + ' out of ' + count" [tipDisabled]="!reviewsCount" tipPosition="top">
  <div class="stars" tabindex="0" attr.aria-label="Rating: {{ rating }} out of 5 stars">
    <div class="empty-stars">
      @for (item of iterableCount; track item) {
        <div class="empty-star">
          <i class="fal fa-star"></i>
        </div>
      }
    </div>
    <div class="full-stars-mask" [ngStyle]="{width: calculateBarWidth}">
      <div class="full-stars">
        @for (item of iterableCount; track item) {
          <div class="full-star">
            <i class="fas fa-star"></i>
          </div>
        }
      </div>
    </div>
  </div>
  @if (reviewsCount && reviewsCount > 0) {
    <div class="number-reviews" tabindex="0" attr.aria-label="{{ reviewsCount }} {{ reviewsCount > 0 ? 'Review' : 'Reviews'}} ">({{ reviewsCount }})</div>
  }
</div>