@import '~_vars.scss';
@import '../../home';

.title-text {
  color: $light-blue;
  text-align: center;
  margin-bottom: 20px;
}

.title__icon {
  margin: auto;
  margin-bottom: 20px;
}

.collections__description {
  max-width: 800px;
  margin: auto;
  font-size: $large;
  color: $dark-grey;
  text-align: center;
}

.collections__grid {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.card-wrapper {
  margin: 20px;
  min-width: 240px;
  width: 1fr;
}

.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover:not(:active) {
    transform: scale(1.02);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  }

  &:active {
    transition-duration: 0.1s;
  }
}

.card__image {
  width: 130px;
}

.card__name {
  color: $dark-grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $larger;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.featured-collections-cta {
  font-size: $large;
  text-align: center;
  margin: 20px;

  a {
    color: $light-blue;
    font-size: $large;
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
  }
}