<div class="collections">
  <div class="title-text">
    <div class="title__icon">
      <i class="far fa-cubes"></i>
    </div>
    Featured Collections
  </div>
  <div class="collections__description">
    {{ copy.COLLECTION_BLURB }}
  </div>
  <div class="featured-collections-cta">
    <a routerLink="/c">View all Collections</a>
  </div>
  <div class="collections__grid">
    <div *ngFor="let c of collections">
      <div class="card-wrapper">
        <clark-featured-collection-card [collection]="c"></clark-featured-collection-card>
      </div>
    </div>
  </div>
</div>