@import 'vars.scss';

form {
  margin: auto;
  margin-top: 15px;
  width: 100%;
  height: 50%;
  overflow-y: hidden;
}

.title {
  color: $darker-grey;
}

.input {
  margin-bottom: 15px;
}

.line-spacer {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  display: none;
}
