<form [formGroup]= "group">
    <h2 class="auth-title light" id="profile-title">Create A User Profile</h2>
  <div class="input username">
    <input autofocus id="input-username" #usernameInput name="username" type="text" placeholder="Username" aria-label="Username" formControlName ="username"/>
    <i class="far fa-user"></i>
    <div class="icon-right">
      <ng-container *ngIf="querying">
        <span><i class="far fa-spinner-third fa-spin"></i></span>
      </ng-container>
      <ng-container *ngIf="!querying && usernameError">
        <span class="email-error" [tip]="usernameError"><i class="far fa-times"></i></span>
      </ng-container>
    </div>
  </div>
  <div class="input password">
    <input id="input-password" #passwordInput name="password" type="password" placeholder="Password" aria-label="Password" formControlName ="password"/>
    <i class="far fa-key"></i>
    <div class="icon-right">
      <ng-container *ngIf="passwordError">
        <span class="email-error" tip="Passwords must contain 2 lower case letters, an upper case letter, a symbol, and a number."><i class="far fa-times"></i></span>
      </ng-container>
    </div>
  </div>
  <div class="input password-verify">
    <input id="input-verify-password" #passwordVerifyInput name="password-verify" type="password" placeholder="Confirm password" aria-label="Confirm Password" formControlName ="verifypassword"/>
    <i class="far fa-key"></i>
    <div class="icon-right">
      <ng-container *ngIf="passwordVerifyError">
        <span class="email-error" tip="Passwords do not match!"><i class="far fa-times"></i></span>
      </ng-container>
    </div>
  </div>
</form>
