@import '~_vars.scss';

form {
    margin: auto;
    margin-top: 15px;
    width: 100%;
    height: 50%; 
    overflow-y: hidden;
}

.title {
    color: $dark-text;
}

.input {
    margin-bottom: 15px;
}

.line-spacer {
    margin-top: 25px;
    margin-bottom: 25px;
    // border-bottom: 2px dashed darken($placeholder, 0);
    height: 1px;
    display: none;
}
