
      <form [formGroup]= "group">
          <div class="title light">Step 2/3 | Create A User Profile</div><hr/>
        <div class="input username">
          <input name="username" type="text" placeholder="Username" formControlName ="username"/>
          <i class="far fa-user"></i>
        </div>
        <div class="input password">
          <input name="password" type="password" placeholder="Password" formControlName ="password"/>
          <i class="far fa-key"></i>
        </div>
        <div class="input password-verify">
          <input name="password-verify" type="password" placeholder="Confirm password" formControlName ="verifypassword"/>
          <i class="far fa-key"></i>
        </div>
      </form>
    

  
  
    