<ng-container>
  <span class="filters-clear-all"><a (activate)="clearAllFilters()">Clear all filters</a></span>
  <button #toggleStatusFilterMenu class="button neutral filters-button" (click)="toggleStatusMenu(true)"
    [ngClass]="{ 'filters-button--down': statusMenuActive }">
    <span class="filter-badge" *ngIf="statusFilters.size">
      {{ statusFilters.size }}
    </span>
    Status <i class="fas fa-chevron-down"></i>
  </button>
  <clark-context-menu *ngIf="statusMenuActive" class="filter-status" [anchor]="toggleStatusFilterMenu"
    [offset]="{ top: 10, left: 10 }" (close)="toggleStatusMenu(false)">
    <div #contextMenu id="contextMenu" class="filter-status__container">
      <ul>
        <li *ngFor="let status of statuses" [ngClass]="status" (click)="toggleStatusFilter([status])">
          <div *ngIf="statusFilters.has(status)" class="indicator"></div>
          <i [ngClass]="getStatusIcon(status)"></i> {{ status.replace('_', ' ') | titlecase }}
        </li>
      </ul>
    </div>
  </clark-context-menu>

  <button #toggleLengthFilterMenu class="button neutral filters-button" (click)="toggleLengthMenu(true)"
    [ngClass]="{ 'filters-button--down': lengthMenuActive }">
    <span class="filter-badge" *ngIf="lengthFilters.size">
      {{ lengthFilters.size }}
    </span>
    Length <i class="fas fa-chevron-down"></i>
  </button>
  <clark-context-menu *ngIf="lengthMenuActive" class="filter-lengths" [anchor]="toggleLengthFilterMenu"
    [offset]="{ top: 10, left: 10 }" (close)="toggleLengthMenu(false)">
    <div #contextMenu id="contextMenu" class="filter-status__container">
      <ul>
        <li *ngFor="let length of lengths" [ngClass]="length" (click)="toggleLengthFilter([length])">
          <div *ngIf="lengthFilters.has(length)" class="indicator"></div>
          {{ length.replace('_', ' ') | titlecase }}
        </li>
      </ul>
    </div>
  </clark-context-menu>

  <button #toggleSortDateMenuAnchor class="button neutral filters-button" (click)="toggleSortDateMenu(true)"
    [ngClass]="{ 'filters-button--down': sortDateMenuActive }">
    Last Updated <i class="fas fa-chevron-down"></i>
  </button>
  <clark-context-menu *ngIf="sortDateMenuActive" class="sort-dates" [anchor]="toggleSortDateMenuAnchor"
    [offset]="{ top: 10, left: 10 }" (close)="toggleSortDateMenu(false)">
    <div #contextMenu id="contextMenu" class="filter-status__container">
      <ul>
        <!--
          TODO: Find a way to display these programatically, just in case someone
                thinks that -1 should be ascending and vice versa...
        -->
        <li (click)="setLastUpdatedSort(1)">
          <span *ngIf="selectedLastUpdatedSortType === 1" class="indicator"></span>

          Ascending
        </li>
        <li (click)="setLastUpdatedSort(-1)">
          <span *ngIf="selectedLastUpdatedSortType === -1" class="indicator"></span>
          Descending
        </li>
      </ul>
    </div>
  </clark-context-menu>
  <button #toggleSortRatingMenuAnchor class="button neutral filters-button" (click)="toggleSortRatingMenu(true)"
    [ngClass]="{ 'filters-button--down': sortRatingMenuActive }">
    Rating <i class="fas fa-chevron-down"></i>
  </button>
  <clark-context-menu *ngIf="sortRatingMenuActive" class="sort-dates" [anchor]="toggleSortRatingMenuAnchor"
    [offset]="{ top: 10, left: 10 }" (close)="toggleSortRatingMenu(false)">
    <div #contextMenu id="contextMenu" class="filter-status__container">
      <ul>
        <!--
          TODO: Find a way to display these programatically, just in case someone
                thinks that -1 should be ascending and vice versa...
        -->
        <li (click)="setRatingSort(1)">
          <span *ngIf="selectedRatingSortType === 1" class="indicator"></span>

          Ascending
        </li>
        <li (click)="setRatingSort(-1)">
          <span *ngIf="selectedRatingSortType === -1" class="indicator"></span>
          Descending
        </li>
      </ul>
    </div>
  </clark-context-menu>
</ng-container>
