<div class="wrapper">
    <div class="first">
        <h1>
            Teach Cyber Today... <br />
            Secure Tomorrow
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            In iaculis nunc sed augue lacus viverra. Tempor commodo ullamcorper a lacus vestibulum. 
            Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. 
            Maecenas pharetra convallis posuere morbi leo urna molestie at.
        </p>
        <button routerLink="/browse">BROWSE 880+ LEARNING OBJECTS</button>
    </div>
    <div class="second">
        <iframe 
        src="https://www.youtube.com/embed/wXlZZjq0lDo" 
        title="What is CLARK?" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
        >
        </iframe>
    </div>
</div>

