// Imports from CLARK stylesheets
@import '_vars.scss';
@import "globals.scss";

// NCyTE Collection
$ncyte-blue: #00305c;
$ncyte-yellow: #FFDF21;

// XP Cyber
$xp-cyber-dark: #03A5AD;

// 502-Project
$lightPurple_502: #7F3F98;
$darkPurple_502: #672F90;
$blue_502: #6AC8C1;
$yellow_502: #F7EC2F;