// Imports from CLARK stylesheets
@import '~_vars.scss';
@import "~globals.scss";


$ncyte-blue: #2757A4;
$ncyte-yellow: #FFDF21;
$ncyte-grey: rgba(85,89,94, .6);

$stats-yellow: hsl(51, 100%, 80%);
$stats-orange: orange;
$stats-light-purple: hsl(258, 100%, 82%);
$stats-purple: hsl(258, 100%, 64%);
$stats-blue: hsl(226, 91%, 63%);
$stats-grey: $dark-grey;

$obj-grey: rgba(85,89,94, .6);