@import 'vars.scss';

@mixin filename-limit {
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-right: 30px;
  max-width: 250px;
}

.inner {
  margin-top: 30px;
  max-width: 100%;
}

.uploader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dragging {
    opacity: 1;
    visibility: visible;

    .uploader-icon {
      animation: upload-arrow 1s linear infinite;
    }
  }

  &.dropped {
    transition-duration: 1000ms;

    .uploader-text {
      opacity: 0;
    }

    .uploader-icon {
      animation: upload-arrow-drop 800ms linear forwards;
    }
  }

  .uploader-content {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .uploader-icon {
      color: $light-blue;
      font-size: 30px;
      margin: auto;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      position: relative;
    }

    .uploader-text {
      margin-top: 10px;
      font-size: $larger;
      color: $dark-grey;
      transition: all 0.2s ease;
      text-align: center;

      div {
        font-size: $largest;
      }
    }
  }
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .slide-title {
    font-size: $larger;
    border-radius: 4px;
    padding: 15px 0 5px;
  }
}

.back-button {
  color: $light-blue;
  cursor: pointer;
  margin-bottom: 10px;

  .svg-inline--fa {
    margin-right: 10px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.manage-materials {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 2px;

  .title {
    padding: 10px;
    font-size: $larger;
  }

  .tabs {
    background: $light-blue-gradient;
    color: white;
    padding: 10px 20px 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;

      li {
        padding: 15px 20px;
        list-style-type: none;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        z-index: 0;
        border-radius: 2px 2px 0 0;

        &:after {
          content: '';
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          border-radius: inherit;
          transition: all 0.2s ease;
          background: white;
          position: absolute;
          top: 60px;
          opacity: 1;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }

        &:hover {

          &:after {
            top: 45px;
            opacity: 0.7;
          }
        }

        &.active {
          color: $light-blue;
          position: relative;

          &:after {
            top: 0;
            opacity: 1;
          }
        }
      }
    }

    .server-status {
      align-self: center;
      margin-top: -8px;
      padding: 7px 12px;
      border-radius: 2px;
      opacity: 0.7;
      color: white;
      border: 1px solid white;
      text-transform: uppercase;
      transition: all 0.2s ease;

      .svg-inline--fa {
        margin-left: 5px;
      }

      &.saving {
        opacity: 1;
      }
    }
  }

  .loading {
    color: $light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $larger;
    margin-top: 40px;
  }

  .url-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }

  .link.input-wrapper {
    display: flex;
    flex-grow: 1.5;
    margin-right: 10px;

    input {
      width: 100%;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .materials-slides {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    min-height: 400px;
    overflow: hidden;
    position: relative;
  }

  .slide {
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    background: white;
  }

  textarea {
    width: 97%;
    resize: vertical;
    padding: 15px;
    appearance: none;
    border-radius: 2px;
    border: 1px solid $medium-grey;
    outline: 0;
    margin-top: 10px;

    &:focus {
      border-color: $light-blue;
    }
  }
}

.upload-queue {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
}

.solutions-warning {
  color: white;
  background: $orange-gradient;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
  font-size: $normal;
}

.hidden{
  display: none;
}

@keyframes upload-arrow {
  0% {
    transform: translateY(0);

  } 50% {
    transform: translateY(-5px);

  } 100% {
    transform: translateY(0);

  }
}

@keyframes upload-arrow-drop {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);

  } 35% {
    opacity: 1;
    transform: scale(1.1) translateY(20px);

  } 100% {
    opacity: 0;
    transform: scale(0.6) translateY(-600px);
  }
}
