<section class="hero">
    <div class="inner">
        <img src="../../../../../../assets/collections/ncyte/ncyte_full_name.png" alt="NCyTE Center Logo" class="logo">
        <div class="buttons">
            <button class="button neutral" aria-label='Browse Collection' (activate)="navigateToBrowse()">Browse
                Collection</button>
            <button *ngIf="isUserAuthorized" class="button neutral" aria-label='Statistics Dashboard'
                (activate)="navigateToStatistics()">
                Statistics Dashboard</button>
        </div>
    </div>
</section>