<clark-admin-content-wrapper>
  <div #list2 class="el"></div>
  <div page-title>{{ learningObjects?.length }} Unassigned Learning Objects</div>
  <clark-admin-search-bar
    search
    [placeholder]="searchBarPlaceholder"
    (userInput)="userSearchInput$.next($event)"
  ></clark-admin-search-bar>
  <button 
    filter-options 
    class='button good'
    (activate)='discoverLearningObjectTopics()'
  >Discover Topics</button>
  <div #list class="list" main>
    <div #listInner>
      <div class="list__body">
        <div *ngIf="learningObjects?.length || loading; else emptyTemplate">
          <div #headers class="body__column-headers">
            <div>Status</div>
            <div>Name</div>
            <div>Author</div>
            <div>Type</div>
            <div>Date</div>
          </div>
          <virtual-scroller
            #scroll
            [style.height]="'calc(100vh - ' + listViewHeightOffset + 'px)'"
            [items]="learningObjects"
            [bufferAmount]="query.limit"
            [enableUnequalChildrenSizes]="true"
            (vsEnd)="
              scroll.viewPortInfo.startIndex && getLearningObjects($event)
            "
          >
            <clark-learning-object-list-item
              *ngFor="let l of scroll.viewPortItems"
              [learningObject]="l"
              [status]="l.status"
              (viewUser)="getUserLearningObjects($event)"
              (changeStatus)="openChangeStatusModal($event)"
            >
            </clark-learning-object-list-item>
            <div class="loadingOrFinished">
              <div class="loadingOrFinished__content" *ngIf="!allResultsReceived; else finishedLoadingTemplate">
                <i class="far fa-spinner-third fa-spin"></i>
                Loading learning objects...
              </div>
            </div>
          </virtual-scroller>
        </div>
      </div>
    </div>
  </div>

  <clark-popup *ngIf="discoveringTopics" (closed)="discoveringTopics=false">
    <div #popupInner class="popup-inner">
      <div class="modal-title">Discovering Topics</div>
        <div class="modal-text">
          <form class="input-wrapper">
            <div class="header">
              <span class="header__text">Our AI is finding the best topic for each unassigned Learning Object</span>
              <div class="prompt">
                <div class="prompt__text">This might take a minute...</div>
                <i class="far fa-spinner-third fa-spin"></i>
              </div>
            </div>
          </form>
        </div>
    </div>
  </clark-popup>

  <clark-popup *ngIf="displayTopicsBuilderModal" (closed)="displayTopicsBuilderModal=false">
      <div #popupInner class="popup-inner results-popup">
        <div class="modal-text">
          <form class="input-wrapper">
            <div class="columns">
              <div class="left-side-panel">

                <h2 class='panel-header'>Topics</h2>
           
                <div class='side-panel__scrollable'>
                  <h3 class='topic-header'>New Topics</h3>
                  <div class='topic-names__container'>
                    <div *ngFor='let new_topic of objectKeys(newTopicDistribution)'>
                      <div class='topic-name__card'>
                        <clark-checkbox attr.aria-label="checkbox" [value]="false" (action)="toggleTopicToSubmissionGroup($event, new_topic)"></clark-checkbox>
                        <input class='topic-name__card__name' (activate)='selectNewTopic(new_topic)' [(ngModel)]='new_topic' [ngModelOptions]="{standalone: true}"  [ngClass]="{'selected': new_topic === selectedTopicName}"/>
                      </div>
                    </div>
                  </div>
                  
                  <h3 class='topic-header'>Standard Topics</h3>
                  <div class='topic-names__container'>
                    <div *ngFor='let standard_topic of objectKeys(standardTopicDistribution)'>
                      <div class='topic-name__card'>
                        <clark-checkbox attr.aria-label="checkbox" [value]="false" (action)="toggleTopicToSubmissionGroup($event, standard_topic)"></clark-checkbox>
                        <div class='topic-name__card__name' (activate)='selectStandardTopic(standard_topic)' [ngClass]="{'selected': standard_topic === selectedTopicName}">{{ standard_topic }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class='submit-button'>
                  <button class='button good' (activate)='submitChanges()'>Submit</button>
                </div>
              </div>
              <div class='right-side-panel'>
                <h2 class='panel-header'>Learning Objects</h2>
                <div class='side-panel__scrollable'>
                  <div *ngFor="let topicObject of selectedTopicObjects">
                    <div class='topic-object__card'>
                      <learning-object-component [learningObject]="topicObject"></learning-object-component>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </clark-popup>
  
  <ng-template #emptyTemplate>
    <div class="empty-template">
      <div class="empty-template__top">
        <i class="fal fa-box-open"></i>
        <div class="top-message">
          Nothing here!
        </div>
      </div>
      <div class="empty-text">
        Learning Objects will appear here after they are submitted to your
        collection
      </div>
    </div>
  </ng-template>
</clark-admin-content-wrapper>

<ng-template #finishedLoadingTemplate>
  <div class="loadingOrFinished__content">
    <i class="far fa-thumbs-up"></i>
    You've reached the end of the list!
  </div>
</ng-template>

