@import 'vars.scss';

.searchbar {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
}

.searchbar:focus-within {
  box-shadow: 0 0 16px 2px
    rgba(red($light-blue), green($light-blue), blue($light-blue), 0.1);
}

.searchbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.container__input {
  border: none;
  font-size: $small;
  width: 100%;
  color: $dark-grey;
  outline: none;
  height: 100%;
  padding: 13px;
}

input::placeholder {
  color: $placeholder;
}

.container__icon {
  color: $light-blue;
  font-size: $normal;
}
