<div class="counter-wrapper">
  <div class="released stat-block">
    <div class="loading" *ngIf="objectStatsLoading">
      <i class="fal fa-spinner-third fa-spin"></i>
    </div>
    <div *ngIf="!objectStatsLoading" class="counter">{{ stats?.objects?.released }}</div>
    <div class="label">Learning Objects Released</div>
  </div>
  <div class="under-review stat-block">
    <div class="loading" *ngIf="objectStatsLoading">
      <i class="fal fa-spinner-third fa-spin"></i>
    </div>
    <div *ngIf="!objectStatsLoading" class="counter">{{ stats?.objects?.underReview }}</div>
    <div class="label">Learning Objects Under Review</div>
  </div>
  <div class="stat-block">
    <div class="loading" *ngIf="objectStatsLoading">
      <i class="fal fa-spinner-third fa-spin"></i>
    </div>
    <div *ngIf="!objectStatsLoading" class="counter">{{ stats?.objects?.downloads}}</div>
    <div class="label">Learning Objects Downloaded</div>
  </div>
  <!-- FIXME: Uncomment when user service is deployed -->
  <!-- <div class="stat-block">
    <div class="loading" *ngIf="userStatsLoading">
      <i class="fal fa-spinner-third fa-spin"></i>
    </div>
    <div *ngIf="!userStatsLoading" class="counter">{{ stats?.users?.total }}</div>
    <div class="label">Users</div>
  </div>
  <div class="stat-block">
    <div class="loading" *ngIf="userStatsLoading">
      <i class="fal fa-spinner-third fa-spin"></i>
    </div>
    <div *ngIf="!userStatsLoading" class="counter">{{ stats?.users?.organizations }}</div>
    <div class="label">Affiliated Organizations</div>
  </div> -->
</div>
