.changelog-item {
    display: grid;
    grid-template-rows: auto 100px 10px;
    grid-template-columns: 80px 130px 100px;
    grid-gap: 10px;
}

.changelog-item__name {
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

.changelog-item__date {
    font-size: 15px;
}

.changelog-item__badge {
    display: flex;
    flex-direction: column;
}

.changelog-item__text {
    display: flex;
    font-size: 17px;
}

.changelog-item__timeline {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    margin-left: 20px;
}

.changelog-item__profile-image-container {
    display: flex;
    flex-direction: column;
}

.profile-image-container__avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    
}