<div class="changlog-item">
  <div class="changelog-item__profile-image">
    <img class="profile-image__avatar" src="{{ changelog.author.profileImage }}" alt="">
  </div>
  <div class="changelog-item__name">
    {{ changelog.author.name | titlecase }}
  </div>
  <div class="changelog-item__badge">
    <clark-identification-pill
      [accessGroup]='changelog.author.role'
    ></clark-identification-pill>
  </div>
  <div class="changelog-item__date">
    {{ changelog.date | date:'shortDate' }}
  </div>
  <div class="changelog-item__text">
    {{ changelog.text }}
  </div>
</div>