.changelog-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.changelog-item__profile-image {
    grid-column: 1 / 3;
    grid-row: 1;
}

.profile-image__avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}