<div class="stats">
  <div class="inner">
    <!-- <h1 class="header">{{ name }} by the Numbers</h1> -->
    <div class="section-stats">
      <div class="stat">
        <div class="stat__icon release">
          <i class="far fa-cube"></i>
        </div>
        <div class="num">{{ objReleased }}</div>
        <p>
          Released  Learning Object@if (objReleased !== 1) {
          <span>s</span>
        }
      </p>
    </div>
    @if (collectionName !== 'withcyber') {
      <div class="stat">
        <div class="stat__icon review">
          <i class="far fa-cube"></i>
        </div>
        <div class="num">{{ objReview }}</div>
        <p>
          Learning Object@if (objReview !== 1) {
          <span>s</span>
        }
        Under Review
      </p>
    </div>
  }
  <div class="stat">
    <div class="stat__icon download">
      <i class="far fa-cloud-download"></i>
    </div>
    <div class="num">{{ objDownload }}</div>
    <p>
      Learning Object Download@if (objDownload !== 1) {
      <span>s</span>
    }
  </p>
</div>
<div class="stat">
  <div class="stat__icon authors">
    <i class="far fa-users"></i>
  </div>
  <div class="num">{{ authorCollection }}</div>
  <p>
    @if (collectionName === 'withcyber') {
      Tag Authors
    } @else {
      Collection Author@if (authorCollection !== 1) {
      <span>s</span>
    }
  }
</p>
</div>
</div>
</div>


@if (this.displayCharts === true) {
  <div class="bottom">
    <clark-top-downloads [learningObjects]="learningObjects"></clark-top-downloads>
    <cube-distribution-chart
      class="chart"
      [chart]="lengthDistributionChart"
      (chartNotHovered)="handleChartNotHovered()">
    </cube-distribution-chart>
  </div>
}
</div>

