<div class="wrapper">
  <div class="title-container">
    <img 
      src="../../../../../../assets/images/Nice-Logo-Black.png"
      alt="NICE Challenge Project Logo"
      class="logo"
    >
    <div class="title">
      <h2 class="title-header">
        The National Initiative for Cybersecurity Education (NICE) Project 
        Curricular Resources
      </h2>
      <h2>
        <a class="nice-link" href="https://nice-challenge.com/">https://nice-challenge.com/</a>
      </h2>
    </div>
  </div>
  <div class="browse-container">
    <section class="section-accent">
      <i class="far fa-user-graduate icon"></i>
      <p>
        Developing strong cybersecurity programs and faculty 
        is key to developing a stronger cybersecurity workforce.
      </p>
      <button (activate)="navigateToBrowse()" aria-label="Browse Nice Curriculum" class="button">Browse Curriculum
        <i class="fas fa-arrow-right"></i>
      </button>
    </section>
  </div>
</div>
