<div class="topbar">
  <div class="slide-title">URLs</div>
  <div class="btn-group to-right">
    <button *ngIf="urls.length > 0" (click)="addURL()" class="button good">Add URL
      <i class="far fa-plus"></i>
    </button>
  </div>
</div>
<div [ngClass]="{'empty-section': urls.length == 0}">
  <div *ngIf="urls.length == 0" class="empty-message">
    <i class="fal fa-link"></i>
    <div class="empty-title">No URLs here!</div>
    <button class="button good" (click)="addURL()">Click here to add a URL</button>
  </div>
  <div class="section url-wrapper">
    <div *ngFor="let url of urls; let i = index;" class="link input-wrapper">
            <clark-title-of-url [url]="url" [index]="i" (updateUrl)="updateUrl($event)"></clark-title-of-url>
      <button class="button bad icon-only" (click)="removeURL(i)">
        <i class="far fa-times"></i>
      </button>
    </div>
  </div>
</div>
