@import 'vars.scss';

.outcomes-list-item {
  background: white;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  padding: 8px 8px 8px 14px;
  color: $dark-grey;
  cursor: pointer;

  .bar {
    background: $light-blue;
    width: 6px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .top {
    width: 100%;
    padding: 3px;
    font-weight: bold;
    display: flex;
    align-items: top;

    .suggested-icon {
      color: $gold;
      margin-right: 6px;
      font-size: $normal;
    }
  }

  &.selected {
    background: $light-blue-gradient;
    color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: inset 0 2px 6px 2px rgba(0, 0, 0, 0.1);

    .bar {
      opacity: 0;
    }
  }
}
