<div class="wrapper">
  <div class="left-container">
    <div class="collection-curators">
      <i class="fa-2x fas fa-users"></i>
      <h2>COLLECTION CURATORS</h2>
      <p>
        Collection curators are responsible for their collection’s 
        review process and continued quality
      </p>
    </div>
  </div>
  <div class="curator-container">
    <div class="curator-card">
      <img 
        src="../../../../../../assets/images/collections/Vinnie_Nestler.jpg"
        alt="Vinnie Nestler, Ph.D."
      >
      <p>
        Vinnie Nestler, Ph.D.
        Calidornia State University San Berandino
      </p>
    </div>
    <div class="curator-card">
      <img 
        src="../../../../../../assets/images/collections/Tony_Coulson.jpg"
        alt="Tony Coulson, Ph.D."
      >
      <p>
        Tony Coulson, Ph.D.
        Calidornia State University San Berandino
      </p>
    </div>
  </div>
</div>