@import '~_vars.scss';

.included-in {
  border-radius: 2px;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.03);

  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    font-size: 16px;
    background-color: white;

    .lo-length {
      text-transform: capitalize;
    }
  }

}