<div class="wrapper">
  <div class="content-box"  [ngClass]="{'failed': failure}">
    <div class="top">
      <div aria-live="assertive" class="error" > {{ failure || '' }} </div>
      <div class="auth-title">CLARK</div>
      <div class="auth-title light">Cybersecurity Digital Library</div>
      <form *ngIf="!done" (ngSubmit)="submit()">
        <div id="instructions" class="desc">
          Please enter the email address associated with your account and we'll send you instructions for resetting your password.
        </div>
        <div class="input email" [ngClass]="{'active': email !== ''}">
          <input name="email" type="text" placeholder="Email address" aria-labelledby="instructions" [(ngModel)]="email" [autofocus]/>
          <i class="far fa-at"></i>
        </div>
        <button type="type" class="auth-button">
          <div class="text">Reset Password</div>
          <div class="mask"></div>
        </button>
      </form>
      <div aria-live="assertive" *ngIf="done" class="done">
        <i class="far fa-shield-check"></i>
        Email is on it's way! Check your spam folders!
      </div>
    </div>
    <button tabindex="0" class="bottom-link" routerLink="../login">
      Know your password? <span>Sign in!</span>
    </button>
  </div>
</div>
