@import 'vars.scss';
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

form {
    margin: auto;
    margin-top: 40px;
    width: 100%;
}

.desc {
    color: $dark-grey;
    margin-bottom: 20px;
    text-align: center;
}