<div class="background">
    <section class="hero">
        <div class="inner">
            <h1 class="header">CLARK Platform Status</h1>
            <p class="description">
                The CLARK Team is constantly working on keeping the system fully functional and efficient. If you find a issue that is not specified below, then please refer to the Help section in the footer.
            </p>
        </div>
    </section>
    <section class="wrapper">
        <h2>Current Status</h2>
        <div class="grid">
            <clark-outage-card *ngFor="let status of statusList" [status]="getStatus(status)"></clark-outage-card>
        </div>
    </section>
    <section *ngIf="pastIssues" class="wrapper">
        <div *ngIf="pastIssues.length > 0; else noPastIssuesTemplate">
            <h2>Past Issues</h2>
            <clark-past-issue *ngFor="let issue of pastIssues; let i = index" [issue]="issue" [order]="{ first: i === 0, last: i === pastIssues.length - 1 }"></clark-past-issue>
        </div>
    </section>
</div>

<ng-template #noPastIssuesTemplate>
    <h2>There are no past issues...</h2>
</ng-template>