@import '~_vars.scss';

.hero {
    position: relative;
    overflow: hidden;
    padding: 100px;
  
    &:after {
        content: '';
        background: repeating-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) );
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
  
    &:before {
        content: '';
        background: linear-gradient(to bottom, white, $light-blue, white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        z-index: 0;
        opacity: .15;
    }
  
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .header {
        color: $darker-grey;
        font-size: $largest;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .description {
        color: $darker-grey;
        font-size: $large;
        font-weight: normal;
        padding: 10px;
    }
}

.wrapper {
    margin: 50px auto 50px auto;
    padding: 0 50px;
    max-width: 1200px;

    h1 {
        color: $darker-grey;
        font-size: $larger;
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .wrapper {
        margin: 20px auto 20px auto;
        padding: 0 20px;

        .grid {
            grid-template-columns: 1fr;
        }
    }
}