<div class="dashboard">
  <clark-dashboard-splash
    (navigateBack)="navigateBack()"
    (searchText)="performSearch($event)"
  ></clark-dashboard-splash>
  <div class="dashboard__lists">
    <div role="tablist" class="dashboard__tabs">
      <button
        class="tabs__item"
        role="tab"
        [attr.aria-selected]="!(activeIndex % 2)"
        aria-controls="draft-objects-list-panel"
        [ngClass]="{ 'tabs__item--active': !(activeIndex % 2) }"
        (click)="(activeIndex % 2) && toggle()"
      >
        Draft <span *ngIf="workingLearningObjects">({{ workingLearningObjects.length }})</span>
    </button>
      <button
        class="tabs__item"
        role="tab"
        [attr.aria-selected]="!!(activeIndex % 2)"
        aria-controls="released-objects-list-panel"
        [ngClass]="{ 'tabs__item--active': activeIndex % 2 }"
        (click)="!(activeIndex % 2) && toggle()"
      >
        Released <span *ngIf="releasedLearningObjects">({{ releasedLearningObjects.length }})</span> 
    </button>
    </div>
    <clark-carousel [action$]="action$">
      <ng-template>
        <div id="draft-objects-list-panel" class="list__wrapper">
          <clark-dashboard-list
            title="Draft Learning Objects"
            [showOptions]="true"
            [learningObjects]="workingLearningObjects"
            (applyFilters)="applyFilters($event)"
          ></clark-dashboard-list>
        </div>
      </ng-template>
      <ng-template>
        <div id="released-objects-list-panel" class="list__wrapper">
          <clark-dashboard-list
            title="Released Learning Objects"
            [showOptions]="false"
            [learningObjects]="releasedLearningObjects"
          ></clark-dashboard-list>
        </div>
      </ng-template>
      <ng-template #loadingTemplate>
        <div class="loading-template">
          <i class="far fa-spinner-third fa-spin"></i>
          Loading Learning Objects...
        </div>
      </ng-template>
    </clark-carousel>
  </div>
</div>

