@import '~_vars.scss';
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title {
    font-weight: bold;
    color: $blue-accent;
    font-size: 26px;
  }
  .button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.faux-table {
  margin-top: 30px;
  .row.columns {
    padding-left: 21px;
  }
  .row.hide {
    display: none;
  }
  .placeholder {
    min-width: 30px;
  }
}

.published {
  border-left: 6px solid $green;
}

.unpublished {
  border-left: 6px solid $error-red;
}

.locked {
  border-left: 6px solid #f39c12;
}

.builder-link {
  color: #333;
}

.dashboard-loading {
  margin-top: 40px;
  text-align: center;

  .svg-inline--fa {
    color: $blue-accent;
    font-size: 30px;
  }
}

.no-lo {
  margin-top: 40px;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(720deg);
  }
}