@import 'vars.scss';

.user-profile-header_container {
    display: block;
    max-width: 930px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    .user-profile-header_wrapper {
        background-color: $secondary-white-background;
        margin: 15px auto;
        width: 100%;
        max-width: 500px;
        height: 200px;
        border-radius: 8px;
        border: .5px rgba(28, 112, 221, .1) solid;
        box-shadow: 0 10px 20px -10px rgba(28, 112, 221, .1);
        display: block;
        position: relative;
        z-index: 1;
        float: left;
        .img {
            display: inline-block;
            max-width: 150px;
            width: 100%;
            max-height: 150px;
            height: 100%;
            vertical-align: middle;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
            background: url(/assets/images/user.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 20px;
            position: relative;
            z-index: 1;
        }
        .user-profile_info {
            display: inline-block;
            vertical-align: top;
            line-height: 15px;
            color: $dark-grey;
            position: absolute;
            z-index: 2;
            margin-top: 20px;
            margin-left: 20px;
            h1 {
                line-height: 35px;
                width: min-content;
                word-wrap: break-word;
                color: $darker-grey;
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 5px;
            }
        }
    }
    
    .user-profile-bio_wrapper{
        background-color: $secondary-white-background;
        margin: 15px auto;
        width: 100%;
        max-width: 400px;
        height: 200px;
        border-radius: 8px;
        border: .5px rgba(28, 112, 221, .1) solid;
        box-shadow: 0 10px 20px -10px rgba(28, 112, 221, .1);
        color: $dark-grey;
        float: right;

        .profile-bio_wrapper {
            margin: 10px 10px auto 10px;
            padding: 5px 4px;
            display: block;
            position: relative;

            p {
                margin-top: 0;
            }
            .bioheader {
                margin-bottom: 0;
                display: inline-block;
                width: 100%;
                h2 {
                    color: $darker-grey;
                    float: left;
                }
                .edit {
                    color: $light-grey;
                    background-color: $light-blue;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: $smaller;
                    z-index: 2;
                    height: fit-content;
                    float: right;
                    position: relative;
                    top: 20px;
                    right: 10px;
                    .svg-inline--fa {
                        font-size: $normal;
                        margin-right: 5px;
                    }
                    &:hover {
                        cursor: pointer;
                        border-bottom: 1px solid $blue-accent;
                    }
                }
            }
            .noBio {
                margin: auto;
                width: 50%;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

.popup_container {
    .modal-container {
        height: 90vh;
        width: 50vw;
    }
}

@media(max-width: 1000px) {
    .popup_container {
        overflow-y: auto;
        .modal-container {
            width: 100vw;
        }
    }
}

@media(max-width: 910px) {
    .user-profile-header_container {
        display: flex;
        flex-direction: column !important;
        width: 100%;
        
        .user-profile-header_wrapper {
            display: flex;
            flex-direction: column !important;
            align-items: center;
            height: 330px;
            width: 100%;
            margin: 0px auto;

            .user-profile_info {
                display: inline-block;
                text-align: center;
                margin: 5px;
                color: $dark-grey;
                z-index: 2;
                position: relative;

                h1 {
                    line-height: 35px;
                    width: fit-content;
                    color: $darker-grey;
                }
            }
        }
        .user-profile-bio_wrapper {
            margin: 10px auto;
        }
    }
}