@import 'vars.scss';

.user-profile-header_container {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;

    .user-profile-header_wrapper {
        background-color: #FFFFFF;
        margin: 15px auto;
        width: 100%;
        max-width: 625px;
        height: 200px;
        border: 2px solid $light-grey;
        border-radius: 5px;
        display: inline-block;

    
        .img {
            display: inline-block;
            max-width: 150px;
            width: 100%;
            max-height: 150px;
            height: 100%;
            vertical-align: middle;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
            background: url(/assets/images/user.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 20px;
        }
    
        .user-profile_info {
            display: inline-block;
            vertical-align: top;
            line-height: 5px;
            margin: 20px;
            color: $dark-grey;
            h1 {
                line-height: 30px;
                width: min-content;
                word-wrap: break-word;
                color: $darker-grey;
            }
        }

        .edit {
            display: block;
            color: $light-grey;
            background-color: $light-blue;
            font-size: $normal;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: $smaller;
            float: right;
            margin: 40px 20px 0 0;

            .svg-inline--fa {
                font-size: $normal;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
                border-bottom: 1px solid $blue-accent;
            }
        }
    }
    
    .user-profile-bio_wrapper{
        background-color: #FFFFFF;
        margin: 15px auto;
        width: 100%;
        max-width: 400px;
        height: 200px;
        border: 2px solid $light-grey;
        border-radius: 5px;
        display: inline-block;
        color: $dark-grey;

        .profile-bio_wrapper {
            margin: 12px 10px auto 10px;
            padding-top: 10px;
            h2 {
                color: $darker-grey;
                margin-bottom: 0;

            }
            p {
                margin-top: 0;
            }
        }
    }
}
// .user-profile-header_wrapper {
//     background-color: #FFFFFF;
//     margin: 15px auto;
//     max-width: 1200px;
//     min-height: 300px;
//     border: 2px solid $light-grey;
//     border-radius: 5px;
// }

// @media (max-width: 1370px) {
//     .user-profile-header_wrapper {
//         max-width: 95%;
//     }
// }
