@import 'vars.scss';

.user-profile-header_container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    position: relative;
    z-index: 0;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    gap: 20px;

    .user-profile-header_wrapper {
        background-color: $secondary-white-background;
        border-radius: 8px;
        border: .5px rgba(28, 112, 221, .1) solid;
        box-shadow: 0 10px 20px -10px rgba(28, 112, 221, .1);
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        position: relative;
        z-index: 1;

        .img {
            display: inline-block;
            max-width: 150px;
            width: 100%;
            max-height: 150px;
            height: 100%;
            vertical-align: middle;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
            background: url(/assets/images/user.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 20px;
            position: relative;
            z-index: 1;
        }

        .user-profile_info {
            display: flex;
            flex-direction: column;
            vertical-align: top;
            line-height: 5px;
            margin: 20px;
            color: $dark-grey;
            z-index: 2;
            flex-grow: 1;

            h1 {
                line-height: 35px;
                word-wrap: break-word;
                color: $darker-grey;
                margin-bottom: 10px;
            }
        }

        .edit {
            display: flex;
            flex-direction: row;
            color: $light-grey;
            background-color: $profile-drop-shadow;
            font-size: $normal;
            padding: 5px 10px;
            border-radius: 4px;
            box-shadow: 0px 6px 12px -6px $profile-drop-shadow;
            font-size: $smaller;
            margin: 40px 20px 0 0;
            z-index: 2;
            height: fit-content;

            .svg-inline--fa {
                font-size: $normal;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
                border-bottom: 1px solid $blue-accent;
            }
        }
    }

    .user-profile-bio_wrapper {
        background-color: $secondary-white-background;
        border-radius: 8px;
        border: .5px rgba(28, 112, 221, .1) solid;
        box-shadow: 0 10px 20px -10px rgba(28, 112, 221, .1);
        color: $dark-grey;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        max-width: 400px;

        .profile-bio_wrapper {
            padding: 5px 25px;

            h2 {
                color: $darker-grey;
                margin-bottom: 0;

            }

            p {
                margin-top: 0;
            }

            .noBio {
                margin: auto;
                width: 75%;
                padding: 10px;
                text-align: center;
            }
        }
    }

    .popup_container {
        .modal-container {
            height: 90vh;
            width: 50vw;
        }
    }
}

@media(max-width: 1060px) {
    .user-profile-header_container {
        .user-profile-header_wrapper {
            .popup_container {
                .modal-container {
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }

    .user-profile-header_container{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 950px) {
    .user-profile-header_container {
        flex-direction: column !important;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;

        .user-profile-header_wrapper {
            max-width: 100%;
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;

            .user-profile_info {
                flex-grow: 0;
                text-align: center;
            }
        }

        .user-profile-bio_wrapper {
            width: 100%;
            max-width: 100%;
            justify-content: center;

            h2 {
                text-align: center;
            }
        }
    }
}

@media (max-width: 600px) {
    .user-profile-header_container {
        .user-profile-header_wrapper {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            padding-bottom: 30px;

            .user-profile_info {
                align-items: center;
                margin-bottom: 30px;
                margin-top: 0;
            }

            .edit {
                margin: 0;
            }
        }
    }
}

@media (max-width: 450px) {
    .user-profile-header_container {
        margin: 0;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
}