<form>
  <h1>EDIT YOUR PROFILE</h1>
  <div #editProfileTemplate>
    <div class="gravatar">
      <img [src]="gravatarImage" class="img">
      <div class="gravatar-text"><a target="_blank" href="https://en.gravatar.com/">Manage your Gravatar account</a></div>
    </div>
    <div class="side-by-side">
        <clark-input-field
            [(ngModel)]="editInfo.firstname"
            #firstname
            name="firstName" 
            phold="First Name"
            [control]="editFormGroup.get('firstname')"
        ></clark-input-field>
        <clark-input-field 
            [(ngModel)]="editInfo.lastname"
            name="lastName" 
            #lastname 
            phold="Last Name" 
            [control]="editFormGroup.get('lastname')"
        ></clark-input-field>
    </div>
    <clark-input-field 
        [(ngModel)]="editInfo.email"
        name="email" 
        #email
        phold="Email" 
        [control]="editFormGroup.get('email')"
        [errorMsg]="fieldErrorMsg"
    ></clark-input-field>
    <div class="sso-section">
      <a [href]="ssoRedirect" class="sso-button">
          <img src="/assets/images/btn_google_signin_dark_normal_web@2x.png" alt="Sign In with Google" class="sso-img">
      </a>
      <span><i class="far-solid fa-asterisk"></i>The Google account needs to be the same email used for your CLARK account</span>
    </div>
    <clark-input-field 
        [(ngModel)]="editInfo.organization"  
        name="organization" 
        #organization 
        phold="Organization" 
        [control]="editFormGroup.get('organization')"
    ></clark-input-field>
    <p>{{ user.bio ? "Edit your bio" : "Add a bio"}}</p>
    <div class="input organization" [ngClass]="{'active': editInfo.organization !== ''}">
        <textarea  name="bio" type="text" placeholder="Enter Bio" [(ngModel)]="editInfo.bio"
            maxlength="150" rows="4" cols="50">
        </textarea>
      <span id="bio-icon"><i class="fas fa-user-alt"></i></span>
    </div>
    <div class="btn-group to-right" >
      <button type="save-changes" class="button good" (activate)="save()">Save Changes <i class="far fa-save"></i></button>
      <button type="discard-changes" class="button bad" (activate)="close.emit()">Discard Changes <i class="far fa-times"></i></button>
    </div>
  </div>
</form>
