@import 'vars.scss';
$wrapper-border-radius: 8px;
.wrapper {
  background: white;
  border-radius: $wrapper-border-radius;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.wrapper__progress-bg {
  border-radius: $wrapper-border-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #f6f7fa80;
  &.filled {
    border-top-right-radius: $wrapper-border-radius;
    border-bottom-right-radius: $wrapper-border-radius;
  }
}

.wrapper__text-content {
  padding: 0 15px;
  z-index: 2;
}

.text-content__progress {
  height: auto;
  &.completed {
    height: 0;
    opacity: 0;
  }
}

.text-content__upload-complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
  opacity: 0;
  &.completed {
    height: auto;
    opacity: 1;
  }
}

.upload-complete__uploaded-txt {
  font-size: $normal;
  font-weight: 600;
}

.upload-complete__check {
  color: $success-green;
  font-size: $normal;
}

.progress__uploading-txt {
  font-size: $normal;
  font-weight: 600;
  margin-bottom: 5px;
}

.progress__progress-txt {
  font-weight: 600;
  font-size: $small;
  color: $dark-grey;
}

clark-progress {
  z-index: 2;
  height: auto;
  &.completed {
    height: 0;
    opacity: 0;
  }
}
:host::ng-deep clark-progress {
  .progress {
    height: 2px;
    border-radius: 0;
    background: none;
    box-shadow: none;
  }
}
