<div class="terms">
  <h1 tabindex="0">Terms of Service</h1>
  <h2 tabindex="0">Last Updated March 27, 2019</h2>
  <hr>

  <p tabindex="0">These Terms of Service govern the access and use of clark.center (our <b>“Site”</b>) and our products and
    services (collectively, the <b>“Service”</b>), and any information, text, graphics, URLs, files, audio, video,
    photos, or other material uploaded, downloaded, or appearing on the Service (<b>“Resources”</b>). Any
    reference to “you” or “your” means you as a user of the Service. Any reference to “we”, “us”, “our”, or
    “CLARK” is to SecurEd Inc.</p>
  <p tabindex="0">Through the use of, or contribution to, the Resources of the Service, you agree and consent to these
    Terms of Service, including terms that limit our liability or affect your legal rights, any referenced and
    incorporated guidelines and policies, and any additional terms specific to your particular use of the
    Service which become part of your agreement with us (collectively, the <b>“Terms”</b>). If you are using the
    Service on behalf of a business, you represent to us that you have the authority to bind that business or
    entity to these Terms, and that the business accepts these Terms.</p>

  <h3 tabindex="0">Restrictions on Your Use of the Service</h3>
    <p tabindex="0">You agree that you may not use or attempt to:</p>
    <ul tabindex="0">
      <li>use the Service in any way that breaches any applicable local, national, or international law or
      regulation;</li>
      <li>use the Service in any way which could infringe the rights or interests of CLARK, the Community,
      or any third party;</li>
      <li>transfer any rights granted to you under the Terms;</li>
      <li>use the Service for any illegal activity or output, or in any way that exposes CLARK, you,
      members of the Community, or our Partners to harm;</li>
      <li>engage in any activity that could damage, overload, harm, or impede the normal functioning of
      the Service;</li>
      <li>use or attempt to use the Service to mine information in any way that could identify individual
      persons in their private capacity;</li>
      <li>attempt to gain unauthorized access to our Site, servers operated by CLARK, or any server,
      computer, or database connected to our Site;</li>
      <li>attack, or attempt to attack, our Site via a denial-of-service attack or a distributed denial-ofservice attack;</li>
      <li>otherwise use the Service except as expressly allowed under these Terms.</li>
    </ul>

  <h3 tabindex="0">Safe Participation in the Community</h3> 
    <p tabindex="0">CLARK offers certain functionality that may require the creation of a personal account (e.g. to participate
        in the CLARK Community and contribute Resources). Depending on the information provided in the
        registration and profile building process, your account may uniquely identify you. Any comment, post, or
        other activity that you engage in with the Community when using your account will generate content
        attributed to you (<b>“Content”</b>).</p>
    <p tabindex="0">To the extent you use any password/keys/credentials to access the Service, you are exclusively
        responsible for generating unique and complex credentials, safeguarding them, and for any activities or
        actions taken on the Service using such credentials.</p>

  <h3 tabindex="0">Resource & Community Content Guidelines</h3>
    <p tabindex="0">To the extent you elect to contribute any Resource to the Community, you confirm that all content
          contained in the Resource complies with these Terms, that you are either the original owner of the
          Resource you submit, or that you have the necessary rights and permissions to irrevocably contribute
          the Resource and share it with the Community. </p>
    <p tabindex="0">You understand that upon submitting any Resource, the Resource is immediately shared for review by
          the Service’s Partners. As such, by contributing a Resource, you are contributing to the effort to raise the
          quality of cybersecurity curriculum available to educators across the nation.</p>
    <p tabindex="0">While you retain any ownership rights in the original material contained in the Resource, when you
          submit a copy of the Resource, you give CLARK (and those we work with) <span class="underline"><i>irrevocable</i></span> rights to publicly
          display and distribute all content contained in the Resource.</p>
    <p tabindex="0">YOU FURTHER AGREE THAT YOU WILL ONLY UPLOAD SAMPLES THAT YOU WISH TO PUBLICLY SHARE
          AND THAT IN ANY CASE, YOU WILL NOT KNOWINGLY SUBMIT ANY SAMPLE TO THE SERVICE THAT
          CONTAINS CONFIDENTIAL, OR COMMERCIALLY SENSITIVE DATA OR PERSONAL DATA OF ANY
          INDIVIDUAL WITHOUT LAWFUL PERMISSION.</p>
    <p tabindex="0">CLARK is under no obligation to monitor use of the Service, user Content, or any Resources. We may
          monitor the Service to detect and prevent fraudulent activity or violations of these Terms and retain
          absolute discretion to remove Resources, Content, or users from the Service at any time and for any
          reason without notice. To promote the security of the Community and information sharing
          accountability, accounts and Resources contributed by the Community generally will not be removed
          from the Service, unless they are illegal, violate the lawful rights of an individual, serve any other
          unethical/malicious purpose, or otherwise violate these Terms.</p>
    <p tabindex="0">IF YOU DO NOT CONSENT TO THESE TERMS TO PUBLICALY SHARE A RESOURCE, DO NOT SEND OR
          CONTRIBUTE IT TO THE SERVICE AS THE SERVICE IS DESIGNED TO WORK THROUGH THE COLLECTIVE
          AGGREGATION AND SHARING OF RESOURCES WITH PARTNERS AND THE COMMUNITY.</p>
          
  <h3 tabindex="0">CLARK Rights</h3>
    <p tabindex="0">All rights, title, and interest in and to the Service (excluding third party brand names) are and will remain
      the exclusive property of CLARK and its licensors. Nothing in these Terms should be construed as
      conferring by implication or otherwise any license or right under any copyright, patent, trademark,
      database right, sui generis right, or other intellectual property or proprietary interest of CLARK, its
      licensors or any third party. We reserve the right to remove any Resources without prior notice and at
      our sole discretion. Nothing in our Terms gives you a right to use the CLARK trademarks, logos, domain
      names, and other distinctive brand features.</p>
    <p tabindex="0">Any feedback, comments, or suggestions you may provide to, or regarding CLARK or the Service is
      entirely voluntary. We are free to use any feedback, comments, or suggestions as we see fit and without
      obligation to you.</p>

  <h3 tabindex="0">Changes in Service</h3>
    <p tabindex="0">The Service provided by CLARK is constantly evolving, and the form and nature of the Service that CLARK
      provides may change from time to time without prior notice to you. Any changes to the Service,
      including the release of new Service features, are subject to the Terms then in effect. In addition, CLARK
      may stop (permanently or temporarily) providing the Service (or any features within the Service)
      without providing prior notice. We also retain the right to create limits on your use of the Service
      including storage, at our sole discretion, at any time without prior notice to you.</p>

    <h3>Cookies</h3>
    <p>
      We use cookies and other technologies on our application for functionality
      and performance. The first use of cookies on CLARK is for authorization
      purposes, this allows us to access your CLARK account information quickly and
      easily. This is also what makes it possible for you to browse our
      application without having to login between each page refresh or navigating our site. The
      cookie stored is created by us, the information stored in this cookie is 
      only viewed by us and not shared with any third party.
    </p>
    <p>
      Our second use of cookies on CLARK is to ensure optimal performance with the
      help of a third party. We use Google Analytics for aggregated, anonymized
      website traffic analysis. In order to track your session usage, Google drops
      a cookie (_ga) with a randomly-generated ClientID in your browser. This ID
      is anonymized and contains no identifiable information like email, phone
      number, name, etc. We also send Google your IP Address. We use GA to track
      aggregated website behavior, such as what pages you looked at, for how long,
      and so on. This information is important to us for improving the user
      experience and determining site effectiveness. If you would like to access
      what browsing information we have - or ask us to delete any GA data - please
      delete your _ga cookies, and/or install the
      <a
        aria-label="Link to Google Analytics Opt-Out browser add on"
        href="https://tools.google.com/dlpage/gaoptout"
      >
        Google Analytics Opt-Out Browser Add-On.
      </a>
    </p>
    <p>
      When cookies are accepted on CLARK you agree to our uses explained in these
      terms of service. When declining the use of cookies on CLARK via the banner’s
      button you are specifically declining our use of authorization. As a result
      you will be logged out and not able to access specific pages and
      functionality given to privileged users. To decline the use of Google
      Analytics on CLARK you are expected to take the following steps highlighted
      in the paragraph above and reach out to us with any further questions.
    </p>

  <h3 tabindex="0">Disclaimers</h3>
    <p tabindex="0">Your access to and use of the Service is at your own risk. You understand and agree that the Service is
      provided to you on an "AS IS" basis WITHOUT REPRESENTATION OR WARRANTY, WHETHER IT IS
      EXPRESS, IMPLIED, OR STATUTORY. WITHOUT LIMITING THE FOREGOING, CLARK SPECIFICALLY
      DISCLAIMS ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
      NON-INFRINGEMENT.</p>
    <p tabindex="0">WE DO NOT WARRANT OR GUARANTEE THAT THE SERVICES ARE ACCURATE, RELIABLE OR CORRECT;
      THAT THE SERVICES WILL MEET YOUR REQUIREMENTS; THAT THE SERVICES WILL BE AVAILABLE AT ANY
      PARTICULAR TIME OR LOCATION, UNINTERRUPTED, ERROR-FREE, WITHOUT DEFECT OR SECURE; THAT
      ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE SERVICES ARE FREE OF VIRUSES OR OTHER
      HARMFUL COMPONENTS.</p>
    <p tabindex="0">We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or
      other technologically harmful material that may infect your computer equipment, computer programs,
      data or other proprietary material due to your access to or use of the Service or any third-party content
      or websites accessed through, or in any way in conjunction with, the Service.</p>
    <p tabindex="0">Our Service may contain links to third-party websites or resources, which in turn may contain comments
      and/or posts with non-anchored linked URLs. You acknowledge and agree that we are not responsible or
      liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or
      services on or available from such websites or resources. Links to such websites or resources do not
      imply any endorsement by CLARK of such websites or resources or the content, products, or services
      available from such websites or resources. You acknowledge sole responsibility for and assume all risk
      arising from your use of any such websites or resources and acknowledge that user comments on URLs
      and Resources in the Service, on the Site, and through connected third-party resources, may contain
      URLs/links leading to malware. CLARK MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR
      IMPLIED, WITH RESPECT TO SUCH THIRD-PARTY WEBSITES, PRODUCTS OR CONTENT AND EXPRESSLY
      DISCLAIMS ANY WARRANTY OR CONDITION OF MERCHANTABILITY, NON-INFRINGEMENT, OR FITNESS
      FOR A PARTICULAR PURPOSE.</p>
    <p tabindex="0">Except as may be required by law, you further understand and agree that CLARK has no responsibility or
      liability for the deletion of, or the failure to store or transmit, any Resource, Content, other materials or
      communications maintained by the Service.</p>

  <h3 tabindex="0">About These Terms</h3>
    <p tabindex="0">Please note that we may update and amend these Terms from time to time and any changes will be
      posted on the Site. By continuing to access the Service after any changes become effective, you agree to
      be bound by the revised Terms.</p>
    <p tabindex="0">The failure of CLARK to enforce any right or provision of these Terms will not be deemed a waiver of
      such right or provision. In the event that any provision of these Terms is held to be invalid or
      unenforceable, the remaining provisions of these Terms will remain in full force and effect.</p>
    <p tabindex="0">These Terms and any dispute or claim arising out of or in connection with them or their subject matter
      or formation (including non-contractual disputes or claims) shall be governed by and construed in
      accordance with the laws of The United States of America. The courts of The United States of America
      will have exclusive jurisdiction over any claim arising from, or related to, the Service although we retain
      the right to bring proceedings against you for breach of the Terms in your country of residence or any
      other relevant country.</p>
    <p tabindex="0">If you have any doubts as to whether your use of the Service complies with these Terms or have a
      concern with any aspect of the Site or the Service, please Contact Us.</p>
</div>   
    
    
    

