@import '~_globals.scss';
.upload-container {
  max-width: 75%;
  margin: auto;
  min-height: 350px;
  border: 2px dashed $blue-accent;
  border-radius: 2px;
}

.upload-container:hover {
  cursor: pointer;
}

.dropzone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.dropzone-message {
  margin: auto;
  align-self: center;
  font-weight: 200;
  font-size: 26px;
  color: #a5a3a3;
  pointer-events: none;
}

::ng-deep .dz-progress,
::ng-deep .dz-message,
::ng-deep .dz-success-mark,
::ng-deep .dz-error-mark,
::ng-deep .dz-preview {
  display: none !important;
}
