/* You can add global styles to this file, and also import other style files */

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #353535;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #808080;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #858585;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page-content {
  margin-left: 20%;
}

div.submit,
input.submit,
a.cancel {
  color: #fff;
  text-align: center;
  padding: 0.7em;
  font-weight: 700;
  font-size: 1.2em;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  border: none;
  margin-right: 1em;
  border-radius: 5px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

div.submit,
input.submit {
  background-color: #2ecc71;
}

div.submit,
input.submit:hover,
a.cancel:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

div.submit,
input.submit:hover {
  background-color: #27b161;
}

div.submit,
input.submit:active {
  background-color: #239753;
}

div.submit,
input.submit:focus {
  outline: none;
}

div.submit.disabled,
input.submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a.cancel {
  text-decoration: none;
  background-color: #e74c3c;
}

a.cancel:hover {
  background-color: #c03c30;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.btn:active {
  opacity: 0.3;
}
