@import 'vars.scss';
@import '../../home';

$top-height: 500px;
$banner-height: 90px;

.splash {
  background: url('/assets/images/students_working.jpg') no-repeat;
  background-size: cover;
  background-position: right 35% center;
  width: 100%;
  position: relative;
  padding: 0 20px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &:after {
    // overlay gradient
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $light-blue-gradient;
    opacity: 0.8;
    z-index: 1;
  }
}

.splash__search {
  position: relative;
  z-index: 3;
  max-width: 750px;
  width: 100%;
  margin-top: -280px;

  .search__text {
    color: white;
    margin-bottom: 20px;

    &.label-text {
      margin-bottom: 10px;
      font-weight: 200;
      font-size: $large;
    }
  }

  .search__input {
    background: white;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
    width: 100%;
    box-sizing: border-box;

    &:focus-within {
      transform: scale(1.01);
      box-shadow: 0 6px 20px 5px rgba(0, 0, 0, 0.3);
    }

    input {
      appearance: none;
      padding: 12px 18px 12px 8px;
      width: 100%;
      border: 0;
      outline: 0;
      font-size: $normal;
    }
  
    .svg-inline--fa,
    .icon {
      color: $dark-grey;
    }
  }

  .search__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;

    & > *:not(:first-child) {
      margin-left: 15px;
    }

    .button {
      color: $light-blue;
      padding: 10px 25px;
    }

    a {
      color: white;
      text-decoration: underline;
      font-size: $normal;
    }
  }
}