@if (!hidden) {
  <div class="dashboard-item" [ngClass]="{'dashboard-item--revision': learningObject.revisionUri }">
    <!--FIXME Change click to activate-->
    <div tabindex="0" class="row-item">
      <clark-checkbox [disabled]="showCheck" [value]="selected" (action)="toggleSelect($event)"></clark-checkbox>
      <div>
        <div tabindex="0" class="status"
          [attr.aria-label]="'Learning Object Status: ' + learningObject.status + '. ' + statusDescription"
          [ngClass]="learningObject.status" [tip]="statusDescription" [tipDisabled]="!statusDescription"
          tipPosition="to;">
          @if (learningObject.revisionUri) {
            <div class="dashboard-item__revision-badge"></div>
          }
          @if (learningObject.status === 'unreleased') {
            <span><i class="fa-solid fa-eye-slash"></i></span>
          }
          @if (learningObject.status === 'waiting') {
            <span><i class="fa-regular fa-hourglass"></i></span>
          }
          @if (learningObject.status === 'review') {
            <span><i class="fa-solid fa-arrows-rotate"></i></span>
          }
          @if (learningObject.status === 'proofing') {
            <span><i class="fa-solid fa-shield"></i></span>
          }
          @if (learningObject.status === 'released') {
            <span><i class="fa-solid fa-eye"></i></span>
          }
          @if (learningObject.status === 'rejected') {
            <span><i class="fa-solid fa-ban"></i></span>
          }
          @if (learningObject.status === 'accepted_major') {
            <span><i class="fa-solid fa-check"></i></span>
          }
          @if (learningObject.status === 'accepted_minor') {
            <span><i class="fa-solid fa-check-double"></i></span>
          }
        </div>
      </div>
      <div class="name" role="button" activate [routerLink]="['./']"
        [queryParams]="learningObject.status === 'released' ? { activeLearningObject: learningObject.cuid, version: learningObject.version } : {}"
        [ngClass]="[actionPermissions('infoPanel') ? 'clickable' : 'notClickable']">
        {{ learningObject?.name }}
        @if (parents?.length) {
          <span [tip]="parents.join(', ')" tipPosition="top" class="hierarchy-parents">{{
          parents.length }} parent{{ parents.length !== 1 ? 's' : '' }}</span>
        }
        @if (children?.length) {
          <span [tip]="children.join(', ')" tipPosition="top" class="hierarchy-children">{{
          children.length }} {{ children.length !== 1 ? 'children' : 'child' }}</span>
        }
      </div>
      @if (hasAuthor) {
        <div>
          {{ learningObject.author.name | titlecase }}
        </div>
      }
      <div>{{ learningObject.length | titlecase }}</div>
      <div>{{ learningObject.date | date:'longDate' }}</div>
      <div>
        @if (learningObject.status === 'review') {
          <div [tip]="statusDescription"
            [tipDisabled]="!statusDescription" tipPosition="top">
            <ng-container *ngTemplateOutlet="meatball"></ng-container>
          </div>
        } @else {
          @if (!disabled && meatball) {
            <div #meatballMenuElement class="meatball"
              [ngClass]="{'open': meatballOpen, 'disabled': learningObject.status === 'review'}"
              (activate)="learningObject.status !== 'review' && this.toggleContextMenu($event)">
              <div class="icon">
                <i class="fa-regular fa-xmark"></i>
              </div>
              <div class="orb"></div>
            </div>
            @if (meatballOpen) {
              <clark-context-menu [anchor]="meatballMenuElement" [offset]="{ top: 2, left: 10 }"
                (close)="meatballOpen = false">
                <div #contextMenu>
                  <ul (activate)="toggleContextMenu($event)">
                    @if (actionPermissions('edit')) {
                      <li
                        [routerLink]="['/onion/learning-object-builder', learningObject.cuid, learningObject.version]"
                        activate><i class="far fa-pencil"></i>Edit</li>
                      }
                      @if (actionPermissions('infoPanel')) {
                        <li activate [routerLink]="['./']"
                          [queryParams]="{ activeLearningObject: learningObject.cuid, version: learningObject.version }"><i
                        class="fas fa-info-circle"></i>Info</li>
                      }
                      @if (actionPermissions('manageMaterials')) {
                        <li
                          [routerLink]="['/onion/learning-object-builder', learningObject.cuid, learningObject.version, 'materials']"
                          activate><i class="far fa-upload"></i>Manage Materials</li>
                        }
                        @if (actionPermissions('submit')) {
                          <li (activate)="submit.emit()"><i
                          class="fa-regular fa-eye"></i>Submit for Review</li>
                        }
                        @if (actionPermissions('submitHierarchy')) {
                          <li (activate)="submitHierarchy.emit()"> <i
                          class="fa fa-level-down"></i>Submit Full Hierarchy</li>
                        }
                        <li (activate)="viewAllChangelogs.emit(learningObject.id)"><i class="far fa-comment-alt-lines"></i>View
                      Changelogs</li>
                      @if (actionPermissions('view')) {
                        <li
                          [routerLink]="['/details', learningObject.author.username, learningObject.cuid, learningObject.version]">
                          <i class="far fa-cube"></i>Learning Object Details</li>
                        }
                        @if (actionPermissions('delete')) {
                          <li class="bad" (activate)="delete.emit()"><i
                          class="far fa-trash-alt"></i>Delete</li>
                        }
                        @if (actionPermissions('cancelSubmission')) {
                          <li class="bad" (activate)="cancelSubmission.emit()"><i
                          class="fa-solid fa-ban"></i>Cancel Submission</li>
                        }
                      </ul>
                    </div>
                  </clark-context-menu>
                }
              }
            }
            <ng-template #meatball>
              @if (!disabled && meatball) {
                <div #meatballMenuElement class="meatball"
                  [ngClass]="{'open': meatballOpen, 'disabled': learningObject.status === 'review'}"
                  (activate)="learningObject.status !== 'review' && this.toggleContextMenu($event)">
                  <div class="icon">
                    <i class="fa-regular fa-xmark"></i>
                  </div>
                  <div class="orb"></div>
                </div>
                @if (meatballOpen) {
                  <clark-context-menu [anchor]="meatballMenuElement" [offset]="{ top: 2, left: 10 }"
                    (close)="meatballOpen = false">
                    <div #contextMenu>
                      <ul (activate)="toggleContextMenu($event)">
                        @if (actionPermissions('edit')) {
                          <li
                            [routerLink]="['/onion/learning-object-builder', learningObject.cuid, learningObject.version]"
                            activate><i class="far fa-pencil"></i>Edit</li>
                          }
                          @if (actionPermissions('infoPanel')) {
                            <li activate [routerLink]="['./']"
                              [queryParams]="{ activeLearningObject: learningObject.cuid, version: learningObject.version }"><i
                            class="fas fa-info-circle"></i>Info</li>
                          }
                          @if (actionPermissions('manageMaterials')) {
                            <li
                              [routerLink]="['/onion/learning-object-builder', learningObject.cuid, learningObject.version, 'materials']"
                              activate><i class="far fa-upload"></i>Manage Materials</li>
                            }
                            @if (actionPermissions('submit')) {
                              <li (activate)="submit.emit()"><i
                              class="fa-regular fa-eye"></i>Submit for Review</li>
                            }
                            @if (actionPermissions('submitHierarchy')) {
                              <li (activate)="submitHierarchy.emit()"> <i
                              class="fa fa-level-down"></i>Submit Full Hierarchy</li>
                            }
                            <li (activate)="viewAllChangelogs.emit(learningObject.id)"><i class="far fa-comment-alt-lines"></i>View
                          Changelogs</li>
                          @if (actionPermissions('view')) {
                            <li
                              [routerLink]="['/details', learningObject.author.username, learningObject.cuid, learningObject.version]">
                              <i class="far fa-cube"></i>Learning Object Details</li>
                            }
                            @if (actionPermissions('delete')) {
                              <li class="bad" (activate)="delete.emit()"><i
                              class="far fa-trash-alt"></i>Delete</li>
                            }
                            @if (actionPermissions('cancelSubmission')) {
                              <li class="bad" (activate)="cancelSubmission.emit()"><i
                              class="fa-solid fa-ban"></i>Cancel Submission</li>
                            }
                          </ul>
                        </div>
                      </clark-context-menu>
                    }
                  }
                </ng-template>
              </div>
            </div>
          </div>
        }