<div class="wrapper">
  <div class="learning-object-info">
    <h1>Modular self-contained cyber curricula</h1>
    <p>
      A Learning Object is a self-contained piece of curriculum that has clearly identified learning outcomes.
      They provide an easy to use structure that allows re-mix and re-use in classes. This modular approach allows
      for the curriculum to be used by itself or in conjunction with other learning objects.
    </p>
  </div>

  <div class="featured-object">
    <div class="featured-text">
      @if (featuredObject?.levels) {
        <p class="levels">
          <b>{{ displayFeaturedObjectLevels().toUpperCase() }}</b>
        </p>
      }
      @if (featuredObject?.author) {
        <h3>
                <a [routerLink]="[
                '/details',
                featuredObject.author.username,
                featuredObject.cuid,
                featuredObject.version
                ]">
            {{ featuredObject?.name }}
          </a>
        </h3>
      }
      @if (featuredObject?.description) {
        <p [innerHTML]="featuredObject?.description">
        </p>
      }
      <p class="outcomeText">
        Students will be able to...
      </p>
      <ul>
        @for (outcome of featuredObject?.outcomes; track outcome) {
          <li>
            {{ outcome.verb | titlecase }} {{ outcome.text }}
          </li>
        }
      </ul>
    </div>
    @if (featuredObject?.contributors[0].email) {
      <div class="featured-contributors">
        <!-- Displays only the first 3 contributors -->
        @for (contributor of featuredObject?.contributors | slice:0:getNumAuthorsToDisplay(); track contributor) {
          <div>
            <clark-author-card
              [page]="page"
            class="contributor-card" [author]="contributor" [profileImageURL]="getGravatarImage(contributor.email)"></clark-author-card>
          </div>
        }
        <!-- Any unmentioned contributors will be counted here -->
        @if (featuredObject?.contributors.length > getNumAuthorsToDisplay()) {
          <p class="plusMore">+ {{ featuredObject?.contributors.length - getNumAuthorsToDisplay() }} more</p>
        }
      </div>
    }
  </div>

  <button
    (click)="this.googleTagService.triggerGoogleTagEvent('browse_learning_objects', 'homepageRedirect', 'browseLos')"
    class="learning-object-button"
    [routerLink]="'/browse'">
    BROWSE {{ numReleasedObjects | number }}+ LEARNING OBJECTS
  </button>
</div>
