<div class="diversity-container">
  <div class="vertical-container">
    
    <div class="top-section">
      <img class="ls-img" src="../../../../../assets/images/base-clark-fem-glasses.png" alt="CLARK Logo">
      <img class="ts-img" src="../../../../../assets/images/base-clark-b-fem.png" alt="CLARK Logo">
      <img class="ls-img" src="../../../../../assets/images/Glasses.png" alt="CLARK Logo">
    </div>

    <div class="middle-section">
      <div class="title">
        <h1>What Diversity Means to us</h1>
      </div>
      <div class="text-container">
        <p>CLARK has always been committed to diversity within the team. Throughout the years, CLARK has employed and supported many individuals regardless of their race, gender identity, religion, nationality, disability, age, or sexual orientation. It's this diversity that makes our team close-knit, helps us solve difficult problems, and come up with creative solutions. We are an inclusive group of developers and we will always be committed to diversity and inclusivity within the     cyber community.</p>
      </div>
    </div>

    <div class="bottom-section">
    </div>

  </div>
</div>