<div class="diversity-container">
  <div class="vertical-container">
    
    <div class="top-section">
      <img class = "ts-img" src="../../../../../assets/images/base-clark-b-fem.png" alt="Diverse Logo 1">
    </div>

    <div class="middle-section">
      <div class="title">
        <h1>What Diversity Means to us</h1>
      </div>
      <div class="text-container">
        <p>CLARK has always been committed to diversity within the team. Throughout the years, CLARK has employed and supported many individuals regardless of their race, sex, gender identity, or sexual orientation (maybe religion too? Not sure if anyone on the team is religious other then Bart). It's this diversity that makes our team close knit, helps us solve difficult problems, and come up with creative solutions. We are an inclusive group of developers and we will always be committed to diversity and inclusivity within the     cyber community.</p>
      </div>
    </div>

    <div class="bottom-section">
      <img class = "bsl-img" src="../../../../../assets/images/Glasses.png" alt="Diverse Logo 2">
      <img class = "bsr-img" src="../../../../../assets/images/base-clark-fem-glasses.png" alt="Diverse Logo 3">
    </div>

  </div>
</div>