<div>
  <div class="header">
      <h1>
          {{ title }}
      </h1>
      <p>
        CLARK thrives on the collective expertise of educators like you, dedicated to shaping the future of cybersecurity education!<br>
        We believe in the power of shared knowledge and are excited to invite professors to contribute their valuable curriculum.
      </p>
      <div id="CCc">
        <h3 id="CC">
          Curriculum Contribution
        </h3>
        <h3 id="CCs">
          Discover how CLARK maintains updated and relevant curricula contributed by users like you by clicking the link below.
        </h3>
        <a target="_blank" href="https://securedteam.notion.site/Curriculum-Relevancy-on-CLARK-b9e610ba32ae40029db54340b5656d27">
          <button id= "CCb" type="button">
           MORE INFORMATION HERE!
          </button>
        </a>
      </div>
      <div id="RRc">
        <h3 id="RR">
          Ratings & Reviews
        </h3>
        <h3 id="RRs">
          Want to contribute a different way?<br>
          Ratings and Reviews are another crucial part in promoting high-quality content on CLARK.
        </h3>
        <a target="_blank" href="https://securedteam.notion.site/CLARK-Ratings-and-Reviews-902a773fcc7a4c3497408805b99454d2">
          <button id= "RRb" type="button">
            CLICK HERE TO LEARN MORE!
          </button>
        </a>
      </div>
      <p>
        Join us in the mission to elevate cybersecurity education and make a lasting impact on the next generation of cybersecurity professionals.<br>
        View below for a step by step process on how to contribute.</p>
  </div>
<div class="accordion">
  <mat-tab-group class = "tabs" mat-align-tabs="center" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z3">
    <!-- First for-loop for placing in the title to a section in the copy.ts file -->
  <mat-tab *ngFor="let tab of tabs" [label]="tab.title">
    <!-- Second for-loop for placing in the section to a tab in the copy.ts file -->
    <mat-accordion *ngFor="let sec of tab.topics">
      <h3>
        {{sec.title}}
      </h3>
      <!-- Third for-loop for placing in the questions to a section in the copy.ts file -->
      <mat-expansion-panel *ngFor="let questions of sec.questions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{questions.question}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <span [innerHTML]="questions.answer"></span>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
</div> 