<div class="wrapper">
    <div [ngClass]="{'failed': showError}" class="content-box">
        <clark-error-banner
            errorMessage="Something went wrong! We're looking into the issue. Please check back later"
            class="errBanner"
        ></clark-error-banner>
        <img src="../../../assets/images/logo.png" alt="CLARK Logo" />

        <!-- <form [formGroup]="emails">
            <mat-form-field>
                <input matInput type="text" placeholder="Email" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Confirm Email" formControlName="confirmEmail" />
            </mat-form-field>
        </form> -->
        <div *ngIf="!showDone">
            <h1>Request Password Reset</h1>
            
            <clark-input-field
            phold="Email"
            fControlType="email"
            ngModel
            #email="ngModel"
            >
            </clark-input-field>

            <clark-input-field
                phold="Confirm Email"
                fControlType="email"
                confirmType="Email"
                ngModel
                #confirmEmail="ngModel"
            >
            </clark-input-field>
            
            <button (click)="switch()">Request Password Reset</button>
        </div>

        <div *ngIf="showDone">
            <h2>Email is on the way!</h2>
            <p>Check your inbox and spam folders</p>
            <button (click)="switch()">Login</button>
        </div>
        
        
    </div>
</div>


