<div class="wrapper">
    <div class="content-box">
        <img src="../../../assets/images/logo.png" alt="CLARK Logo" />

        <!-- <form [formGroup]="emails">
            <mat-form-field>
                <input matInput type="text" placeholder="Email" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Confirm Email" formControlName="confirmEmail" />
            </mat-form-field>
        </form> -->

        <clark-input-field
            phold="Email"
            fControlType="email"
            #email
        >
        </clark-input-field>

        <clark-input-field
            phold="Email"
            fControlType="email"
            confirmType="email"
        >
        </clark-input-field>
        
    </div>
</div>


