<div class="wrapper">
    <div [ngClass]="{'failed': showError}" class="content-box">
        <clark-error-banner
            errorMessage="Something went wrong! We're looking into the issue. Please check back later"
            class="errBanner"
        ></clark-error-banner>
        <img src="../../../assets/images/logo.png" alt="CLARK Logo" />

        <!-- <form [formGroup]="emails">
            <mat-form-field>
                <input matInput type="text" placeholder="Email" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Confirm Email" formControlName="confirmEmail" />
            </mat-form-field>
        </form> -->

        <clark-input-field
            phold="Email"
            fControlType="email"
            ngModel
            #email="ngModel"
        >
        </clark-input-field>

        <clark-input-field
            phold="Confirm Email"
            fControlType="email"
            confirmType="Email"
            ngModel
            #confirmEmail="ngModel"
        >
        </clark-input-field>
        
    </div>
</div>


