@import 'vars.scss';

.wrapper {
    height: 100vh;
    padding: 50px, 0;
    width: inherit;

    &:before {
        content: '';
        background: linear-gradient(90deg, white, $light-blue, white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        z-index: 0;
        opacity: 0.15;
    }

    &:after {
        content: '';
        background: repeating-linear-gradient(white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .content-box {
        z-index: 1;
        border-radius: 12px;
        margin: 5vh;
        padding: 50px;

        img {
            width: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    //     .form-field {
    //         padding: 5vh 1vh;
    
    //         .error-heading {
    //             background-color: red;
    //             color: white;
    //             width: inherit;
    //             text-align: center;
    //         }

    //         mat-form-field {
    //             width: 100%;
    //             margin: 10px;
    //         }

    //         button {
    //             display: block;
    //             width: 100%;
    //             margin: 3vh 0 2vh;
    //             font-size: large;
    //             // margin: 2vh;
    //             // padding: 1vh 10vh;

    //         }

    //         button:hover {
    //             opacity: 80%;
    //             cursor: pointer;
    //         }

    //         button:active {
    //             opacity: 120%;
    //         }

    //         .done {
    //             text-align: center;

    //             h2 {
    //                 font-weight: 400;
    //                 font-size: 30px;
    //                 margin-bottom: 10px;
    //             }

    //             p {
    //                 font-weight: 400;
    //                 font-size: 20px;
    //                 margin-top: 0px;
    //             }
                
    //         }
    //     }
    }    
}
