<div class="collections-grid">
  @if (!loading) {
    @if (collections) {
      <div class="collection-chooser">
        @for (c of collections; track c) {
          <div
        [tip]="
          preselectReason || 'This collection cannot be selected right now.'
        "
            [tipDisabled]="!isPreselected(c.abvName)"
            tipPosition="top"
            >
            <div
              class="collection-chooser__collection"
          [ngClass]="{
            selected: currentCollection === c.abvName,
            'collection-chooser__collection--preselected': isPreselected(
              c.abvName
            )
          }"
              (activate)="!isPreselected(c.abvName) && select(c.abvName)"
              >
              @if (c.hasLogo) {
                <div
                  class="collection__logo"
            [ngStyle]="{
              backgroundImage:
                'url(assets/images/collections/' + c.abvName + '.png)'
            }"
                ></div>
              } @else {
                <clark-generic-collection-logo size="small"></clark-generic-collection-logo>
              }
              <div class="collection__name">{{ c.name }}</div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="none-template">
        <span><i class="far fa-times"></i></span>
        We weren't able to get a list of collections. Please try again later.
      </div>
    }
  } @else {
    <div class="loading-template">
      <span><i class="far fa-spinner-third fa-spin"></i></span>
      Loading collections...
    </div>
  }

  <!-- loading -->

</div>

