@import '~_globals.scss';

.magic-label {
    margin-right: 10px;
    color: $dark-text;
    font-size: 16px;
    font-weight: bold;
}

::ng-deep .sub-title {
    color: $green;
    font-size: 18px;
    margin-bottom: 10px;
}

.container {
    padding: 0px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;

    select {
        min-width: 200px;
    }

    .container-flexer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 30px;
        margin-bottom: 30px;

        .squares {
            justify-content: flex-start;

            .square {
                cursor: pointer;
            }
        }

        .left {
            width: 100%;
        }
    }

    &:before, &:after {
        display: none;
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

}

.content{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 225px;
    margin: auto;
}
.counter{
    display: flex;
    direction: row;
    align-items: center;
}
.outcome_input {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    direction: row;
    justify-content: flex-start;

    select {
        width: 150px;
    }

    input, select {
        align-self: flex-start;
        margin-left: 10px;
    }

    .suggest-button {
        margin-top: -2px;
        margin-left: 10px;
    }
}
.outcome_bloom {
    display: flex;
    direction: row;
    justify-content: flex-start;
    width: 100%;

    .glyphicon {
        margin-left: 10px;
    }
}

.list-group-item{
    margin-bottom: 10px;
}

.hr_break{
    background-color: lightgray;
    height: 1px;
    width: 100%;
}

.ctrl_buttons{
    display: flex;
    direction: row;
    align-items: center;
}

.strat-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    .select-wrapper:not(:first-child) {
        margin-left: 10px;
    }

    .strat-list-left {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

.strat-item {
    padding: 20px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.assessment-plan, .instructional-strategies {
     margin-top: 10px;
}

.assess-list, .question-list {
    .btn-group.to-right {
        margin-top: 20px;
    }
}

.wide{
    width:435px;
}
