<clark-file-browser
  [currentNode$]="currentNode$"
  [filesystem$]="directoryTree$"
  [folderMeta$]="folderMeta$"
  (meatballClick)="openFileOptions($event)"
  (newOptionsClick)="openNewOptions($event)"
  (path)="emitPath($event)"
  canManage="true"
  (packageableToggled)="packageableToggled.emit($event)"
  [inBuilder]="true"
></clark-file-browser>

@if (showNewOptions) {
  <clark-context-menu
    [anchor]="menuAnchor"
    (close)="closeContextMenu()"
    >
    <ul #contextMenu>
      <li (activate)="openFileDialog()"><i class="fas fa-file"></i> New File</li>
      <li (activate)="openFolderDialog()">
        <i class="fas fa-folder"></i> New Folder
      </li>
    </ul>
  </clark-context-menu>
}

@if (showFileOptions) {
  <clark-context-menu
    [anchor]="menuAnchor"
    (close)="closeContextMenu()"
    >
    <ul #contextMenu>
      @if (!isDirectory(menuItem)) {
        <li
          (activate)="handleDownloadClick(menuItem)"
          >
          <i class="far fa-download"></i>Download
        </li>
      }
      <li (activate)="triggerDelete(menuItem)" class="bad">
        <i class="far fa-trash-alt"></i>Delete
      </li>
    </ul>
  </clark-context-menu>
}
