<clark-file-browser [files$]="files$" [folderMeta$]="folderMeta$" (meatballClick)="openFileOptions($event)" (newOptionsClick)="openNewOptions($event)" (path)="emitPath($event)" (descriptionUpdated)="saveDescription($event.description, $event.file)"
  canManage="true"></clark-file-browser>

<!-- New Options Context Menu -->
<context-menu (close)="toggleEditDescription(false)" #newOptions>
  <ng-template contextMenuItem (execute)="openFileDialog()">
    <div class="context-item">
      <div class="option">
        <i class="fas fa-file icon  icon-left light"></i>
        File
      </div>
    </div>
  </ng-template>
  <ng-template contextMenuItem (execute)="openFolderDialog()">
    <div class="context-item">
      <div class="option">
        <i class="fas fa-folder  icon icon-left light"></i>
        Folder
      </div>
    </div>
  </ng-template>
</context-menu>


<!-- File Options Context Menu -->
<context-menu (close)="toggleEditDescription(false)" #fileOptions>
  <ng-template contextMenuItem passive="true">
    <div *ngIf="!editDescription" class="context-item" (click)="toggleEditDescription(true)">
      <div>
        Edit description
      </div>
      <div>
        <i class="far fa-edit"></i>
      </div>
    </div>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleDownloadClick($event.item)" let-item>
    <div *ngIf="!item?.children" class="context-item" >
      <div>
        Download
      </div>
      <div>
        <i class="far fa-download"></i>
      </div>
    </div>
  </ng-template>
  <ng-template contextMenuItem (execute)="triggerDelete($event.item)">
    <div *ngIf="!editDescription" class="context-item bad">
      <div>
        Delete
      </div>
      <div>
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
  </ng-template>

  <ng-template let-item contextMenuItem passive="true">
    <div *ngIf="editDescription" class="context-item stacked">
      <form #decriptionInput="ngForm" (submit)="saveDescription(description.value, item); closeContextMenu()">
        <div class="description-input">
          <input #description name="description" ([ngModel])="item?.description" type="text" name="file-description" placeholder="Enter description"
          aria-label="Enter Description" [value]="item?.description ? item?.description : ''" />
        </div>
        <div class="buttons">
          <button type="button" class="button bad slim" (click)="closeContextMenu()">
            Cancel
          </button>
          <button type="button" class="button good slim" (click)="saveDescription(description.value, item); closeContextMenu()">
            Save
          </button>
        </div>
      </form>
    </div>
  </ng-template>

</context-menu>
