<clark-file-browser [currentNode$]="currentNode$" [filesystem$]="directoryTree$" [folderMeta$]="folderMeta$" (meatballClick)="openFileOptions($event)" (newOptionsClick)="openNewOptions($event)" (path)="emitPath($event)" (descriptionUpdated)="saveDescription($event.description, $event.file)"
  canManage="true"></clark-file-browser>

<clark-context-menu *ngIf="showNewOptions" [anchor]="menuAnchor" (close)="closeContextMenu()">
  <ul #contextMenu>
    <li (activate)="openFileDialog()"><i class="fas fa-file"></i> New File</li>
    <li (activate)="openFolderDialog()"><i class="fas fa-folder"></i> New Folder</li>
  </ul>
</clark-context-menu>

<clark-context-menu *ngIf="showFileOptions" [anchor]="menuAnchor" (close)="closeContextMenu()">
  <ul #contextMenu>
    <li (activate)="toggleEditDescription(true)"><i class="far fa-edit"></i>Edit Description</li>
    <li *ngIf="!isDirectory(menuItem)" (activate)="handleDownloadClick(menuItem)"><i class="far fa-download"></i>Download</li>
    <li (activate)="triggerDelete(menuItem)" class="bad"><i class="far fa-trash-alt"></i>Delete</li>
  </ul>
</clark-context-menu>

<clark-popup *ngIf="editDescription" (closed)="toggleEditDescription(false)">
  <div class="description-popup-inner" #popupInner>
    <div class="modal-title">
      Edit Description
    </div>
    <div class="file-name">
      <span *ngIf="isDirectory(menuItem)"><i class="fas fa-folder"></i></span>
      <span *ngIf="!isDirectory(menuItem)"><i class="fas fa-file"></i></span>
      {{ menuItem.fullPath || menuItem.path }}
    </div>
    <textarea #descriptionTextArea placeholder="Enter description here" [attr.aria-label]="'Enter description for the ' + (isDirectory(menuItem) ? 'folder' : 'file') + ' ' + (menuItem.fullPath || menuItem.path) + ' here'" [value]="menuItem.description"></textarea>
    <div class="btn-group center">
      <button (activate)="saveDescription(descriptionTextArea.value, menuItem)" class="button good">Save Description <i class="far fa-arrow-right"></i></button> 
    </div>
  </div>
</clark-popup>
