@import '~_vars.scss';

.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.25s ease;
  background-color: white;
  appearance: none;
  border: 0;
  width: 100%;

  &:hover:not(:active) {
    transform: scale(1.02);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  }

  &:active {
    transition-duration: 0.1s;
    outline: 0;
  }

  img {
    height: 120px;
  }

  .title__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    background: $wrapper-background;
    color: $light-blue;
    width: 80px;
    height: 80px;
    border-radius: 50px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.card__name {
  color: $dark-grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $larger;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .collection-card {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);

    img {
      height: 60px;
    }

    .title__icon {
      width: 60px;
      height: 60px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
