@import 'vars.scss';

h1 {
    text-align: center;
    margin-bottom: 85px;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 40px;

    .card{
        width: 415px;
        height: 300px;
    }
}

.wrapper {
    margin: 0 20px;

        .help-wrapper {
            position: relative;
        }
}