@import '~_vars.scss';

.featured {
    background-color: white !important;
    .header {
        margin-bottom: 40px;
        font-size: $largest;
        font-weight: 600;
    }
    .inner {
        max-width: 1600px;
        text-align: center;
        padding: 50px;
        margin: auto;
        min-height: 400px;

        .objects {
            display: flex;
            flex-direction: space-between;
            flex-wrap: wrap;
            justify-content: center;

            a {
                text-decoration: none;
            }
        }
    }
}