<div class="featured">
    <div class="inner">
        <h1 class="header" id="header">Featured Learning Objects</h1>
        <div class="objects">
            <div *ngFor="let object of learningObjects">
                <a [routerLink]="['/details', object.author.username, object.cuid]">
                    <!-- change to conditional based on collection after debug -->
                    <clark-feature-cards-fiveotwo [learningObject]="object" [primaryColor]="primaryColor"></clark-feature-cards-fiveotwo>
                </a>
            </div>
        </div>
    </div>
</div>
