@import 'vars.scss';
@import '../../../collection-globals.scss';

:root {
    
    --background-color: white;
    --secondary-text: #32363f;
    --primary-text: black;
    --border: #672F90;
}

[data-theme="light"]{

    --background-color: white;
    --secondary-text: #32363f;
    --primary-text: black;
    --border: #672F90;
}

[data-theme="dark"] {

    --background-color: #32363F;
    --secondary-text: #FFFFFF;
    --primary-text: white; 
    --border: #F7EC2F;
}

.featured {
    background-color: var(--background-color);

    .header {
        margin-bottom: 40px;
        font-size: $largest;
        font-weight: 600;
        color: var(--primary-text);
    }

    .inner {
        max-width: 1600px;
        text-align: center;
        padding: 50px;
        margin: auto;
        min-height: 400px;

        .body {

            .objects {
                display: flex;
                flex-direction: space-between;
                flex-wrap: wrap;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: var(--secondary-text);
                }
            }

            .browse {
                padding-top: 20px;
                padding-right: 50px;
                display: flex;
                justify-content: right;
                

                .button {
                    background: none;
                    color: var(--border);
                }
            }
        }
    }
}