@import '~_vars.scss';
.mappings-toolbar {
  display: flex;
  flex-flow: row nowrap;

  .tab {
    font-size: 16px;
    opacity: .8;
    padding: 10px 30px 15px 30px;
    cursor: pointer;
    position: relative;
    border: 3px solid transparent;

    &.active {
      opacity: 1;
      border-color: $blue-accent;
      border-bottom: 0;
      z-index: 2;
      border-radius: 3px 3px 0px 0px;
      color: $blue-accent;

      &:after {
        position: absolute;
        content: '';
        background: white;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 6px;
      }
    }
  }
}

.mappings-content {
  padding: 16px;
  min-height: 200px;
  border: 3px solid $blue-accent;
}

::ng-deep .empty {
  opacity: 0.6;
  padding: 10px 0px 30px;
}