<div class="standard-outcomes">
  <div class="title">Curricular Guidelines</div>
  <div class="search-bar">
    <input type="search" placeholder="Search curricular guidelines..." [(ngModel)]="searchStringValue" (ngModelChange)="searchString$.next($event)" id="search" aria-label="Search for standard outcomes"/>
    <i class="far fa-search"></i>
  </div>
  <div class="title-bar">
    {{ searchStringValue !== '' ? searchResults.length : suggestions.length }}
    {{ searchStringValue !== '' ? 'Results for ' + searchStringValue : 'suggestions' }}
  </div>
  <div class="results">
    <ng-container [ngTemplateOutlet]="listTemplate" [ngTemplateOutletContext]="{ items: searchStringValue !== '' ? searchResults : suggestions }"></ng-container>
  </div>
</div>
<clark-skip-link title="Go back to Learning Outcome" skipLocation="outcome"></clark-skip-link>
<clark-skip-link title="Go to Add New Learning Outcome" skipLocation="form"></clark-skip-link>
<clark-skip-link title="Go to Search for Standard Outcomes" skipLocation="search"></clark-skip-link>
<clark-skip-link title="Skip to Submit for Review" skipLocation="submit"></clark-skip-link>

<ng-template #listTemplate let-items="items">
  <virtual-scroller #scroll [style.height]="'400px'" [items]="items" [enableUnequalChildrenSizes]="true">
    <ng-container *ngIf="!loading; else loadingTemplate">
      <div *ngFor="let i of scroll.viewPortItems">
        <clark-outcomes-list-item [outcome]="i" [selected]="selectedOutcomeIDs.includes(i.id)" (toggleMap)="toggleStandardOutcome(i, $event)"></clark-outcomes-list-item>
      </div>
    </ng-container>
  </virtual-scroller>
</ng-template>

<ng-template #loadingTemplate>
  <div class="loading-template">
    <span>
      <i class="far fa-spinner-third fa-spin"></i>
    </span>
    <div>
      Loading {{ loading === 'suggest' ? 'suggestions...' : loading === 'search' ? 'search results...' : '...' }}
    </div>
  </div>
</ng-template>