@import '~_vars.scss';

.title {
  font-size: $large;
  color: $darker-grey;
  font-weight: 600;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.addButton {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.no-outcomes {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;

  .no-outcomes__title {
    color: $darker-grey;
    font-size: $larger;
  }

  .no-outcomes__description {
    font-size: $normal;
    color: $dark-grey;
    max-width: 500px;
    margin: auto;
    margin-top: 5px;
  }

  .no-outcomes__error {
    color: $error-red;
    margin-top: 20px;
  }

  .svg-inline--fa,
  .icon {
    color: $light-blue;
    font-size: $largest;
    margin-bottom: 5px;
  }
}
