<clark-column-wrapper>
  <div left #left>
    Scaffold Information will go here
  </div>
  <div main #main>
    <div class="top">
      <div class="title">Learning Outcomes</div>
      <button class="button good" (click)="newOutcome()">New <i class="far fa-plus"></i></button>
    </div>
    <ng-container *ngIf="iterableOutcomes?.length; else noOutcomesTemplate">
      <div [@outcomeListItem]="iterableOutcomes.length">
        <clark-outcome *ngFor="let o of iterableOutcomes" 
          [outcome]="o"
          [totalOutcomes]="iterableOutcomes.length"
          [active]="activeOutcome === o.id"
          (textChanged)="mutateOutcome(o.id, { text: $event })"
          (selectedVerb)="mutateOutcome(o.id, { verb: $event })"
          (selectedLevel)="mutateOutcome(o.id, { bloom: $event })"
          (deleted)="deleteOutcome(o.id)"
          (unmap)="toggleStandardOutcome($event)"
          (click)="activeOutcome = o.id"
        >
        </clark-outcome>
      </div>
    </ng-container>
  </div>
  <div *ngIf="outcomes.size" right #right>
    <clark-standard-outcomes [activeOutcome]="activeOutcome" (toggleMapping)="toggleStandardOutcome($event)"></clark-standard-outcomes>
  </div>
</clark-column-wrapper>

<ng-template #noOutcomesTemplate>
  <div class="no-outcomes">
    <i class="far fa-box-open"></i>
    <div>No outcomes yet!</div>
  </div>
</ng-template>