<clark-column-wrapper>
  <div left>
    <clark-scaffold *ngIf="learningObject" [learningObject]= "learningObject"></clark-scaffold>
  </div>
  <div main>
    <div class="top">
      <div class="title">Learning Outcomes</div>
      <button class="button good" (activate)="newOutcome()">New <i class="fas fa-plus"></i></button>
    </div>
    <ng-container *ngIf="iterableOutcomes?.length; else noOutcomesTemplate">
      <clark-outcome *ngFor="let o of iterableOutcomes"
        [outcome]="o"
        [totalOutcomes]="iterableOutcomes.length"
        [active]="activeOutcome === o.id"
        (textChanged)="mutateOutcome(o.id, { text: $event })"
        (selectedVerb)="mutateOutcome(o.id, { verb: $event })"
        (selectedLevel)="mutateOutcome(o.id, { bloom: $event })"
        (deleted)="deleteOutcome(o.id)"
        (unmap)="toggleStandardOutcome($event)"
        (activate)="setActiveOutcome(o.id)"
      >
      </clark-outcome>
    </ng-container>
  </div>
  <div *ngIf="outcomes.size" right>
    <clark-standard-outcomes [activeOutcome]="activeOutcome" (toggleMapping)="toggleStandardOutcome($event)"></clark-standard-outcomes>
  </div>
</clark-column-wrapper>

<ng-template #noOutcomesTemplate>
  <div class="no-outcomes">
    <i class="far fa-box-open"></i>
    <div class="no-outcomes__title">No outcomes yet!</div>
    <!-- TODO someone rewrite this pls -->
    <div class="no-outcomes__description">Learning Outcomes are a collection of statements that describe different actions a user should be able to accomplish after experiencing the materials in the Learning Object.</div>
    <div *ngIf="validator.submissionMode" class="no-outcomes__error">
      A learning object must have outcomes to submit
    </div>
  </div>
</ng-template>
