<div class="note-wrapper">
    <div
        (click)="openNote()"
        class="note-title"
        [ngClass]="{ 'note-title-blue': open }">
        <span *ngIf="!open" class="arrow">
            <i class="fa fa-chevron-down"></i>
        </span>
        <span *ngIf="open" class="arrow">
            <i class="fa fa-chevron-up"></i>
        </span>
        {{ note.title }}
        <span
            *ngIf="note.tip"
            class="note-title__help"
            [tip]="note.tip"
            tipPosition="left"
            (click)="$event.stopPropagation()">
            <i class="far fa-info-circle"></i>
        </span>
    </div>
    <div *ngIf="open" class="note-content" [innerHTML]="note.content"></div>
</div>
