.container {
  width: 350px;
  padding: 25px;
}
.btn-wrapper {
  margin-top: 40px;
  width: 100%;
  text-align: right;
  button {
    color: black;
    background-color: transparent;
    border: 2px solid black;
  }
  button:nth-child(1) {
    float: left;
  }
}