<section class='file-browser'>
  <div class='file-browser__grid'>
    <div *ngFor='let header of headers'>
      {{ header }}
    </div>
  </div>
  <div *ngFor='let file of files'>
    <div class='file-browser__inner-grid-rows'>
      <div>
        {{ file.name }}
      </div>
      <div>
        {{ file.description }}
      </div>
      <div>
        {{ file.date }}
      </div>
      <div>
        {{ file.size }}
      </div>
    </div>
  </div>
</section>
 <!-- materials.files.fullPath -->
 <!-- material.files.date -->
 <!-- .fileType -->
 <!-- .extension -->
 <!-- .previewUrl -->
 <!-- .size -->

 <!-- @host listener - listen for scroll
 get position of materials off screen
 every scroll, is the position of the screen encompassing
 the materials component? -->