<div class="wrapper">
    <div class="content-box">
        <img src="/assets/images/logo.png" alt="CLARK Logo" @fadeIn/>
        <div @fadeIn>
            <div>
                <i *ngIf="iconSuccess" class="fas fa-check-circle fa-5x"></i>
                <i *ngIf="!iconSuccess" class="fas fa-times-circle fa-5x"></i>
            </div>
            <h1>{{ h1Message }}</h1>
            <p>{{ pMessage }}</p>
            <button type="button" routerLink="../login">Login</button>
        </div>
    </div>
</div>
