@import "vars.scss";

.wrapper {
    .text-box {
        z-index: 1;
    }
    &:before {
        content: '';
        background: linear-gradient(90deg, white, $light-blue, white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        z-index: 0;
        opacity: .15;
    }
    
    &:after {
        content: '';
        background: repeating-linear-gradient(white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}