.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    learning-object-component {
        width: 250px;
        height: 350px;
        margin-right: 25px;
        margin-top: 10px;
    }
}

.container {
    background: white;
    border: 1px solid#c3c2c2;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}