<div class="container">
  <div class="title">
    <h1>{{pageTitle}}</h1>
  </div>
  <div class="content">
    <h3 *ngIf="!learningObjects || learningObjects.length==0">No Results</h3>
    <learning-object-component *ngFor="let l of learningObjects" routerLink="./details/{{ l.author.username }}/{{l.name}}" [learningObject]="l">
    </learning-object-component>
  </div>
  <div class = "paginationCtrl">
      <a class = "button" (click)="prevPage()">Prev </a>
      <p>Page {{this.query.currPage}} of {{this.pageCount}}</p>
      <a class = "button" (click)="nextPage()">Next</a>
  </div>
</div>
