@import "~_globals.scss";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;

    learning-object-component {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.container {
    max-width: $max-width;
    width: 100%;

    .title {
        text-transform: uppercase;
        color: $blue-accent;
        font-weight: bold !important;
        font-size: 24px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 850px;

        .filtering-controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .button {
                opacity: 1;

                .removeSort {
                    display: inline-flex;
                    flex-direction: row;
                    height: 18px;
                    width: 18px;
                    background: white;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    margin-right: 10px !important;
                    color: $error-red;

                    .svg-inline--fa {
                        margin-left: 0px !important;
                    }

                    &:hover {
                        background: $error-red;
                        color: white;
                    }
                }

                &:not(:first-child) {
                    margin-left: 10px;
                }
            }

            .active {
                border-color: $blue-accent !important;
            }
        }
    }

    .subtitle {
        color: $dark-text;
        font-size: 16px;
        margin-bottom: 20px;

        span {
            font-weight: bold;
            color: black;
        }
    }

    .filters {
        $reallyDarkBlue: darken($blue-accent, 50);
        padding: 20px;
        box-sizing: border-box;
        background: rgba(red($reallyDarkBlue), green($reallyDarkBlue), blue($reallyDarkBlue), 0.05);
        max-width: 850px;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;

        .list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .filter {

            &:not(:first-child) {
                margin-left: 35px;
            }

            .filter-title {
                font-size: 16px;
                font-weight: bold;
                color: $blue-accent;
            }
            
            ul {
                padding-left: 10px;

                li {
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 16px;
                    color: $dark-text;
                    text-transform: capitalize;

                    checkbox {
                        margin-right: 10px;
                    }
                }
            }
        }

        & > .button {
            align-self: flex-end;

            .svg-inline--fa {
                align-self: center;
            }
        }
    }
    
    .content {
        height: auto !important;
        overflow-y: hidden !important;
    }
}

::ng-deep .popup.dropdown li.active {
    background: $blue-accent;
    color: white !important;
}

.paginationCtrl {
    margin-top: 40px;
    margin-bottom: 30px;

    ul {
        margin: 0; padding: 0;
        display:flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 10px;
            color: $blue-accent;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            list-style-type: none;
            min-width: 45px;
            text-align: center;
            transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
            opacity: 1;

            &.gone {
                opacity: 0.4 !important;
                cursor: default !important;
            }

            &:not(.active):hover {
                opacity: 0.6;
                cursor: pointer;
            }

            &.active {
                background: $blue-accent;
                color: white;
            }

            &:first-child {
                border-radius: 3px 0px 0px 3px;
            }

            &:last-child {
                border-radius: 0px 3px 3px 0px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}
