<div class="container">
  <div class="title">
    {{pageTitle}}
  </div>
  <div class="subtitle">
    <ng-container *ngIf="!searched">
        Browsing <span>{{ this.learningObjectService.totalLearningObjects }}</span> Learning Objects
    </ng-container>
    <ng-container *ngIf="searched">
        <span>{{ this.learningObjectService.totalLearningObjects }}</span> results for "{{ query.text }}"
    </ng-container>
  </div>
  <div class="content">
    <h3 *ngIf="!learningObjects || learningObjects.length==0">No Results</h3>
    <learning-object-component *ngFor="let l of learningObjects" [learningObject]="l">
    </learning-object-component>
  </div>
  <div *ngIf="learningObjects.length" class="paginationCtrl">
      <ul>
        <li (click)="prevPage()" [ngClass]="{'gone': query.currPage <= 1}"><i class="far fa-chevron-left"></i></li>
        <li *ngFor="let p of pages" [ngClass]="{'active': query.currPage == p}" (click)="goToPage(p)">{{ p }}</li>
        <li (click)="nextPage()" [ngClass]="{'gone': query.currPage >= pageCount}"><i class="far fa-chevron-right"></i></li>
      </ul>
  </div>
</div>
