@import '~_vars.scss';
.inner {
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.03);
    padding: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: inherit;
}