<div class="inner">
  <div class="btn-group vertical">
    <button class="button good" (click)="toggleDownloadModal(true)"> 
      <span *ngIf="hasDownloadAccess">{{!downloading ? 'Download Now' : 'Downloading'}}
        <span *ngIf="downloading">
          <i class="fal fa-spinner-third fa-spin"></i>
        </span>
      </span>
      Download Revisions
    </button>
    <div class="last-revised">
        Last Revised {{learningObject.date | date: 'shortDate'}}
      </div>
      <div class="last-released">
        Last Released {{learningObject.date | date: 'shortDate'}}
      </div>
  </div>
</div>