<div  [@privilege]="privileges?.length" class="privileges__list">
  <div *ngFor="let p of privileges; let i = index; trackBy: trackBy" class="privileges__privilege">
    <div class="privilege__inner">
      <div class="privilege__left">
        <div class="privilege__role">{{ p[0] }}</div>
        <div *ngIf="p[1] && collections[p[1]]" class="privilege__collection">{{ collections[p[1]]}}</div>
      </div>
      <div *ngIf="p[0] !== 'admin' && p[0] !== 'editor'" (activate)="remove(i)" class="privilege__delete">
        Delete <i class="far fa-trash-alt"></i>
      </div>
    </div>
  </div>
</div>
