<div class="wrapper">

  <div class="philosophy-content">
    <div class="grid">
      <div class="grid-item">
        <img 
          src="../../../../../../assets/images/Nice-Logo-Black.png"
          alt="NICE Challenge Project Logo"
          class="logo-img"
        >
      </div>
      <div class="grid-item">
        <p>
          The NICE Challenge Project is developed and hosted at 
          California State University, San Bernardino (CSUSB), 
          by the CSUSB Cybersecurity Center’s Research & Development Division.
        </p>
      </div>
      <div class="grid-item">
        <p>
          The NICE Challenge Project develops real-world cybersecurity 
          challenges within virtualized business environments that bring 
          students the workforce experience before the workforce. Our goal 
          is to provide the most realistic experiences to students, 
          at-scale year-round, while also generating useful assessment 
          data about their knowledge, skills, and abilities for educators.
        </p>
      </div>  
      <div class="grid-item">
        <img 
          src="../../../../../../assets/images/CSUSB.png"
          alt="CSUSB Logo"
          class="logo-img"
          id="CSUSB"
        >
      </div>
    </div>
    
  </div>

  <div class="philosophy-container">
    <div class="content">
      <i class="fa-lg fal fa-chart-network"></i>
      <h2 class="phrase">
        BRINGING STUDENTS THE WORKFORCE EXPERIENCE BEFORE THE WORKFORCE
      </h2>
    </div>
  </div>
</div>
