<div *ngIf="learningObject" class="details-wrapper" [ngClass]="learningObject.length">
  <div class="splash">
    <particles [params]="particleParams" [style]="myStyle" [width]="width" [height]="height"></particles>
    <div class="inner">
      <div class="header">
        <div class="name">{{ learningObject.name }}</div>
        <div class="author">Created by {{learningObject.author._name}}, updated {{ date | date:'shortDate' }}</div>
        <div class="type">{{ learningObject.length }}</div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="content">
      <div class="goals">
        <div class="title">Learning Goals</div>
        <ul>
          <li *ngFor="let goal of learningObject.goals" class="goal">
            {{ goal.text }}
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar">
      <div class="inner">
        <div class="button good" (click)="download(learningObject.author._username, learningObject.name)">Download Now</div>
        <div class="button neutral on-white" (click)="addToCart()">Add to Library</div>
      </div>
    </div>
  </div>
</div>
