<onion-suggestion-filter (date)="updateDate($event)" (name)="updateName($event)" (source)="updateSource($event)">
</onion-suggestion-filter>
<div class="faux-table" *ngIf="standardOutcomes.length > 0">
  <div class="row columns">
    <div class="cells">
      <div class="cell">Author</div>
      <div class="cell">Date</div>
      <div class="cell">Name</div>
      <div class="cell">Outcome</div>
    </div>
    <div class="placeholder"></div>
  </div>
  <ng-container *ngFor="let s of standardOutcomes; let i = index">
    <div class="row" [ngClass]="{'hide': standardShouldHide(s)}">
      <div class="cells">
        <div class="cell">{{s.author}}</div>
        <div class="cell">{{s.date}}</div>
        <div class="cell">{{s.name}}</div>
        <div class="cell">{{s.outcome}}</div>
      </div>
      <div class="placeholder">
        <div class="button icon-only good" (click)="toggleStandard(s)">
          <i class="far fa-plus"></i>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="standardOutcomes.length < 1" class="wrapper">
  <div class="empty center">
    No Outcomes Found
  </div>
</div>
<div *ngIf="standardOutcomes.length" class="paginationCtrl">
  <ul>
    <li (click)="prevPage()" [ngClass]="{'gone': filter.page <= 1}"><i class="far fa-chevron-left"></i></li>
    <li *ngFor="let p of pages()" [ngClass]="{'active': filter.page == p}" (click)="goToPage(p)">{{ p }}</li>
    <li (click)="nextPage()" [ngClass]="{'gone': filter.page >= pageCount}"><i class="far fa-chevron-right"></i></li>
  </ul>
</div>