@import 'vars.scss';

form {
  margin: auto;
  margin-top: 15px;
  width: 100%;
  height: 50%;
  overflow-y: hidden;
}

li:nth-child(2n) {
  background-color: $ternary-white-background;
}

@media (min-width: 641px) {
  li:hover #plus {
    width: 40px;
    opacity: 1;
  }

  li:hover #delete {
    width: 40px;
    opacity: 1;
  }
}

#container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: $ternary-white-background;
  margin-bottom: 10px;
  position: absolute;
  top: 380px;
  width: 85%;
  z-index: 1;
}

li {
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: $medium-dark-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#plus {
  background-color: $success-green;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  color: $darker-grey;
}

.h-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;

  .input {
    width: 48%;
    margin-bottom: 0px;
  }
}

.input {
  margin-bottom: 15px;
}

.line-spacer {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  display: none;
}

#organization {
  text-transform: capitalize;
}

@media (max-width: 640px) {
  #container {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: $ternary-white-background;
    margin-bottom: 10px;
    position: absolute;
    top: 130px;
    right: 0px;
    width: 100%;
    z-index: 1;
  }

  li:hover {
    color: blue;
  }
}
