/* You can add global styles to this file, and also import other style files */

.button {
  cursor: pointer;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

.button:hover {
  opacity: .8;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

.button:active {
  opacity: .3;
}

body {
  background: #f0f4f7 !important;
  height: 100vh;
}
