@import 'vars.scss';

.mission-container{
    padding: 50px;
    position: relative;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $light-blue;

    &:before {
        content: '';
        background: linear-gradient(90deg, white,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: .15;
      }
    
    &:after {
        content: '';
        background: linear-gradient(white, #f6f9fc, #f6f9fc);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: $cube-pattern repeat;
        opacity: .2;
        z-index: 3;
    }

    .right-side{ 
        width: 50%;
        display: flex;
        justify-content: center;
        .text-container{
            font-size: $largest;
            color: $wrapper-background;
            z-index: 99;
        }
    }

    .left-side{
        display: flex;
        justify-content: space-around;
        .mission-logo{
            width: 290px;
            height: 320px;
            z-index: 2;
            width: 85%;
            height: auto;
            z-index: 99;
        }
    }
    
}

@media screen and (max-width:1030px){
    .mission-container{
        flex-direction: column;
        padding: 50px 25px 25px 25px; 

        .right-side{
            width: 85%;
            .text-container{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .mission-container{
        .left-side{
            .mission-logo{
                width: 150px;
                height: 167.84px;
            }
        }
        .right-side{
            width: 100%;
            .text-container{
                font-size: $large;
            }
        }
    }
}