@import '~_vars.scss';

.privileges {
  padding-top: 100px;
  min-width: 650px;
  min-height: 400px;
}

.privileges__banner {
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  background: linear-gradient(45deg, darken($bright-blue, 5), lighten($bright-blue, 5));

  &:after {
    content: '';
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.04;
    mask: $cube-pattern repeat;
  }

  .banner__title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .banner__sub {
    color: white;
    opacity: 0.85;
    font-size: 16px;
  }
}

.privileges__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.privileges__subtitle {
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-text;
  font-size: 20px;
}