<div class="privileges">

  <div class="privileges__banner">
    <div class="banner__title">Privileges: {{ user.name | titlecase }}</div>
    <div class="banner__sub">Edit this user's privileges for specific collections in the CLARK system.</div>
  </div>

  <div class="privileges__top">
    <div class="privileges__subtitle">
      Active Privileges
    </div>
    <div class="privileges__actions btn-group center">
      <button class="button good">Add Privilege <i class="far fa-user-plus"></i></button>
    </div>
  </div>

  <clark-privileges-list [privileges]="privileges" [collections]="collections"></clark-privileges-list>

</div>
