@import '~_vars.scss';

.dashboard-list {
  overflow: hidden;
  padding-bottom: 10px;
}

.dashboard-list__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dashboard-list__title {
  color: $darker-grey;
  font-size: $larger;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0;
}

.dashboard-list__table {
  grid-template-columns: 32px 60px 1fr 180px 180px 50px;
  grid-gap: 0 20px;

  .table__head {
    background: $light-grey;
    color: $dark-grey ;
    padding: 8px 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: inherit;
    grid-gap: inherit;
    align-items: center;
    font-size: $small;
  }

  .table__items {
    padding-top: 20px;
    padding-bottom: 20px;
    
    clark-dashboard-list-item {
      display: block;
      position: relative;
    }
  }
}