@import '_vars.scss';

.dashboard-list {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.dashboard-list__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dashboard-list__title {
  color: $darker-grey;
  font-size: $larger;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0;
}

.dashboard-list__table {
  grid-template-columns: 32px 60px 1fr 180px 180px 50px;
  grid-gap: 0 20px;

  .table__head {
    background: $light-grey;
    color: $dark-grey ;
    padding: 8px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 32px 60px 1fr 180px 180px 50px;
    grid-gap: inherit;
    align-items: center;
    font-size: $small;
  }

  .table__items {
    color: $dark-grey;
    box-sizing: border-box;
    grid-template-columns: 32px 60px 1fr 180px 180px 50px;
    grid-gap: inherit;
    align-items: center;
    font-size: $small;

    .table-item {
      grid-template-columns: inherit;
    }
  }

  &.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    color: $darker-grey;
    font-size: $normal;

    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      color: $dark-grey;
      font-size: $largest;
      margin-bottom: 10px;

      .svg-inline--fa {
        font-size: 50px;
        margin-right: 10px;
      }
    }

    button {
      margin-top: 20px;
    }
  }
}

.filter-menu {

  li {
    position: relative;
    color: $dark-grey;

    .indicator {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
      background: $dark-grey;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .svg-inline--fa,
    .icon {
      margin-left: 15px;
    }

    &:hover {
      color: white;
      background: $dark-grey;

      .indicator {
        background: white;
      }
    }

    &.waiting {
      color: $status_waiting;

      .indicator {
        background: $status_waiting;
      }

      &:hover {
        color: white;
        background: $status_waiting;

        .indicator {
          background: white;
        }
      }
    }

    &.review {
      color: $status_review;

      .indicator {
        background: $status_review;
      }

      &:hover {
        color: white;
        background: $status_review;

        .indicator {
          background: white;
        }
      }
    }

    &.accepted_minor {
      color: $status_accepted_minor;

      .indicator {
        background: $status_accepted_minor;
      }

      &:hover {
        color: white;
        background: $status_accepted_minor;

        .indicator {
          background: white;
        }
      }
    }

    &.accepted_major {
      color: $status_accepted_major;

      .indicator {
        background: $status_accepted_major;
      }

      &:hover {
        color: white;
        background: $status_accepted_major;

        .indicator {
          background: white;
        }
      }
    }

    &.proofing {
      color: $status_proofing;

      .indicator {
        background: $status_proofing;
      }

      &:hover {
        color: white;
        background: $status_proofing;

        .indicator {
          background: white;
        }
      }
    }

    &.released {
      color: $status_released;

      .indicator {
        background: $status_released;
      }

      &:hover {
        color: white;
        background: $status_released;

        .indicator {
          background: white;
        }
      }
    }

    &.rejected {
      color: $status_rejected;

      .indicator {
        background: $status_rejected;
      }

      &:hover {
        color: white;
        background: $status_rejected;

        .indicator {
          background: white;
        }
      }
    }
  }
}