@import '~_vars.scss';

.dashboard-list {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.dashboard-list__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dashboard-list__title {
  color: $darker-grey;
  font-size: $larger;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0;
}

.dashboard-list__table {
  grid-template-columns: 32px 60px 1fr 180px 180px 50px;
  grid-gap: 0 20px;

  .table__head {
    background: $light-grey;
    color: $dark-grey ;
    padding: 8px 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 32px 60px 1fr 180px 180px 50px;
    grid-gap: inherit;
    align-items: center;
    font-size: $small;
  }

  .table__items {
    color: $dark-grey ;
    padding: 8px 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 32px 60px 1fr 180px 180px 50px;
    grid-gap: inherit;
    align-items: center;
    font-size: $small;

    .table__item {
      display: inherit;
    }
  }

  &.empty {
    padding: 40px;
    font-size: $large;
    display: flex;
    justify-content: center;
  }
}

.filter-menu {

  li {
    position: relative;
    color: $dark-grey;

    .indicator {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
      background: $dark-grey;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .svg-inline--fa,
    .icon {
      margin-left: 15px;
    }

    &:hover {
      color: white;
      background: $dark-grey;

      .indicator {
        background: white;
      }
    }

    &.waiting {
      color: $status_waiting;

      .indicator {
        background: $status_waiting;
      }

      &:hover {
        color: white;
        background: $status_waiting;

        .indicator {
          background: white;
        }
      }
    }

    &.review {
      color: $status_review;

      .indicator {
        background: $status_review;
      }

      &:hover {
        color: white;
        background: $status_review;

        .indicator {
          background: white;
        }
      }
    }

    &.proofing {
      color: $status_proofing;

      .indicator {
        background: $status_proofing;
      }

      &:hover {
        color: white;
        background: $status_proofing;

        .indicator {
          background: white;
        }
      }
    }

    &.released {
      color: $status_released;

      .indicator {
        background: $status_released;
      }

      &:hover {
        color: white;
        background: $status_released;

        .indicator {
          background: white;
        }
      }
    }

    &.denied {
      color: $status_rejected;

      .indicator {
        background: $status_rejected;
      }

      &:hover {
        color: white;
        background: $status_rejected;

        .indicator {
          background: white;
        }
      }
    }
  }
}





.list-body {
  .column-headers,
  ::ng-deep .row-item {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 32px 60px 1fr 180px 180px 50px;
    grid-gap: 0 20px;
    align-items: center;
    font-size: $small;
  }

  ::ng-deep .row-item {
    & > div {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .column-headers {
    font-size: $small;
    background: $light-grey;
    color: $darker-grey;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  clark-dashboard-item {
    position: relative;
    display: block;
  }
}
