@import '~_vars.scss';
.heat-map-wrapper {

  background: white;
  border-radius: 2px;
  padding: 40px;
  height: 500px;

  .title {
    font-size: $large;
    color: $darker-grey;
  }

  overflow: hidden;
}

.graph-wrapper {
  display: flex;
  align-items: center;
}

.iframe-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 80%; // Maintains aspect ratio of heat map (Original 750w X 600h)
  width: 100%;
  height: 100%;
}

.resp-iframe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (max-width: 500px) {
  .heat-map-wrapper {
    .title {
      top: 10px;
      font-size: $normal;
    }
  }
}

@media screen and (max-width: 998px) {
  .heat-map-wrapper {
    max-height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .heat-map-wrapper {
    max-height: none;
  }

  .graph-wrapper {
    display: block;
  }

  .iframe-wrapper {
    margin-bottom: 15px;
  }
}
