<div class="heat-map-wrapper">
  <div class="title" tabindex="0">
    <span>Users Across the States</span>
  </div>
  <div class="graph-wrapper">
    <div class="iframe-wrapper">
      <iframe id="map-iframe" class="resp-iframe" src="https://datastudio.google.com/embed/reporting/1J2vw-x3vKBWviHy2Yy4ajpfaM1GTITXT/page/PuoS"
        frameborder="0" style="border:0"></iframe>
    </div>
    <div class="iframe-wrapper">
      <iframe id="pie-iframe" class="resp-iframe" src="https://datastudio.google.com/embed/reporting/1tgI3Io2eqWHOBbvRreLqxrITVy1LdtY3/page/STzf"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
