<div class="learning-object" id="learning-object" [ngClass]="learningObject.length" [routerLink]="['/details', learningObject.author.username, learningObject.name]">
  <div class="image">
    <div *ngIf="!loading" class="collection">
      <div>
        {{ collections.get(learningObject.collection) }}
      </div>
    </div>
    <div class="initials">{{ learningObject.length.toUpperCase() }}</div>
  </div>
  <div class="learning-object-content">
    <div class="title">
      {{ truncateText(learningObject.name, 45) }}
      <button *ngIf="!loading && (auth.isLoggedIn | async) && canDownload" class="download-btn" (click)="download($event)"><i class="fas fa-download"></i></button>      
    </div>
    <div class="details">
      <div class="author">
        {{ learningObject.author.name | titlecase }}
        <span *ngIf="learningObject.contributors && learningObject.contributors.length >= 1">
          <span *ngFor="let i of learningObject.contributors.slice(0,2)">
            , {{ i.name }}
          </span>
          <span *ngIf="learningObject.contributors.length-2 > 0 "><span tip="{{ getContributors() }}">, +{{ learningObject.contributors.length - 2 }} more</span></span>
        </span>
      </div>
      <div class="date">
        Updated {{ date | date:'mediumDate' }}
      </div>
    </div>
    <div class="goals" *ngIf="this.learningObject.description" [innerHtml]="goals()"></div>
  </div>
</div>

<clark-popup *ngIf="showDownloadModal" (closed)="toggleDownloadModal(false)">
  <div style="max-width: 600px;" #popupInner>
    <clark-download-notice (close)="toggleDownloadModal(false)"></clark-download-notice>
  </div>
</clark-popup>