@import "~_globals.scss";

.learning-object-listing-viewport {
    height: 100%;
    cursor: pointer;
    border: 1px solid $placeholder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
    .title-viewport {
        background-color: $blue-accent;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        h1 {
          padding-left: 16px;
            font-size: 26px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card-lower {
        margin-top: 80px;
        padding: 2px 16px;
    }

    .text-line {
        display: inline-flex;
    }

    .center-info {
        display: flex;
        flex-direction: column;
    }

    .bottom-info {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 109px 109px;
        grid-template-rows: 50px 50px;
        text-transform: capitalize;
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}
