<section *ngIf='children?.length || parents?.length' class='hierarchy-link'>
  <span class='hierarchy-link__icon-container'>
    <i class="far fa-project-diagram"></i>
  </span>
  <span *ngIf='parents?.length' class='hierarchy-link__child-link-container'>
    Child of 
    <span class='hierarchy-link__child-link-container__link'>
      {{ parents[0].name }}
    </span>
  </span>
  <span *ngIf='parents?.length > 1' class='hierarchy-link__plus-more-link-container'>
    + {{ children.length - 1 }} more
  </span>
  <span *ngIf='parents?.length' class='hierarchy-link__parent-child-separator'>;</span>
  <span *ngIf='children?.length' class='hierarchy-link__parent-link-container'>
    Parent of
    <span class='hierarchy-link__parent-link-container__link'>
      {{ children[0].name }}
    </span>
  </span>
  <span *ngIf='children?.length > 1' class='hierarchy-link__plus-more-link-container'>
    + {{ children.length - 1 }} more
  </span>
</section>
