@import "_vars.scss";

.hierarchy-link {
    cursor: pointer;
}

.hierarchy-link__icon-container {
    color: var(--theme-link);
    margin-right: 5px;
}

.hierarchy-link__child-link-container {
    color: var(--theme-text-muted);
}

.hierarchy-link__child-link-container__link {
    color: var(--theme-link);
}

.hierarchy-link__parent-child-separator {
    color: var(--theme-text-muted);
    margin: 0;
    margin-right: 5px;
}

.hierarchy-link__parent-link-container {
    color: var(--theme-text-muted);
}

.hierarchy-link__parent-link-container__link {
    color: var(--theme-link);
}

.hierarchy-link__plus-more-link-container {
    color: var(--theme-link);
    text-decoration: underline;
}
