<div class="dashboard-item">
  <div class="row-item">
    <div>
      <div tabindex="0" class="status" [attr.aria-label]="'Learning Object Status: ' + learningObject.status + '. ' + statusDescription" [ngClass]="learningObject.status" [tip]="statusDescription" [tipDisabled]="!statusDescription" tipPosition="top">
        <span *ngIf="learningObject.status === 'unreleased'"><i class="fas fa-eye-slash"></i></span>
        <span *ngIf="learningObject.status === 'waiting'"><i class="fas fa-hourglass"></i></span>
        <span *ngIf="learningObject.status === 'review'"><i class="fas fa-sync"></i></span>
        <span *ngIf="learningObject.status === 'proofing'"><i class="fas fa-shield"></i></span>
        <span *ngIf="learningObject.status === 'released'"><i class="fas fa-eye"></i></span>
        <span *ngIf="learningObject.status === 'rejected'"><i class="fas fa-ban"></i></span>
      </div>
    </div>
    <div>
      {{ learningObject.name }}
    </div>
    <div>
      {{ learningObject.author.name | titlecase }}
    </div>
    <div>{{ learningObject.length | titlecase }}</div>
    <div>{{ learningObject.date | date:'longDate' }}</div>
    <div>
      <div #meatballMenuElement class="meatball" [ngClass]="{'open': meatballOpen}" (activate)="this.toggleContextMenu(true)">
        <div class="icon">
          <i class="far fa-times"></i>
        </div>
        <div class="orb"></div>
      </div>
    </div>
  </div>
</div>

<clark-context-menu *ngIf="meatballOpen" [anchor]="meatballMenuElement" [offset]="{ top: 2, left: 10 }" (close)="toggleContextMenu()">
  <div #contextMenu>
    <ul (activate)="toggleContextMenu($event)">
      <li [routerLink]="['/onion/learning-object-builder', learningObject.id]"><i class="far fa-pencil"></i>Edit</li>
      <li [routerLink]="['/details', learningObject.author.username, learningObject.name]"><i class="far fa-cube"></i>View details</li>
    </ul>
  </div>
</clark-context-menu>
