.wrapper {
    max-width: 250px;
    text-align: center;

    .inner {
        position: absolute;
        min-width: 200px;
        min-height: 250px;

        &.back {
            background-color: #F7EC2F;
            transform: skew(-20deg) translateY(-8px) translateX(-8px);
        }

        &.middle {
            background-color: #672F90;
            transform: skew(-20deg) translateX(8px);
        }
        
        &.top {
            background-color: #6AC8C1;
            transform: skew(-20deg) translateX(-2px) translateY(8px);
        }
    }

    .content {
        position: absolute;
        margin: 18px 15px;
        color: white;
        font-weight: 500;
        width: 200px;
        h1 {
            font-size: 26px;
        }
    }

      
}