@import '~_vars.scss';

.top__status {
  width: 32px;
  height: 32px;
  color: rgba(255, 255, 255, 0.9);
  font-size: $normal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(189, 193, 195);
  transition: all 0.2s ease;
  box-shadow: none;
  &.waiting {
    background: #5ec9da;
  }
  &.review {
    background: #f5a623;
  }
  &.proofing {
    background: $proofing;
  }
  &.released {
    background: $green;
  }
  &.rejected {
    background: saturate($error-red, 15);
  }
  &:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.08);
  }
}
