@import '_vars.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.clickable { cursor: pointer; }

  p { margin: 5px 0; }
}

hr {
  height: 1px;
  background-color: $light-grey;
  border: none;
}

.filter-wrapper {
  padding: 10px 0;
  width: 100%;

  .filter {
    font-size: $small;
    line-height: normal;
    margin: 0;
    padding: 0;

    &.filter-checkbox {
      display: block;
    }
  }

  .checkbox-grid {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) 140px;
    column-gap: 8px;
    row-gap: 0;
    align-items: center;
    margin: 0;
    padding: 0;

    clark-checkbox {
      margin: 0;
    }

    .label {
      justify-self: start;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .meta {
      justify-self: end;
      width: 140px;
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 6px;
      align-items: center;
      text-align: right;

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: inherit;
        line-height: 1.1;
      }

      i {
        line-height: 1;
      }
    }
  }
}

.optional {
  margin-top: 10px;
  text-align: center;
}