<section class="top">
  <div class="img-viewport">
    <div class="search-viewport">
      <div class="search-contents">
        <h1>I'm looking for...</h1>
        <form>
          <div class="">
            <input type="text" class="search-input" placeholder="Search" [(ngModel)]="query" (ngModelChange)="search()" name="query">
            <button type="submit" class="button bad" (click)="search()" style="margin-top: 15px;">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="home-banner"></div>
</section>

<section class="promo">
  <div class="contribute-invitation">
    <h1>Become a Contributor</h1>
    <p>Share your knowledge with the world. Join the movement and help bring cyber education to the world.</p>
    <button class="button bad" (click)="goToContribute()">Start Contributing</button>
  </div>
</section>

<section class="featured-viewport">
  <app-featured></app-featured>
</section>