@import '~_globals.scss';

$top-height: 500px;
$banner-height: 90px;

.top {
    height: calc($top-height + $banner-height);
    .img-viewport {
        background: url(/assets/servers.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: $top-height;
        width: 100%;
        position: relative;
        .search-viewport {
            position: absolute;
            top: 200px;
            left: 35vw;
            .search-contents {
                h1 {
                    color: white;
                    margin-left: 5px;
                }
                form {
                    display: inline-block;
                    text-align: right;
                    width: 30vw;
                    .search-input {
                        height: 50px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .banner {
        background-color: #3789ce; // TODO: swap for global
        height: $banner-height;
        width: 100%;
    }
}
.search-results {
    position: relative;
}
.featured-viewport {
  width: 100%;
  padding: 20px;
  
}