$top-height: 500px;
$banner-height: 90px;

.top {
    z-index: 1000;
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    height: calc($top-height + $banner-height);
    .img-viewport {
        background: url(/assets/servers.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: $top-height;
        width: 100%;
        position: relative;
        .search-viewport {
            position: absolute;
            top: 200px;
            left: 35vw;
            .search-contents {
                h1 {
                    color: white;
                    margin-left: 5px;
                }
                form {
                    display: inline-block;
                    text-align: right;
                    width: 30vw;
                    .search-input {
                        height: 50px;
                        width: 100%;
                    }
                    .search-button {
                        background-color: #e74c3c;
                        width: 150px;
                        border: 1px solid white;
                        color: white;
                        height: 50px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .banner {
        background-color: #3789ce; // TODO: swap for global
        height: $banner-height;
        width: 100%;
    }
}
.top-section-padding {
    position: relative;
    width: 100vw;
    height: calc(590px - 50px); // FIXME: The manual factoring of the header w/ margin/padding before content starts should not be doen like this
}
.search-results {
    position: relative;
}