@import '_vars.scss';

.top__collection {
  display: flex;
  flex-direction: row;
  align-items: center;

  .collection__image {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
  }
}

.builder-navbar-wrapper {
  background: white;
  padding: 35px 25px 0;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0 2px 4px 0 rgba(136, 135, 135, 0.3);
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: border-box;

  .revising-notification {
    background-color: $tag_revision;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: $normal;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(136, 135, 135, 0.3);
  }
  
  .top {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: $large;
      text-decoration: none;
      color: $darker-grey;

      .svg-inline--fa,
      .icon {
        margin-right: 10px;
      }
    }

    &.banner {
      margin-bottom: 20px;
      margin-top: 10px;
    }
    
  }

  .top__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: 15px;
    }

    .button {
      display: flex;
      flex-direction: row;
      align-items: center;

      .button__cancel {
        background: white;
        color: $error-red;
        font-size: $smaller;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;

        .svg-inline--fa,
        .icon {
          margin-left: 0;
        }
      }
    }
  }
}

.builder-navbar-wrapper__bottom-left-menu {
  display: flex;
  flex-direction: row;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      font-size: $large;

      a {
        display: flex;
        text-decoration: none;
        color: $dark-grey;
        padding: 0 15px 10px;
        position: relative;
        flex-direction: row;
        align-items: center;

        .svg-inline--fa,
        .icon {
          margin-right: 5px;
          font-size: $smaller;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          background: $light-blue;
          transform: translateY(3px);
          opacity: 0;
          transition: 0.2s all ease;
        }

        &.active {
          color: $light-blue;

          &:after {
            transform: translateY(0);
            opacity: 1;
          }
        }

        &.disabled {
          opacity: 0.8;
          cursor: default;
        }

        &.new {
          color: $light-blue;

          &:before {
            content: '';
            position: absolute;
            height: 6px;
            width: 6px;
            background: $light-blue;
            border-radius: 50%;
            right: 0;
            top: 11px;
            margin: auto;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.builder-navbar-wrapper__saving-indicator {
  color: $dark-grey;
  margin-left: 30px;
  font-size: $normal;
  text-decoration: underline;
  padding-top: 1px;
}

.whole_changelog_wrapper {
  max-width: 800px;
  width: 90vw;
  display: block;

  .banner {
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    background: $light-blue-gradient;

    &:after {
      content: '';
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.04;
      mask: $cube-pattern repeat;
    }

    .banner__title {
      color: white;
      font-size: $larger;
      font-weight: bold;
    }

    .banner__sub {
      color: white;
      opacity: 0.85;
      font-size: $normal;
    }
  }

  .changelog_wrapper {
    margin-top: 100px;
  }

}

clark-generic-collection-logo {
  margin-left: 15px;
}
