@import '~_vars.scss';

$row-gap: 25px;

.container {
  padding: 30px 50px;
  background-color: white;
}

.header {
  margin-bottom: 25px;
  font-size: $larger;
}

.stat-counters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: $row-gap;
  margin-bottom: $row-gap;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(435px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: $row-gap;
  margin-bottom: $row-gap;
}

.heat-map-wrapper {
  margin-bottom: $row-gap;
}

.active-users-wrapper {
  background: white;
  border-radius: 2px;
  padding: 20px;

  .title {
    font-size: $large;
    color: $darker-grey;
  }

  overflow: hidden;
}




.iframe-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; // Maintains aspect ratio of heat map (Original 1366w X 768h)
  width: 100%;
  height: 100%;
}

.resp-iframe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@media print {
  .container {
    padding: 25px 0;
  }

  .heat-map-wrapper,
  .active-users-wrapper {
    display: none;
  }

  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
