@import '~_vars.scss';

$row-gap: 25px;

.container {
  padding: 20px 50px;
  background-color: white;
}

.header {
  margin-bottom: 25px;
  font-size: $largest;
  color: $darker-grey;
  font-weight: 500;
}

.stat-counters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: $row-gap;
  margin-bottom: $row-gap;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: $row-gap;
  margin-bottom: $row-gap;

  .top-downloads {
    color: $dark-grey;
    font-size: $large;
    padding: 15px 20px 15px;

    .title {
      color: $darker-grey;
      font-size: $larger;
      font-weight: 500;
      margin-bottom: 15px;
    }
    
    .downloads-container {
      padding: 20px;
      width: 80%;
      
      .name {
        color: $darker-grey;
        display: inline-block;
        margin-bottom: 10px;
      }
  
      .count {
        float: right;
      }

    }
  }
}

.heat-map-wrapper {
  margin-bottom: $row-gap;
  height: 100%;
}

.active-users-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: $row-gap;
  margin-bottom: $row-gap;
  overflow: hidden;

  .title {
    color: $darker-grey;
    font-size: $larger;
    font-weight: 500;
  }
}




.iframe-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-top: 56.25%; // Maintains aspect ratio of heat map (Original 1366w X 768h)
  width: 100%;
}

.resp-iframe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@media print {
  .container {
    padding: 25px 0;
  }

  .heat-map-wrapper,
  .active-users-wrapper {
    display: none;
  }

  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
