<!--To be implemented-->
<!-- <section *ngIf="objectsDownloaded.length > 0" class="cart-items">
      <h3>{{name.split(' ')[0]}} has created {{objectsCreated.length}} learning objects:</h3>
      <learning-object-component *ngFor="let learningObject of objectsDownloaded" [learningObject]="learningObject">{{ learningObject.name }}</learning-object-component>
    </section> -->


<!--To be implemented-->
<!-- <section *ngIf="objectsDownloaded.length > 0" class="cart-items">
    <h3>{{name.split(' ')[0]}} has downloaded {{objectsDownloaded.length}} learning objects:</h3>
    <learning-object-component *ngFor="let learningObject of objectsDownloaded" [learningObject]="learningObject">{{ learningObject.name }}</learning-object-component>
  </section> -->

<div class="card-container">
  <div class="column1">
    <div class="image-container">
      <img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-512.png" style="width:100%">
    </div>
    <div>
      <h1>{{name}}</h1>
      <!--<input type = "text" *ngIf = "editContent === 1" placeholder = "{{name}}">-->
      Name:
      <input type="text" *ngIf="editContent === 1" [(ngModel)]="name">
      <p class="title">Masters Student</p>
      <p>{{employer}}</p>

      <h6>Email: {{email}}</h6>
    </div>
    <div class="space"></div>
    <div>
      <p class="edit" (click)="editContent=1">Edit</p>
      <p class="cancel" *ngIf="editContent === 1">Cancel</p>
    </div>
    <button id="margin-between" (click)="showContent=1">Modules Created</button>
    <button id="bottom-margin" (click)="showContent=2">Modules Downloaded</button>
  </div>
  <div class="column2">
    <div *ngIf="showContent === 1">
      <h3>
        <strong>Modules Created:</strong> {{modulesCreated}}</h3>
      <h4>{{name.split(' ')[0]}} hasn't created any learning objects yet!</h4>
    </div>
    <div *ngIf="showContent === 2">
      <h3>
        <strong>Modules Downloaded:</strong>
      </h3>
      <h4>{{name.split(' ')[0]}} hasn't downloaded any learning objects yet!</h4>

    </div>

  </div>
</div>