@import '~_globals.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// html,
// body {
//     margin: 0;
//     padding: 0;
//     height: 100%;
// }
// @mixin flex {
//     display: flex;
//     justify-content: left;
//     width: 100%;
//     padding: 2px 16px;
// }
// h1 {
//     display: flex;
//     justify-content: center;
//     margin: 0;
//     width: 100%;
//     height: 70px;
//     color: white;
//     background-color: #3B608B;
//     .title{
//      margin:auto;
//     }
// }
// h2 {
//     @include flex;
// }
// h3 {
//     @include flex;
// }
// h4 {
//     @include flex;
// }
// // Global CLARK Style Overrides
// .user {
//     .shopping-cart-container {
//         margin-left: 50px;
//         color: $placeholder;
//     }
// }
// .inner {
//     max-width: 100vw;
//     .content-switch {
//         margin-top: 20px;
//         margin-left: 20px;
//         margin-bottom: 20px;
//     }
// }
// .content {
//     padding: 0px; // min-height: calc(100vh - 75px - 150px);  
//     .outlet {
//         margin-top: 0px;
//     }
// }
// footer {
//     height: 150px;
//     background-color: #0575E6;
// }

@mixin column{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background: white;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #c3c2c2;
}

.column1 {
   @include column;
    width:30%;
}

.column2{
    @include column;
    width: 70%;
}
.space { margin-top: 100px; }

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:$dark-blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

button:hover, a:hover {
    opacity: 0.7;
}