@import '~_globals.scss';

.header { 
    background: white; 
}

.bold {
    font-weight: bold;
  }

#container-rounded { 
    border-radius: 25px; 
    border: 2px solid $blue-accent; 
    border-top: 0px;
    border-bottom: 0px;
   // padding: 20px; 
   // width: 200px; 
   // height: 100%;
    min-height: 50px;
    overflow: hidden;
    //height: 700px; //comment out when finished 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 500px;
 
    //border: 1px solid #c3c2c2;
  
  .splash {
    background: linear-gradient(45deg, desaturate(darken($blue-accent, 20), 15), $blue-accent);
    //padding: 50px 0px;
    background-position: center;
    padding-top: 50px;
	padding-bottom: 50px;
    box-sizing: border-box; /* here */
    border-radius: 22.5px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    bottom:0;
    left:0;
    width: 100%; 
    flex-direction: column; 
    height: 250px; 
    position: relative;
    
    ::ng-deep .particles-container {
      opacity: 0.3;
    }

    .image-container {
        //background-color: rgb(231, 230, 230);
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        position: relative;
        width: 50%;
    }
}

    .container-inner { 
        //border-radius: 25px; 
        //background: green;
        //min-height: 300px;
        overflow: hidden;
        // padding: 20px; 
        // width: 200px; 
        height: 45%; //comment out when finished
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        left: 0; 
        bottom:0; 
        margin: auto;
        margin-top: 115px; 
        margin-bottom: 0px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        min-width: 500px;
      }

}
