@import '~_globals.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  height: 150px;
  background-color: #0575E6;
}