@import '~_globals.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@mixin column {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background: white;
}

.image-container {
    background-color: rgb(231, 230, 230);
    padding: 30px;
    width: 100%;
}

.edit {
    text-decoration: underline;
    color: $dark-blue;
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
}

.cancel {
    color: $error-red;
    text-decoration: underline;
    text-align: left;
    margin-left: 20px;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #c3c2c2;
}

.column1 {
    @include column;
    width: 30%;
}

.column2 {
    @include column;
    width: 70%;
}

.space {
    margin-top: 60px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: $dark-blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

#margin-between {
    margin-bottom: 10px;
}

#bottom-margin {
    margin-bottom: 40px;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.modules-container {
    display: flex;
}