@import 'vars.scss';

.hierarchy-container{
  width: 100%;
  max-width: 1500px;
  margin: 20px 20px 20px 0px;
  font-family: 'Source Sans Pro', sans-serif;

  .vertical-container{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;

    .hierarchyhr {
      border: 1px solid $light-grey;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

//Use a flex-box with the wrapper acting as the outer-layer block and the inside is the learningobect-name and hierarchy/length tags
.wrapper {                //Wrapper Outer Parent
  display: inline-block;
  width: 100%;
  margin-top: 1%;
  max-width: 300px;

  &.nanomodule {
    margin-left: 14%;
  }

  &.micromodule {
    margin-left: 10%;
  }
  
  &.module {
    margin-left: 7%;
  }
  
  &.unit {
    margin-left: 4%;
  }
  
  &.course {
    margin-left: 2%;
  }
}

.inner {                  //Wrapper Inner Parent
  display: flex;
  flex-direction: row;
}

.learningobject-name {    //Wrapper child 1
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-top: -15px;
}

.length {                 //Wrapper child 2
  color: white;
  font-size: $small;
  display: inline-block;
  position: relative;
  padding: 2px 6px;
  border-radius: 2px;
  height: fit-content;


  &.nanomodule {
    background: $nanomodule-color;
  }

  &.micromodule {
    background: $micromodule-color;
  }
  
  &.module {
    background: $module-color;
  }
  
  &.unit {
    background: $unit-color;
  }
  
  &.course {
    background: $course-color;
  }
}
