<div class="mappings-filter" (activate)="preventClose('results')">
  <div class="search-bar input" [ngClass]="{'focus': focused}">
    <ng-container *ngIf="focusedOutcome && !focused">
      <div class="mappings-filter__pill" tip="{{ focusedOutcome.outcome }}" tipLocation="bottom" (activate)="focusInput(searchInput.value)">
        {{ focusedOutcome.name }}
      </div>
    </ng-container>
    <input #searchInput [ngClass]="{'transparent': focusedOutcome && !focused}" type="search" placeholder="Search for mappings..." aria-label="Search for Mappings" (focus)="focusInput(searchInput.value)" (blur)="focused = false;" />
    <button class="search-sources" id="search-sources" [ngClass]="{'active': source}" aria-label="Filter results by sources" tip="Filter results by sources" tipLocation="bottom" (activate)="sourcesDown = true; preventClose('sources')">
      <i class="far fa-globe-americas"></i>
      <i class="far fa-angle-down"></i>
    </button>
    <button aria-label="Search" class="search-button">
      <i class="far fa-search"></i>
    </button>
  </div>
  <div *ngIf="resultsDown" class="result-drop main">
    <ng-container *ngIf="!loading && outcomes?.length; else noResults">
      <ul>
        <ng-container *ngFor="let c of outcomes">
          <li class="section">{{ c.source }}</li>
          <li *ngFor="let o of c.outcomes" tip="{{o.outcome}}" tipLocation="right" (activate)="addOutcome(o)">
            {{ o.name }} - {{ o.outcome }}
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
  <div *ngIf="sourcesDown" class="result-drop source" (activate)="preventClose('sources')">
    <ng-container *ngIf="possibleSources.length; else loadingTemplate">
      <ul>
        <li *ngFor="let s of possibleSources" [ngClass]="{'active': source === s}" (activate)="toggleSource.emit(s)">{{ s }}</li>
      </ul>
    </ng-container>
  </div>
</div>

<ng-template #noResults >
  <ng-container *ngIf="loading; else emptyTemplate" [ngTemplateOutlet]="loadingTemplate">
  </ng-container>
</ng-template>

<ng-template #emptyTemplate>
  <div *ngIf="outcomes" class="empty">
    We couldn't find anything for that query!
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div class="loading">
    <i class="far fa-spinner-third fa-spin"></i>
  </div>
</ng-template>
