@import '~_vars.scss';

.mappings-filter {
    position: relative;
}

.search-bar {
    // background: white;
    // border-radius: 2px;
    // width: 100%;
    // padding: 3px;
    // box-sizing: border-box;
    // display: flex;
    // flex-direction: row;
    // justify-content: stretch;
    // box-shadow: 0px 0px 12px 2px rgba(red($blue-accent), green($blue-accent), blue($blue-accent), 0.3);
    // transition: all 0.2s ease;

    // &.focus {
    //     box-shadow: 0px 0px 12px 1px rgba(red($blue-accent), green($blue-accent), blue($blue-accent), 0.4);
    // }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        background: transparent;
        color: $dark-text;
        flex-grow: 2;
        outline: 0;
        padding-left: 5px;
        padding: 10px;
    }

    & > *:not(input) {
        flex-grow: 0;
        padding: 6px;
        box-sizing: border-box;
        margin-left: 5px;
        color: darken($placeholder, 20);
        @include vert-center;
        flex-direction: row;


        & > *:not(:first-child) {
            margin-left: 3px;
        }
    }

    .search-sources {
        cursor: pointer;

        &:hover,
        &.active {
            color: $blue-accent;
        }
    }
}

.result-drop {
    background: white;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    border-top: 1px solid lighten($placeholder, 10);
    min-height: 80px;
    max-height: 280px;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.05);
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    .loading,
    .intro {
        color: $blue-accent;
        font-size: 18px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .intro {
        margin-top: 10px;
        color: darken($placeholder, 20);
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
            color: $dark-text;
            padding: 6px 15px;
            box-sizing: border-box;
            cursor: pointer;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;


            &.active {
                background: rgba(red($blue-accent), green($blue-accent), blue($blue-accent), 0.3);
            }

            &:not(.section):hover {
                background: $blue-accent;
                color: white;
            }

            &.section {
                background: $placeholder;
                color: $dark-text;
                cursor: default;
                pointer-events: none;
            }
        }
    }

    &.source {
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
        width: 60%;
        z-index: 2;
        left: auto;
        right: 0;
        max-width: 200px;

        li {
            padding-left: 30px !important;

            &:before,
            &:after {
                content: '';
                width: 12px;
                height: 12px;
                border: 1px solid $blue-accent;
                position: absolute;
                top: 0;
                left: 10px;
                bottom: 0;
                margin: auto;
                border-radius: 50%;
                opacity: 0;
            }

            &:after {
                width: 10px;
                height: 10px;
                left: 11px;
                border: 0;
                background: $blue-accent;
            }

            &:hover {

                &:before {
                    border-color: white;
                    background: transparent;
                    opacity: 1;
                }

                &:after {
                    background-color: white;
                }
            }

            &.active {

                &:before {
                    border-color: $blue-accent;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }
}