@import 'vars.scss';
.sidebar-wrapper {
    width: 250px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.03);
    padding: 10px 15px 10px;
    margin-bottom: 20px;
    z-index: 2;
    box-shadow: 0 0 5px lighten(#000, 80%);
    ::ng-deep .filter-section {
      padding-left: 0;
    }

    .content {
        padding-bottom: 20px;
        text-align:left;
        border-radius: 10px;
        .icon {
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .content:hover {
        background-color: #E9F0FE;
        color: #376ED6;
        font-weight: bold;
        cursor:pointer;
    }
    .content:active {
        background-color: #E9F0FE;
        color: #376ED6;
        font-weight: bold;
    }

  }