<div class="wrapper" *ngIf="!isMobileView">
    <div 
        class="content" 
        [ngClass]="{'choosen': isHighlighted.learningObjects, 'greyout': !isHighlighted.learningObjects && !isOtherChoiceSelected() }" 
        (activate)="changeSelection('learningObject')"
    >
        <i class="icon fal fa-cubes"></i> Learning Objects
    </div>
    <div 
        class="content" 
        [ngClass]="{'choosen': isHighlighted.learningOutcomes, 'greyout': !isHighlighted.learningOutcomes && !isOtherChoiceSelected() }" 
        (activate)="changeSelection('learningOutcomes')"
    >
        <i class="icon fal fa-graduation-cap"></i>Learning Outcomes
    </div>
    <div 
        class="content" 
        [ngClass]="{'choosen': isHighlighted.hierarchies, 'greyout': !isHighlighted.hierarchies && !isOtherChoiceSelected() }" 
        (activate)="changeSelection('hierarchies')"
    >
        <i class="icon fal fa-folder-tree"></i> Hierarchies
    </div>
    <div 
        class="content" 
        [ngClass]="{'choosen': isHighlighted.collections, 'greyout': !isHighlighted.collections && !isOtherChoiceSelected() }" 
        (activate)="changeSelection('collections')"
    >
        <i class="icon fal fa-users"></i> Collections
    </div>
</div>
