<clark-admin-content-wrapper>
  <div page-title>Learning Objects</div>
  <clark-admin-search-bar search></clark-admin-search-bar>
  <div filter-options>filter options yo</div>

  <div class="list" main>
    <div #listInner class="list-inner">
      <div *ngIf="!loading; else loadingTemplate" class="list-body">
        <div *ngIf="learningObjects?.length; else emptyTemplate">
          <div class="column-headers">
            <div>Status</div>
            <div>Name</div>
            <div>Type</div>
            <div>Date</div>
          </div>
          <div  [@listItem]="learningObjects.length">
            <clark-dashboard-item
              *ngFor="let l of learningObjects; let i = index"
              [learningObject]="l"
              [status]="l.status"
              >
            </clark-dashboard-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</clark-admin-content-wrapper>