@import '_vars.scss';

.list {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  min-height: 500px;
  overflow: hidden;
}

.list__body {
  .body__column-headers,
  ::ng-deep .row-item {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 0 32px 2.5fr 100px 80px 120px 50px;
    grid-gap: 0 50px;
    align-items: center;
  }

  ::ng-deep .row-item {
    & > div {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .body__column-headers {
    font-size: $small;
    color: $dark-grey;
    padding-top: 20px;
    padding-bottom: 10px;

    .sort {
      font-size: 10px;
      color: $dark-grey;
      background-color: transparent;
      border: none;
      padding-right: 0px;
    }

    .sort:hover {
      color: $light-blue;
    }
  }

  clark-learning-object-list-item {
    position: relative;
    display: block;
  }
}

.empty-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: $dark-grey;
  font-size: $normal;
}

.empty-template__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: $dark-grey;
  font-size: $larger;
  margin-bottom: 10px;
}

.svg-inline--fa {
  font-size: $largest;
  margin-right: 10px;
}

.loadingOrFinished__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: $dark-grey;
  font-size: $large;
  padding: 40px;

  .svg-inline--fa {
    color: $light-blue;
    font-size: $larger;
    margin-bottom: 20px;
  }
}