<clark-admin-content-wrapper>
  <div #list2 class="el"></div>
  <div page-title>Learning Objects</div>
  <clark-admin-search-bar
    search
    [placeholder]="searchBarPlaceholder"
    (userInput)="userSearchInput$.next($event)"
  ></clark-admin-search-bar>
  <clark-admin-filter-search
    filter-options
    (statusFilter)="getStatusFilteredLearningObjects($event)"
    (collectionFilter)="getCollectionFilteredLearningObjects($event)"
    (relevancyCheck)="getRelevancyFilteredLearningObjects($event)"
    (topicFilter)="getTopicsFilteredLearningObjects($event)"
    (clearAll)="clearStatusAndCollectionFilters()"
    [adminOrEditor]="isAdminOrEditor"
    [showStatus]="true"
  ></clark-admin-filter-search>
  
  <div #list class="list" main>  
    <div #listInner>  
      <div class="list__body">  
        <div *ngIf="learningObjects?.length || loading; else emptyTemplate">
          <div #headers class="body__column-headers">
            <clark-checkbox role="button" aria-label="Select all Learning Objects" [value]="allSelected" (action)="selectAll()"></clark-checkbox>
            <div>Status</div>
            <div>Name</div>
            <div>Author</div>
            <div>Length</div>
            <div>Date
              <!-- <button class="sort" (activate)="sortByDate(1)" aria-label="Sort learning objects in ascending order" [tip]="'Sort Ascending'" tipPosition="top" [tipDisabled]="false">
                <i style="font-size: 18px" class="fas fa-angle-up"></i>
              </button>
              <button class="sort" (activate)="sortByDate(-1)" aria-label="Sort learning objects in descending order" [tip]="'Sort Descending'" tipPosition="top" [tipDisabled]="false">
                <i style="font-size: 18px" class="fas fa-angle-down"></i>
              </button> -->
              <button class="sort" (activate)="sortByDate()">
                <span *ngIf="!_query.sortType else sortArrows">
                  <i style="font-size: 18px;" class="far fa-sort"></i>
                </span>
                
              </button>
            </div>
          </div>
            <clark-learning-object-list-item
              *ngFor="let l of learningObjects"
              [learningObject]="l"
              [status]="l.status"
              [selected]="this.selected.get(l.id) !== undefined"
              (select)="toggleSelect(l, $event, i)"
              (viewUser)="getUserLearningObjects($event)"
              (changeStatus)="openChangeStatusModal($event)"
              (newPageNumberClicked)="changePage($event)"
            >
            </clark-learning-object-list-item>
          <clark-admin-pagination
                [lastPageNumber] = lastPage
                [currentPageNumber] = query.currPage
                (newPageNumberClicked) = 'changePage($event)'
              ></clark-admin-pagination>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyTemplate>
    <div class="empty-template">
      <div class="empty-template__top">
        <i class="fal fa-box-open"></i>
        <div class="top-message">
          Nothing here!
        </div>
      </div>
      <div class="empty-text">
        Learning Objects will appear here after they are submitted to your
        collection
      </div>
    </div>
  </ng-template>
</clark-admin-content-wrapper>

<ng-template #finishedLoadingTemplate>
  <div class="loadingOrFinished__content">
    <i class="far fa-thumbs-up"></i>
    You've reached the end of the list!
  </div>
</ng-template>

<ng-template #sortArrows>
  <span *ngIf="_query.sortType.toString() === '1'">
    <i style="font-size: 18px;" class="far fa-sort-up"></i>
  </span>
  <span *ngIf="_query.sortType.toString() === '-1'">
    <i style="font-size: 18px;" class="far fa-sort-down"></i>
  </span>
</ng-template>