<clark-admin-content-wrapper>
  <div #list2 class="el"></div>
  <div page-title>Learning Objects</div>
  <clark-admin-search-bar
    search
    [placeholder]="searchBarPlaceholder"
    (userInput)="userSearchInput$.next($event)"
  ></clark-admin-search-bar>
  <clark-admin-filter-search
    filter-options
    (statusFilter)="getStatusFilteredLearningObjects($event)"
    (collectionFilter)="getCollectionFilteredLearningObjects($event)"
    (relevancyCheck)="getRelevancyFilteredLearningObjects($event)"
    (clearAll)="clearStatusAndCollectionFilters()"
    [adminOrEditor]="isAdminOrEditor"
    [showStatus]="true"
  ></clark-admin-filter-search>
  
  <div #list class="list" main>  
    <div class="add_evaluators">
      <button *ngIf="selected.size > 0" class="good_button" (activate)="toggleAddEvaluatorModal(true)">Add Evaluators<i id="eval" class="fal fa-user-plus"></i></button>
    </div>
    <div #listInner>  
      <div class="list__body">  
        <div *ngIf="learningObjects?.length || loading; else emptyTemplate">
          <div #headers class="body__column-headers">
            <clark-checkbox role="button" aria-label="Select all Learning Objects" [value]="allSelected" (action)="selectAll()"></clark-checkbox>
            <div>Status</div>
            <div>Name</div>
            <div>Author</div>
            <div>Type</div>
            <div>Date</div>
          </div>
          <virtual-scroller
            #scroll
            [style.height]="'calc(100vh - ' + listViewHeightOffset + 'px)'"
            [items]="learningObjects"
            [bufferAmount]="query.limit"
            [enableUnequalChildrenSizes]="true"
            (vsEnd)="
              scroll.viewPortInfo.startIndex && getLearningObjects($event)
            "
          >
            <clark-learning-object-list-item
              *ngFor="let l of scroll.viewPortItems"
              [learningObject]="l"
              [status]="l.status"
              [selected]="this.selected.get(l.id) !== undefined"
              (select)="toggleSelect(l, $event, i)"
              (viewUser)="getUserLearningObjects($event)"
              (changeStatus)="openChangeStatusModal($event)"
            >
            </clark-learning-object-list-item>
            <div class="loadingOrFinished">
              <div class="loadingOrFinished__content" *ngIf="!allResultsReceived; else finishedLoadingTemplate">
                <i class="far fa-spinner-third fa-spin"></i>
                Loading learning objects...
              </div>
            </div>
          </virtual-scroller>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyTemplate>
    <div class="empty-template">
      <div class="empty-template__top">
        <i class="fal fa-box-open"></i>
        <div class="top-message">
          Nothing here!
        </div>
      </div>
      <div class="empty-text">
        Learning Objects will appear here after they are submitted to your
        collection
      </div>
    </div>
  </ng-template>
</clark-admin-content-wrapper>

<ng-template #finishedLoadingTemplate>
  <div class="loadingOrFinished__content">
    <i class="far fa-thumbs-up"></i>
    You've reached the end of the list!
  </div>
</ng-template>

<clark-popup *ngIf="showAddEvaluator" (closed)="toggleAddEvaluatorModal(false)">
  <div class="modal-container" #popupInner>
    <clark-add-evaluator (close)="toggleAddEvaluatorModal(false)" [highlightedLearningObjects]="selectedLearningObjects" [statusDescription]="statusDescription"></clark-add-evaluator>
  </div>
</clark-popup>
